[2016-01-25 18:25] klizhentas opened #88 "web sessions should reconnect in case if connection gets lost"
## Description

Right now when teleport proxy looses connection to the remote server, users see `disconnected` screen. We should detect connection losses and reconnect automatically

## How success looks like

* [ ] if connection to the remote server gets lost and restored, teleport proxy web UI will reconnect
* [ ] teleport proxy will reconnect with exponential backoff to make sure it does not se

[2016-03-10 01:36] kontsevoy opened #222 "Teleport daemon (server) must fail start if it cannot bind to ports"
When testing something I ran into a port conflict: some ports were already taken before I executed `teleport start -d`

Surprisingly, it didn't even show a warning. Anything at all, really. Just started and wasn't able to accept connections.

The easiest way to reproduce is to start two teleports in a row:

[code]

Took me a while to realize what was going on.

### How it should work

A daemon mus

[2016-03-14 21:43] kontsevoy opened #251 "No clear "access denied" message"
### Description

"Access denied" and "can't connect" are two most common errors encountered by SSH users. Currently Teleport does not handle "access denied" in a clean way.

Examples:

- When I am connected (and authenticated) with the proxy, I try to use the wrong (non-existent) mapping, like `tsh ssh --proxy=localhost baduser@localhost`. Instead of telling me "access denied" it starts asking for

[2016-03-16 19:47] klizhentas opened #259 "teleport should drop web connections on user delete"
## Description

Here's what happens when teleport user is deleted during live session:
- The web page does not indicate anything
- Attempt to open new browser window redirects to logout
## How success looks like
- [ ] If there are any connected sessions to the terminal, they should be all dropped
- [ ] UI should forward user to login screen

[2016-03-16 20:07] klizhentas opened #260 "lock user account after certain amount of failed attempts"
Our rate limits should be more intelligent to prevent brute-forcing our 2FA auth:

* [ ] Limit amount of auth attempts per user separately from other requests
* [ ] lock the account in case if there was a certain amount of failed login attempts

[2016-03-17 01:04] sdevlin opened #262 "Proposal for at-rest data encryption"
At a high level, the backend server will store two kinds of data. Symmetric key material will be stored encrypted under the public keys of each auth server:

[code]

Sensitive data will be stored encrypted under symmetric keys:

[code]

New symmetric key material should be generated randomly. Auth servers should store symmetric keys by generating an ephemeral key pair using it to encrypt the symme

[2016-03-17 04:19] klizhentas opened #265 "tsh should be covered by functional tests"
Currently tsh (both client library and tsh tool itself) don't cover key commands:

* join
* ssh
* agent

These commands should have a decent coverage, preferrably on the lib/client side.

## How success looks like

* [ ] we would know that tsh agent/ssh/labels feature set is broken
* [ ] tests execute against a real running teleport proxy and backend servers

[2016-03-17 18:34] klizhentas opened #268 "teleport.errros should cooperate with trace.Wrap"
to avoid verbose `trace.Wrap(teleport.BadParameter(` style functions, we can simply make sure that `trace.Wrap` is done as a part of `teleport.BadParameter` error

[2016-03-17 19:32] klizhentas opened #269 "resizing is broken with tsh"
Tsh resizing is broken.

**Steps to reproduce**:

Start a `top` and resize a window.

**Expected results**

Resize should happen

**Actual results**

Resizing does not happen

[2016-03-17 21:52] klizhentas opened #270 "replace polling with event streams"
Currently there's lots of polling going on in sshserver, reverstunnel and other components. This does not scale very well. We have to replace it with event watch mechanisms.

Luckily, Etcd provides a great way to detect changes and we should take benefit of that.
On the API side - HTTP API will use websockets mechanism for streaming data.

[2016-03-17 23:16] sdevlin opened #271 "Proposal for server spin-up and spin-down"
Symmetric key material is to be stored encrypted in the database under each participating auth server's public key. This raises the question of how each server is to know which public keys are valid.

When a new server first spins up, it authenticates itself to an existing auth server. To authenticate as a new auth server requires the highest level of authorization supported by the auth server API

[2016-03-22 01:04] alex-kovoy opened #284 "WebSocket closes due to 'Could not decode a text frame as UTF-8'"
We still have encoding issues. It does not happen too often but from time to time I have this error. One way to reproduce it is to:

1) run midnight commander (I use it for testing :-) )
2) from there run htop
3) do F10

![image](https://cloud.githubusercontent.com/assets/7816406/13939131/69918320-efa8-11e5-9493-f402e821ae6e.png)

[2016-03-22 23:39] twakes opened #287 "Teleport Landing Page Issues"
* [x] "View Documentation" link broken.
* [x] "Download from Github" should link to the releases page:    https://github.com/gravitational/teleport/releases
* [ ] Github start widget is referencing the wrong repo.
* [x] The Teleport email signup form should say. "Join the Teleport mailing list" instead of "Signup for our newsletter".
* [x] It should not use the email list id from the blog. The cor

[2016-03-24 02:23] alex-kovoy opened #295 "(web) Terminal becomes distorted on some browsers, depending on which fonts are installed in the system."

[2016-03-24 02:29] klizhentas opened #296 "TSH should check TLS cert for server before asking for username and password"
Related to the previous: tsh displays "insecure HTTPS server" warning only after it made the connection, not before.

[2016-03-24 21:45] #287 closed

[2016-03-24 21:46] klizhentas commented on #284
seems to be fixed by our base64 encoding fix

[2016-03-24 21:46] #284 closed

[2016-03-25 04:54] alex-kovoy opened #298 "Event Stream sends wrong session's H and W on its first event."
Here is the request object used to create a session: {"session":{"terminal_params":{"w":25,"h":5},"login":"trololo"}}:

![image](https://cloud.githubusercontent.com/assets/7816406/14038193/c27930a0-f223-11e5-8075-ebe7fa7f3e47.png)

[2016-03-25 06:07] alex-kovoy opened #299 "Session recorder does not record the last term. output chunk."
Repro steps:
1. open a terminal
2. type hello
3. do 'ls'
4. exit.

'ls' output will be missing.

[2016-03-25 06:53] alex-kovoy opened #300 "(web) Session Player breaks when jumping to a position that has different screen size than a current one."
Repro:
 1) record a session while changing the screen size of the terminal.
 2) open session player and try changing the current position.

Fix:
 Before streaming the data from the new position, make sure to resize the terminal using new position's H and W.

[2016-03-25 07:03] alex-kovoy opened #301 "(web) Session Player becomes unresponsive when changing its position in the very long session."
Repro.

1) record a long session
2) open session player and move its position to the end.

Observed:
 Session player becomes unresponsive while loading all data.

Expected:
 Session player should fetch only a specific range of the stream without loading everything.

[2016-03-26 20:20] klizhentas opened #302 "TunClient should check AuthServer's host keys"
## Description

Currently TunClient does not check AuthServer's signatures. It is understandable when we provision the first node, however this should not be the case on subsequent connects.

In addition to that it is now possible to supply trusted host authorities to Host on first start, so it wil use that information to connect and check host signature

## How success looks like
- [ ] TunClient

[2016-03-29 05:58] #300 closed

[2016-03-29 05:58] #301 closed

[2016-03-29 11:40] stefanandres opened #305 "Unclear documentation on import of cluster public keys on client machine"
In http://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh it says

What is the technical reason behind this? Is the auth server ssh'ing into the client box?

The documentation needs to clarify that part.

[2016-03-29 15:11] klizhentas commented on #305
Fair point - I will update the docs. In short, this needs to be done so SSH clients will be capable of validating host certificates during SSH connection - that' how users will know they are logging into the right server.

[2016-03-29 17:21] klizhentas commented on #305
k, docs updated:

http://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh

lmk if you have any other questions and thanks for a good catch!

[2016-03-29 17:21] #305 closed

[2016-03-30 05:34] kontsevoy commented on #269
Good for now.

[2016-03-30 05:34] #269 closed

[2016-03-30 05:36] kontsevoy opened #306 "Single-node Teleport does not allow any logins"
This is not happening in stable, probably a recent regression.
Steps to reproduce:

1. Clean machine. Delete `/var/lib/teleport`
2. `teleport start -d`
3. `tctl users add ekontsevoy`

Sign up, login and try to SSH via web terminal - Connected/Disconnected.
Server logs:

[code]

[2016-03-30 05:37] kontsevoy commented on #306
I am on 19abfada4d75971a238b94d1419fc0ce06d04280

[2016-03-30 05:39] klizhentas commented on #306
@kontsevoy I've fixed this today in branch `alexander/fixdeps` - will merge tomorrow

[2016-03-30 05:58] jaxxstorm opened #307 "Should be able to specify a token timeout for nodes add"
Currently if I want to add a new node to teleport, I run the following:

[code]

This generates a token which is valid for 900 seconds.

If I want to add nodes using configuration management like Puppet, the join might take longer than 900 seconds, which isn't very fun.

With this in mind, can we have an option to set the token validity?

[2016-03-30 06:36] klizhentas commented on #307
yep, we've been just discussing this with @kontsevoy the other day.

Here's what we have in mind so far:

* TTLs for tokens

We will add a flag to extend ttl for a token

* Long-lived deployment tokens

We are actually thinking about creating special long lived tokens that can be reused multiple times - we are also looking for ways to avoid executing special action on every node add, what currentl

[2016-03-30 07:22] jaxxstorm commented on #307
Ideally we'd be able to specify the token in `/etc/teleport.yml` and then just simply be able to run a `teleport start` - from there it would allow us to register multiple nodes without much issue.

Currently we can already do this according to the yaml example, will this work?

[2016-03-30 16:11] klizhentas commented on #307
it will work, but you will have to generate new token for every new added node, because tokens are one time

[2016-03-30 17:08] patcable opened #308 "Proxying GUI sessions"
Hi! I just set up Teleport, and it's very cool. I put something together like this once upon a time [here](https://www.usenix.org/conference/lisa15/conference-program/presentation/cable), but you did a much better job on the usability aspect. Cheers!

I was wondering if y'all had given any thought to handling GUI sessions? Lots of these private networks that you would want to mediate access to hav

[2016-03-30 17:47] klizhentas commented on #308
hey, nice presentation and project looks cool! We thought about it - probably easiest would be to do X11 forwarding support. Some folks asked for RDP as well. We don't have any definitive plans yet, but I will keep this issue as a reference to collect feedback.

[2016-03-30 20:21] jaxxstorm opened #309 "NAT documentation"
There's an option `--advertise-ip` which isn't well document.

Would it be possible to:

  - Document how it can be used in config files
  - Explain when it's best used

If you want to reply in this README I'm happy to update `admin-guides.md`

Would also be good if you could write a brief explanation about how use an apache proxy maybe as part of this? Any considerations?

[2016-03-30 20:27] klizhentas commented on #309
yep, I will update admin guide with flags and config files.

`advertise_ip` can be set in config file as well.

Can you tell me more about your apache use-case?

[2016-03-30 20:33] jaxxstorm opened #310 "Issues logging in with new proxy"
I'm getting the following error when trying to login to to a new teleport proxy:

[code]

I'm assuming it's because I've been using multiple different proxies today as I've been testing, so I need to clear something out from my machine, but not sure what?

[2016-03-30 20:41] klizhentas commented on #310
the certificate you've got in your `~/.tsh` was issued for the user `root` when you were adding user:

e.g.

`sudo tctl users invite` will produce user entry that will be allowed to login as a current os user (in this case root)

then you are trying to log in using `tsh` for example without sudo, tsh will pick your current user name, `lbriggs`.

I recommend recreate the user that will be capable o

[2016-03-30 20:51] jaxxstorm commented on #310
hmm, something going a bit weird here.

So I:

- Deleted the user using `tctl users del lbriggs`
- Removed `~/.tsh`
- Recreated user and new 2 factor code

Still getting same issue:

From the client:

[code]

[2016-03-30 20:53] klizhentas commented on #310
what do the server logs say?

[2016-03-30 20:53] klizhentas commented on #310
proxy and node

[2016-03-30 20:55] jaxxstorm commented on #310
Errors regarding node and token:

[code]

[code]

I just reconfigured the user and the same issue, confirming password as well. :(

[2016-03-30 20:56] klizhentas commented on #310
can you try with another user name? (to see if that's some data sync issue)

[2016-03-30 21:03] jaxxstorm commented on #310
Ah, figured it out. It's because the Unix user wasn't present on the box, I didn't realise that it had to be there.

Is this a hard requirement? It's kind of a show stopper for my use case? :(

[2016-03-30 21:36] klizhentas commented on #310
Check out user manual users section for details:

http://gravitational.com/teleport/docs/user-manual/#user-identities

basically you'd need to tell what Unix users this particular teleport user can login as, where you can enumerate arbitrary unix names when adding user.

Let me know if that helps

[2016-03-31 02:14] patcable commented on #308
Thanks @klizhentas!

Perhaps something like http://guac-dev.org/ would be worth looking into for integration; if you were able to spawn a vncserver process as that particular user then you could link to the VNC/RDP session that way.

[2016-03-31 05:33] jaxxstorm commented on #310
yeah that was the path I was trying, but didn't seem to work unless the Unix user existed. I'll post more details if needed..

[2016-03-31 13:25] jaxxstorm commented on #310
I did a bit more debugging today, and at this point I'm convinced there's some kind of bug at play here.

[2016-03-31 19:15] kontsevoy opened #312 "Teleport edge: Tunclient leak?"
This happens only on Teleport master branch (not in latest release):

I run `teleport start -d` on a single box, connect/disconnect via web and CLI, and watching logs I see a growing number of `no auth servers with remote IPs`:

[code]

[2016-03-31 19:17] kontsevoy commented on #307
@jaxxstorm this is no 1 request we're getting. this will come our very soon (<1 mo)

[2016-03-31 19:26] #306 closed

[2016-03-31 19:26] kontsevoy commented on #295
verified. mixed in master for supported browsers:
- Firefox
- Chrome

[2016-03-31 19:26] #295 closed

[2016-03-31 19:29] kontsevoy commented on #310
This is closely related to #251

[2016-03-31 19:30] kontsevoy commented on #251
Related #310

[2016-03-31 19:32] kontsevoy commented on #310
@jaxxstorm happy to jump on Google hangout to help. I'm in PST TZ.

[2016-03-31 23:28] kontsevoy commented on #312
More data. I've used two laptops to connect to the server (web) and then just closed the lid and put the laptops away.

The logs on the server:

[code]
Looks like something keeps trying to login somewehre as `ekontsevoy`

[2016-04-01 07:35] jaxxstorm commented on #310
let's try figure out a time tomorrow?

[2016-04-01 07:36] jaxxstorm commented on #307
awesome! i wrote a puppet module for this so once it's done it'll be easi;y configurable: https://github.com/jaxxstorm/puppet-teleport

[2016-04-01 13:05] jaxxstorm opened #316 "teleport status improvements"
Currently, teleport status always seems to return `0`

[code]

[code]

I'm trying to write an init script for teleport, and somehow making this command return `1` when teleport isn't running at all would be really helpful!

[2016-04-01 13:12] jaxxstorm commented on #316
Actually, this is a bad idea.

[2016-04-01 13:12] #316 closed

[2016-04-01 13:13] jaxxstorm opened #317 "pidfile creation"
When starting teleport, it would be nice to specify a pidfile.

Consul (another go program) does this:

https://github.com/hashicorp/consul/search?utf8=%E2%9C%93&q=pidfile&type=Code

[2016-04-01 13:33] jaxxstorm opened #318 "Error with scp command"
Trying to copy a file from one server to localhost:

[code]

Same command with `ssh` works. Bug?

[2016-04-01 14:07] jaxxstorm opened #319 "Ability to specify which users can login to which nodes"
Currently teleport has the ability to specify who a user can login as:

[code]

What would be amazing would be the ability to specify using the labels _which_ hosts users can login to. The users table I guess would look like this:

[code]

[2016-04-01 14:40] jaxxstorm opened #320 "Ability to kill sessions"
I seem to have some zombie sessions in the web UI:

![image](https://cloud.githubusercontent.com/assets/1622940/14210237/0149e980-f820-11e5-91c0-dc9ad76ab956.png)

It would be nice if I could click a button and terminate the session remotely.

[2016-04-01 16:54] kontsevoy commented on #320
@jaxxstorm interesting... care to elaborate a bit more about this use case?

[2016-04-01 16:57] kontsevoy commented on #310
Shoot me an invite for late afternoon PST today (friday) or 8:30am - 11am PST on Monday to ev@gravitational.com

[2016-04-01 19:57] kontsevoy commented on #317
fair point.

[2016-04-01 22:43] klizhentas opened #323 "Failure to join cluster should result in a clear message"
Should say:

[code]

[2016-04-01 22:44] klizhentas commented on #323
Here's the problem Ev faced while hacking on it:

https://github.com/gravitational/teleport/pull/322/files#diff-b2616f8fc5d7121127fe898e501d328dR155

[2016-04-01 23:32] kontsevoy commented on #323
The root of the problem is the behaviour of this function:
[code]
it _never_ returns "access denied" error. Instead, the process gets killed.

[2016-04-01 23:41] #318 closed

[2016-04-02 01:13] #317 closed

[2016-04-02 01:17] kontsevoy commented on #312
Laptop with `teleport` running for 4+ hours (all by itself, no clients):
[code]

[2016-04-02 02:23] klizhentas commented on #312
here's why it happens:

[code]

when renewing session, we should eventually invalidate the old session. We rely on TTL in session cache to gracefully make them obsolete, but it never happens because TTL expiry in TTL map is passive (does not proactively scan and close sessions)

[2016-04-02 20:44] kontsevoy opened #329 "Teleport CLI should use actual proxy servers"
Teleport CLI often prints URLs for users to use. Currently the hostname in those URLs is just a placeholder.

Examples:
[code]

### Solution
The latest builds of Teleport have "GetProxies()" API facility which can be used to generate more usable URLs

[2016-04-02 21:37] #329 closed

[2016-04-02 23:18] pmorch commented on #309
Here is a question I have about NAT, that I'd love to see documented somehow:

(How) can one use teleport for nodes that are behind remote NATs and that aren't routable/accessible from the outside - where there are no port-fowards to get through the NAT? Is this possible?

For such nodes beind a remote NAT there are no good values for `--advertise-ip`.

We'd love to replace our home-grown system,

[2016-04-02 23:28] pmorch opened #331 "Request a FAQ about where to ask questions"
I'd like to ask if this could be covered e.g. in the FAQ: Where should one ask questions?

[The homepage](http://gravitational.com/teleport/) mentions two mailing lists.

One I can join in the bottom. I joined, but could not find an archive, email address or any way to post to it. Is it for announcements from Gravitational only? It doesn't say.

There is also a link to [teleport-dev@googlegroups.c

[2016-04-02 23:57] klizhentas commented on #309
@pmorch  Teleport has first class support for reverse tunnels just for this special case. We will elaborate in the docs to address this particular problem.

[2016-04-03 00:39] pmorch commented on #309
@klizhentas  HURRAY! You just made my day!!!!

[2016-04-03 06:40] jaxxstorm commented on #317
amazing! thankyou!

[2016-04-03 08:06] jaxxstorm commented on #320
One of the uses cases I see for teleport is the ability for developers to "break glass" into infrastructure. With this ability, I can see who's logged in to which nodes with teleport and then kill sessions as required as an administrator.

[2016-04-03 08:08] jaxxstorm commented on #309
Essentially I'd like to be able to expose teleport behind an already existing proxy.

[2016-04-03 08:20] jaxxstorm commented on #312
I think this is also related to #320 where i'm seeing zombie sessions?

[2016-04-03 08:39] pmorch commented on #331
And if the reason that there isn't a place to ask questions is that you don't want to spend the man-power on it ( I totally understand ), I might suggest:

That way all the questions are tagged the same way, are crowd-sourced, wonderfully searchable and you don't have to maintain infrastructure.

Either way I just wanted to know where to ask... ;-)

[2016-04-03 09:27] jaxxstorm opened #332 "Ability to test if a specific user exists"
At the moment, if I want to check for users that exist I have to do the following:

[code]

This might get unwieldy if we have a lot of users. It would be great if the command could be expanded so that I could do this:

[code]

And it would return just the username `something` and who they're allowed to login as.

[2016-04-03 11:05] jaxxstorm opened #334 "User signup"
I'm trying to automate the user creation for teleport using a Puppet provider:

https://docs.puppetlabs.com/guides/provider_development.html

This helps me centrally manage the users and Puppet's provider system makes it easy with methods to only add the user if it doesn't exist.

The problem is, when creating a new user, it outputs the signup page and the user isn't created until that page is acc

[2016-04-03 11:09] kontsevoy commented on #320
@jaxxstorm Teleport currently does not have ACLs or roles outside of host logins. Privileged operations currently can only be executed via `tctl` tool. It's unlikely we'll get to this any time soon in the OSS version. I'll mark as "wontfix" for now, because it should be implemented as part of a broader initiative.

[2016-04-03 11:09] #320 closed

[2016-04-03 11:11] kontsevoy commented on #331
@pmorch: `teleport-dev@` is the best place to ask! Yes, it's empty because it was created a couple of days ago ;) Github is good too. Thanks.

[2016-04-03 11:11] #331 closed

[2016-04-03 20:47] klizhentas commented on #312
@jaxxstorm this is more of UX issue. We keep sessions active for some period of time and then we expire/close them automatically. We need to figure out clear way to communicate this and possibly add a way to close session without any TTL

[2016-04-04 04:26] kontsevoy commented on #312
@jaxxstorm they're not zombie, they're still considered active. from SSH perspective it's hard to tell if a user lost connection forever or if it's a temporary jitter, that's why we keep sessions around for a bit, in case a user returns (say, he's logged in while on a train via TLE going through a tunnel)

[2016-04-04 04:28] kontsevoy commented on #334
@jaxxstorm the upcoming v1 will have an integration with external identity managers. Teleport by itself should not be considered (in our humble opinion) to be the primary identity storage. Then you'd use 3rd party tools to manage users and Teleport will sync their identities from there.

[2016-04-04 04:28] #334 closed

[2016-04-06 17:59] jaxxstorm commented on #310
Discussed this with @kontsevoy and it's now resolved in master. Thanks!

[2016-04-06 17:59] #310 closed

[2016-04-06 18:00] jaxxstorm commented on #319
Discussed this with @kontsevoy and it's not in scope, closing this for now

[2016-04-06 18:00] #319 closed

[2016-04-07 23:26] #312 closed

[2016-04-08 18:25] klizhentas opened #350 "host key rotation routines"
## Description

Hosts and certificate authorities should be able to rotate keys (manually right now). Implement key rotation feature set. Ideally we would simply introduce new set of keys that will work in pair with existing set of keys, while the existing set will be used to check signatures, the new one will be used to sign new certs. Then the old one will gracefully disappear after TTL.

[2016-04-12 19:35] #268 closed

[2016-04-13 00:47] #299 closed

[2016-04-13 01:23] klizhentas opened #358 "timeouts problem"
Sometimes I get this error:

ERROR: no active connections
ERROR: ssh: subsystem request failed

Let's increase TTLs by a lot

[2016-04-13 01:26] klizhentas opened #359 "repeated login attempts on invalid user"
tsh --proxy=localhost --auth=google --site=example.com ssh bob@role=master

when bob is non existent, we get repeated login attempts error, expected behavior: should tell that username or credentials

[2016-04-13 16:59] kontsevoy commented on #358
Increasing TTLs will not help. Will explain in person.

[2016-04-14 22:09] #222 closed

[2016-04-14 22:09] #265 closed

[2016-04-17 22:51] #358 closed

[2016-04-18 04:22] #251 closed

[2016-04-18 04:22] #298 closed

[2016-04-18 04:22] #359 closed

[2016-04-19 07:14] kontsevoy opened #367 "TSH session key storage has issues"
There are two issues with `~/.tsh` directory:

1. Session keys for different proxy servers can overwrite each other. There is a small number of randomly named .tkey files.
2. Session keys are stored in proprietary JSON format instead of standard PEM.

[2016-04-19 07:17] kontsevoy opened #368 "TSH does not verify host signatures"
TSH has a facility for checking host signatures when connecting. Currently it's not used.
This function `CheckHostSignature()` is never called:

https://github.com/gravitational/teleport/blob/master/lib/client/keystore.go#L79

[2016-04-19 17:55] kontsevoy opened #370 "TSH key TTL refactor"
- Use UTC everywhere
- Avoid separate storage file and just store in certificate

[2016-04-19 18:04] #367 closed

[2016-04-19 18:04] #368 closed

[2016-04-19 18:45] klizhentas commented on #370
I think a good test would be - rename `.tsh` to `.ssh` and make sure that ssh client works:

http://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh

[2016-04-19 18:48] klizhentas commented on #370
Couple of places with spotted local time used:

https://github.com/gravitational/teleport/blob/master/lib/auth/native/native.go#L182
https://github.com/gravitational/teleport/blob/master/lib/auth/native/native.go#L146

should be

`time.Now().UTC()`

[2016-04-19 23:15] #370 closed

[2016-04-22 19:14] agalitsyn opened #374 "Vagrant & virtualbox "mount: unknown filesystem type 'vboxsf'""
Hi, I have an issue with running teleport on vagrant with virtualbox provider.

[code]

Some diagnostic information
[code]

I guess this related to https://github.com/mitchellh/vagrant/issues/6769

[2016-04-22 20:05] #374 closed

[2016-04-22 21:12] gkappel opened #376 "teleport will not let user defined in ldap to login"
Using latest git checkout

If I create a local user on destination machine I can login with tsh, but with a user defined in ldap tsh does not work

./tsh --proxy=teleportstaging --user=george --login george ls
Enter password for george:
Enter your HOTP token:
Node Name                  Node ID                                  Address              Labels
---------                  -------

[2016-04-25 16:41] gkappel commented on #376
I can get teleport to work with ldap users with the attached patch
[patch.txt](https://github.com/gravitational/teleport/files/234960/patch.txt)

[2016-04-25 16:42] klizhentas commented on #376
@gkappel thanks for digging into this! We will look into the patch and get back to you!

[2016-04-26 14:01] ktosiek opened #379 "Adding node to cluster with CM"
There should be a way to add node to cluster without running it as a daemon, something like --stop-after-connect.
This way it would be easier to use tools like Ansible to initialize new nodes.

[2016-04-27 12:39] OMGLent opened #385 "Issue with install."
I'm constantly being bombarded with the following error:

I'm not sure what this means or even how to begin to fix it so any help would be great.

[2016-04-28 15:45] miolini opened #387 "OOM Killer of go build process"
I've received an OOM killer for go build process on the smallest DigitalOcean droplet with 512MB RAM:

[code]

dmesg:
[code]

[2016-04-28 15:51] miolini commented on #387
Solution: create and setup swap file on disk, by default droplet comes without swap.

[2016-04-30 03:04] kontsevoy commented on #385
@OMGLent can you please provide the config file and the command line arguments you have used to start teleport? Thanks!

[2016-04-30 03:06] kontsevoy commented on #385
I am assuming you're starting a Teleport proxy and it complains that it cannot automatically find the auth server (CA). You can point it to one using `--auth-server` flag

[2016-04-30 03:08] kontsevoy commented on #387
@miolini thanks! We'll update build instructions.

[2016-04-30 03:08] #387 closed

[2016-04-30 03:12] kontsevoy commented on #379
Yes! It's in the works.

[2016-04-30 04:20] klizhentas opened #388 "Sort returned servers to get deterministic results"
## Description

Current session playbacks and events are stored on disk. In case of HA Auth servers, this may lead to broken recording playback without extra reason just during reconnects or servers returned in different order.

To make sure we always return the same servers in the same order, simply sort the list of returned servers here:

https://github.com/gravitational/teleport/blob/master/lib

[2016-04-30 05:44] kontsevoy commented on #259
I propose we punt it indefinitely. Yes it would be nice but it's not an easy change. Realistically we have many months of more pressing features to implement, so this will be sitting here forever.

[2016-04-30 08:08] jaxxstorm commented on #379
duplicate of #307 right?

[2016-04-30 08:54] ktosiek commented on #379
Only of that comment, if anything: https://github.com/gravitational/teleport/issues/307#issuecomment-203286075 - this one is about passing the token to teleport, not about how long the token is valid (I'd be using Ansible and requesting the tokens seconds before using them, so I hadn't stumbled upon the timeout problem)

[2016-05-01 07:00] kontsevoy commented on #307
yes, these two are expressing the same problem.

[2016-05-01 07:00] kontsevoy commented on #379
yes, these two are expressing the same problem.

[2016-05-01 07:39] kontsevoy opened #390 "Deadlock on initial connect"
`tsh` + `teleport` have a long-standing rare deadlock problem. To reproduce:

1. Start `teleport start -d`
2. Within 3 seconds connect to it via `tsh`

In 1 times out of 3 `tsh` will hang.
This is not a complete server lock, it's just the first session within 3 seconds gets locked.

[2016-05-01 07:41] kontsevoy commented on #390
Looks like this happens because the auth servers list is empty for a little bit after the cluster gets up until the first "presence ping".

[2016-05-01 18:43] #390 closed

[2016-05-01 19:37] #388 closed

[2016-05-03 10:10] ocyedwin opened #392 "x509: certificate signed by unknown authority"
I was testing teleport on my Ubuntu Xenial virtualbox following the quickstart guide.

All is fine until I tried to ssh in with:
[code]

I encountered:
[code]

Any idea what went wrong?

[2016-05-03 17:05] klizhentas commented on #392
Can you try --insecure flag? Can you also add -d to get debug output ?

[2016-05-04 00:50] klizhentas opened #394 "unexpected integration test failure"
here's the error I'm getting:

[code]

[2016-05-04 01:12] ocyedwin commented on #392
the output with --insecure and -d:
[code]

yesterday, I can login into the web terminal as 'vagrant' just fine.

![websessions](https://cloud.githubusercontent.com/assets/1121425/15002840/1c659c60-11d8-11e6-8126-a3e8bb08dc30.png)

I created a new user 'vagrant2' today however and got logged out immediately in web terminal.

![vagrant2](https://cloud.githubusercontent.com/assets/1121425/15002857/45

[2016-05-07 03:52] kontsevoy commented on #392
@ocyedwin I think I know what the problem is. The fix is coming shortly.

[2016-05-07 03:56] kontsevoy opened #396 "tsh should use --user to override current certificate"
If there is a valid (current) user certificate `tsh` will use it to login to Teleport auth, ignoring `--user` flag. Instead, `--user` should overwrite the current cert.

[2016-05-07 05:11] kontsevoy commented on #392
ocyedwin: Teleport users are not the same as local users on a host. This PR #397 will allow you to properly select which teleport user you want to login as, but you still have to select the proper host login, either by adding login@host or via `--login` flag. I hope this makes sense.

In your example there's Teleport `vagrant2` user, but the VM doesn't have `vagrant2` OS user on it.

[2016-05-07 16:57] #392 closed

[2016-05-07 16:57] #396 closed

[2016-05-08 18:26] klizhentas opened #398 "panic on tunnel shutdown"
## Description

TSH panics when tunnel remote side goes away:

[code]

[2016-05-08 19:08] #394 closed

[2016-05-08 19:28] kontsevoy opened #399 "gzip HTTP encoding issues"
gzip encoding for AJAX requests in the web client only works in Chrome and Safari, not in IE and Firefox.

[2016-05-08 19:40] kontsevoy opened #400 "Use of closed socket connection"
This bug is caused by the latest merge of `ev/log` into `master`
In Web UI (firefox) type "exit" while in a terminal session, server will say:

[code]

[2016-05-08 21:36] alex-kovoy opened #402 "Sometimes server invalidates the token (and a session) even though the token has not been expired."
Sometimes server invalidates the token (and a session) even though the token has not been expired.

[2016-05-09 04:34] kontsevoy commented on #402
I am marking this as "invalid" for now: you haven't provided much detail to reproduce this. Next time you see this, can you please:

- Attach the server log
- Make a tarball from `/var/lib/teleport` and attach that also

Thanks.

[2016-05-09 04:58] #400 closed

[2016-05-09 07:36] kontsevoy commented on #308
@patcable We've discussed this, and auto-launching VNC/RDP by a security protocol implementation (Teleport) is probably not a good idea and goes against "one tool == one job" UNIX philosophy. How about this: can't you do this already by connecting to a node via Teleport, launching VNC/RDP and opening up port forwarding for VNC/RDP ports?

[2016-05-09 07:36] #308 closed

[2016-05-09 08:16] kontsevoy opened #406 "Get rid of `domain_name` variable for ODIC config"
This is a must:
Get rid of `domain_name` variable for ODIC config. Every Teleport cluster (AKA "site" AKA CA) must have a name configurable in `teleport` section.

Optional:
Find out a way to get rid of `--auth` flag.

[2016-05-09 08:24] kontsevoy commented on #406
Ha! Looks like our YAML config does not have a "site/cluster name" setting. Perhaps it's the time to add it?

[2016-05-09 13:20] patcable commented on #308
I certainly could just start up a vncserver on a machine sitting on the other side -- but then I've also bypassed any of the session logging goodness that Teleport does, too. I could tell that an admin started a VNC session, but I would have no visibility into what they did.

The use case I was imagining that you had a network of Dell DRAC hosts that expose a web interface, and you wanted to captu

[2016-05-09 15:57] klizhentas commented on #406
domain name is a part of `auth_service` section, not OIDC section, that is currently treated as a name of cluster

[2016-05-09 16:04] #399 closed

[2016-05-10 03:14] klizhentas opened #408 "UX: `tsh --auth` fails to understand user"
here's what started to happen when I use OIDC with tsh.
- Login is successful.
- Next time I execute the same command it fails to find existing keys:

[code]

This happens because I authenitcate not as `sasha` but as `admin`. Here's my keys dir:

[code]

So it fails to recognize that I've logged in already and let me in.

However I was able to solve this issue without any coding, by simply hinting

[2016-05-10 03:16] klizhentas commented on #408
I think your suggestion to use:

[code]
will actually work

[2016-05-10 20:27] kontsevoy opened #412 "known_hosts keeps growing"
The latest builds of Teleport seem to be adding duplicate hosts to `known_hosts` in `~/.tsh`

[2016-05-13 03:19] kontsevoy commented on #398
This one was closed a couple of days ago, we forgot to mention it in the commits.

[2016-05-13 03:19] #398 closed

[2016-05-13 03:20] #385 closed

[2016-05-13 05:30] kontsevoy opened #416 "Teleport clients can't find auth servers in some use cases"
### Problem

Connecting to a node via a proxy may fail if the proxy is not running on the same node as the auth server and the auth server does not have `advertise_ip` configuration setting set.

### Details

When  the auth server starts without its `advertise_ip` set, it uses `0.0.0.0` to advertise, and starts calling `UpsertAuthServer()` in a loop advertising its presence resulting in `127.0.0.1

[2016-05-13 11:57] gkappel commented on #376
Any update on this?

[2016-05-15 07:12] kontsevoy commented on #376
Reopening. That PR does not address LDAP case well.

[2016-05-17 18:02] #307 closed

[2016-05-17 18:02] #379 closed

[2016-05-17 18:02] #406 closed

[2016-05-17 18:03] kontsevoy commented on #323
This works fine now.

[2016-05-17 18:03] #323 closed

[2016-05-17 21:44] kontsevoy commented on #376
@gkappel your patch went into PR for review. Should be in master shortly and we'll cut a new release within a week. Thanks!

[2016-05-17 22:33] #376 closed

[2016-05-17 23:56] #402 closed

[2016-05-17 23:57] kontsevoy commented on #402
closing for now to clan up the view. lets reopen if this shows up again. (I am betting it was a result of merging during web client redesign)

[2016-05-18 16:07] #412 closed

[2016-05-18 16:46] kontsevoy commented on #332
Hey @jaxxstorm, we're going to close this one. Eventually there will be pluggable account backends and a more comprehensive "search" API will be added. Right now it feels premature.

We did, however, implement pre-defined AKA "static" tokens you've requested ;)

[2016-05-18 16:46] #332 closed

[2016-05-18 19:46] klizhentas opened #420 "tsh logout"
Really missing this one - when I'm creating new clusters/recreating them, my local `.tsh` becomes invalid, so now I manually `rm -rf ~/.tsh` but it would be helpful if there's `tsh logout` that does the same for me.

[2016-05-21 04:56] #416 closed

[2016-05-25 13:52] jaxxstorm opened #423 "Consul backend"
Rather than having to deploy etcd for the HA config, it would be excellent to be able to use consul's K/V store to store the same data etcd supports.

Many places already have support and configuration for consul already.

[2016-05-25 14:54] jaxxstorm commented on #309
Any updates here? I'm still having to work with an apache reverse proxy which is less than ideal :(

@klizhentas or @kontsevoy

[2016-05-25 18:11] kontsevoy commented on #309
@jaxxstorm we've been finishing up the 3rd party security audit and preparing 1.0 to be released with "production-ready" moniker. This will mean another round of documentation update/refresh where reverse tunnels will be well-documented.

[2016-05-25 22:23] jaxxstorm commented on #309
Awesome, thanks!

[2016-05-30 05:51] pirogoeth opened #425 "Using vanilla SSH client with TSH agent fails to create a session."
I've configured all my SSH nodes to allow the Teleport CA key as a trusted user cert. While I've got that, I also have SSHd on all nodes configured to allow public key auth for certain users, so I'm not sure if that could mess things up.

Essentially, if I start up the Teleport agent and set it as my SSH agent, when I attempt to connect to an SSH node, everything works out except I don't get an in

[2016-05-30 16:33] klizhentas commented on #425
@pirogoeth that's the bug related to certificate generation we've fixed in master, try rebuilding it from source and see if that fixed your problem. We will issue a new release with fix this week.

[2016-05-30 21:25] pirogoeth commented on #425
Yup, that fixes it! Thanks!

[2016-05-30 21:25] #425 closed

[2016-05-31 20:52] kontsevoy opened #430 "data_dir cannot be configured"
## Problem

Currently there is no easy way to configure `data_dir` in Teleport. Some parts of it ignore "storage/data_dir" value and keep using `/var/lib/teleport`

[2016-05-31 20:53] kontsevoy opened #431 "listen_addr configuration settings are not respected"
If you configure teleport auth to listen on a non-stanard port, nodes wont' connect.

[2016-05-31 21:01] kontsevoy opened #432 "There is no way to point tctl to teleport.yaml"
## Problem

If you're using a custom YAML configuration for Teleport auth, `tctl` cannot use it.

## Solution

`tctl` needs to be compatible with `teleport`, so if there's an auth server running as:

[code]
one should be able to manage it via `tctl` like this:

[code]

[2016-05-31 22:45] #430 closed

[2016-05-31 22:45] #431 closed

[2016-05-31 22:45] #432 closed

[2016-06-01 00:43] kontsevoy commented on #309
`advertise_ip` has been documented in commit e2887fba3241712584ac3fb98899ecb75927268a

behind-firewall operation will be documented in a separate commit/PR.

[2016-06-01 00:43] #309 closed

[2016-06-01 00:45] kontsevoy commented on #260
Fixed in 9f9c586989d902538abfce1dc782c01a07eda862

[2016-06-01 00:45] #260 closed

[2016-06-01 01:38] kontsevoy opened #434 "Teleport web proxy self-signed SSL certificate has issues"
When launching Teleport for the first time without installing HTTPS certificates, it generates self-signed one for the web UI.

### Problem

- Firefox hangs when trying to visit non-localhost proxies with those certs.
- Chrome does not allow to "proceed safely"

[2016-06-01 01:42] #434 closed

[2016-06-01 09:48] pmorch commented on #309
I can see that the original issue about `advertise_ip` has been covered by e2887fba3241712584ac3fb98899ecb75927268a.

There doesn't seem to be an open issue for behind-firewall operation. Since behind-firewall operation and `advertise_ip` apparently are considered separate issues, should I open a separate issue for behind-firewall operation?

[2016-06-01 19:37] kontsevoy commented on #309
@pmorch yes you can. the work is underway already, see `ev/tunnels` branch. Thanks!

[2016-06-01 20:02] pmorch opened #437 "Document NAT behind-firewall / reverse tunnel operation"
This issue is about @klizhentas' [comment](https://github.com/gravitational/teleport/issues/309#issuecomment-204829087) in #309:

#309 was really two issues:

1. Originally it was about `--advertise-ip` which wasn't well documented
2. I piggy-backed that issue to also ask about reverse tunnels / operating behind firewalls/NAT.

The first sub-issue about `--advertise-ip` has been resolved in #309 w

[2016-06-01 22:00] #296 closed

[2016-06-02 00:05] #420 closed

[2016-06-02 00:08] kontsevoy opened #440 "Release 1.0 of Teleport"
### Description

We have now completed a 3rd party pen test and security code audit. Lets remove all the warnings from the documentation and bake a first official 1.0

### TODO

- Update documentation
- Simplify builds (compatibility with `go build`, Github releases and "native" git ref instead of "linkflags" (using my birthday present)

[2016-06-02 10:10] jaxxstorm commented on #440
If I can help with the documentation in anyway, I'd be happy to help!

[2016-06-02 17:38] kontsevoy commented on #440
@jaxxstorm thanks, will ping you!

[2016-06-07 11:44] freeseacher opened #443 "Working through the proxy and firewall"
Hi!

Wonderful idea, guys!
But i don't understand if teleport can help me or not. i have such a scheme

1. server with public ip. I can control it by myself in any case. lets name it remote
2. several servers behind the firewall and proxy. from them I have only access to internet to port http/https. lets call them cluster.
3. i have vpn from remote to cluster.
4. i can make connections from remote

[2016-06-07 18:54] sofuture opened #444 "tsh tunnelling occasionally hangs"
I've noticed that when I run a command with `watch` that communicates through a teleport tunnel, it will occasionally hang. My `watch` command will hang and stop refreshing, but the issue is the inability to use the tunnel. Unrelated commands that attempt to use the tunnel will hang as well. Killing the current tsh process, and restarting the tunnel seems to fix this for a while.

In my specific c

[2016-06-07 21:32] sofuture commented on #444
I can reproduce with `v0.2.0-beta.2`.

Interestingly a different port that I'm tunnelling with the same `tsh` process continues to work with no issue. Since restarting the teleport tunnel fixes the issue, it does *seem* to be a `tsh` issue, and not an issue with the server on the other side of the tunnel.

[2016-06-08 18:12] klizhentas opened #445 "Errors in tsh logs"
After recent teleport upgrade, Roman started seeing the following errors in the logs:

[code]

I've seen the same error as well. The reason is that when we start client and set `SkipLocalAuth` to true

https://github.com/gravitational/teleport/blob/master/lib/client/api.go#L95

Client still goes and tries to fetch the local keys, connect to agent, etc, which is incorrect:

https://github.com/gravi

[2016-06-08 19:07] #445 closed

[2016-06-08 19:21] klizhentas opened #447 "implement `KeyBag` interface for client"
## Description

When using in tsh client in automatic way, we need to supply key storage interface instead of the local storage, so clients can take care of key management/host verification on their own

[2016-06-09 19:25] kontsevoy commented on #443
@freeseacher your question/request is similar to #437. Teleport has (undocumented) "reverse tunnel" feature, which allows SSH nodes to create an outbound SSH tunnel to a Teleport proxy via any port, in your case it would have to be 443.

We are currently in the process of making reverse tunnels easier to use and documenting them. At the same time, we're marking Teleport as "production-ready". Look

[2016-06-09 19:40] klizhentas opened #450 "Flaky tests"
I've encountered several issues when running tests for Teleport:

Flaky tests
---------------

Here are the tests that were failing for me:

[code]

[code]

[code]

I've got success rate about 3/7 on running tests

## Hanging tests

`make test` hangs all the time. Only `cd build.assets && make test` works. I would expect `make test` to work too.

[2016-06-10 03:33] klizhentas opened #451 "teleport does not set $PATH environment variable"
Steps to reproduce:

[code]

[2016-06-10 18:03] #451 closed

[2016-06-12 22:04] kontsevoy commented on #450
@klizhentas: I am having difficulty reproducing this.
Can you please attach the following:

- your `.bashrc` and `.profile`
- output of `env` command
- output of `go env`
- output of `sudo netstat -lptne`

Thanks.

[2016-06-12 22:07] kontsevoy opened #456 "Update Teleport documentation regarding OpenSSH"
Our current online docs do not allow users to configure OpenSSH integration for servers and clients. Looks like something is missing.

We need a clear and _verified_ step-by-step instructions for configuring OpenSSH clients & servers for teleport.

[2016-06-12 22:07] kontsevoy commented on #456
You can just send me rough & short notes, I will expand and make it look pretty.

[2016-06-12 22:22] klizhentas commented on #450
It's intermittent. These are failed tests from Jenkins runs - you can see them all in Jenkins logs

[2016-06-12 22:25] kontsevoy commented on #450
I have never seen the latter two errors in Jenkins. In fact I have never seen them on any of the machines where we build Teleport regularly. But you started seeing this after you moved to a new laptop. Please send me the data I requested.

[2016-06-12 23:48] kontsevoy commented on #444
Had several tunnels continuously stream data to connected clients for 10+ hours. Stress tests for connect/disconnect also did not reveal any locks - all under vagrant. This looks like network error handling issue somewhere. Will keep digging.

[2016-06-14 00:21] #437 closed

[2016-06-14 00:33] kontsevoy commented on #440
@jaxxstorm we just merged "Trusted Clusters" into "master". You can see the staging documentation here: https://web.gravitational.io/teleport/docs/admin-guide/#trusted-clusters

Any suggestions?

[2016-06-14 01:55] kontsevoy commented on #450
Yo. I fixed the 1st issue, but the latter two are specific to your laptop environment.

[2016-06-14 09:00] jaxxstorm commented on #440
@kontsevoy great docs, very clear and concise! will add this to the puppet module also.

[2016-06-16 18:02] pirogoeth opened #458 "Web UI wraps long output(?)"
Not quite sure what's going on here, but when using the web ui, longer output seems to get unnecessarily wrapped (I think?)

![screenshot](http://i.imgur.com/Wsizuew.png)

I am using an "older" version of Teleport (v0.2.0-beta.1.19+1ae47782147d26 git:1ae47782147d268fd19c19aa01bc5bdb546c59a9), so I'm not sure if you guys have fixed it in the meantime.

[2016-06-17 06:57] kontsevoy commented on #456
fixed

[2016-06-17 06:57] #456 closed

[2016-06-17 07:00] kontsevoy commented on #458
@pirogoeth we see this too sometimes. Does this happen 100% of the time? Does resizing a window help?

[2016-06-17 07:09] kontsevoy commented on #440
a-a-a-a-aaaaalmost there.....

[2016-06-17 14:10] pirogoeth commented on #458
@kontsevoy It's kinda strange -- apparently it doesn't happen 100% of the time for me. It happens when I connect as root, but not when I connect as a different user.

I just did some testing and apparently having LS_COLORS set fixes it...(??)

https://gist.github.com/pirogoeth/764a3fa02434c0e85d8dc72d05bb6302

[2016-06-17 16:32] kontsevoy commented on #458
@pirogoeth yeah, we see this too every once in a while - also depends on a browser, OS and the available fonts. I doubt it will get fixed soon, it depends on the open source JS-based control we use. But we'll try, thank you!

[2016-06-17 19:33] #440 closed

[2016-06-20 18:31] Punkbob opened #461 "No makefile in linux/darwin 1.0.0 binary"
Just a heads up that the install instructions that tell you to use sudo make install, will fail as the compiled releases do not have a makefile, and are not structured like previous releases.

[2016-06-20 19:09] kontsevoy commented on #461
ah, great catch. thanks.

[2016-06-20 20:29] kontsevoy commented on #461
@Punkbob we've re-uploaded the tarballs. I haven't bumped the version up because 1.0 hasn't been publicly announced/released yet.

[2016-06-20 20:29] #461 closed

[2016-06-21 01:22] pirogoeth commented on #458
@kontsevoy :+1: thanks!

[2016-06-21 17:00] Punkbob opened #462 "When I try to login to a teleport cluster via tsh it fails"
Works fine to login in via the webui but fails via tsh. I blew away /var/lib/teleport on all these hosts before upgrading to 1.0.0 as well as .tsh on the client's I've been using to test from, the error that it spits back its:

INFO[0019] Successfully authenticated with teleport.protenus.com:3023  file=client/api.go:805
INFO[0019] proxyClient.GetSites() returned: [{"name":"b895ca68-ec95-4619-999e-

[2016-06-21 20:45] kontsevoy commented on #462
On a surface looks like IPv6 issue (which we do not yet support). We'll try to reproduce.

[2016-06-21 20:46] Punkbob commented on #462
It also happens over IPv4

On Tuesday, June 21, 2016, Ev Kontsevoy <notifications@github.com> wrote:

[2016-06-21 20:49] kontsevoy commented on #462
do you have HTTPS certificate configured for the proxy? and if not, what happens if you specify `--insecure` flag to `tsh ssh`?

[2016-06-21 21:11] kontsevoy commented on #462
Andrew, would you be willing to do a Goolge Hangout with us to help diagnose/reproduce the issue? Thanks.

[2016-06-24 20:21] Punkbob commented on #462
Tried with the insecure flag still failed and will mess with it again this weekend to see if its something I did, but otherwise I'd be willing to set something up next week?

[2016-06-27 11:32] xaircore opened #465 "Add support Microsoft Windows"
Add support to Microsoft Windows OS

[2016-06-29 15:23] crazyh opened #467 "Failed to build with Bash due invalid echo command usage in version.mk"
I have tried to build Teleport from Arch Linux/Bash and coreutils 8.25:

[code]

It caused by invalid usage of echo command. Echo from coreutils 8.25 does not expand escape sequences automatically (e.g. `echo "foo\nbar"` will print 'foo\nbar').

Solution is to add `-e` option for echo: `@echo -e $(VERSION_GO) | gofmt > version.go` and the same for gitref.go but it probably can broke build in other

[2016-06-29 23:52] kontsevoy opened #468 "Reverse tunnel does not stop reconnecting"
When watching logs I noticed that reverse tunnel agents keep trying to reconnect to tunnels even after they have been asked to stop (received "close broadcast").

This would cause goroutine leak when reverse tunnels are dynamically added/removed.

[2016-06-30 00:00] kontsevoy commented on #465
@xaircore do you have a Windows client use case or both? Adding support to `tsh` may be feasible, but `teleport` server probably won't happen, it's outside of our expertise/business.

[2016-06-30 02:36] #467 closed

[2016-06-30 03:23] #468 closed

[2016-06-30 16:01] freeseacher commented on #443
Today i try to use teleport again. and still no luck :(

As far as i can see teleport does't respect https_proxy env variable set so i cant add node to cluster.
but i had reduced complexity of setup.
Currentrly i can make connections from ssh node to any internet ip and port. but still only through http proxy.

[2016-06-30 17:55] kontsevoy commented on #443
@freeseacher can we jump on Google hangout with you to examine your use case?

[2016-06-30 18:36] freeseacher commented on #443
yep, sure!

[2016-06-30 22:57] kontsevoy commented on #443
ping me on ev@gravitational.com plz!

[2016-07-01 21:48] kontsevoy commented on #462
@Punkbob  Sure. Ping me on ev@kontsevoy.com and I'll shoot you some times via email.

[2016-07-01 21:49] kontsevoy commented on #450
Closing for now since we haven't seen failed tests on Jenkins in a while

[2016-07-01 21:49] #450 closed

[2016-07-03 19:07] Omeryl opened #471 "WebUI Keyboard Shortcuts"
Is there a trick to getting this to work? For example, in tmux, `^b + d` to detach, or `^b + 3` to switch to window 3?

[2016-07-03 23:30] Omeryl opened #472 "U2F support"
This is just a feature request, but I primarily use U2F for two factor. Would it be possible to do this, especially since both the browser (Firefox with Addon, Native in Chrome) and local access with Golang is possible?

[2016-07-05 21:19] freeseacher commented on #443
bump.

[2016-07-06 00:32] kontsevoy commented on #443
@freeseacher did you send me an email? Looking forward to chatting.

[2016-07-06 17:34] amscotti opened #474 "Docker Issue with Vagrant"
Hi,

I was trying to get Teleport setup with Vagrant, but I’m getting issues from when Vagrant tries to install Docker onto the VM. I have checkout the v1.0.0 tag, but the same issue is in the master branch too.

[code]

From SSHing into the system,

[code]

I haven't used Vagrant much, so I could be doing something wrong. I'm using Vagrant 1.8.4 on MacOS 10.11.5 with VirtualBox 5.0.24

[2016-07-07 23:29] Omeryl commented on #471
I wouldn't even so much deem it a feature request, the web terminal is kind of useless without being able to send key combos ;).

[2016-07-08 06:01] Omeryl opened #475 "Sort Labels by their key alphabetically"
Can we sort labels by their keys alphabetically when listed? I.e. on the `tctl nodes ls` list.

[2016-07-08 14:00] pirogoeth commented on #471
I think this may be one of those things that is a little easier said than done, simply because there are some key combos that should typically override the "send-to-server" behaviour (I really miss being able to Ctrl-C / Ctrl-V :cry:). There are definitely things like Ctrl-A, Ctrl-B, Ctrl-Z, Ctrl-C that should *always* be forwarded to the session through the web terminal, but we also need an alter

[2016-07-08 15:01] Omeryl commented on #471
They usually do things like ctrl+shift+c and ctrl+shift+v for that in terminal emulators, that's not really a problem specific to a web shell @pirogoeth.

[2016-07-08 15:05] Omeryl opened #476 "Better errors with proxy connecting to auth service in Web/HTTP portion"
So, this is a weird one.

I was testing around and trying to add a user, immediately the web proxy was telling me the token was expired. Looking at tctl shows it wasn't. Looking finally at debug output showed that it was simply unable to connect to the auth service. I suspect there are a few other circumstances that might cause errors messages that don't make sense, so can we get a cursory check t

[2016-07-11 18:12] freeseacher commented on #443
Some summary:
* i mean http_proxy like squid
* and talking about https://en.wikipedia.org/wiki/HTTP_tunnel
* there are several variants to make some software that cant work through proxy do so. some variants: https://wiki.archlinux.org/index.php/HTTP_tunneling
* docker-compose file like that
[code]
will activate proxy server squid. that can be accessed with http_proxy=http://0.0.0.0:3128
it can be

[2016-07-11 22:11] kontsevoy commented on #443
@freeseacher makes sense, thanks

[2016-07-11 22:14] kontsevoy commented on #443
@freeseacher see if this will help you:
https://github.com/nf/gohttptun

[2016-07-11 23:28] kontsevoy commented on #476
@Omeryl not a "weird one" at all. Great catch, thanks!

[2016-07-11 23:47] kontsevoy commented on #474
@amscotti the Docker log probably has the answer, do you mind looking into it? (`journalctl -u docker`) Meanwhile I'll try updating my vagrant + virtualbox (I'm behind)

[2016-07-11 23:48] kontsevoy commented on #475
@Omeryl that's not a bad idea, but I have to be honest: it's way down on our list, hopefully the OSS community will pick this up ;)

[2016-07-11 23:49] kontsevoy commented on #472
Will keep this open for future OSS contributors.

[2016-07-11 23:51] kontsevoy commented on #443
Closing this: it's very unlikely that we'll support it (high cost, low demand).

[2016-07-11 23:51] #443 closed

[2016-07-12 00:37] #474 closed

[2016-07-12 01:14] kontsevoy commented on #474
@amscotti I've updated Vagrantfile and the base.rb (get them from the latest master)

[2016-07-12 17:03] josegonzalez commented on #423
Might it be better to use [libkv](https://github.com/docker/libkv) to abstract the backends completely, thereby potentially offering support for multiple backends out of the gate. If desired, I can sit down and work on a pull request for this, as we'd love to use teleport but currently have a consul cluster and not etcd.

[2016-07-19 14:38] Punkbob commented on #462
Resolved itself after a serious of reboots this week. No idea what was wrong still.

[2016-07-19 14:38] #462 closed

[2016-07-28 09:03] alperaydemir opened #477 "ssh: certificate signed by unrecognized authority"
Hi,

I'm trying to get the Trusted Clusters functionality work somewhat unsuccessfully. The goal is to connect nodes behind a firewall with no public IP through reverse tunneling. `main` is the main cluster and `cluster-b` is the one behind the firewall.

Following the admin manual I was able to configure the reverse tunnel however, `tctl auth ls` shows this
[code]

And not the keys for the truste

[2016-07-28 11:23] woohgit opened #478 "Is ACL/RBAC available?"
Is it possible that no ACL or RBAC is available for teleport?

So if I add a user "joe" he can log in to all of the joined nodes in the cluster ot thu moment if understand the docs correctly.

How can I restrict user "joe" to be able to login only to the nodes with label "webserver" for example?

[2016-07-28 16:36] jaxxstorm opened #479 "ls command doesn't work with different OS users"
I'm trying to do an `ls` command with tsh on a remote proxy:

[code]

However, it seems to want to do an SSH handshake as my currently logged in user?

[code]

[2016-07-28 16:39] jaxxstorm commented on #479
I did notice from #408 that it's possible to override this with`TELEPORT_LOGIN` env var, which makes it work:

[code]

it would be nice if there was a `~/.tsh/config` file I could use where I could set this permanently.

[2016-07-28 16:45] jaxxstorm commented on #478
You need to provision a new cluster, and then use trusted clusters to do the setup:

https://github.com/gravitational/teleport/blob/master/docs/admin-guide.md#trusted-clusters

It's not supported at the labels level

[2016-07-28 21:49] jdc0589 commented on #465
@kontsevoy I'd love to see official builds of the `tsh` client for windows and osx.

[2016-07-29 11:06] jaxxstorm opened #481 "Windows tsh binary"
Is there any plan to make a tsh binary, or at least have some way of using the client on windows?

[EDIT by @ekontsevoy] the discussion below suggests to implement only `agent mode` for Windows. Read the comments.

[2016-07-29 23:05] klizhentas commented on #478
I think RBAC is a valid feature request - we've been thinking about this as well

[2016-07-30 00:35] klizhentas commented on #478
Just a thought how this could be implemented via labels:

e.g. we have two sets of labeled nodes:

`access-group=normal` and `access-group=privileged`

When adding a user, we can optionally limit the users's access to `nodeSelector`

e.g.

[code]

[2016-07-30 00:35] klizhentas commented on #478
@kontsevoy what do you think?

[2016-07-30 01:49] Jazb opened #482 "session recorded openssh server"
I've been testing teleport in production environments. And this was the only thing I really wanted, because although its integration with vanilla SSH is splendid both when running OpenSSH Client and Server. And I can use the ssh command to get a shell provided by Teleport where the session is recorded.

I have seen that at least I have to have 2 ports open one on the server that I want to connect

[2016-08-01 17:19] kontsevoy commented on #478
I have talked to a few Teleport users who have implemented this using regular user mappings. For example they'd create users like "backup", "deploy" on their machines first. These are essentially become "roles". Then, when adding users, they'd specify which roles they can assume:

`tctl users add joe backup,deploy`

Is this close enough to your needs, @jaxxstorm ?

[2016-08-02 15:12] woohgit opened #483 "trusted clusters: server doesn't support provided key type"
Hey,

I created a trusted cluster setup. Followed all steps and I'm stuck now. I connected 1 node to the tst-cluster. The main cluster does not have any nodes, it's just the "main database" actually.

The apapai user in theory is allowed to login to the tst-cluster  I can list the connected nodes on the tst-cluster using the main cluster as a proxy

[code]

[code]

[code]

[code]

But when I want

[2016-08-02 18:49] woohgit opened #484 "WebUI should list trusted-cluster joined nodes too"
## Original Problem

The WebUI lists the joined nodes which is cool.
Is it possible to list the trusted-cluster joined nodes too? That would be pretty useful.

Or at least the ability to select a `cluster` from the Web UI, and after the selection only the selected cluster related nodes should be listed.

## UI Polish

* Lets have "cluster" dropdown to be horizontally aligned with the "search" fiel

[2016-08-02 18:59] woohgit commented on #483
**update 2**:

Meanwhile I found the problem. An old credential was cached, so I did another login and everything started to work as expected.

[2016-08-02 18:59] #483 closed

[2016-08-02 22:52] jaxxstorm commented on #478
Absolutely

[2016-08-02 22:54] jaxxstorm opened #485 "Trusted clusters issue"
I'm trying to get trusted clusters working. On <remote> I see <main> trusted as expected:

[code]

However, when I try list the clusters, only one is available:

[code]

How can I debug this issue?

[2016-08-03 05:53] woohgit opened #486 "Guessing advertise_ip chooses IPv6 address space"
If the `advertise_ip` is not set on the auth server, teleport tries to guess the internal IP. Every time it tries it, it picks the IPv6 address which is not the expected I think.

Note that the internal ip is: `172.18.130.222`, so its from the `172.x.x.x` address space.

[2016-08-03 09:23] woohgit opened #487 "No Gomfile, annoying to install dependencies by hand"
The teleport dependencies are not automatically installed when running the `make` command.

Since there is no Gomfile, the dependencies can't be installed by `gom install`.

It would be great to be able to install the dependencies via gom install and not manually using the `go get URL` pattern.

[2016-08-03 09:29] woohgit commented on #479
You can pass the `--login lbriggs` to our tsh command.

[2016-08-03 09:38] woohgit commented on #487
In the meanwhile I found that here is a Godep directory.

[2016-08-03 09:44] #487 closed

[2016-08-03 09:44] woohgit opened #488 "Build failure"
I tried to compile the 1.0.0, but it's failing:

[code]

It might be related to some dependency issue, but would be nice if we could compile teleport ourselves too. I can't test and send a PR until this is not resolved.

[2016-08-03 15:31] alperaydemir commented on #483
if it's not too much trouble, can you attach your configuration for both clusters? I'm trying to setup the same thing but got stuck with basically not nowing if the `tst-cluster` nodes should point to `main-cluster`s auth server or not. basically `tst-cluster` does not get listed when I bring it up.

[2016-08-03 17:11] klizhentas commented on #488
what's your Go version?

[2016-08-03 17:30] woohgit commented on #483
It was my bad. I deleted and re-added the user papai and it did not ask a new login, it cached my old one, so that was the reason why it wasn't working. By logging in again to the main cluster everything started to work. Probably the best would be to re-configure my session to live only max 1 hr.

[2016-08-03 18:01] woohgit commented on #488
[code]

[2016-08-03 18:05] klizhentas commented on #488
I'd need to try and reproduce with 1.6, meanwhile, can you try downgrading to:

[code]

[2016-08-03 18:24] woohgit commented on #488
Sure.

The output:

[code]

[2016-08-03 19:04] klizhentas commented on #488
I think that may be because of your path:

```/home/wooh/repos/gravitational/teleport```

can you change the location to

```/home/wooh/repos/github.com/gravitational/teleport```

and try build again?

[2016-08-03 19:09] woohgit commented on #488
Awesome.

It's working. Strange that `go` is so strict with the location of the source code.. :)

[2016-08-03 19:10] klizhentas commented on #488
haha, yeah it can be a bit confusing. ok, closing this issue for now then

[2016-08-03 19:10] #488 closed

[2016-08-04 00:01] tjwallace commented on #478
Out of curiosity, how would you limit logins to your production servers to a specific group of users? Have a production specific cluster with only those users? Or create production specific users (on the production servers)?

[2016-08-04 13:14] woohgit opened #489 "ssh: handshake failed: could not find matching keys for @ops at ops"
Ok, I'm soon giving up.

Every hour a new error comes up. I added a new cluster to the "main" cluster, called "ops".

- started up a brand new xenial ubuntu (ops)
- installed teleport on it
- created a basic teleport.yaml on ops
- started the teleport server
- run `tctl export auth`
- registered the output and put it under /etc/teleport/ops.ca on main.
- edited the /etc/teleport.yaml on main and a

[2016-08-04 13:28] woohgit commented on #489
Hm, and again I did a  `tsh --user=apapai logout --proxy=main` && `tsh --user=apapai login --proxy=main` and it's working again.

What's happening in teleport when I stop/start an auth server? Is it loosing the auth?

[2016-08-04 14:08] woohgit opened #490 "Controlling user access in a trusted cluster"
So what I want:

I want to have only 1 cluster (`main`) for maintaining users. All other clusters would be joined as trusted cluster.

Let's say we have a user `bob`. Bob is an Administrator and should be able to login to all servers as `ubuntu,root`. So we add bob.

[code]

Let's say we have another user `alice`. Alice is a developer and we don't want her to login to `cluster-b` at all, but she w

[2016-08-04 14:48] woohgit commented on #478
I feel this ticket was closed a bit prematurely...

I still can't limit users even with a trusted cluster: see #490. I'd like to restrict users to be able to connect to a trusted cluster.

Let's say we have deploy, backup "roles" in cluster-production and cluster-testing.

I only want to allow our developers to be able to connect to the cluster-testing as "deploy" and "backup", but not to cluster-

[2016-08-04 16:43] guanana opened #491 "tsh allows users to specify proxy port"
Hi,

We are trying your solution and seems great but I found one problem. I saw someone else told you that on Jan but you close the ticket. I created two independent environments because I don't want all the users in one cluster could see the sessions of the other users. Basically I created two clusters for that reason and add trust relation between those. The problem is: to not duplicate my infra

[2016-08-04 16:59] kontsevoy commented on #489
we're looking into it!

[2016-08-04 17:01] kontsevoy commented on #484
@woohgit yes that will be useful, it's in our to-do list.

[2016-08-04 17:02] kontsevoy commented on #465
We're working on #481 but we're not adding Windows support for the server component.

[2016-08-04 17:02] #465 closed

[2016-08-04 17:03] kontsevoy commented on #88
low priority (likely won't be done any time soon)

[2016-08-04 17:03] #88 closed

[2016-08-04 17:17] kontsevoy commented on #478
Reopening to keep the conversation going. @woohgit you're right, Teleport does not offer any RBAC features on top of accounts and SSH session keys: this wasn't our internal requirement and to date there isn't a commercial Teleport user asking for it.

[2016-08-04 17:30] klizhentas commented on #489
@woohgit thanks for detailed report!

[2016-08-04 20:48] kontsevoy commented on #489
@woohgit Can we schedule a quick Google Hangout? Looks like the documentation is incomplete, I want to go over this with you and will update it afterwards.

[2016-08-04 20:53] kontsevoy commented on #490
@woohgit Can we schedule a quick Google Hangout? Looks like the documentation is incomplete (I see you're confusing "login" vs "user" concepts - totally our fault for not making it clear) I want to go over this with you and will update it afterwards.

[2016-08-04 21:02] kontsevoy commented on #491
@guanana have you tried launching `tsh` with `tsh --proxy=host:port`?

[2016-08-04 21:08] kontsevoy commented on #482
@Jazb the reason Teleport needs port 3025 is because it needs to ship recorded session to the session store, and regular port 22 is used for the actual session. You're right, it could have been possible to implement recording on the proxy (this way your existing fleet of OpenSSH machines wouldn't need to be changed) but this wasn't our internal use case, unfortunately.

[2016-08-04 21:08] kontsevoy commented on #482
Closing because it calls for a serious structural change we're do not have resources for.

[2016-08-04 21:08] #482 closed

[2016-08-04 21:10] kontsevoy commented on #479
correct.

[2016-08-04 21:10] #479 closed

[2016-08-04 23:28] #486 closed

[2016-08-05 00:50] kontsevoy commented on #477
@alperaydemir apologies for the delay! do you want to get on Google Hangout and I will help you debug these issues? Teleport has useful sample configurations in `vagrant` directory and we can interactively play with them and I'll answer your questions.

[2016-08-05 09:22] guanana commented on #491
Yes, when I made tsh --proxy=teleport-proxy.exmaple.local it works just fine, I sniff the connections and it connects to the proxy on the port 3023 as expected, but when I try to change the port it says:

tls: first record does not look like a TLS handshake

Also if I try to add the "default" port 3023 says that. I guess the binary add the port just before the host name and then all we add after t

[2016-08-05 09:46] guanana commented on #491
If it is useful for you I attach the debug for the two different instances in the same server (proxy). Neither of the instances complete the auth because is only a test, but you can see the behavior.

**Works (instance default port)**
_Server_
[code]
_Client_
[root@teleport-auth teleport-infra]# tsh --proxy=teleport-proxy-1.example.local --user=test-infra ls
Enter password for Teleport user test-i

[2016-08-05 10:51] woohgit commented on #490
Yeah I had to realize that the `allow_logins` means real OS users, but I think this doesn't really make sense. If allow_logins was 'teleport accounts' that would make sense.

I'm sad that there is no ACL/RBAC  at all. In this state, teleport is not something we or others could really use until there is a access control. And I'm very sad that instead of a "feature request" it got a "wontfix" tag.

[2016-08-05 15:33] kontsevoy commented on #490
@woohgit There's an idiomatic way to achieve what you want using OS logins. Teleport tries to stay lean and sticking to being only the access layer (not an authentication system) by using OS logins. Let me know if you're interested in chatting how to do this this.

[2016-08-05 15:44] kontsevoy commented on #490
Similar to #478

[2016-08-05 15:44] #490 closed

[2016-08-05 15:45] kontsevoy commented on #489
Similar to #478

[2016-08-05 15:45] #489 closed

[2016-08-05 15:49] kontsevoy commented on #478
@tjwallace The way Teleport is used for restricting access is based on OS Logins. First, you need to define roles, say "deploy" or "backup". Then, you create OS users on _affected machines_ for these roles with sufficient OS-level privileges. And finally, when creating Teleport users, say Joe and Alice, you define "user mappings", so to grant Joe only "deploy" priviliges (like accessing machines w

[2016-08-05 15:50] kontsevoy commented on #478
@woohgit see above. Will it not work for your use case?

[2016-08-05 16:03] woohgit commented on #478
@kontsevoy This is clear if you have only 1 environment and 1 environment related roles.

What is the issue when you have at least 2 or 3 environments:

- production environment with roles: "deploy" or "backup".
- test environment with roles: "deploy" or "backup".
- staging environment with roles: "deploy" or "backup".

The command below will allow "joe" to login to ANY system (connected as a trus

[2016-08-05 16:15] woohgit commented on #478
@kontsevoy But I"m happy to chat if my needs are not quite clear :)

[2016-08-05 18:18] kontsevoy commented on #478
@woohgit yes sir, you are correct. The desired behavior (to have ACL based on cluster+login) is not something Teleport currently supports. The workarounds are:

a) Having production_deploy + test_deploy.
b) Running separate auth servers on each of your environments and not declaring them as trusted. This way you'll add `joe` only to select environments. (our internal use case)

See, the "trusted c

[2016-08-05 22:27] kontsevoy commented on #491
@guanana nice catch. It appears `tsh` does not have a way to configure two ports for `--proxy` switch: one for SSH proxy and another for HTTPS proxy.

I like your suggestion of using `--proxy=host:port,port` syntax. So if you have this config file (every "listen addr" is set to non-default value):

[code]

... you can connect to it using `tsh --proxy=host,5023,5080` (first comes SSH port, followed

[2016-08-05 22:48] #491 closed

[2016-08-07 19:15] kontsevoy commented on #481
Status update: looks like Teleport (including `tsh`) has UNIX-only internal dependencies, particularly around terminal control. Moving `tsh` to a native Windows binary is more involved, so the Web UI for now is the only client for Windows. Will keep the ticket open as we continue looking into it.

[2016-08-08 09:06] guanana opened #494 "Connect to another console (not bash)"
Hi,

I'm trying to establish a connection into one machine with one user that has not defined the default bash shell. Instead of that it has lshell (restricted shell). I cannot connect (I can without any problem with another users that use bash). Could you please tell me which are the dependencies needed in the remote shell to connect (not the proxy or the auth server, just the node), or tell me i

[2016-08-09 00:39] #471 closed

[2016-08-09 00:40] kontsevoy commented on #471
This has been documented here:
https://gravitational.com/teleport/docs/faq/

and here:
https://gravitational.com/teleport/docs/user-manual/#web-ui

[2016-08-09 01:24] kontsevoy commented on #494
Confirmed. Teleport does not process `/etc/login.defs` resulting in $PATH not being set on custom shells.

[2016-08-09 03:56] kontsevoy commented on #494
@guanana Can you please try this build and let me know if it works on your system:
http://s3.gravitational.io/ev/teleport-v1.0.4-linux-amd64-bin.tar.gz

This build must report this version (Notice git ref):
[code]

[2016-08-09 08:31] woohgit opened #496 "jumping shell prompt"
Sometimes when I'm connected to a server via the WebUI the server prompt starts to jump.

I created a video:

https://www.youtube.com/watch?v=Tx5EGXDXjUk&feature=youtu.be

[2016-08-09 08:38] guanana commented on #494
Yes! It works perfect! Thank you!

[2016-08-09 13:55] alex-kovoy commented on #496
Could you tell what OS and browser did you use when you saw that?

[2016-08-09 14:06] woohgit commented on #496
Yeah sure:

ChromeOS (Toshiba Chromebook 2)

    Version 52.0.2743.116 (64-bit)
    Platform 8350.68.0 (Official Build) stable-channel gandof
    Firmware Google_Gandof.6301.155.9

[2016-08-09 14:38] guanana commented on #494
Hi, I was checking more deptly the patch and I just found in some of the servers just in some sessions it load the PATH env with a shorter version.... I mean

**_Load normal ssh_**
MAIL=/var/spool/mail/root
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin
PWD=/root
LANG=en_GB.UTF-8
SELINUX_LEVEL_REQUESTED=
HISTCONTROL=ignoredups
SHLVL=1
HOME=/root
LOGNAME=root
CVS_RSH=ss

[2016-08-09 15:53] kontsevoy commented on #494
@guanana can you attach `/etc/login.defs` file from that machine please? Thanks.

[2016-08-09 16:31] guanana commented on #494
Nothing special really with root user (I think we never change it).
The special user is other, it is because of that I didn't advertise this fail before, because the "special" user seems to works just fine.

/etc/login.defs
[code]

[2016-08-09 16:35] kontsevoy commented on #496
@woohgit can you also provide the output of `env` please? Thank you.

[2016-08-09 16:39] kontsevoy commented on #494
@guanana ok I have a beta build for you:

http://s3.gravitational.io/ev/teleport-v1.0.5-beta.1-linux-amd64-bin.tar.gz

The reported version should be:
[code]
It may not match the defaults on your system (you have a rare case of `ENV_SUPATH` not defined) but the behavior should be acceptable and compatible.

[2016-08-09 16:44] kontsevoy commented on #477
@alperaydemir I am closing this issue because it's a support request. But you're still welcome to jump on Google Hangout with me. Your question can be answered with "yes" (via `--insecure` flag to `tsh`) but your error doesn't have anything to do with HTTPS: most likely you have not configured cluster keys properly as described in "Trusted Clusters" chapter in the docs. Again, ping me if you need

[2016-08-09 16:44] #477 closed

[2016-08-10 08:17] guanana commented on #494
Yes, it seems to solve the problem.

Thanks again for your quick reply.

[2016-08-10 10:45] guanana opened #497 "Wrong url to register new users"
It is a real minor bug but when you create new users with one cluster that is running in a different port, the Signup message redirect you to the incorrect port

[code]
Signup token has been created and is valid for 3600 seconds. Share this URL with the user:
https://teleport-auth.exmaple.local:**3080**/web/newuser/37500f52ce980c23dd33aea1c3009b25

I defined this port as 3083 (is no a problem just

[2016-08-10 13:48] woohgit commented on #496
[code]

[2016-08-10 17:14] kontsevoy commented on #496
So there's no `PS1` defined? Can you please confirm? Nothing from `echo $PS1` ?

[2016-08-10 17:17] kontsevoy commented on #494
@guanana this will be merged into the official 1.0.5 release. Meanwhile you can use the binaries provided above. Thanks for reporting this!

[2016-08-10 17:31] woohgit commented on #496
It is, but it's not shown up when running env.

[code]

[2016-08-10 18:30] kontsevoy commented on #496
@woohgit ok, we've tried multiple theories here and still couldn't reproduce it. There's one thing we believe may be causing it: the client machine may not have one of the supported fonts (the terminal JS control is picky about font dimensions, which may cause it to wrap text output).

If you're in Chrome, can you please get it into wrapping state, then right-click on the jumping area and select "

[2016-08-10 18:43] sofuture commented on #444
I haven't seen this, but I haven't specifically tried to reproduce in some time. Closing for now, will reopen if it repros.

[2016-08-10 18:43] #444 closed

[2016-08-10 19:01] alex-kovoy commented on #496
Here is the place to look for the font

![image](https://cloud.githubusercontent.com/assets/7816406/17566923/3f0282e4-5f0b-11e6-908b-24c3fb02405b.png)

[2016-08-10 19:03] kontsevoy commented on #497
@guanana good catch, thanks.

[2016-08-12 04:47] bwalding opened #499 "Show "Node" in Archived Sessions list"
At present, active sessions show the associated node, but archived sessions do not.

This makes it difficult to find archived sessions for specific nodes (e.g. a node has failed - go and find out what was done to it).

[2016-08-12 11:29] woohgit commented on #496
Checked it.

The "Rendered Fonts" part is disappearing/reappearing as the blink happens.

line-height is jumping between 15.2 - 30.4. I created a snapshot when it's visible. DejaVu Sans Mono.

![screenshot 2016-08-12 at 13 26 22](https://cloud.githubusercontent.com/assets/327714/17620988/ab4d9b7e-6090-11e6-850b-37147ca73b8e.png)

[2016-08-12 18:45] kontsevoy commented on #496
@woohgit Thank you! We'll keep trying to reproduce it. Also reported this [upstream](https://github.com/sourcelair/xterm.js/issues/227) to term.js folks.

[2016-08-12 18:48] kontsevoy commented on #499
Dough! We should have thought of that. Thanks.

[2016-08-13 12:22] woohgit commented on #496
@kontsevoy Thanks, let me know if I can help by testing something. :)

[2016-08-16 07:58] jaxxstorm opened #501 "Configurable flag to allow read/only or private sessions"
Currently, the model of teleport is that anyone with an account can join a session and they instantly get the full ability to type commands.

After demoing the application to some security folks at $work, they loved the auditing features and the ability to see what happened, but had concerns about the lack of "permissions" in that people could join sessions even when the desire was simply to do a

[2016-08-16 08:00] jaxxstorm commented on #481
@kontsevoy I'd be happy enough with a cygwin based binary. Also, is it worth trying to build or use the binary on the new windows subsystem?

[2016-08-16 08:06] jaxxstorm opened #502 "Splunk/HIDS compatible logging format"
Currently, the log messages are split into two files:

a JSON log file with events, and a bytes file which shows the terminal output.

When demoing the application to our security team, they loved the playback features. They were however interested in being able to incorporate all the session data into splunk/HIDS tooling, but the bytes file presents a problem, as it has no timestamp associated wi

[2016-08-16 17:36] kontsevoy commented on #481
We can put an engineer on it if needed.

[2016-08-16 21:42] #496 closed

[2016-08-16 21:43] kontsevoy commented on #496
@woohgit this is already in master if you're building from source, otherwise look out for 1.0.5 release in a couple of days.

[2016-08-18 00:29] kontsevoy opened #504 "Joining a session running on a trusted cluster does not work"
### Problem

When running in a "trusted cluster" configuration, `tsh join` will not work with `--cluster` flag.

Logs are telling:
[code]

Looks like when "Teleport Client" is initialized, the site name is getting lost, but only for joining existing shells (launching new ones works).

[2016-08-18 01:01] #504 closed

[2016-08-19 00:28] kontsevoy opened #507 "Logged in users inherit Teleport supplemental groups"
Just installed teleport, added a user, logged in via the browser, ran "id" and was surprised to see that none of my group settings are active, but I very helpfully have the root group still assigned.

This seems to be a rather significant security issue.
[code]

[2016-08-19 00:40] kontsevoy commented on #507
Fixed.

[2016-08-19 00:40] #507 closed

[2016-08-19 21:53] #497 closed

[2016-08-19 22:10] kontsevoy commented on #496
@woohgit `1.0.5` is out today. Can you please see if the problem has been fixed? Thank you.

[2016-08-22 06:18] kontsevoy opened #508 "Increased CPU utilization after running for weeks"
### Problem

After running Teleport on a NAS at home for a long time, I started noticing increased CPU utilization. I have only been using Web-based access to that box.

### Investigation

After dumping active goroutines into stderr I see that a few of them stick around after every web session.

[2016-08-22 09:21] woohgit commented on #496
@kontsevoy Good news. I upgraded our server to `1.0.5` and the issue is fixed.

Thanks.

[2016-08-24 17:17] #508 closed

[2016-08-24 22:15] gfloyd opened #510 "Proxy advertise address"
We're using service discovery for our proxy nodes, which means we have a single proxy URL that can be used (like `teleport.service.consul.domain.com:3080`) to connect to any available proxy. Is there a way for the various commands like `teleport status` and `tctl users add` to use this address when it outputs URLs?

For example, if I run `teleport status` I get a session URL like:

`https://<hostn

[2016-08-25 01:18] kontsevoy opened #511 "Friendlier documentation / user messages"
### Issue One

Teleport's default error message about untrusted HTTPS certificate is not user-friendly: _"x509: certificate signed by unknown authority"_ Lets replace it with:

[code]

[2016-08-25 01:24] kontsevoy commented on #510
@gfloyd Have you tried setting `--nodename` flag of your proxy toteleport.service.consul.domain.com`? If that won't work, we should fix it. If you're using YAML configuration, the corresponding setting is `nodename`.

[2016-08-25 01:27] kontsevoy opened #512 "Pack web assets into executable"
Teleport is a bit messy to deploy because of the need to carry around the web assets for serving the Web UI in a separate directory.

Consider serving them directly from the binary, this way Teleport's deployment becomes as easy as copying a single binary.

[2016-08-25 01:28] kontsevoy commented on #485
@jaxxstorm did you get this working?

[2016-08-25 01:29] kontsevoy commented on #458
I think we fixed this in 1.0.5

[2016-08-25 01:29] #458 closed

[2016-08-25 09:14] woohgit opened #513 "Ansible role for teleport"
Hi there,

I created an ansible-galaxy role for teleport.

https://galaxy.ansible.com/woohgit/teleport/

Feel free to use it. :)

[2016-08-25 14:21] gfloyd commented on #510
Thanks, that does work.

It's not ideal, since our proxies are also nodes, which leads to multiple nodes with the same name:

[code]

Not a big deal, just removes the convenience of being able to `tsh ssh <nodename>`.

[2016-08-25 14:43] andrewl3wis opened #514 "Package the Installer for Common OS's"
It would make my life easier if the Installer were packaged for various Linux Distro's, but I am actually after it being added to Homebrew so that it'd be easier for my end users to install. It's something that I can tackle, but would prefer that it was integrated by you guys so that it doesn't fall out of date if I miss a release a cycle.

[2016-08-25 18:09] kontsevoy commented on #514
@Punkbob agreed. Right now we're a bit short of resources, how about you land us a hand getting this going, but we'll integrate your builds into our cycle?

[2016-08-25 18:10] kontsevoy commented on #513
@woohgit ! much appreciated!  We'll be updating the docs with this.

[2016-08-25 18:11] kontsevoy commented on #510
@gfloyd yep. in your case you may want to run two teleport processes on proxy nodes: proxy-only and node-only, with different YAML flags, that would give you exactly the outcome you're looking for IMO. Cheers, closing.

[2016-08-25 18:11] #510 closed

[2016-08-25 18:13] kontsevoy opened #515 "Terminal self-resizes when someone joins a session"
### Problem

When a new person joins a session you've started, **your** (session originator) window will be resized to fit the size of the guest.

### Solution

Guests windows must resize to fit the session owner's, not the other way around.

[2016-08-25 19:34] gfloyd commented on #510
Ah, I didn't think of that solution! Thanks so much.

[2016-08-25 20:00] Punkbob commented on #514
A quick and dirty solution using [fpm](https://github.com/jordansissel/fpm)

OS X: fpm -verbose -s dir -t osxpkg -n teleport -v 1.0.5 ./teleport=/usr/local/bin/teleport /var/lib/teleport/ ./tsh=/usr/local/bin/tsh ./tctl=/usr/local/bin/tctl ./app/=/usr/local/share/teleport/app ./index.html=/usr/local/share/teleport/index.html

deb: fpm -verbose -s dir -t deb -n teleport -v 1.0.5 ./teleport=/usr/loc

[2016-08-26 02:09] kontsevoy commented on #514
@Punkbob Thanks!

[2016-08-26 02:09] #513 closed

[2016-08-26 13:28] guanana opened #517 "Cannot create users with . (dot)"
I can create the user in the server, but when I try to authorize the teleport user to use this user it replies with:

[code]

Also it doesn't allow me to use the name with dot as teleport user.

[code]

[2016-08-26 17:58] #515 closed

[2016-09-05 10:15] guanana opened #521 "Problems with the ports when connecting tsh"
Hi,

I'm having some issues to deploy the different teleport I have in the environment. It seems that now you can specify the port of the proxy where you want to connect but for some reason I'm having this weird issue:

proxy_service:
  enabled: "yes"
  listen_addr: teleport-auth.example.local:3033
  **web_listen_addr: teleport-auth.example.local:3083**
  tunnel_listen_addr: teleport-auth.example.

[2016-09-05 11:02] guanana opened #522 "Implement TOTP-based 2nd factor auth"
Hi,

More than a bug this is more a question to know if this was the desired behaviour or is a security issue.

With the kind of two-factor authenticator teleport uses, you can pre-generate a bunch of codes without any problem and give your user, password and 100 codes (for example) to a third user and then they can connect without any problem (always using the sequence). _HOTP_

In the other hand

[2016-09-05 21:14] waterfoul commented on #522
Please do this, I use authy to makange most of my 2-factor tokens and I cannot use it to mange teleport tokens for this reason

[2016-09-06 19:08] kontsevoy commented on #521
@guanana your `tsh` command did not specify the HTTPS proxy port (only SSH). Try `--proxy=teleport-auth.example.local:3033,3083`

[2016-09-06 19:10] kontsevoy opened #524 "Need for -t (allocate tty) flag"
`tsh` needs `-t` flag, similar to OpenSSH for launching commands that require a TTY.

[2016-09-07 11:17] guanana commented on #521
Seems so, working.

Thanks

[2016-09-07 11:17] #521 closed

[2016-09-07 12:08] guanana opened #525 "Problem with the local tsh certs (or it seems)"
When I try to run the tsh command from different host than the proxy I receive that:

[code]

But when I run the same exact command from the proxy itself, I receive that:

[code]

[2016-09-07 23:57] kontsevoy commented on #525
what happens if you `rm -r ~/.tsh`?

[2016-09-08 15:33] guanana commented on #525
Now seem that is working (without removing the folder), is it safe to remove this folder in case I have problems in the future? I guess that is something it generate each time you connect or only create it the first time the node joins the cluster?

[2016-09-08 17:59] kontsevoy commented on #525
@guanana that folder keeps your cached session keys. What I suspect has happened was that you re-created some nodes in your cluster and their host keys have changed, so the cached ones didn't fit anymore. You can clean them by running `tsh logout` command, it's a more civilized way of clearing the cache.

Closing.

[2016-09-08 17:59] #525 closed

[2016-09-09 19:01] #517 closed

[2016-09-12 13:34] wjam opened #529 "TTL of signed certificate far too long"
Hi,

I was just reading through the code and noticed that the `ValidBefore` field of the `ssh.Certificate` is being set to `time.Now()...UnixNano()`, which is the time period expressed in nanoseconds (https://github.com/gravitational/teleport/blob/master/lib/auth/native/native.go#L145).

According to the documentation I've found, http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/usr.bin/ssh/PROTOCOL.ce

[2016-09-12 17:54] klizhentas commented on #529
Looks like a valid catch to me:
https://github.com/golang/crypto/blob/1e61df8d9ea476e2e1504cd9a32b40280c7c6c7e/ssh/certs.go#L368

[2016-09-12 19:31] kontsevoy commented on #524
Closed in PR #526

[2016-09-12 19:31] #524 closed

[2016-09-13 01:12] #529 closed

[2016-09-13 16:09] guanana commented on #494
Hi, It seems to be solved but I just found that with the new version I receive this error and automatic disconnection

Traceback (most recent call last):
  File "/usr/bin/lshell", line 27, in <module>
    lshell.main()
  File "/usr/lib/python2.6/site-packages/lshell.py", line 1446, in main
    userconf = CheckConfig(args).returnconf()
  File "/usr/lib/python2.6/site-packages/lshell.py", line 762,

[2016-09-14 02:14] kontsevoy commented on #494
@guanana can you post the output of `teleport -d version` please?

[2016-09-14 08:17] guanana commented on #494
[root@teleport-proxy-1 etc]# tsh -d --proxy=teleport-proxy-1.example.local --user smith2 -l viewlogs ssh ukpdap18d
[code]

Nothing really special. It is working with bash, but not with that shell lshell. The point is that it was working with the last release of teleport when I submit the error, I don't know exactly what changes.

[2016-09-14 21:13] kontsevoy commented on #494
@guanana it's the same issue as before: the `PATH` variable is not set, and the current version has the fix, so seeing the output of `teleport version` and `tsh version` (both server and client) would be great, thanks.

[2016-09-14 21:33] #485 closed

[2016-09-14 21:35] kontsevoy commented on #511
Another one from #476

So, this is a weird one.

I was testing around and trying to add a user, immediately the web proxy was telling me the token was expired. Looking at tctl shows it wasn't. Looking finally at debug output showed that it was simply unable to connect to the auth service. I suspect there are a few other circumstances that might cause errors messages that don't make sense, so can w

[2016-09-14 21:35] kontsevoy commented on #476
merging with #511

[2016-09-14 21:35] #476 closed

[2016-09-14 22:27] #494 closed

[2016-09-15 13:13] guanana commented on #494
Basically is now merged?

My version: is on both (client and server) 1.0.5 (last release)

[2016-09-15 22:29] kontsevoy commented on #494
Yes, somehow the original fix did not get merged into master by accident. It's been re-merged, we'll push 1.0.6 out soon (or you can build your own from current master)

[2016-09-15 23:57] #511 closed

[2016-09-15 23:58] kontsevoy commented on #511
Fixed the most common complaint, about self-signed SSL certificates. Other changes (web UI especially) will have to wait until the next round of polish.

[2016-09-16 07:28] leif-ohlin opened #533 "Teleport should have option to reload config file."
Our setup:
One "main" server/cluster running all 3 services.

Other servers set up as their own cluster at different locations. These are firewalled/NATted.

To access a server we use tsh through the "main" proxy to the other locations.
When you add a new location you have to setup the trust - this means adding the location servers certificate to the configuration of the "main" cluster (and vice v

[2016-09-16 16:58] klizhentas commented on #533
@leif-ohlin one quick way to solve this problem is to start using etcd backend - in this mode teleport does not need to reload any configuration and all changes are dynamic and take effect instantly.

[2016-09-17 01:29] kontsevoy commented on #533
@leif-ohlin I think reliably applying configuration changes without full restarts is going to be incredibly complex (and complexity is something you always need to avoid when dealing with security products). Say, you change listening ports or re-generate certs, the sockets would have to close anyway.

While I agree, this is a very useful suggestion, I do not see us allocating time to do this. Inte

[2016-09-17 01:29] #533 closed

[2016-09-19 14:05] leif-ohlin opened #536 "TLS certificates from Let's Encrypt broken in teleport"
I've set up a teleport proxy with a public IP using Let's Encrypt TLS certificates.
Because Let's Encrypt itself is not trusted it uses trust from DST CA to sign certificates to it's users.

With other web servers this is usually not a problem as you tell the web server to either use a chain certificate as a supplement to the normal certificate or a fullchain certificate that includes both.

With

[2016-09-19 16:08] klizhentas commented on #536
The chain should work actually, we need to dig into this

[2016-09-19 21:05] SebTM opened #537 "First Steps - Questions"
Hello,

thank your for providing a powerful and fancy tool to mange server-access-control. I've head from teleport by a fellow but he didn't used it and so I hope, you can give me some answers.

**Situation:** We are starting with a complete new infrastructure. We will have about 20 servers and would like to use teleport to manage the access-control and monitoring of user-actions (session-recordin

[2016-09-19 21:20] kontsevoy commented on #537
To answer your questions:

a) Yes, in fact "jump-host" is exactly what Teleport proxy is. In a simple use case, the proxy would run with all 3 roles (node, proxy, auth) and the rest of your cluster would only run in `node` role. In a more comprehensive setup, you'd move `auth` role to a separate machine that only org. admins have access to.

b) Yes, you have to assign the allowed machine logins to

[2016-09-19 21:24] kontsevoy commented on #536
@leif-ohlin does `curl` work with Lets Encrypt certs on that box? We use Lets encrypt too and on some older Linux machines their certificates aren't in the system's `capath`, BTW here's the list Teleport uses:

https://golang.org/src/crypto/x509/root_linux.go

[2016-09-19 21:26] SebTM commented on #537
Thank you for the fast reply!

a) That sounds good - where is the benefit to run node on the jumpserver if everyone have to connect to it by key-auth as there is currently no tsh-client for every os? As If I would move the auth-server to another machine, how can I "declare" that user a - has access to it and user b not? Only if I have different user on the server? (like root on all "uncritical" ma

[2016-09-19 23:03] kontsevoy commented on #537
a) Well, without `node` on a machine, you have no SSH access to it. So if you're running `proxy`-only on a host, how will you maintain it? The answer is either have a `node` role enabled as well, or have `sshd` installed side-by-side, just for superuser-administration purposes.

To restrict users we recommend creating OS logins that act as, basically, roles: `backup`, `dev`, `test`, `admin` - what

[2016-09-19 23:03] #537 closed

[2016-09-20 15:28] leif-ohlin commented on #536
I'm at customers the next couple of days, I'll get back to you when I'm back in the office.

[2016-09-22 01:00] jcj83429 commented on #472
Since there is no go library to interface with U2F keys yet, would it be acceptable to implement the commandline client side with the libu2f-host C library or the u2f-host program included in libu2f-host?

[2016-09-22 01:29] kontsevoy commented on #472
@jcj83429 this would be a nice feature so we're not closing the issue, but keeping it open for 3rd party contributors.

[2016-09-22 08:41] leif-ohlin commented on #536
First of all:
/var/lib/teleport/webproxy_cert.pem is a softlink to the fullchain.pem - a soft link because of how let's encrypt works. Certs only have a 3 months lifetime - a copy of the file has been tested, same result.
webproxy_key.pem points to the private key.

Certificate paths is:
1. Our teleport server.
2. Let's Encrypt Authority X3
3. DST Root CA X3

curl says:
curl: (60) server certifica

[2016-09-22 10:19] leif-ohlin commented on #536
Created another teleport server for the lab at home - here it actually works.
Home lab runs 1.0.5, not working server runs 1.1.0.

openssl s_client -showcerts -connect FQDN:port

shows that the not working sever only sends the one certificate and not the chain.
I'll try installing the 1.0.5 version and check if this helps.

[2016-09-22 10:37] leif-ohlin commented on #536
Found the error. Sorry for wasting your time.
"someone" had added https_cert_file: directive to the teleport.yaml file. This stopped teleport from checking the links I made in /var/lib/teleport

[2016-09-22 10:37] #536 closed

[2016-09-22 17:19] klizhentas commented on #536
no worries, glad you've sorted it out! Thanks for using Teleport!

[2016-09-28 10:10] guanana opened #540 "Problems with auth server"
Hi,

I just receiving thousand of messages with as the below with different users

[code]

I don't know if is because of that but my server then remain stuck and I cannot login to any server.

One of this users is mine, and I'm completely I'm not trying to login with it. Also bit more information will help to know from where is originating the connection (to search if is some server not working pr

[2016-09-28 14:20] zbindenren opened #541 "Feature Request: lock and unlock user"
Would be a great feature to lock and unlock users with the command:

[code]

User still exists, but cannot login.

[code]

User can login again.

[2016-09-28 19:57] wjdavis5 opened #542 "-bash: ls: command not found"
Just set this up following the quick start guide. When accessing a node via the web terminal I get the following output:

[code]

Linux:
3.10.0-327.18.2.el7.x86_64
CentOS Linux release 7.2.1511 (Core)

Teleport v1.1.0 git:v1.1.0-0-ga2c7b3c

[2016-09-28 20:22] kontsevoy commented on #542
@wjdavis5 this is most likely fixed by #532. We'll push a new release out ASAP.

[2016-09-28 20:52] kontsevoy commented on #542
@wjdavis5 actually, you're probably running the latest. Can you please provide the output to `env` command? BTW feel free to reach out via info@gravitational.com, we can even do Google hangut to assist. Thanks.

[2016-09-28 21:44] josegonzalez commented on #423
Still willing to dig into this if there is a desire to support it from the core team.

[2016-09-29 04:11] anjanb opened #543 "windows binary ?"
hi there,

  I see that there are binaries for linux and mac. Today, windows can natively run docker applications. Why are you leaving out those of us who choose windows ? and those of us who are forced to use windows.

A lot of applications are developed for windows -- it should not be too difficult to port this to windows.

thank you very much,

[2016-09-29 06:57] halcy0n90 commented on #522
I can't use any of the Google service ! Fuck the Chinese Greatwall firewall !!

[2016-09-29 09:56] wjdavis5 commented on #542
BTW I created a symlink from /usr/local/bin/teleport /tctl to /usr/sbin
Output to env

[code]

[2016-09-29 10:00] wjdavis5 commented on #542
This does appear to fix the issue:

[code]

[2016-09-29 10:03] molovo commented on #514
I have tried creating a homebrew formula for teleport, but ran into a wall because the binaries are trying to access the `/var/lib/teleport` directory internally, and I couldn't find a way of changing this. Would be better if there was a way of moving this to `/usr/local/var/lib/teleport` (possibly with an environment variable) so that it can play nicely with homebrew (and then not need sudo for t

[2016-09-29 10:56] jakoch commented on #543
See #465 and #481

[2016-09-29 11:11] anjanb commented on #481
I'm more interested in the server. Many web application developers are getting used to using ssh given the cloud(and it's predominant os linux). If an enterprise developer wants to use ssh to login to their windows server, today, not many good(free/oss) options are available.

[2016-09-29 13:59] guanana commented on #542
Same problem

[2016-09-29 14:00] guanana commented on #541
👍

[2016-09-29 20:25] kontsevoy commented on #543
@anjanb You're correct, it _feels_ possible that's why we're keeping #481 open. Teleport has 3rd party dependencies on some libraries that don't run on Windows yet. We'll look into either contributing to them or swapping them for a more portable counterparts. Closing this one as a dupe

[2016-09-29 20:25] #543 closed

[2016-09-29 20:29] kontsevoy commented on #481
@anjanb I don't think server will be easy though... Teleport uses a lot of UNIX-land constructs to create a remote session. It doesn't mean we won't look into it, but my gut tells me it won't happen soon.

[2016-09-29 20:31] kontsevoy commented on #514
@molovo awesome, that will be easy to do. That location is configurable, perhaps we'll adjust the default behavior slightly. Quick q: can you drop a default `teleport.yaml` config file during installation? Where should Teleport look for it under brew?

Do you want to attach your formula to this ticket please? We also have community-submitted recipes for deb/yum, so hopefully we'll do them all at t

[2016-09-29 20:33] jcj83429 commented on #472
@alchar, @bibekaur, @jdahiya and I are university students and we will be adding U2F support to Gravitational Teleport for a computer security course project.

[2016-09-29 20:41] kontsevoy commented on #540
@guanana there's an email thread about this.

[2016-09-29 21:37] kontsevoy commented on #542
@wjdavis5 @guanana can you send your `/etc/login.defs` file to me please? Either here or via `ev@gravitational.com` and if you're sensitive you can encrypt it with my [PGP key](https://pgp.mit.edu/pks/lookup?op=get&search=0x32C4D95A79ED6F2F)

[2016-09-30 01:25] FartParty opened #546 "Duplicate UUID's in teleport"
I'm running into a really weird issue with 1.1.0.  I currently have teleport publish a ttl'd token every 10 minutes my ephemeral nodes can access and use to register with the cluster.  When I do this, however, I quite often run into two different instances that have the exact same teleport UUID.  When this happens, the nodes are only intermittently reachable in the cluster and they often look like

[2016-09-30 07:53] molovo commented on #514
Yeah, that would be easy. Is it worth including the YAML file in the archive itself though? I imagine most package managers could make use of this.

The safe way of looking for the location would be to run `$(brew --prefix teleport)/teleport.yml` which will return the path. On a standard installation this would be `/usr/local/opt/teleport/teleport.yml` but the prefix locatoin can be configured by

[2016-09-30 10:20] guanana opened #547 "Wrong url shows"
Hi,

When I create a new user from the auth server it display a url that is not correct. The server is only auth and we have another to be the proxy, instead the proxy host it shows the auth host

https://teleport-auth:3080/web/newuser/79ae1fc5acd2c26d10764178b02d0615

instead of

https://teleport-proxy-1:3080/web/newuser/79ae1fc5acd2c26d10764178b02d0615

If you change the url manually you can acc

[2016-09-30 10:23] guanana commented on #542
[code]
Just default config for:
[code]

[2016-09-30 10:33] guanana commented on #540
The problem is getting worst, I cannot login a lot of servers with my user even I could before. I just recreate it and is still showing some weird errors plus now I'm seeing on the log errors about cannot find some files:

[code]

I restart the whole server and the service and also increase the resources but not luck for now

[2016-09-30 11:24] mefju commented on #542
The same problem with: `CentOS Linux release 7.2.1511 (Core) `

[2016-09-30 12:21] wjdavis5 commented on #542
@kontsevoy I've emailed you my file and key for verification. Thank you for taking a look, and thank you for giving me an excuse to exercise my PGPfu!

[2016-09-30 12:57] wjdavis5 commented on #488
@klizhentas  You may consider reopening this or linking an update to the documentation to this issue. The docs instruct people to use a git clone for this report after setting up go and trying to build from there. It should probably instead tell people to use `go get github.com/gravitational/teleport` and then use make from the resulting directory.

[2016-09-30 13:06] wjdavis5 opened #548 "Build from src instructions"
I tried to follow the instructions to build from src.

1. Download go
2. Setup go, verified GOPATH was correct, all good there
3. Clone repo into $GOPATH/gravitational/teleport
[code]
4. cd teleport
5. make
6. Errors upon errors about missing dependencies. (below)

I rode the struggle bus for a while. Once I tried `go get github.com/gravitational/teleport` and built it from the resulting `$GOPATH/

[2016-09-30 14:17] guanana commented on #540
Also I don't know if it will be useful to diagnostic the problem I have so many open sockets for Teleport instance.

Also the check tool is starting complaining about time-out checking the port status (and took ages to login into the proxy)

[code]

Currently we have just 19 nodes and from a fresh restart it start with 143 connections open. I don't know if it is a problem handling the sockets conn

[2016-09-30 15:50] guanana commented on #540
Okay, I discover the main proxy was the issue, restarting this server seems to solve the issue (I will be monitoring the solution).

I guess that better message errors will help on the future to really debug what is happening. I get all the symptoms in one server but it was just another one that has the problem (happily for me I just have 3 proxies).

I'm still not knowing what caused the problem

[2016-09-30 15:50] #540 closed

[2016-09-30 16:00] klizhentas commented on #540
@guanana it will help us a lot if you find the way to reproduce the issue on our environments

[2016-10-01 17:54] #548 closed

[2016-10-02 00:32] painhardcore commented on #481
i've interested.Windows 10 have some kind of unix shell.

[2016-10-02 12:21] guanana commented on #514
I created a pull request with one script to create the RPM package, you just need to call it after the binary compilation. It generate automatically the SPEC file, untar and tar again the tarball with the expected structure and call the rpmbuild. Also I provide with the package a basic init.d and systemd scripts (check the system and install the proper one), also a basic teleport.yaml and post ins

[2016-10-02 23:18] kontsevoy commented on #547
@guanana `teleport-auth` is the hostname that gets detected and suggested by default. In reality there is no way of knowing for sure what DNS points to, so the `tctl` tool tries to suggest something useful, but ultimately (and this is reflected in the documentation) users need to know the hostnames their proxies are running on.

[2016-10-02 23:20] kontsevoy commented on #546
@FartParty how do instances get added? Are you using any kind of disk imaging in your workflow? Host UUID is stored in `/var/lib/teleport/host_uuid`. Perhaps you're re-using pre-existing `/var/lib/teleport` somehow when adding new nodes? (maybe via AWS AMI or similar method)

[2016-10-02 23:22] kontsevoy commented on #481
@painhardcore we're looking into it. Right now the issue is that some 3rd party libraries teleport is using. They don't compile on windows.

[2016-10-02 23:22] kontsevoy commented on #472
@jcj83429 awesome! Thanks for your help.

[2016-10-02 23:24] kontsevoy commented on #514
@molovo can you please add the brew stuff with some instructions into `build.assets/pkg/brew`? @guanana just added rpm stuff in there, so we'll try to integrate native package building into our release process for the next version.

[2016-10-02 23:24] kontsevoy commented on #542
@wjdavis5 we're on it, thanks!

[2016-10-02 23:37] guanana commented on #547
That I meant is not the name, is the port number

On Mon, 3 Oct 2016, 00:18 Ev Kontsevoy, <notifications@github.com> wrote:

[2016-10-03 12:58] itsnotvalid commented on #481
I think the most important part is to export an ssh-agent for windows, much like plink (of PuTTY) does for ssh.

[2016-10-03 19:24] ChrisRovers opened #553 "tsh on MacOS crashes with segmentation fault"
Trying out teleport - the teleport nodes are all elsewhere, but using tsh on my MacBook.  I am using 'Teleport v1.1.0 git:v1.1.0-0-ga2c7b3c' (the released version).  Connection works fine, I am working for awhile, then :

dial tcp <nodeip>:3025: getsockopt: connection timed out
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1

[2016-10-03 20:31] ChrisRovers commented on #553
A self-built checkout crashes in the same way...

[2016-10-04 01:18] klizhentas opened #554 "standalone SSH/Proxy mode"
## Description

When loosing connection to the auth server, it would be very helpful if SSH Node and SSH Proxy will continue functioning using local copy of the data.

Right now every auth attempt causes SSH server to connect to auth server:

### SSH Node:

https://github.com/gravitational/teleport/blob/master/lib/srv/sshserver.go#L369

I suggest instead, here use local backend copy and sync this

[2016-10-04 12:25] thorerik commented on #522
@halcy0n90 TOTP isn't a google service, it's just populary named after Google's authentication scheme which uses TOTP, it's standardized under RFC 6238 and is completely offline(if you don't count NTP).

[2016-10-06 00:47] FartParty commented on #546
@kontsevoy I double checked and there is no data that exists in `/var/lib/teleport` when we see duplicate uuid's.  For the time being we have a workaround where new nodes generate their own host_uuid file and then join the cluster using the token.

[2016-10-06 17:31] klizhentas opened #556 "Enforce idle timeout in proxy transport"
## Description

We recently found a bug on a client side that affected this function:

https://github.com/gravitational/teleport/blob/master/lib/reversetunnel/agent.go#L225

In essense, clients to reverse tunnel were leaking connections never closing them. Techincally this is a fault of a client, however we should limit the number of client connections opened via this function and terminate the co

[2016-10-06 17:59] #475 closed

[2016-10-07 09:54] guanana opened #557 "Missing session cookie"
I'm having a weird issue, when I connect to the proxy webpage in the proxy logs I receive this message

[code]

Also when I restart the server

[code]

[2016-10-07 12:08] guanana opened #558 "Copy and paste"
Hi,

I don't know if is something you can change on the behavior but for some day-a-day operations is a real nightmare not having the copy and paste as you normal do on terminal. Can you make something to change that?

[2016-10-07 17:45] kontsevoy commented on #558
@guanana You mean in the web UI?

It's documented here:
http://gravitational.com/teleport/docs/user-manual/#web-ui

[2016-10-07 17:45] #558 closed

[2016-10-07 17:50] kontsevoy commented on #557
Do you have cookies enabled in your browser? This is expected behavior and happens when:

a) Your browser session has expired.
b) Your browser cookies are disabled.

In case a) you're supposed to re-login.
In case b) you need to turn on the cookies.

[2016-10-08 02:15] kontsevoy commented on #546
@FartParty we've made an honest effort to reproduce it in many different ways, and so far we're failing ;)

Here's an idea:
Can you confirm that you end up with two machines with identical `/var/lib/host_uuid` file? Thank you for the help!

[2016-10-08 02:20] kontsevoy commented on #547
@guanana `tct` reads that port from `/etc/teleport.yaml` by default. If you have another config file, you have to use `tctl --config another-config-file.yaml` when adding users.

[2016-10-08 02:20] #547 closed

[2016-10-09 17:57] #542 closed

[2016-10-09 17:57] #553 closed

[2016-10-11 17:39] apestel commented on #478
As a MSP it could be awesome, based on tags, to allow a customer to access temporarly to its own cluster.

[2016-10-11 21:46] kontsevoy commented on #478
@apestel agreed. it's (tentatively) in the works!

[2016-10-13 12:28] wjdavis5 opened #567 "Streamline adding nodes"
Currently adding nodes requires a bit of manual intervention. Given that we use AWS where machines are very transient it would be exceptional if we could automate this process. It would be possible via some shell scripting, but it would be nice if these were a part of the app. I'm thinking a couple of scenarios

1. When I'm at the console for one of our main teleport servers and want to add a new

[2016-10-13 15:28] etorri opened #568 "interactive ssh does not have session with logind or wtmp"
Hi, testing teleport and noticed that the interactive tsh/ssh session is not registered with loginctl/wtmp. In other words, when connected with "tsh ssh" to a node as user "testuser", I do "who" or "loginctl" I see other sessions but not one of "testuser".

I couldn't figure out how the interactive session is built at the node side in the code so no idea where the problem might be.

In same  syste

[2016-10-13 19:42] kontsevoy commented on #568
Note: need to add utmp support.

[2016-10-13 19:46] kontsevoy commented on #567
@wjdavis5 you should be using "static tokens". They do not require `tctl` at all. Maybe we need to make them more visible in a documentation?

http://gravitational.com/teleport/docs/admin-guide/#adding-nodes-to-the-cluster -> scroll to "static tokens".

Also the master branch has [examples](https://github.com/gravitational/teleport/tree/master/examples/local-cluster) directory where you can see a

[2016-10-13 19:47] kontsevoy commented on #567
we should rename the label from "user-error" to "documentation-needs-improvement" :)

[2016-10-13 21:33] wjdavis5 commented on #567
Ok so I'll walk through that bit of documentation:

 I read this and dont understand how it fits my use case. We dont have a CA at all, so that is confusing. We are using AWS Opsworks and some aws-cli scripting to create / destroy machines as needed. I want a new machine to come online, have teleport auto-magically installed, and join my cluster.

Now that I've re-read it a few times I think maybe

[2016-10-13 23:06] kontsevoy commented on #567
@wjdavis5 bingo, that's exactly the workflow we use internally. Debian/RHEL packages are in the works, BTW - they're in the source tree (from an OSS contributor) but we need to QA and incorporate them into the builds.

We'll update the docs, then I'll close this issue. Thanks!

[2016-10-14 02:10] jcj83429 commented on #472
For U2F login, would it be acceptable for the authentication to fail before requesting a signature from the U2F key if the password entered is incorrect or should we wait until we get a signature from the U2F key before we announce whether the password was correct?

[2016-10-14 02:43] Omeryl commented on #472
Failing before the token is the pattern of Google, etc. so I think it's fine.

[2016-10-15 22:59] klizhentas opened #569 "Failed to announce presence logs are too verbose"
[code]

[2016-10-17 01:51] #569 closed

[2016-10-17 04:24] kontsevoy commented on #557
@guanana ping me!

[2016-10-17 04:24] #557 closed

[2016-10-17 04:25] kontsevoy opened #571 "Bindings are not preserved"
`tctl users add` does not add account bindings. This appears to be regression on the master branch.

[2016-10-17 04:31] kontsevoy commented on #571
Invalid: I wasn't calling `tctl` directly, I was using a self-made buggy shell wrapper which "lost" the last CLI parameter.

[2016-10-17 04:31] #571 closed

[2016-10-17 04:48] Malayke opened #572 "Invalid data directory: '/var/lib/teleport'"
I add user got some error, and do not understand why show this error.

[code]
In another terminal:

[code]

OS: Ubuntu 16.04.1 LTS
Kernel: Linux ubuntu 4.4.0-42-generic #62-Ubuntu SMP Fri Oct 7 23:11:45 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Where am I wrong? Who knows how to solve this problem?

[2016-10-17 04:50] kontsevoy commented on #554
After two weeks at trying to implement this, here's the verdict:

1. Yes, it is possible to continue running all proxies and nodes if the auth is down.
2. It is not possible to survive a cluster reboot if all auth nodes are down, because the auth keeps too much state and duplicating it on the clients side is very, very costly. (this is not true for nodes, but definitely true for proxies)

There wi

[2016-10-19 04:07] kontsevoy commented on #572
@Malayke looks like you're trying to run `tctl` on a machine without teleport auth running. See what [the docs](http://gravitational.com/teleport/docs/admin-guide/#adding-and-deleting-users) say:

[2016-10-19 04:07] #572 closed

[2016-10-19 04:15] #567 closed

[2016-10-19 04:16] kontsevoy commented on #567
@wjdavis5 see the changes we've made to the documentation [here](https://github.com/gravitational/teleport/commit/13088c0fe8a275c5adaa293124bfbcca4acf186a)

[2016-10-19 04:17] kontsevoy commented on #546
@FartParty I am going to mark this as `user-error` for now, since we're unable to reproduce it (and not for the lack of trying!) but we'll keep it open for a while waiting for someone else to provide more info.

[2016-10-19 04:19] kontsevoy commented on #447
After half a year of sitting here it looks more like one (one of many!) potentially useful code refactorings, so I'll close it to keep the issue tracker tidy.

[2016-10-19 04:19] #447 closed

[2016-10-20 21:22] kontsevoy opened #578 "Add login profiles to TSH"
`tsh` takes a lot of parameters to connect to machine. It would make Teleport much easier to use if `tsh` could remember the last used cluster and/or connection parameters.

Here's what users do today using bash tools like aliases:

[code]

would be nice if `tsh` could support this natively.

[2016-10-21 13:53] adilsond opened #579 "Permission denied (publickey) with OpenSSH client"
Hello.

I have installed teleport at work because it is a very interesting and safe solution for acessing the servers. I have only one problem: Not everyone has access to the web interface or the tsh client. So I follow the instructions from [the admin guide](http://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh) to access the server with the openssh client.

The cluster

[2016-10-21 21:03] coreywagehoft commented on #546
I am using disk imaging in my work flow.  Is there a good way to generate a new UUID?

[2016-10-21 21:42] klizhentas commented on #546
Ev will correct me if I'm wrong, but should be as easy as:

[code]

[2016-10-21 23:42] kontsevoy commented on #546
I would say that `/var/lib/teleport` (AKA "data dir") is not supposed to be shared between different Teleport nodes. The recommendation would be to wipe out that directory after "image restore" operation.

Even doing `uuid -v4` isn't necessary, simply deleting this file will force Teleport to create a new one.

[2016-10-21 23:45] kontsevoy commented on #579
@adilsond let us try to reproduce. will be back to you asap.

[2016-10-22 00:08] kontsevoy commented on #578
lets do this:

[code]

[2016-10-22 00:09] coreywagehoft commented on #546
Ok thanks for the clarification!  Should not be a problem for me to do that on a startup.  Great product to far!

[2016-10-22 17:22] kontsevoy opened #580 "Conditional compilation for Teleport features"
Some Teleport features (like DynamoDB) are great, but rarely used. To reduce number of 3rd party dependencies and keep Teleport core lightweight, we need compilation feature flags to turn these things on/off.

[2016-10-22 17:22] #546 closed

[2016-10-23 06:06] jchauncey opened #582 "documentation issues"
`Users of main user --cluster=cluster-b flag of tsh tool if they want to connect to any nodes of cluster-b.`
Should be `Users of main use --cluster` (Found in the trusted clusters section)

Here - http://gravitational.com/teleport/docs/admin-guide/#high-availability-and-clustering
`Install etcd and configure peer and client TLS authentication using etcd security guide.`
The link to the etcd securi

[2016-10-23 21:35] kontsevoy commented on #582
@jchauncey thanks! fixing...

[2016-10-23 22:01] #582 closed

[2016-10-23 22:07] #578 closed

[2016-10-23 22:12] #554 closed

[2016-10-24 05:24] kontsevoy commented on #499
Closed (in master)

[2016-10-24 05:24] #499 closed

[2016-10-24 05:47] jchauncey opened #586 "Web asset dir should be configurable"
https://github.com/gravitational/teleport/blob/3bacc4f020f799394caf1c55162398bab82286b1/lib/config/configuration.go#L676

[2016-10-24 06:48] kontsevoy commented on #586
@jchauncey web assets are going away in the next release. they are going to be served directly from the binary. Can I close this?

[2016-10-24 06:50] kontsevoy commented on #580
Added this for Dynamo backend.

[2016-10-24 06:50] #580 closed

[2016-10-24 13:03] Essque opened #588 "Invalid session ID"
Hi there,

I'm trying to set up a teleport PoC but I've run in some issues. Teleport v. 1.2 binary install.

[code]

I can connect over the web interface, but I get no prompt.
A `touch /var/lib/teleport/log/sessions/33784699-99e9-11e6-9899-06af946c6319.session.log` didn't help.

Any ideas?

[2016-10-24 17:09] kontsevoy commented on #588
@Essque it's a bit unclear what you're trying to do. Looks like you want to see a session replay for a session which does not exist.

[2016-10-25 18:24] jchauncey commented on #586
Yup :)

On Oct 24, 2016 2:48 AM, "Ev Kontsevoy" <notifications@github.com> wrote:

[2016-10-25 18:26] #586 closed

[2016-10-25 20:02] jchauncey opened #590 "Having issues getting node to join cluster"
[code]

It repeats this message a few times and then it stops the process for good.

I ran `tctl nodes add` on my auth host and got the token. I then added that token to my `teleport.yaml` for the node I am trying to add. I made sure that 3025 and 3022 are open in the security group for the node i am trying to add (although I dont think i need 3025 open). So I am definitely missing something.

I a

[2016-10-25 20:38] jchauncey commented on #590
If i try and run teleport directly -

[code]

[2016-10-25 21:29] kontsevoy opened #591 "Correct the commit author for DynamoDB"
During DynamoDB backend merge `apestel`'s commits got recorded as Ev's. Rewrite commit history to properly record apestel's contribution.

[2016-10-26 04:09] jchauncey commented on #590
Nuked `/var/lib/teleport` and it works now

[2016-10-26 04:22] jchauncey opened #592 "[UX] tsh login should allow bypassing --proxy"
Scenario: I'm starting my day one of the first things I would do is `tsh login --proxy=my-proxy-host --user=myuser`

Expectation: I expect subsequent commands such as `tsh ls` or `tsh clusters` to use the proxy I specified above and not need  me to specify it again.

Am I wrong in expecting that to be true?

[2016-10-26 04:25] jchauncey commented on #592
Furthermore, because my laptop username does not match the username I created I have to specify `--user` for all commands.

At that point why even bother using `tsh login`

[2016-10-26 04:25] #590 closed

[2016-10-26 04:44] jchauncey commented on #592
Also looks like when I do `tsh ls` no matter what i pass in for `--user` it uses my laptop username which isnt right.

[code]

[2016-10-26 04:48] klizhentas commented on #592
@jchauncey try `tsh --login` to set remote host login, most likely that's the remote server does rejecting the connection

[2016-10-26 05:02] jchauncey commented on #592
Whats the value for `--login`? The auth host?

[2016-10-26 05:07] klizhentas commented on #592
the login name on the host

[2016-10-26 05:18] jchauncey commented on #592
I dont get it. Why would I want to pass in `--login` for the `ls` command? I'm not wanting to login to a host just list all nodes that are possible to ssh into.

[2016-10-26 06:01] nmaki opened #593 "Multiple auth servers in config doesn't work if the last on is not reachable."
I have multiple auth servers listed in my config file. Not all the auth servers are necessarily up so I would expect the service to loop through all the listed auth servers until it can connect to one. I'm only seeing it attempt to connect to the last one though. Lets say I have the following config.
`auth_servers:
        - 10.1.0.2:3025
        - 10.1.0.3:3025
        - 10.1.0.4:3025
        - 1

[2016-10-26 06:13] klizhentas commented on #593
@nmaki Can you show what's in the authservers.json file in `/var/lib/teleport`?

[2016-10-26 06:19] kontsevoy commented on #592
@jchauncey **exactly** what you're asking for has been implemented and it's called "user profiles". New versions of `tsh` do not require subsequent `--proxy` flags.

It's already in master branch. You can `git clone` the repo and type `make tsh` to get yourself a nicer `tsh` version.

Let me know if that works.

[2016-10-26 06:21] #592 closed

[2016-10-26 06:21] kontsevoy commented on #592
Dupe of #578 (and it's done already)

[2016-10-26 06:25] klizhentas commented on #592
@jchauncey, to follow up on your question - If I remember it correctly, you have to supply "login" to SSH connection that matches one of the principals listed in the SSH certificate, so even if you are not technically creating interactive session, you still have to set the proper match, slightly annoying, but set by SSH proto/auth model.

[2016-10-26 06:32] kontsevoy commented on #591
@klizhentas FYI: done (it's an open PR now).

[2016-10-26 06:32] #591 closed

[2016-10-26 12:52] jchauncey commented on #592
@kontsevoy thanks I'll do that

[2016-10-26 13:33] nmaki commented on #593
@klizhentas there is not authservers.json in the folder /var/lib/teleport. The node has not joined a cluster yet.

[2016-10-26 14:31] jchauncey commented on #592
alright rebuilt tsh from master but i still have this problem -

[code]

[2016-10-26 14:54] jchauncey opened #594 "Teleport starts all services even if no config is specified"
So I tried to start a node with just ssh_service but for some reason it is also starting auth and proxy too. It feels like that should not happen.

[2016-10-26 15:31] nmaki commented on #593
It looks like this line might be the culprit?

https://github.com/gravitational/teleport/blob/5a0e0616f426a3b8f6a60b786ac9dfddb7c0e238/lib/config/configuration.go#L138

[2016-10-26 17:32] klizhentas commented on #594
@jchauncey can you show your config file?

[2016-10-26 17:35] jchauncey commented on #594
[code]

[2016-10-26 17:40] klizhentas commented on #594
@jchauncey I think it's just a UX issue, try adding this:

[code]

[2016-10-26 17:40] jchauncey commented on #594
k

[2016-10-26 17:44] jchauncey commented on #594
Yeah I would assume me having to do

[code]

Meant that leaving it out of the yaml would make it disabled. Seems like thats what most people would expect too

[2016-10-26 17:50] kontsevoy commented on #594
agreed. a missing section should default to "enabled=no".

[2016-10-27 00:12] jchauncey opened #599 "teleport unable to bind to 3025"
It seems that when you start teleport it expects the auth_service to be running -

[code]

[2016-10-27 00:12] jchauncey commented on #599
Nothing is listening on that port and teleport isnt running either -

[code]

[2016-10-27 21:44] kontsevoy commented on #593
Closed by #597 (thanks @nmaki)

[2016-10-27 21:44] #593 closed

[2016-10-27 22:00] kontsevoy commented on #599
@jchauncey the documentation covers this well. A Teleport system is composed of 3 roles: auth, proxy and node. You cannot run a node by itself. Do you have the auth server on `publicip`?

[2016-10-27 22:02] jchauncey commented on #599
Yes this started when I set auth_service enabled to false. The auth server
is bound to all interfaces and is listening. And this node has joined the
cluster before.

On Oct 27, 2016 6:00 PM, "Ev Kontsevoy" <notifications@github.com> wrote:

[2016-10-27 22:04] kontsevoy commented on #599
so what is your question, sorry I'm a bit lost. you're basically describing how it's supposed to work and not asking any questions or stating any problems ;)

[2016-10-27 22:07] jchauncey commented on #599
It appears that teleport is expecting there to be a locally running auth-server. Notice how the bind address is for the local node and not the one i specified in the command. It never even attempts to connect to my remote host.

[2016-10-27 22:09] kontsevoy commented on #599
What do you mean "never even attempts". It does, and it gives you an error which you pasted here:

[code]
That's the node trying to connect and failing. Does `publicip` resolve to `10.0.0.115`?

[2016-10-27 22:10] jchauncey commented on #599
No they are 2 separate hosts

On Oct 27, 2016 6:09 PM, "Ev Kontsevoy" <notifications@github.com> wrote:

[2016-10-27 22:12] kontsevoy commented on #599
can you do specify the auth server by its IP? Looks like `publicip` doesn't resolve correctly somewhere.

[2016-10-27 22:12] jchauncey commented on #599
That's why I said remote host.

[2016-10-27 22:13] jchauncey commented on #599
I don't want to give out the public IP of my auth server on github so I redacted it

[2016-10-27 22:15] jchauncey commented on #599
I supply the actual up with the command

[2016-10-27 22:16] kontsevoy commented on #599
so, no matter what IP you're using with `--auth-server` it always tries to connect to `10.0.0.115`, is that the problem here?

if so, do you have `/etc/teleport.yaml` as well? Can you post it here plz? Thanks.

[2016-10-27 22:18] jchauncey commented on #599
Yes that's the problem.

[code]

[2016-10-27 22:18] jchauncey commented on #599
I've redacted the public IPs in the yaml

[2016-10-27 22:24] jchauncey commented on #599
This yaml is from my other issue the only changes are to disable proxy and auth

[2016-10-27 22:25] kontsevoy commented on #599
that's a node's yaml or auth server's yaml?

[2016-10-27 22:27] kontsevoy commented on #599
you should remove `advertise_ip` from it. you're telling the node to "become" someone else.

[2016-10-27 22:30] jchauncey commented on #599
But shouldn't I need to tell the auth server how to reach me? Or is the communication only 1 way from the node to the auth server?

[2016-10-27 22:31] kontsevoy opened #600 "Add a plug-in system"
Teleport is easy to extend by implementing various interfaces, but we need a _standartized_ way to add optional functionality.

Something like `contrib` package with a simple "must implement" interface everyone would use. When done, move DynamoDB to this design.

[2016-10-27 22:35] kontsevoy commented on #599
1 way. The auth server does not connect to anybody, it only exposes "cluster API" with everyone else connecting to it.

"advertise_ip" is for nodes telling everyone that they can be reached by a non-obvious IP (maybe as a result of a custom route or NAT). Imagine you have a node with IP of `10.0.1.6` which also happens to be reachable via `10.100.1.10`. Then you could set `advertise_ip=10.100.1.10

[2016-10-27 22:35] kontsevoy commented on #599
Did this help? (removing advertise ip option)

[2016-10-27 22:36] jchauncey commented on #599
I'll try it tonight but I think it makes sense. It is definitely confusing

[2016-10-27 22:37] kontsevoy commented on #599
@jchauncey it's a rarely used option, no doubt, and we've internally had debates on either we should document it _at all_ :)

[2016-10-27 22:44] kontsevoy commented on #599
@jchauncey let us know! I am marking it as "documentation" issue for now.

[2016-10-28 02:00] jchauncey commented on #599
commenting out the `advertise_ip` doesnt seem to help.

Now I'm getting the error with the private ip - `Oct 28 01:59:29 ip-10-0-0-115.ec2.internal teleport[11295]: dial tcp 10.0.0.115:3025: getsockopt: connection refused`

[2016-10-28 02:01] jchauncey commented on #599
[code]

[2016-10-28 02:02] jchauncey commented on #599
so i get teh same error if i try to start it by hand and if i use systemd

[2016-10-28 19:21] kontsevoy commented on #599
@jchauncey this is puzzling. Do you mind if we do Google hangout with screen sharing to troubleshoot this? Today any time in the afternoon PST would be good.

[2016-10-28 19:33] kontsevoy commented on #599
@jchauncey another idea: can you do `rm -f /var/lib/teleport/authservers.json`?

[2016-10-31 15:28] kontsevoy commented on #599
@jchauncey we were able to re-create this condition. This is how we did it:

- started using Teleport on a single node.
- this created /var/lib/teleport/authservers.json (cache file)
- moved the auth server to a different node, but failed to configure it properly (connecting to it did not work)
- this leads to confusing errors in the log, as the node will keep trying to connect to localhost becaus

[2016-10-31 15:38] jchauncey commented on #599
It may be a while before I am back on this. If you want to close the issue
for now I'll circle back to it in a few weeks once Im able to devote some
time to it.

On Mon, Oct 31, 2016 at 11:28 AM, Ev Kontsevoy <notifications@github.com>
wrote:

[2016-11-01 18:30] #588 closed

[2016-11-02 18:45] albertog opened #602 "question?"
can you connect a node host to proxy host in other diferent network ? if itis false can I have a proxy connected with several proxies ?

[2016-11-02 21:15] prashanthellina opened #603 "tsh says self-signed cert despite it being a CA signed cert"
I set up teleport (v1.2 on Ubuntu 16.04) as per the documentation. I also purchased a CA certified SSL certificate from Thawte and configured the same.

When I visit port 3080 in Google Chrome, the browser accepts the certificate (indicates by showing a green lock icon in the URL bar).

However, when I try to use tsh, I get the following
[code]

What do I do to overcome this?

[2016-11-02 23:04] klizhentas commented on #603
@prashanthellina are you connecting to proxy via IP? if this IP is not in the cert (which is likely so), you wil still get the warning. If you set `--proxy` to connect to DNS name instead that is valid, the warning will most likely disappear.

[2016-11-02 23:05] prashanthellina commented on #603
@klizhentas I am already contacting the proxy using a domain name. When I tested using `tsh` and browser access to port 3080, in both cases, I used the same domain name.

[2016-11-02 23:07] klizhentas commented on #603
can you post the tsh command featuring proxy flag?

[2016-11-02 23:08] prashanthellina commented on #603
[code]

[2016-11-02 23:16] klizhentas commented on #603
can you add `--debug`?

[2016-11-02 23:17] prashanthellina commented on #603
[code]

[2016-11-02 23:41] klizhentas commented on #603
so looks like it's generally not happy with the certificate for some reason, what happens if you

[code]

[2016-11-02 23:42] prashanthellina commented on #603
[code]

[2016-11-02 23:48] klizhentas commented on #603
does not look like a right response to me, can you verify your configuration?

[2016-11-02 23:53] prashanthellina commented on #603
I thought I screwed up somewhere in the proxy config and that is why I tested in the browser which seems happy. I am sure I made some mistake in the config but it isn't obvious to me. I'm pasting it below (removing all sensitive stuff).

[code]

[2016-11-03 00:00] klizhentas commented on #603
@prashanthellina just guessing, may be you did not append intermediates to the cert or something like that?

[2016-11-03 02:00] prashanthellina commented on #603
@klizhentas I went back and checked the details I received from the CA and this is exactly the case! after appending the intermediate keys to the cert, the issue went away. I am sorry for wasting your time. Thank you.

[2016-11-03 02:00] #603 closed

[2016-11-03 02:02] klizhentas commented on #603
no worries, I'm glad we have sorted it out!

[2016-11-03 20:48] klizhentas opened #604 "tsh profile issues"
## Description

Here are some of the issues we've found with new config profiles:

* `tsh scp` does not use proxy and tries to connect directly
* `tsh ls` does not use `--login`, so you have to supply `tsh --login=root ls`, same for `tsh clusters` command.

[2016-11-03 22:10] kontsevoy commented on #602
@albertog yes you can. but you'd need two proxies (one for each network).

It will look something like this:

[code]
... and you can connect from [node-a] to [node-b] using this syntax:

[code]

This feature is called "trusted clusters" and is covered here:
https://gravitational.com/teleport/docs/admin-guide/#trusted-clusters

[2016-11-03 22:10] #602 closed

[2016-11-04 02:51] kontsevoy opened #606 "`tsh scp -r` does not handle directory upload properly"
## Problems

This appears to be a regression.
Run this command (upload `lib` directory to a remote node):

[code]
It's supposed to upload `lib` directory as `~tmp/lib` on the remote node. instead, of copies _contents_ of `lib` into `~tmp/`.

## Misc

Also, when uploading large directories you don't get per-file progress, like with OpenSSH. Teleport simply says `giant directory uploaded` at the end

[2016-11-04 06:09] #604 closed

[2016-11-04 06:11] #606 closed

[2016-11-07 18:58] tylerdurden0306 commented on #572
Im running into the same issue here and just like in the screenshot it says this when I start teleport:

_[AUTH]  Auth service is starting on 0.0.0.0:3025_

When I run the command like you suggest it just hangs. Is there something else we are missing?

[2016-11-14 20:41] leif-ohlin opened #610 "Documentation error."
Hello.

In your admin guide:
https://github.com/gravitational/teleport/blob/master/docs/admin-guide.md
and
http://gravitational.com/teleport/docs/admin-guide/

In your examples for setting up trusted clusters you have two different ways to do it.
Once you put in under the proxy_service heading - which is wrong.
and once you put it under the auth_service heading - which works much better.

[2016-11-14 22:18] leif-ohlin opened #611 "tsh agent with --cluster"
Hello

First the setup:
One "main" cluster - publicly accessible IP, full stack of teleport services.
Several other remote nodes, behind NAT. Each remote node is actually a full cluster as well. Each node is on a different NATed network, at different sites. Not accessible from the internet, but with access to the internet and thus to the main cluster.
Trust is setup from the remote nodes to the ma

[2016-11-16 23:01] betabrain commented on #308
Hello! I am also looking for something with the security features of teleport AND the _business-compatibility_ of GUI sessions - mainly because there is Windows involved as well as Windows users.

I agree that using teleport to start vnc servers to circumvent teleport is a bad idea, hence I am more arguing along the lines of X11 support. There is a maintained [X11 server for Windows](http://www.st

[2016-11-17 01:13] kontsevoy commented on #308
Yes, X11 can be captured and replayed, but I'd guess the complexity of replaying X11 is comparable to implementing a lightweight X server. This definitely lies outside of our current focus for Teleport.

[2016-11-18 04:31] #512 closed

[2016-11-18 04:40] #556 closed

[2016-11-18 04:51] kontsevoy commented on #611
@leif-ohlin this appears to be a bug. Thank you for reporting!

[2016-11-18 04:54] #610 closed

[2016-11-18 04:54] kontsevoy commented on #610
Thank you @leif-ohlin

[2016-11-19 15:23] rossedman opened #613 "Node Join Issue"
Hello,

I am having problems with nodes joining the auth server. I am using static tokens. It appears the auth server is accepting the token but the servers are still failing to join saying the "token does not allow the Node role".

I am sure I am misunderstanding something but any help would be appreciated.

Here is the systemd output from the node

[code]

Here is the systemd output from the aut

[2016-11-22 18:35] qzaidi opened #614 "Password Policy"
If we want to comply with certain password policy requirements over min length and alphanumeric characters, would CreateUserWithToken be the right place to add it, and would you accept a pull request for the same?

[2016-11-22 18:41] qzaidi commented on #614
Oops - my bad, I see you already have min and max password length in defaults.

[2016-11-26 01:28] faddat opened #619 "static.go"
FATA[0000] zip: not a valid zip file                     file=web/static.go:107

This is after building teleport myself.  it works with the binaries.  Assume build directions are the issue.

[2016-11-26 22:52] klizhentas opened #620 "RBAC Design Doc"
Multiple users expressed interest in adding more fine-grained authorization to the Teleport.
This document is a proposal for RBAC - role based access control.

## Current State

The Teleport user identity is stored in a certificate as KeyID field and `AllowedLogins`. And the SSH login (AKA "OS login") this user is allowed to assume is translated to `Valid Principals` in the SSH certificate for SSH

[2016-11-29 09:41] dali-bcg opened #621 "OpenID authentication in auth server with AzureAD failing"
Hi,

I attempted to use the AzureAD OpenID endpoints for authentication (I still called it google in the auth server settings) but it fails with the following message :
`{"message":"OAuth2 error code=unsupported_response_type, message=unable to verify auth code with issuer"}`

I think I am hitting a bug that is already resolved in the coreos/go-oidc package with this PR (https://github.com/coreos/

[2016-11-29 15:50] code-ape commented on #423
I'd be interested in this feature. Along with perhaps integrating Hashicorp's Vault to secure the data that's stored. No idea how complex of a feature this is but I'd be willing to contribute some to see this happen!

[2016-11-29 22:43] klizhentas commented on #621
thanks for digging in to a point of referring to a specific bug! we'll revendor oidc library in the upcoming release

[2016-11-29 23:45] klizhentas commented on #620
Adding internal review notes here:

1. Merge `allowed_logins` and `permissions`

It makes sense to make `allowed_logins` to be just a permission object:

[code]

This will allow to unify permissions management and will spare us from extra property

2. Create auto-generated role per user that is always created when user is migrated/created. Local users can be assigned to one or many roles. E.g. for

[2016-11-30 00:52] tehsis opened #623 "Allow displaying a different label for a provider"
I want to be able to use Teleport with a different user provider than Google (auth0 in this case)

The current implementation actually allows this but it will show "using google" in the UI.

My proposal is to add a field to oidc configuration that allows to set this label to a friendly name for the connection (and use the id to identify it)

I have created the PR #617 with a proposed implementatio

[2016-11-30 01:06] tehsis opened #624 "Automatically create a teleport user when using OIDC"
It would be nice if you are not forced to create a Teleport user when using OIDC.
i.e. If the provider verifies the user correctly, then you should be able to log into Teleport.

This way you can manage users completely from the provider without having to re-create each provider user in Teleport.

My first attempt to accomplish this is to create the user in Teleport if it's not found using a new c

[2016-11-30 01:33] klizhentas commented on #624
I think we are going to address this problem in the context of #620 - check out it's comments for details on how are we going to provide mapping from OIDC claims to Teleport roles.

In some cases there's no need to have a local user entry, and I think your use case is very similar. Let me know if the proposed design doc fits your use-case.

[2016-11-30 01:43] klizhentas commented on #623
this proposal and PR looks good to me, I will wait for the review of our UI team and we will merge your PR

[2016-11-30 15:29] tehsis commented on #620
It certainly does. Not having to create the user in Teleport is way better than my approach.

Are you already working on this? is there some wip I can take a look at? is there an estimated time for this to land in master?

[2016-11-30 15:42] tehsis commented on #624
It certainly does.
I think that not having to maintain an user on Teleport when using OIDC is a must.

Is there some estimate for this task? Are you already working on it? Is there some WIP I can take a look on? Thanks!

[2016-11-30 19:15] jeremyd opened #625 "login with oidc okta error"
I'm trying to hotwire the SSO to use okta instead of google. I created a user following the guide about google.  I used the id:google to try to trick it into working.  I used this configuration:

[code]

I'm getting this error when attempting to login via oidc.  Any idea if this might be easily fixable?  Tried a few different settings on the okta side but to no avail.

[code]

[2016-11-30 19:57] jeremyd commented on #624
+1 wish I had this.. Not sure how to use SSO and not have to create a bunch of one-time google authenticator authentications...

[2016-11-30 19:59] klizhentas commented on #624
@jeremyd #620 should solve your problem then

[2016-11-30 20:22] kontsevoy commented on #624
Closing this because it's a part of the ongoing RBAC work.

[2016-11-30 20:22] #624 closed

[2016-11-30 21:37] tehsis commented on #623
Closing since the PR got merged. Thanks!

[2016-11-30 21:37] #623 closed

[2016-11-30 23:04] jamesjuran2 opened #628 "Create user with single-factor authentication?"
Is it possible to create a user that does not require two-factor authentication? My use case is I have automation running outside a Teleport cluster that I would like to log into the cluster periodically to perform a task. Because of the 2FA, I'll need to log into the server every day to re-auth with my 2FA token. In this particular case, the increased convenience of not having 2FA on this account

[2016-11-30 23:32] kontsevoy commented on #628
@jamesjuran2 perhaps `tsh login --ttl=xxx` with a HUGE time-to-live will solve this better? You can basically create a session key which never expires.

[2016-11-30 23:44] kontsevoy commented on #619
@faddat can you please provide more detail, perhaps the full output of the build? Thanks.

[2016-12-01 00:22] kontsevoy commented on #619
@faddat nevermind, we have updated the README with instructions on how to build the web UI.
https://github.com/gravitational/teleport/blob/master/README.md#rebuilding-web-ui

[2016-12-01 00:22] #619 closed

[2016-12-01 02:54] jamesjuran2 commented on #628
That was the first thing I thought of, but the maximum time for --ttl is 1800 minutes, or 30 hours, which I recall seeing in the docs:

[james.juran@localhost ~]$ tsh --proxy=teleport --ttl=1801 login
invalid requested cert TTL
[james.juran@localhost ~]$ tsh --proxy=teleport --ttl=1800 login
Enter password for Teleport user james.juran:

If the 30 hour limit is arbitrary, I could make a local modi

[2016-12-01 05:16] klizhentas commented on #628
@jamesjuran2 I'm thinking about it in the context of #620 - and it makes sense to add special permission property for some roles to sign certificates with longer TTLs. In this case you will be able to create `jenkins` role that can sign certs for a couple of months for example.

[2016-12-01 14:22] jamesjuran2 commented on #628
Doing this as part of the framework for #620 makes sense to me -- and we're very excited about the other parts of #620 as well. Thank you for considering this!

[2016-12-01 19:27] klizhentas commented on #628
Ok, I"ve updated section "TTL in certificates" to specifically address your concern. Closing this issue then.

[2016-12-01 19:27] #628 closed

[2016-12-05 14:28] dali-bcg commented on #621
@klizhentas is it possible to cut a release with just a revendor of oidc? if not, when do you expect the next minor release to happen? Thanks for all the hard work!

[2016-12-06 01:17] klizhentas commented on #621
@dali-bcg can you try latest master - I've revendored `go-oidc` and let me know if it works? You can rebuild using `make release`

[2016-12-08 00:43] jeremyd commented on #619
Can we get a little more information on how to create the zip that's required?  I tried npm install && npm run build, but I still get this same error when starting teleport.  Is the zip file not part of the static binary that go build produces?

[2016-12-08 00:45] klizhentas commented on #619
@jeremyd zip file is created in `make release` target https://github.com/gravitational/teleport/blob/master/Makefile#L130

[2016-12-08 00:51] jeremyd opened #632 "DynamoDB build"
Would it be possible to include DynamoDB support into an official build?  It's hard to maintain our own builds when all we need is that DynamoDB flag enabled...  Even if it was a separate build I'd be ok with that.

[2016-12-08 00:52] jeremyd commented on #619
@klizhentas thank you! that worked.

[2016-12-08 05:25] klizhentas commented on #620
Feedback from Ev:

* Create implicit super admin role that is implicitly present on all nodes
* Create a special CA that associates this user to this admin role.

This will allow us to retain admin access even in case if auth server is down.

[2016-12-08 21:15] kontsevoy commented on #632
@jeremyd we cannot include so much 3rd party code into mainline Teleport because of security concerns. The core Teleport (and all of its dependencies) are frequently subject to security audits, and by including AWS dependencies (and their dependencies) and so on we'll face a dramatic increase of surface area.

Instead, let me ask you this: why is it hard for you guys to set an environment variable

[2016-12-08 21:21] kontsevoy commented on #625
@jeremyd mmm... we don't have an okta account to play with this. Perhaps someone in the community can help? Going to leave it open...

[2016-12-08 21:24] kontsevoy commented on #613
On the auth server side, you are defining two tokens:
[code]

The 1st one is for proxies and nodes. The 2nd one for other auth servers.

Then, on the node side, you say:

[code]

... but this token was declared to be used by auth servers only. Instead, nodes should be using `vaiNg2gaew5ru7chi4uxie0aiPhae7ai`

[2016-12-08 21:24] #613 closed

[2016-12-08 22:29] jeremyd commented on #632
I was just preferring to use an official release instead of doing any
building. If I end up building then I have to do more maintenance and keep
a build environment updated. If I can just use the release binary this is a
lot less effort.  Since you already have a good build and release process I
was wondering if it was easy to spin an additional one for dynamodb
support.  If it was just go it'd be

[2016-12-08 22:33] kontsevoy commented on #620
@tehsis see ablove, this is slowly getting into shape

[2016-12-08 23:56] rossedman commented on #613
@kontsevoy Thanks a lot! That makes sense. I had solved this previously by just defining a token for `node` not `proxy,node`.

[2016-12-09 00:14] brumfb commented on #620
Some questions on this:

[2016-12-09 00:20] klizhentas commented on #620
See my answers below:

Yes

No, they will get fetched by nodes automatically from the auth service

If by static you mean the ones present in configs then yes

No, but you will be able to have a user that is assigned multiple roles at once, in this case the resulting role will be computed using union method.

In this case more permissive attribute will take over.

[2016-12-09 02:15] kontsevoy commented on #632
Gotcha. We'll look into simplifying it. Perhaps publishing builds for different plugins enabled. Also going to look into using plugins via dynamic libraries `.so`

[2016-12-09 02:15] #632 closed

[2016-12-09 02:21] kontsevoy commented on #632
@jeremyd Suggestion:

Take a look at `build.assets/Makefile`. This is what we're actually using internally. It uses Docker-based build environment to produce Teleport builds.

You can create Docker-based build for Dynamo. This would simplify maintenance of Teleport builds dramatically because Docker is the only dependency you'd need in this case.

[2016-12-12 05:13] kontsevoy opened #634 "tsh --cluster works in Telekube but not in OSS teleport"
I noticed the difference between how OSS Teleport works vs its proprietary "Telekube edition" when `--cluster` flag is used.

In Telekube, if you're logged in you can do:

[code]

And you will see hosts in cluster XXX, but in OSS teleport I get "ssh subsystem failed".

[2016-12-12 05:15] kontsevoy opened #635 "tsh clusters needs "quiet" flag"
It's very handy to get a list of clusters which you can plug into your existing shell/ansible/etc script, so you can do `for each $(tsh clusters)...`

Suggestion:

Add `-q --quiet` flag, so the output of `tsh -q clusters` will be simply:

[code]

[2016-12-12 05:22] kontsevoy opened #636 "tctl auth sign command"
Teleport admin tool (`tctl`) has the hidden ability to generate client certificates via the hidden command: `auth sign`

1. Make it public
2. Make it generate output compatible with `tsh` by default (i.e. remove explicit keynames - they are error-prone)

[2016-12-12 06:15] klizhentas commented on #634
@kontsevoy that's because `tele` sets the proper user in the profile as well, while `tsh login` apparently not.

[2016-12-12 06:39] kontsevoy commented on #634
I tried passing `--user` to `tsh ls` too. I'll show you on Monday.

[2016-12-12 16:39] #635 closed

[2016-12-12 18:44] #636 closed

[2016-12-12 23:25] dali-bcg commented on #621
I have verified that the current master after the revendor works as expected.

The config example shown in the issue is exactly the one that worked. The multi-oidc support also worked fine with AzureAD.

This is good to close. Do you take contributions for the documentation? I would be happy to add a section on AzureAD.

[2016-12-13 18:57] bshelton229 opened #639 ""With google" login hanging and seeing "go-oidc: provider config sync failed" in our logs"
I've been unable to get google oid authentication working. The web server hangs indefinitely when hitting `https://our-public-host.com:3080/v1/webapi/oidc/login/web?connector_id=google&redirect_url=....`.

The only error we see in the logs is `go-oidc: provider config sync failed, retrying in 8s: Get /.well-known/openid-configuration: unsupported protocol scheme ""`

I believe we have everything s

[2016-12-13 19:23] klizhentas commented on #639
it looks like something is not set up in your OIDC config in teleport. Can you post your config? Don't forget to omit all the secrets from it!

[2016-12-13 20:23] klizhentas opened #640 "U2F UX issues"
## Description

Here's a list of UI/UX issues I've encountered while using U2F:

* When U2F error happens on the client, we see:

[code]
Error message. We should convert it to more human readable format.

* Improve U2F information messages

When signing up or using u2f it's not clear that you have to press the button even following the instructions.

* Too Many buttons

Now it's too many various l

[2016-12-13 20:26] klizhentas opened #641 "IncreaseLoggingAttempts bug"
## Description

There's a bug in `IncreaseLoginAttempts` function:

* When using it, there's a situation when current value is `[]byte` - nil array. This breaks everything because  `CompareAndSwap` never works after that - it just fails to upgrade with `CompareAndSwapFailedError` because  we've updated the previous value here:

https://github.com/gravitational/teleport/blob/master/lib/services/loc

[2016-12-13 21:01] bshelton229 commented on #639
Thanks for getting back to me

[code]

I solved my first issue, I had a typo in `issuer_url`. A better error message, or some kind of config validation would be a nice to have in the future, if that doesn't exist already.

I'm still a bit confused about how users works. It seems that you have to invite a user and have them sign up, setting a password, and setting 2-factor MFA, just to then later o

[2016-12-13 21:34] klizhentas commented on #639
@bshelton229 currently it's not possible - users will have to sign up using their 2FA at this point. However we are going to introduce support for your use-case in the context of:

https://github.com/gravitational/teleport/issues/620

See section "Mapping OIDC/OAuth2.0 claims to Roles".

I'm currently working on it, so stay tuned for updates. Currently closing this issue

[2016-12-13 21:34] #639 closed

[2016-12-13 21:40] bshelton229 commented on #639
Very nice, thanks!

[2016-12-13 21:40] jeremyd opened #642 "teleport binary is dynamically linked (instead of static)"
I noticed the release is dynamically linked to /lib64/ld-linux-x86-64.so.2  which means that it won't run on Alpine linux.  Is it possible to change the build to statically linked binaries?

I'm trying some tricks now with my build using tips from: http://matthewkwilliams.com/index.php/2014/09/28/go-executables-are-statically-linked-except-when-they-are-not/

[2016-12-13 22:00] jeremyd commented on #642
I modified my build to use this command:

go build -o build/teleport -i -tags dynamodb -ldflags '-w -s -extldflags "-static"' ./tool/t
eleport

file says
[code]

Which still seems dynamically linked .. but it does run now on alpine + debian.  I noticed it doesn't mention ld-linux.so.2 anymore..

[2016-12-14 15:44] qzaidi commented on #540
+1 this is happening for us too.

[2016-12-14 18:02] jeremyd commented on #642
I'm attempting to compile with static link and I'm hitting an error in the code here:

[code]

[2016-12-14 18:49] kontsevoy commented on #540
@qzaidi do you think we can debug this together some time soon? Perhaps via remote screen?

[2016-12-14 19:25] jeremyd commented on #642
I found a command that works to compile it statically from inside the container created by build.assets/Dockerfile .  I understand that there may be reasons why you can't distribute a statically linked binary against glibc, perhaps in the future I can get a build working that is compiled against musl instead.

[code]

[2016-12-14 22:41] jeremyd commented on #642
I created some stuff to help out with dynamodb builds / static builds.  I pushed up a PR here, let me know if you'd be interested in accepting it or if I can do anything to help make it acceptable.  Thanks!

https://github.com/gravitational/teleport/pull/643

[2016-12-14 22:46] jeremyd commented on #632
I created this if anyone else needs some build help.
https://github.com/gravitational/teleport/pull/643

[2016-12-15 00:34] kontsevoy commented on #642
@jeremyd the PR is going in, thanks. We're won't be switching to static builds by default though. I hope this compromise works for your purposes?

[2016-12-15 00:34] #642 closed

[2016-12-15 03:53] bshelton229 opened #645 "Dynamodb storage with oidc and static tokens"
I tried out the dynamodb auth storage and when I enabled it I was no longer able to join nodes using static tokens and my oidc connectors seemed to be ignored. When I use the dynamodb store, I can only add nodes using tokens generated with `tctl nodes add` and the oidc is no longer active at all, meaning I can't create users with `--identity google:some@email.com`.

My configuration

[code]

I'm p

[2016-12-15 04:02] klizhentas commented on #645
I think this is because by default static configuration is treated as a separate thing and is ignored when using dynamic backends. You can use

[code]

defined here:

https://github.com/gravitational/teleport/blob/master/lib/config/fileconf.go#L354

So then teleport will treat this static configuration as a seed config and will populate your Dynamo backend with OIDC settings.

[2016-12-15 04:16] bshelton229 commented on #645
Great, thanks. I'll give that a try tomorrow. Does that go for the oidc config as well? Is there a way to use the cli to manage static tokens within the store without seeding, is that preferred?

[2016-12-15 04:17] klizhentas commented on #645
static config is static, as in only defined via config, so cli can't change it

[2016-12-15 15:58] #634 closed

[2016-12-15 16:41] bshelton229 commented on #645
I gave `seed_config: true` a shot and didn't have any luck. I boot the auth server up and neither the static tokens nor the oid config seem to make it into dynamo. I can do `tctl nodes add --roles proxy` and add the proxy that way, but the "with google" button doesn't appear and I'm unable to create google oid backed users.

When I attempt to add a user using `--identity google:....` it fails with

[2016-12-15 16:44] klizhentas commented on #645
@bshelton229 can you wipe out local state of `/var/lib/teleport/*` auth server and restart the server with new config? I think that `seed_config` is not getting used as Teleport think it's already initialized the backend.

[2016-12-15 16:48] bshelton229 commented on #645
I believe I have been wiping that entire dir before each try. I just built a deb off master and am trying that now.

[2016-12-15 16:52] klizhentas commented on #645
can you show me the config file part, seed_config should be placed in teleport section:

[code]

[2016-12-15 16:59] bshelton229 commented on #645
No problem, and I really appreciate your help. Here is the whole thing, with secure redacted of course.

I start with this config in `/etc/teleport.yaml`

[code]

I then remove the state dir to be safe

`sudo rm -rf /var/lib/teleport`

I then start up the service with

`sudo teleport start --roles auth -c /etc/teleport.yaml`

I cannot add a user using google, and I cannot join a node to the cluste

[2016-12-15 17:02] klizhentas commented on #645
can you drop these tables, wipe out the state and try again?

[2016-12-15 17:07] bshelton229 commented on #645
I've done that a few times. I'm also incrementing the table_name to be safe.

I've been following these steps:

  1. Stop the auth server
  1. `rm -rf /var/lib/teleport`
  1. Delete the dynamodb for good measure.
  1. Increment the number in the dynamodb table_name just to make sure
  1. Start the auth server again

I should mention that config works as expected when I comment out the storage engi

[2016-12-15 17:08] jeremyd commented on #642
Can anyone help me debug this panic?  This happens just after I login when using a static build.  When I use a dynamic linked build things seem ok.

https://gist.github.com/jeremyd/84c09e3f5b811addc5ef2f580b6c99fb

[2016-12-15 17:18] bshelton229 commented on #645
I booted up with `--debug` here are some snippets that may be helpful.

Looks like `seed_config` is coming in as true.

[code]

Backend configuration from the debug output.

[code]

[2016-12-15 17:42] klizhentas commented on #645
let me try to reproduce

[2016-12-15 17:58] klizhentas commented on #645
I was able to reproduce, it's something specific to Dynamo backend - oidc tables are not being created.

[2016-12-15 18:12] klizhentas commented on #645
@bshelton229 ok, I've found and fixed the bug. try to rebuild from latest master and let me know if that worked for you

[2016-12-15 19:29] jeremyd opened #647 "can't startup auth/proxy with etcd backend"
Error message is:

[code]

I've setup the configuration according to the admin guide but I'm unsure what setting it's complaining about.  I can't seem to find a setting that matches "root key" anywhere.  What am I missing?  (my config is below)

[code]

[2016-12-15 19:54] kontsevoy commented on #647
@jeremyd that's the key (as in key-value) of the "root" location of etcd tree, like "/teleport". It basically tells you where exactly to keep the secrets.

[2016-12-15 19:55] jeremyd commented on #647
Read more of the code to find this, looks like the missing config was called "prefix".

I'll see if I can add this info to the doc in the etcd admin guide section..  Thanks!

[2016-12-15 19:55] #647 closed

[2016-12-15 19:56] bshelton229 commented on #645
💯 Works great! Thanks.

[2016-12-15 19:56] #645 closed

[2016-12-15 20:11] jeremyd commented on #647
https://github.com/gravitational/teleport/pull/648

[2016-12-15 21:38] kontsevoy commented on #642
@jeremyd most likely you're somehow linking against two different libc versions. I would try to wipe out both `pkg` directories under `$GOROOT` and `$GOHOME` and do a full rebuild.

[2016-12-16 01:38] kontsevoy commented on #594
actually I do not think we can change this now. people with default configs will find themselves with stopped services (and potentially locked out of their servers).

[2016-12-16 01:38] #594 closed

[2016-12-16 01:40] jchauncey commented on #594
At the very least the docs should be updated to reflect that you must set the value to no.

[2016-12-16 01:50] kontsevoy commented on #594
+1
will do

[2016-12-17 18:34] klizhentas commented on #472
consider it implemented

[2016-12-17 18:34] #472 closed

[2016-12-21 01:40] kontsevoy commented on #501
This is being done as part of RBAC see #620

[2016-12-21 01:40] #501 closed

[2016-12-21 01:41] kontsevoy commented on #478
Duplicate of #620

[2016-12-21 01:41] #478 closed

[2016-12-22 00:43] jeremyd opened #653 "Node tokens not stored in etcd breaks HA expectations"
We are trying out the etcd storage backend.  We have the proxy+auth running in a docker container and etcd running separately in an HA configuration.  When we start the container on a fresh host, it's got all it's users but looses all the tokens that had been previously created.  This makes it hard to add more nodes because everytime we restart the docker container it looses all the tokens.  These

[2016-12-22 02:26] jeremyd commented on #653
Disregard, I thought this token had a longer expiry (forever) because it said it expired in 0 seconds.  However, when doing tokens ls, it clearly expires in 30 min.  Now that I've got tokens to stop expiring I DO see them across restarts!  All good, thanks. (closed)

[2016-12-22 02:26] #653 closed

[2016-12-23 07:53] nodesocket opened #654 "ARM build"
Would it be possible to create an arm release? I'd like to setup teleport on my Raspberry Pi 3 that I use as a Cisco IPsec VPN server to my apartment.

[2016-12-23 16:47] adilsond opened #656 "Failed reading web assets from the binary. zip: not a valid zip file"
I tried to build teleport from source since I need 32bit binaries. But the application is stuck with the following message:

build/teleport start
[AUTH]  Auth service is starting on 0.0.0.0:3025
[PROXY] Reverse tunnel service is starting on 0.0.0.0:3024
[PROXY] Web proxy service is starting on 0.0.0.0:3080
[PROXY] starting the web server: Failed reading web assets from the binary. zip: not a valid

[2016-12-23 17:11] klizhentas commented on #656
try `make release` to get a binary with zip assets

[2016-12-23 17:24] adilsond commented on #656
It worked here. Thanks. :+1:

[2016-12-23 17:25] #656 closed

[2016-12-23 17:56] klizhentas commented on #641
fixed in RBAC PR

[2016-12-23 17:56] #641 closed

[2016-12-23 19:14] klizhentas commented on #620
@tehsis hey Pablo, can you help me out trying out Auth0 with OIDC?

I'm having trouble setting up OIDC with Auth0. I'm getting error when trying verify JWT signature:
{"message":"OAuth2 error code=unsupported_response_type, message=unable to verify auth code with issuer"}

The signature in JWT token does not match fetched public key. Here's my OIDC config:

[code]

Is there anything I'm missing ?

[2016-12-23 20:45] alex-kovoy opened #659 "tctl outputs invalid error message when trying to resolve dataDir from config file"
repro steps:

  1. create a configuration file with data_dir.
  2. run tctl without permissions to data_dir folder.
  3. notice a message 'Invalid data directory: ....'

expected:
  Should output permission denied message.

[2016-12-23 20:57] jeremyd opened #660 "Role = Node signup tokens do not last the specified --ttl=timeperiod"
I'm trying to create a long lasting token for node signup > 1 month or so.  Everytime I use a value it says it's doing it:

[code]

However, the token is actually set to expire more like in 30 min.

[code]

[2016-12-24 00:17] kontsevoy commented on #660
@jeremyd which backend are you using? etcd, local (default) or DynamoDB?

[2016-12-24 06:34] jeremyd commented on #660
Using etcd

On Fri, Dec 23, 2016, 4:17 PM Ev Kontsevoy <notifications@github.com> wrote:

[2016-12-24 07:39] kontsevoy commented on #660
@klizhentas can you take a look plz? you're ze etcd masta.

[2016-12-24 07:43] kontsevoy commented on #654
@nodesocket are you back to SF? We should hang out, man. Yes, Teleport builds and works on ARM using standard installation instructions. We tested it for both ARM6 and ARM7, we just don't have any ARM hardware to repeatedly produce these builds on (the build process runs out of available RAM on Raspberry, so you'd need an ARM server).

[2016-12-24 07:43] #654 closed

[2016-12-25 08:37] #660 closed

[2016-12-25 08:38] #614 closed

[2016-12-26 05:45] kontsevoy opened #665 "Better CLI login"
As Teleport gains more authentication options, `tsh` needs to provide a better experience for users who opt for non-default options (and work out of the box without additional flags), i.e. `tsh login` or `tsh ssh` should work equally well for:

* Auth0 users
* U2F users

[2016-12-26 05:48] kontsevoy opened #666 "Backend overhaul"
## Description

Over time we've proven that Teleport does not need much of the complexity of the underlying storage back-ends. Examples of features that are not needed are:

* Global locks
* "Touching" values with TTL

Also, we have a new simpler file-based backend which:

* Provides a better key introspection and more compatible with traditional Linux admin tools.
* Provides a cheap and simple HA

[2016-12-26 05:49] kontsevoy opened #667 "CLI polish"
We've added quite a lot of new CLI commands in 2.0. Lets review and make sure that:

* `upsert` replaced with `create -f`
* Naming is consistent.
* `tsh logout` without arguments must allow you to log out of ALL proxy servers you're logged into

[2016-12-26 05:51] kontsevoy opened #668 "Document new features of 2.0"
Version 2.0 gains quite a few significant new features. This ticket is a reminder to update the documentation for them.

Preliminary list (feel free to update) includes:

* Role-based access control (RBAC)
* High Availability (HA) section for FS-based backend.
* Build-in DynamoDB backend
* New 2nd factor auth options (U2F)

From @russjones

* TOTP instead of HOTP for local users.
* Authentication

[2016-12-26 07:28] kontsevoy commented on #620
@klizhentas shall I close this?

[2016-12-26 20:11] klizhentas commented on #620
all implemented, closing.

[2016-12-26 20:11] #620 closed

[2016-12-26 20:12] alex-kovoy opened #669 "Cannot connect to trusted cluster node via web ui"
repro:

 1. set up a trusted cluster
 2. open web ui and try to connect to trusted cluster node
 3. notice that the session gets successfully created but web-socket connection disconnects.

[2016-12-26 20:14] klizhentas commented on #669
that could be a permission issue. when setting up a trusted cluster, you'd need to create a role that allows remote connections to succeed.

[2016-12-26 20:53] nodesocket commented on #654
@kontsevoy ok, I'll try building when I get home. I have the Raspberry Pi 3 which has 1GB memory, but I also have a swap of 512MB. We shall see if the build OOMs.

[2016-12-27 06:40] kontsevoy commented on #669
@klizhentas also, on brand new setups this means that the role must be created when `trusted_clusters` setting is found in the YAML file. This is a higher level setting. `trusted_cluster=trust+tunnel`. Probably falls into my bucket.

[2016-12-27 19:05] kontsevoy opened #672 "Merging DynmoDB into mainline Teleport"
@jeremyd @apestel We want to merge DynamoDB backend into mainline Teleport. When we tried, we encountered a number of issues. Do you mind helping out a bit (I am assuming you have more DynamoDB expertise than we do).

List of changes we've made can be seen in this PR: #671

## Changes we're making:

* Vendoring AWS SDK dependency into Teleport repository
* Updating build/release scripts to always

[2016-12-27 19:50] #666 closed

[2016-12-27 20:29] jeremyd commented on #672
Hey, yeah I was trying dynamodb but I realized it was too buggy for
production use so I switched to etcd. Was running into some weird panics
just during normal usage (even with dynamic compile) that don't happen with
etcd.

On Tue, Dec 27, 2016, 11:05 AM Ev Kontsevoy <notifications@github.com>
wrote:

[2016-12-28 19:39] ajvb commented on #423
Is this something the maintainers would be behind? I would much prefer to make use of our battle-tested consul cluster over setting up etcd just for this.

[2016-12-28 19:51] jdc0589 commented on #308
@klizhentas @kontsevoy as someone who likes teleport, and it pretty disgusted with the pricing of stuff like Cyberark/BomgarPAM/etc... if you guys ever add RDP support with similar auditing it would be **mind blowingly amazing**. If it was around right now, it would be our automatic choice and you'd probably have an annual support contract from us too.

[2016-12-28 19:53] klizhentas commented on #423
@ajvb we will accept the PR with consul backend with no problem for sure

[2016-12-28 21:01] therc commented on #620
Nitpick: does the OIDC connector mapping in the example actually work? When I read it, my heart almost skipped a beat. As far as I know, Google's tokens don't support any kind of group membership claims. :-(

[2016-12-28 21:03] klizhentas commented on #620
@therc Google's tokens do not support any custom membership claims, however we are going to demo the scenario how to use identity federation + some simple plugins to inject custom claims in OIDC for google or github

[2016-12-28 23:40] flyinprogrammer commented on #625
https://github.com/gravitational/teleport/blob/master/vendor/github.com/coreos/go-oidc/oidc/provider.go#L357

Is where the error is coming from. I'll probably start digging into this, it might be a little while though.

[2016-12-29 02:34] nodesocket commented on #654
@kontsevoy trying to build from source on ARM and getting:

[code]

[2016-12-29 02:40] klizhentas commented on #654
package "context" was introduced in 1.7, try upgrading

[2016-12-29 03:02] nodesocket commented on #654
This is probably out of scope, but trying to get **go 1.7.4** install on ARM using the following:

[code]

Then setup go paths in `.zshrc`:

[code]

Verify `go` is setup:

[code]

Howerver, when I try:

[code]

Any ideas?

[2016-12-29 03:53] nodesocket commented on #654
Nevermind, got **go 1.7.4** installed using [https://github.com/moovweb/gvm](gvm).

[2016-12-29 03:55] nodesocket commented on #654
@klizhentas still failing using **1.7.4**

[code]

[code]

[2016-12-29 05:20] klizhentas opened #677 "Write documentation about audit logs"
## Description

I've received several requests about the structure of audit logs and how to manage them:

https://news.ycombinator.com/item?id=13275723

Write down some logs and examples how to do that with some providers.

[2016-12-29 07:03] klizhentas commented on #677
More feedback:

[code]

[2016-12-29 07:13] sandys commented on #677
+1 guys - this is super awesome. also want to add my voice for ansible based one click installation - should be very helpful if we are looking to deploy this to our servers.

[2016-12-29 08:00] crdnl commented on #481
Setting it up as an ssh-agent will allow a large amount of programs to make use of tsh (and, by extension, teleport enabled servers) including Filezilla and DataGrip.

[2016-12-29 15:59] r04r commented on #481
Getting a teleport ssh agent for windows would remove the final hurdle from adopting it for my infrastructure. The sad reality is that we do have windows users.

[2016-12-29 21:49] kontsevoy commented on #625
@flyinprogrammer thanks!

[2016-12-30 10:18] sokoow opened #679 "doesn't build nicely for arm64"
Arm64 build is... tricky but possible, here's what we get out of the box:
[code]
first issue is this one: https://github.com/kr/pty/issues/27

and second one is also arch related in boltdb, I just quickly hacked it:

[code]
... but it should be probably properly fixed.

[2016-12-30 10:35] sokoow commented on #679
web asset build process is x86 specific also :/ but this will take a while... so currently no other arch than x86 is supported? no raspberries then

[2016-12-30 12:32] marchofreason opened #680 "QR code for Teleport not working with Lastpass Authenticator"
Loving Teleport so far - First attempt at creating a user when trying to add the OTP with LastPass Authenticator it seems
The error says "Invalid QR Code - Device Pairing Failed"
[Screenshot sample here](https://dl.dropboxusercontent.com/u/3222505/IMG_1820.JPG)

Google Authenticator works as advertised.

(Excuse the picture - Had to take a photo as android 7.x restricts screenshots on "Secure apps

[2016-12-30 16:25] apestel commented on #672
@jeremyd most of the problem I had with DynamoDB implementation was when I reached the provisioned limit (read / write) of DynamoDB.
@kontsevoy I'm gonna have a look at your PR as I wish to test the new RBAC feature coming in 1.5. I will let you know ASAP.

[2016-12-30 17:09] klizhentas commented on #680
I wonder if it's because last pass does not support HOTP, only TOTP. We are planning to add support for TOTP as well.

[2016-12-30 20:54] kontsevoy commented on #672
@apestel thanks, but please be careful! the master branch builds are not recommended to run on production data! In fact, it's safe to assume you can ruin your existing deployments by running anything else but official releases.

[2016-12-30 20:55] kontsevoy commented on #672
@apestel perhaps we should move those limits into the configuration and use different defaults? Right now there are 5/5 whatever that means.

[2016-12-30 21:07] klizhentas commented on #672
@apestel can you tell us more about your cluster setup and writes/sec?

[2016-12-30 21:34] kontsevoy commented on #680
Dupe of #522

[2016-12-30 21:34] #680 closed

[2016-12-30 21:36] kontsevoy commented on #679
@sokoow we used to build Teleport regularly for ARMv6 and v7, just haven't done it recently. Will definitely take a look, thanks!

[2016-12-30 23:13] kontsevoy commented on #568
Teleport has a similar facility (audit log) and right now the cost of adding wtmp integration outweighs the benefits. Pushing for future releases.

[2016-12-30 23:15] oskapt opened #682 "Quickstart login instructions incorrect?"
It seems that the instructions in [the quick start](http://gravitational.com/teleport/docs/quickstart/) are missing something. The instructions say to log in using:
[code]

This returns the following:
[code]
Based on [other portions of the documentation](http://gravitational.com/teleport/docs/user-manual/#interactive-shell), the command should be
[code]

[2016-12-31 00:30] #682 closed

[2016-12-31 00:30] kontsevoy commented on #682
@oskapt thanks, fixed.

[2016-12-31 02:35] kontsevoy commented on #679
@sokoow

correction, we've always  been building on Scaleway 64-bit ARM servers with:
https://storage.googleapis.com/golang/go1.7.4.linux-armv6l.tar.gz

It works great and runs on ARMv6, but AFAIK that's 32-bit mode.

We are short of bandwidth right now to maintain ARM/64-bit Golang toolchain.

[2016-12-31 02:36] kontsevoy commented on #600
Waiting on Golang 1.8 plugin system.

[2016-12-31 03:18] kontsevoy commented on #654
@nodesocket you are probably building with 64-bit ARM which is currently not supported see #679 Instead, download 32-bit ARM Golang [from here] and the standard build instructions will work. It will produce 32-bit ARM binary which will run absolutely fine on your p3.

[2016-12-31 03:27] #659 closed

[2016-12-31 07:14] nodesocket commented on #654
Getting closer:

[code]

Did I miss a step? This is using **go 1.7.4**.

[2016-12-31 08:07] kontsevoy commented on #654
`make release` instead of `make`

[2016-12-31 08:38] kontsevoy commented on #654
also updated https://github.com/gravitational/teleport#building-teleport

[2016-12-31 23:15] marchofreason commented on #640
Yeah I have this problem as well - In fact I can't even get U2F to work with Teleport for sign-in
Created a new user and when signing up and selecting U2F it just says BAD_REQUEST

Have tried using two different Yubikeys but no matter the order can't complete the sign up process...

[2017-01-01 11:03] marchofreason commented on #640
@klizhentas Sorry didn't mention this but yes I did try this with Google Chrome. Need me to send you any logs / developer console output?

Using the latest release from the binaries here:
[v1.3.1](https://github.com/gravitational/teleport/releases/download/v1.3.1/teleport-v1.3.1-linux-amd64-bin.tar.gz)

[2017-01-01 13:54] apestel commented on #672
@kontsevoy I'm still using teleport beside our current workflow to manage SSH authentication, no worries if I break something. Anyway I will backup to S3 my table before doing the migration.
5 (reads per seconds)/5 (writes per second) is the free tier for DynamoDB. Users won't be charged if they are below those threshold. It's definitely not enough for production use. Each host will add more reque

[2017-01-01 19:29] klizhentas commented on #640
@marchofreason can you send me your teleport config with U2F section. Just make sure to remove all secrets there. What's the domain name address you are accessing it from?

[2017-01-01 22:23] kontsevoy commented on #484
## Behavior change

When a user clicks on "SSH" button to open a new terminal, he must be presented with a popup showing an error.

## UI changes:

Nodes tab:
[code]

Sessions tab:
Merge active + archived sessions into the same table, with active sessions shown on top.
[code]

[2017-01-02 02:28] vancluever opened #687 "Web assets breaking on 1.3.1"
Hey all!

First off - amazing tool... can't wait to really give this a spin! :)

Second off - not too sure what's happening here, but it looks like there's an issue loading the web assets on the latest version. I noticed that the assets were moved to the binary in v1.3.0.

Debug isn't giving too much in the way of info, but a curl is saying that the connection is being closed prematurely. [Gist he

[2017-01-02 02:57] kontsevoy commented on #687
@vancluever tried to reproduce your issue on Ubuntu 16.04 LTS. Here's the updated Dockerfile I used (I only added EXPOSE command to it):

[code]

I built the container with

[code]
Launched with:

[code]

Then I hit `https://localhost:3080` in a browser and everything worked.

[2017-01-02 03:11] kontsevoy commented on #262
@klizhentas I propose we close this. Teleport's support for pluggable back-ends provides with plenty of ways to have secrets data encrypted at rest (or implement their own, or hire Gravitational to implement one). Knowing our roadmap this just won't happen any time soon.

[2017-01-02 03:13] kontsevoy commented on #271
@klizhentas lets close this one. We now have 2 ways of adding servers: the relaxed and the paranoid one.

[2017-01-02 03:31] #271 closed

[2017-01-02 04:46] vancluever commented on #687
Hey @kontsevoy, thanks for the quick response!

My docker is currently 1.12.3 (on Arch), I'm giving it a go on my Mac right now to see if it's any different (looks like latest on there is 1.12.5). Will edit with the results.

FWIW, if it's working on your side then no sweat, if there's issues on things like live hosts I'll send a message along.

[2017-01-02 05:45] kontsevoy opened #688 "Standard initialization of storage back-ends"
TL;DR This ticket calls for standardization of plug-in utilization using `etcd` implementation as a template.

## Problem

Currently our storage back-ends all implement a nifty small interface with a well-defined behavior. But the creation & configuration of back-ends is not standardized at all, so we have utility functions like `initBoltBk()` or `initEtcdBk()` or `initDynamo()` _outside_ of `lib/

[2017-01-02 05:58] kontsevoy commented on #687
Actually I see now (screenshot above) - "failed"

[2017-01-02 06:31] crdnl opened #689 "Invalid Character while registering U2F key"
Was trying to register a U2F key (Feitian ePass) with my server.

Error on Browser (Opera 43.0.2442.7 and Chrome 55.0.2883.87) :
`{"message":"asn1: syntax error: PrintableString contains invalid character"}`

Error in console:
`ERRO[0012] asn1: syntax error: PrintableString contains invalid character  file=auth/new_web_user.go:281 func=auth.(*AuthServer).CreateUserWithU2FToken`
`ERRO[0012] asn1: s

[2017-01-02 06:59] kontsevoy commented on #672
Ah... Looks like reads/writes should be in a config then... Re-opening this.
@klizhentas more weight towards my proposal on stateless membership bookeeping. this way teleport will be perfectly usable on free Dynamo

[2017-01-02 08:12] vancluever commented on #687
Yeah, the assets were coming up ERR_CONTENT_LENGTH_MISMATCH. Most of the fonts, which was creating broken images in the sidebar. Will post a screenshot tomorrow :)

[2017-01-02 15:20] apestel commented on #672
@kontsevoy you can change read/write at anytime you want directly in AWS console. You can do this multiple times per day. IMHO you should stick to the default and then let the user adjust this setting depending on his needs (size of the infrastructure and number of users).

[2017-01-02 17:22] vancluever commented on #687
Hey @kontsevoy - looks like you've found the issue, but just wanted to follow up with the screenshot:

![teleport-1 3 1-content-lenght-mismatch](https://cloud.githubusercontent.com/assets/10704423/21593522/e0ca5236-d0cc-11e6-9337-2d1f79490062.png)

Thanks again for looking into it so quickly!

[2017-01-02 20:13] marchofreason commented on #640
@klizhentas I'm sorry the issue seems to have been that I had the configuration wrong. Auth and proxy server were the same so all I did was set U2F to enabled. Nothing further.

All working fine now!

[2017-01-02 20:16] klizhentas commented on #640
@marchofreason awesome, glad to hear that

[2017-01-02 21:57] crdnl commented on #689
If you guys want to look at my environment, send me a PM.

[2017-01-03 06:24] marchofreason opened #691 "Configurable idle web session timeout (Web UI)"
Hi All,

Is it possible to adjust the timeout for login on the Web UI? It would be great to be able to prevent users from timing out and having to login with their Google Authenticator / OTP each time.

[2017-01-03 20:59] kontsevoy commented on #672
@apestel agreed. Closing it again. [will update the docs]

[2017-01-03 20:59] #672 closed

[2017-01-03 21:01] kontsevoy commented on #691
@marchofreason just curious, what would you set for yourself [idle session interval]?

[2017-01-03 21:07] kontsevoy commented on #689
@jcj83429 @alchar @bibekaur @jdahiya can you guys take a quick look please?

[2017-01-03 22:55] crdnl commented on #689
@jcj83429 It's a Feitien ePass that I got from eBay. ATM I currently don't have another kind of U2F key available.

[2017-01-04 05:40] kontsevoy commented on #687
@vancluever can you please validate this build?
http://s3.gravitational.io/ev/teleport-v1.3.2-linux-amd64-bin.tar.gz

If everything is OK on your side, we'll do an official release.

[2017-01-04 06:36] kontsevoy commented on #408
@klizhentas since we're de-emphasizing local users mapped to OIDC, lets close this.

[2017-01-04 06:36] #408 closed

[2017-01-04 07:00] marchofreason commented on #691
@kontsevoy I would adjust all of our timeouts to 24 hours across the entire teleport experience. We have a small startup and people would login once a day in the morning into the proxy / auth server.

[2017-01-04 07:05] klizhentas commented on #691
Looks like we don't honor session timeout in role settings for web sessions. I will take a look

Sent from my iPhone

[2017-01-04 09:28] marchofreason opened #692 "Insecure Certificate when using Letsencrypt via CLI"
We seem to be having a weird error with our Teleport setup. Our Auth and Proxy server are running on the same VM - All the nodes are configured without any issues and logins are working from the Web GUI

On our Auth server the end of the teleport.yaml config for the **proxy_service** has this:
[code]
On the Web GUI the HTTPS connection is working fine and showing a secure connection and valid cert

[2017-01-04 09:37] marchofreason opened #693 "Clipboard Paste into WebUI"
Apologies for opening too many issues (if not applicable) -

It seems that our users  are unable to paste into the WEBUI - Copy FROM the  WebUI works fine but can't paste text into the UI.

We have tried to use the following keyboard shortcuts
[code]

[2017-01-04 14:53] alex-kovoy commented on #693
You can copy&paste using the mouse. For working with a keyboard, Teleport employs tmux-like "prefix" mode. To enter prefix mode, press Ctrl+A.

While in prefix mode, you can press Ctrl+V to paste, or enter text selection mode by pressing [. When in text selection mode, move around using hjkl, select text by toggling space and copy it via Ctrl+C.

http://gravitational.com/teleport/docs/user-manual/

[2017-01-04 14:53] #693 closed

[2017-01-04 18:05] vancluever commented on #687
Hey @kontsevoy, looks good! Screenshot attached with all assets loading properly

![screen shot 2017-01-04 at 10 03 27 am](https://cloud.githubusercontent.com/assets/10704423/21653295/3b6adca8-d265-11e6-8b2b-1b075dd512db.png)

[2017-01-04 22:22] kontsevoy commented on #691
@klizhentas it's a constant `auth.WebSessionTTL` currently defined in `lib/auth/auth.go`

[2017-01-05 05:58] bshelton229 commented on #692
Give using the concatenated `fullchain.pem` as the `https_cert_file` a try.

[code]

[2017-01-05 20:45] mikkeloscar opened #694 "TLS should not be required for etcd backend"
I don't think TLS should be a hard requirement for using the etcd backend. There are a couple of use cases where you might wanna run without TLS.

* When testing locally (though it's not complicated to setup test certs)
* In environments where you can protect etcd in other ways.
  * An example could be running teleport in AWS and use security groups to allow only the auth instance(s) to connect to

[2017-01-06 17:08] maanas opened #695 "Configure Ansible to use Teleport tsh"
Hello there,
We are tying to set up a teleport cluster and us the same to install and manage node using ansible. I m able to use the alias to connect to node
`alias ssh="tsh ssh --proxy=localhost --user=root" and connect to node.

I tried following the instruction given in admin manual. I added following in for ssh proxy
`Host *.web01.server.com
  ProxyCommand ssh -p 3023 %r@localhost -s proxy:%h:

[2017-01-06 21:26] tehsis opened #699 "Allow creating Teleport releases using Docker"
It would be nice to be able to use docker to create Teleport releases in the same way you already allow to run tests or build it so you can create a release without the need of install a Go environment on the host (useful for ci)

[2017-01-09 18:06] kontsevoy commented on #699
Closed in 55166a9dc4da766626eb900f41d7e8a50de71754

[2017-01-09 18:06] #699 closed

[2017-01-09 18:11] kontsevoy commented on #692
@marchofreason AFAIK Letsencrypt is not universally supported by Linux distros. Golang (language `tsh` is written in) looks at the following dirs when establishing https connections:

[code]

Do `curl` and `wget` work when you point them at Teleport proxy?

[2017-01-09 18:30] kontsevoy commented on #695
The documentation says you should be using `ssh` client with Ansible, not the alias:
http://gravitational.com/teleport/docs/admin-guide/#using-teleport-with-openssh

When you launch `tsh agent` command, it will print something like:
[code]

You need to apply this to your environment. One way to do this is via `tsh agent > file` followed by `source ./file`, so when you do `echo $SSH_AGENT_PID` you

[2017-01-09 18:30] #695 closed

[2017-01-09 20:06] marchofreason commented on #692
@kontsevoy I didn't reply sorry but @bshelton229 had the right answer. The Letsencrypt cert worked perfectly, all I just needed to do was replace the Cert_file with fullchain.pem

Maybe could recommend putting that into the Documentation as I wouldn't have guessed it was the error otherwise?

[2017-01-09 20:06] #692 closed

[2017-01-09 21:10] kontsevoy commented on #669
This has been fixed by @klizhentas

[2017-01-09 21:10] #669 closed

[2017-01-09 21:11] kontsevoy commented on #687
Thanks @vancluever We'll probably push a new minor release with this fix.

[2017-01-09 21:11] #687 closed

[2017-01-09 23:59] klizhentas commented on #689
@crdnl I've got feitan key by mail today, will try to reproduce and will get back to you.

[2017-01-10 00:10] kontsevoy commented on #522
Not to overlook, this has been pretty popular: https://www.authy.com/

[2017-01-10 01:43] maanas commented on #695
Thank you, Will try and get back. In the meanwhile we are going to use only the teleport master to monitor and record the session and use the normal ssh key based login to the nodes.

[2017-01-10 02:40] kontsevoy commented on #679
Closing this. We're unlikely to take on maintenance of an official build which requires a custom-compiled toolchain.

[2017-01-10 02:40] #679 closed

[2017-01-10 02:50] russjones commented on #522
@kontsevoy I've been playing with Teleport and also noticed TOTP support was lacking. TOTP is preferable to HOTP due to the [short lived nature of the tokens](http://crypto.stackexchange.com/questions/2220/what-are-the-advantages-of-totp-over-hotp). It's similar to the short lived credentials that Teleport itself uses: reduces the window that compromised credentials are useful.

I can add support

[2017-01-10 21:13] crdnl commented on #689
@klizhentas Alrighty, thanks.

[2017-01-11 02:21] russjones opened #704 "Race condition during signup/creation of users"
While working on https://github.com/gravitational/teleport/issues/522 I found a race condition in user signup/creation.

### Problem

The [CreateUserWithToken](https://github.com/gravitational/teleport/blob/master/lib/auth/new_web_user.go#L152-L213) function has a race condition in it. Two requests can arrive to this function at the same time and because it is [no longer protected by locks](https:

[2017-01-11 15:32] mebezac commented on #579
@kontsevoy @adilsond having this exact same issue on teleport v1.3.2. I spun up two servers on AWS following exactly the instructions in the guides, one as the proxy/auth and one as a node to do some testing. I can use `tsh` perfectly fine or the web interface to login into the node.

I then followed https://github.com/gravitational/teleport/blob/master/docs/admin-guide.md#using-teleport-with-open

[2017-01-12 01:36] kontsevoy opened #705 "Strange errors in the logs"
I was working on something unrelated, and added a bit of verbose logging to Teleport auth, specifically I have updated `boltbk.GetVal()` with extra logging prefixed with `---->` like this:

[code]

And during a successful user login via `tsh` it surprised me with errors (but continued to work as expected):

[code]

As you can see, it fails a few times getting `bolt.GetVal(roles/user:ekontsevoy)` b

[2017-01-13 00:50] kontsevoy commented on #704
Is replacing `UpsertUser()` with `CreateUser()` enough? Sounds like it's the first thing we call and the 2nd competing request will get bounced right there. I would love to avoid backend-dependent locks, they're a pain and clearly unnecessary since the root cause of this is 'upsert' semantics.