[2017-01-13 01:11] kontsevoy commented on #704
By the way the only place in Teleport where AcquireLock is necessary is [this](https://github.com/gravitational/teleport/blob/master/lib/session/session.go#L388). If we find a cheap way to get rid of it, we can remove these global locks completely.

[2017-01-15 16:29] marchofreason commented on #522
Will this enhancement also cover other OTP Apps such as Lastpass Authenticator and Intel's Truekey? We have a few developers using a variety of authenticators including Authy

[2017-01-16 09:13] thorerik commented on #522
@marchofreason this request is for TOTP which _should_ work with most other TOTP applications as long as it's following RFC6238. AFAIK authy supports this as well, but has a separate protocol that _is not_ compatible, and is more akin to DUO Security.

[2017-01-16 18:22] kontsevoy commented on #522
@marchofreason @thorerik will you guys help us test the next beta with your TOTP tools?

[2017-01-16 19:16] kontsevoy commented on #694
@mikkeloscar good timing, we were in the middle of tidying up the backend plugins.

[2017-01-17 05:52] klizhentas opened #712 "Captured data race"
[code]

[2017-01-17 06:48] thorerik commented on #522
I'll look into it, I haven't even gotten into testing Teleport because this issue has been a firm blocker in my book,

[2017-01-17 17:19] jeremyd commented on #660
I tried the same test in 1.3.2 thinking this fix would have landed, but I get the same results.  My tokens do not last the specified ttl (using etcd2 backend).  I assume this code made it into 1.3.2 judging from the timeline but .. perhaps the committed fix wasn't enough?

[2017-01-17 17:40] klizhentas commented on #660
the fix is on the client, so you have to make sure you have new tctl as well.

[2017-01-17 17:43] jeremyd commented on #660
So I installed this via the release tgz.  It has tctl and all the binaries, all version 1.3.2.. Then I run tctl on the same server where I install teleport.

[code]

[2017-01-17 17:44] jeremyd commented on #660
I'm reading through the code, and I think maybe it just doesn't do the conversion of TTL into expiration.  When I dump etcd, the expiration field shows the time 30 min from now.  I'm not seeing how this field gets set from the TTL yet..

[2017-01-17 17:46] klizhentas commented on #660
Are you sure it's in 1.3.2? I've landed it in master, but not sure if it has landed in 1.3.2 really

[2017-01-17 17:47] jeremyd commented on #660
I'm not sure no .. I was basing this on the time the commit was made. (will try to check harder)

[2017-01-17 17:50] kontsevoy commented on #660
This is not in 1.3.2

[2017-01-17 17:50] jeremyd commented on #660
Oh, darn, it didn't make the release.  OK cool, I'll just compile it up then I suppose.. Thanks!

[2017-01-17 17:51] kontsevoy commented on #660
@jeremyd yeah, you can just apply the patch yourself to 1.3.2 codebase. `master` is not recommended for production use.

[2017-01-17 17:51] #694 closed

[2017-01-17 17:51] #688 closed

[2017-01-17 22:25] #522 closed

[2017-01-17 23:42] kontsevoy commented on #579
@mebezac @adilsond hey guys, sorry for the delay. @russjones you're playing with this, right?

[2017-01-18 04:57] sasso commented on #625
@flyinprogrammer any luck with okta?

[2017-01-18 16:44] jeff-nulogy opened #715 "Safe to download? Safe to install? Sigs? Shasums?"
Got some tips or best practices around installing _safely?_ We'd like to make sure nothing's tampered with on the way to our sacred servers.  Don't see any sums on your downloads page or signed commits or anything on this project.  Perhaps I'm blind...

The paranoia is strong when considering replacements for sshd.

[2017-01-20 04:14] kontsevoy opened #717 "Teleport usability issues"
These things are UX issues, but they would greatly slow me down if I wasn't familiar with Teleport code.

## Handling non-existent user logins

I have two trusted clusters, "master" and "appliance". Using master as my proxy:

[code]

If `bob` does not exist on "hostname" this will silently fail. It does not print "Bob does not exist".

## Handling Unreachable nodes

Same situation as above, try th

[2017-01-20 05:25] klizhentas commented on #717
I think problem #2 happens pretty much because of this line:

https://github.com/gravitational/teleport/blob/master/lib/reversetunnel/remotesite.go#L168

I think it's safe to remove this line, as it the fact that we failed to dial does not mean that connection is broken. We can just rely on the heartbeat logic here:

https://github.com/gravitational/teleport/blob/master/lib/reversetunnel/remotesit

[2017-01-20 19:51] klizhentas commented on #715
@jeff-nulogy we need to improve our distribution for sure. Meanwhile the most reliable way is to build from sources as long as you trust github and use your own signing/checking.

[2017-01-20 22:50] russjones commented on #579
@kontsevoy I also ran into the same issues when setting up a Teleport cluster that plays well with OpenSSH. I think it's caused by some issues in OpenSSH and some issues in Teleport. Let me try and address them individually:

### 1. Host authentication behaves in a somewhat unexpected manner for OpenSSH users.

This happens for two reasons.

1. When you add a node to a cluster with Teleport, Telep

[2017-01-20 23:23] vancluever commented on #620
Question if anyone is watching this thread still? Was `roles` in configuration actually implemented? I'm looking at the `config.Auth` struct and can't see any reference to the `roles` YAML subkey.

[2017-01-20 23:31] klizhentas commented on #620
@vancluever this did not end up in static config, but you can try out alpha `v2.0.0-alpha.0` that has `tctl upsert -f role-spec.yaml command

[2017-01-20 23:31] klizhentas commented on #620
although we don't recommend to use alpha in production.

[2017-01-20 23:45] russjones commented on #579
Correction to the third issue I raised: you don't need to change the names for the files, you just need to set `IdentityFile` and `CertificateFile` like this (this is probably better done in `~/.ssh/config` to be honest):

[code]

However, permissions do need to be set correctly. The directories leading to the key file need to have permissions set to `700` and the key itself should be `600`.

[2017-01-20 23:48] vancluever commented on #620
@klizhentas thanks! I'm mainly looking for a way to ensure that OIDC users get auto-added in a way that I can control access purely thru configuration, so command line is not necessarily what I'm looking for here. Although bootstrapping the roles via config is something that I may play with, as I could see there being a path to doing that on startup of the service.

[2017-01-21 01:53] klizhentas commented on #665
I need this feature to unblock telekube logins that need second factor to be turned off. Here's my proposal:

## New resource type

Introduce new type of resource `ClusterAuthPreference`

* Local authentication without second factor:

[code]

* Local authentication with U2F factor

[code]

* External authentication with OIDC google

[code]

## New auth server API method

`GET /v2/cluster-auth-pref

[2017-01-21 16:11] vancluever commented on #620
@klizhentas I think I got a pattern here to pre-loading roles via `tctl upsert` on launch of teleport which will satisfy our needs.

Question: how volatile do you think (not expecting any guarantees of course) the rolespec, or `claims_to_roles` will be leading up to the v2.0 release? Will there a be any significant changes or massive improvements to things that would affect an entry point (more th

[2017-01-22 00:30] kontsevoy commented on #620
@vancluever I will let @klizhentas to answer your questions, but it looks to me you're missing one aspect of Teleport design: `tctl upsert` adds stuff to a database, AKA secrets backend [1], for future use, i.e. you do not need to keep doing it on teleport restarts.

[1] Supported backends for storing secrets (including roles) are: BoltDB, directory, etcd and DynamoDB.

[2017-01-22 05:47] crdnl commented on #689
@klizhentas Any update?

[2017-01-22 06:41] vancluever commented on #620
@kontsevoy yeah I get the fact that it's a database operation, but what I'm looking for (as what was originally implied from the design doc here) is the ability to completely control the configuration of Teleport, including its auth roles, via configuration. Having the ability to automate the upsert of roles from a static configuration means that I can maintain roles in configuration management, a

[2017-01-22 23:31] kontsevoy opened #719 ""Object not found" regression"
This problem is not present in official releases, this is a migration on master: `tsh ls` says "object not found" when executed against a trusted (remote) cluster.

[2017-01-22 23:37] kontsevoy commented on #715
@jeff-nulogy we have chosen to rely on Github here, if Github is compromised the attacker can change anything in Github releases, including hashes, so shasums or signatures are not going to make you more secure _as long as they are posted only on Github_.

To make these tools effective we need to duplicate release notes from the Releases tab on our website or, even better, get into Linux distros (

[2017-01-23 02:30] kontsevoy commented on #719
@klizhentas this happens becase `tsh` calls this auth API URL `http://stub:0/v2/namespaces/default/nodes` and gets 404 because the server is old.

[2017-01-23 03:52] kontsevoy opened #721 "Regression: panic on CLI login"
This is a regression, I suspect it's caused by totp 2nd factor auth.
Executing `tsh ssh` on a new cluster, I get:

[code]

This is happens inside of `switch tc.SecondFactorType`, i.e.

[2017-01-23 03:53] kontsevoy commented on #721
Looks like `constants.go` had `teleport.HOTP` declared as "htop" instead of "hotp".

[2017-01-23 04:32] kontsevoy opened #723 "Trusted clusters direction"
Trusted clusters AKA "reverse tunnels" are gaining in popularity. I wanted to discuss a a few questions/concerns:

1. When a new cluster ("appliance") comes up online and joins the "master", which namespace will it be added to?
2. How can we implement easier programmatic adding of new trusted clusters? The current workflow of cross-copying CA certs (checkers) is hard to use and even harder to auto

[2017-01-23 04:32] kontsevoy commented on #723
@klizhentas lets discuss on Monday

[2017-01-23 04:57] #719 closed

[2017-01-23 04:59] kontsevoy commented on #721
closed by #722

[2017-01-23 04:59] #721 closed

[2017-01-23 05:02] kontsevoy commented on #484
This is now in master.

[2017-01-23 05:02] #484 closed

[2017-01-24 02:39] klizhentas opened #724 "Return access denied in case if no roles found"
## Description

In case of dynamic mapping, we should return access denied if we have failed to map any roles to the authentication. Otherwise it is possible to have a case when users can authenticate but will have no permissions at all, that is not only confusing but creates potential risk.

[2017-01-24 05:56] kontsevoy commented on #723
discussed. closing.

[2017-01-24 05:56] #723 closed

[2017-01-24 06:35] kontsevoy commented on #715
@jeff-nulogy closing this and will start publishing sha1sum on releases page.

[2017-01-24 06:35] #715 closed

[2017-01-24 21:02] vancluever opened #726 "Cluster bootstrapping clairification"
Hey all,

From what I can gather, the docs on clustering mainly detail:

 * How to use a shared storage backend
 * How to have nodes join an existing cluster via known auth servers and pre-configured tokens (latter if desired)

However, the docs don't really detail the following:

 * How to bootstrap an auth cluster. In say something like an AWS ASG, the reality is that auth servers will start wit

[2017-01-25 01:33] kontsevoy opened #727 "Cluster switch does not work"
It shows the 1st cluster twice:
![c](https://cloud.githubusercontent.com/assets/461020/22274410/35d48ff4-e25b-11e6-8171-daf8aa9679b9.png)

[2017-01-25 01:53] #727 closed

[2017-01-25 01:53] kontsevoy commented on #727
configuration error

[2017-01-25 06:58] kontsevoy commented on #726
Sure, the docs need to be better (as always). But to answer your question, the bootstrapping sequence is:

1. Start the 1st auth server. Configure it to have a static "join token".
2. Start the 2nd auth server and tell it to join the 1st with the token.

[2017-01-25 17:36] #724 closed

[2017-01-25 18:17] vancluever commented on #726
Great detail and answers pretty much all of my questions and makes my life much easier :) thanks @kontsevoy!

Will leave open as I see you've tagged it :)

[2017-01-25 21:51] #717 closed

[2017-01-26 02:11] panickos commented on #599
I had the same problem.

I solved it by:
`rm -rf /var/log/teleport/*`

I don't have any /etc/teleport.yml - I'm using the defaults.

Then when I restarted the teleport command the node registered.

[2017-01-27 08:17] kontsevoy opened #729 "tsh regressions"
List of `tsh` regressions in master:

## tsh ls wants host login

`tsh ls` wants you to specify a proper "host login" otherwise you get "access denied":

[code]

This makes no sense. `ls` does not need host login.

## "Nodename" is ignored

Trying to SSH into `worker`:

[code]

Two problems here: first, it did not try to look up worker by its hostname (only did net resolve), also it's trying to us

[2017-01-27 18:32] ekristen commented on #423
Anyone actively working on this?

[2017-01-27 19:14] ekristen commented on #423
Another problem with Consul is that it doesn't do TTLs like most other K/V stores, so that will have to be addressed as well.

[2017-01-29 21:32] klizhentas commented on #665
thinking about this later, we don't need this to be a resource, we can simply make this a static configuration section. We would still need to expose this over the web API though, so Auth server has to expose the API over this to communicate to web proxies.

[2017-01-29 21:40] klizhentas commented on #665
actually, take it back - resource is probably better and gives us this simple way to reason about all our configs

* we have a set of resources: users, roles and others, like `ClusterAuthPreference`
* we can have them static and supply via config with `seed_config: true`.

In this case, everything is read only. we can have them dynamic, and simply configure everything via API

so people using ansi

[2017-01-29 22:31] klizhentas opened #732 "`GetChecker` does not work with remote cert authorities"
## Description

Steps to reproduce:

* Create cluster `a` and `b`
* Cluster `a` should be a proxy to `b`
* Create user on cluster `a` -> `bob`
* `tsh --cluster=b --proxy=cluster-a ls` will not work because of `GetUser` in cert checker will fail as user `bob` is not found.

[2017-01-29 22:45] kontsevoy commented on #732
To reproduce you can simply:
[code]

This will give you two clusters: `a-auth` and `b-auth`.
... and then you have to `tctl -c /opt/teleport.yaml auth export` on both machines.

P.S. vagrant sometimes hangs when waiting on the network, re-starting `up` helps.

[2017-01-30 08:32] kontsevoy opened #735 "Proxy IP is reported as"remote IP" for web UI sessions"
We added "Client IP" column to the UI, but it's currently showing the proxy IP, not the client IP. The audit log also (incorrectly) stores proxy IP instead of a true client IP.

[2017-01-30 21:21] kontsevoy opened #736 "Teleport need an equvivalent of "ssh keepalive""
Teleport servers/clients should be able to generate and respond to SSH keepalive requests. This would allow users to have idle terminal sessions for arbitrary long periods of time. Currently Teleport disconnects after the connection idle period.

[2017-01-31 00:55] #729 closed

[2017-01-31 01:03] #736 closed

[2017-01-31 01:13] #667 closed

[2017-01-31 06:36] #732 closed

[2017-01-31 14:07] tidalf opened #739 "OIDC connector doesn't work with etcd backend and multiple teleport auth servers"
It works perfectly with a 3 etcd nodes and one teleport auth server, but stop working if I start another one.

oauth login fail with this error :
{"message":"100: Key not found (/teleport/authorities/user/xxxxx) [1845]"}

[2017-02-01 00:56] tidalf commented on #739
It was a wrong config here. it works well. thx.

[2017-02-01 00:56] #739 closed

[2017-02-01 05:56] kontsevoy opened #740 "ssh-agent keeps too many keys"
When using Teleport in combination with `ssh-agent` and if you keep logging in/out into different clusters, you will see that the SSH agent will store a lot of keys `ssh-add -L`. At some point OpenSSH servers will start rejecting logins for "too many attempts" because so many keys are being tried.

[2017-02-01 10:46] Kellel opened #742 "Feature: pam integration?"
## Initial Comment

Present motd information on login similar to OpenSSH
https://www.ietf.org/rfc/rfc4252.txt  Section 5.4

## Proposal

Teleport is going to (optionally) use PAM to create user sessions. This will enable the full pipeline of PAM-driven session customization, which will give us access to all PAM plugins, including [motd](https://linux.die.net/man/8/pam_motd)

[2017-02-01 14:43] ekristen opened #743 "Feature Request: Better Access Controls"
It would be nice to allow certain users access to specific nodes only.

[2017-02-01 21:50] kontsevoy commented on #743
@ekristen this is already done for the upcoming 2.0 (it's in master). Dupe of #620

[2017-02-01 21:50] #743 closed

[2017-02-01 21:54] kontsevoy commented on #742
@Kellel OpenSSH is most distros is actually configured to integrate with pam and it's pam who's displaying motd-like prompt.

Frankly we feel this will only add unneeded complexity because Teleport performs authentication on a cluster-level, i.e. individual nodes can be as dumb as they come (for example people use Teleport to SSH into docker containers randomly flying around).

The utility of pam

[2017-02-01 22:12] #740 closed

[2017-02-01 22:29] ekristen commented on #743
Thanks @kontsevoy I apologize, I missed the issue because it was already closed. I'll have to check out the code from master! Thanks.

[2017-02-01 23:46] kontsevoy commented on #743
@ekristen or wait a few weeks for 2.0 to come out. master doesn't have docs right now.

[2017-02-02 10:37] apestel commented on #423
@ekristen DynamoDB does not support TTL either. I have done it the same way the BoltDB implementation did. It remove the key if the TTL expired. Not a big deal.

[2017-02-02 12:45] ekristen commented on #423
After further investigation libkv handles TTL across its backends, the only deficiency at the moment is that it doesn't support ACL tokens for consul or etcd.

Sent from my iPhone

[2017-02-02 16:14] Fastidious opened #745 "TLS handshake"
When trying to access my server web interface, I get:

[code]

[2017-02-02 18:23] rikaardhosein opened #746 "Teleport service restart behaviour - deletes DynamoDB entries"
Scenario:

1. teleport.yaml file exists containing details about a few trusted clusters.
2. teleport service is started and this information gets uploaded to dynamodb.
3. a new trusted cluster needs to be added  so an entry is added to the dynamodb table but the configuration file isn't changed and the service isn't restarted.
4. eventually the service is restarted, and the entry that exists in dy

[2017-02-02 20:07] kontsevoy commented on #746
@rikaardhosein DynamoDb is not officially supported (yet). It's in master branch and the upcoming 2.0 release. I am guessing you're using community-supplied plugin for 1.3.x series?

[2017-02-02 20:09] kontsevoy commented on #745
What is this output of? `tsh --proxy=N`? Did you configure teleport with SSL cert for HTTPS? If you have not, please use `--insecure` flag.

[2017-02-02 20:09] #745 closed

[2017-02-02 20:11] kontsevoy commented on #746
Also, try adding `seed_config: true` to `teleport.yaml` like this:

[code]

[2017-02-03 07:58] noriuky commented on #579
I have similar problem.
I installed teleport on my 3 vps online:
Server1 have teleport full with admin
S2 and S3 just host.
They saw each other i can log into webpage and use all servers from there but
if i try to access via ssh it dont work, even if i follow the guide:[here](https://gravitational.com/teleport/docs/admin-guide).
I got a doubt following the guide. i can access to my 3 vps only via

[2017-02-03 08:07] noriuky opened #749 "x509: certificate is valid for ::1, 127.0.0.1, not x.x.x.x (the public ip of my vps)"
this happen when i try to connect to any teleport cluster by any pc which is not part of the cluster it self using this command:
tsh --proxy=x.x.x.x ssh root@y.y.y.y
where xxxx is the teleport server public ip and yyyy is another server running teleport as client.
I follow the guide on teleport website [here](https://gravitational.com/teleport/docs/admin-guide) "Using OpenSSH Client"

I can still

[2017-02-03 15:48] ekristen commented on #423
FWIW https://github.com/docker/libkv has a PR open for dynamodb and I'm working on a PR that supports consul access tokens, ISTM that any new backend could be implemented using libkv and could eventually migrate the existing backends over to using libkv so there is a consistent interface.

[2017-02-03 17:00] brumfb commented on #746
We are using some of the upcoming dynamodb functionality, we've tried with 1.5.x and 2.x-alpha.3.  We will try the seed_config to see if it solves our issue.

[2017-02-03 19:29] r0fls opened #750 "CSS doesn't work on Safari"
The scrollbar is missing on Safari, as well as the search bar.

[2017-02-04 09:06] kontsevoy commented on #746
@brumfb @rikaardhosein I see. Mandatory disclaimer: the master is not meant for production/serious use. Dynamic configuration is still in flex (that's why `seed_config` is undocumented and very likely to be removed in the official 2.0 release).

[2017-02-04 09:07] kontsevoy commented on #579
@noriuky this will be fixed in 2.0 (coming out in Feb)

[2017-02-04 09:11] kontsevoy commented on #749
For production/secure use Teleport must be running behind a fully configured SSL endpoint, i.e. you should not be accessing it via IP, and instead you should purchase an SSL cert and configure Teleport to use it.

But... For testing purposes pass `--insecure` to `tsh`.

[2017-02-04 09:11] #749 closed

[2017-02-04 09:12] kontsevoy commented on #750
not enough info.

[2017-02-04 09:12] #750 closed

[2017-02-04 19:59] klizhentas commented on #750
@r0fls we will be glad to reopen the issue once you provide a bit more information:

* Teleport version
* Safari version
* The screen that does not show scrollbar and search bar.

[2017-02-04 20:05] klizhentas opened #752 "Proposal: seed_config behavior"
## Description

`seed_config: false` is set by default that can lead to confusing scenarios when backend data is deleted after service restart, see #746

First of all I suggest to make it a bit more explicit:

## Rename seed_config to `source`

To make it explicit, rename this setting to "source" meaning source of truth for configuration.

## Source: backend

* If `source: config` then the data fr

[2017-02-06 23:51] kontsevoy opened #755 "OTP test fail"
We have a stress-tests set up on `metal` node which runs `make test` in a loop. In 6.5% of the test runs (approx every 15th run) we get this failure:

[code]

[2017-02-06 23:54] kontsevoy commented on #755
not valid.

[2017-02-06 23:57] kontsevoy commented on #579
@russjones this is probably related to #611 (i.e. if this one is fixed, then #611 should work with just a documentation update. AFAIK `--cluster` switch doesn't even matter when tsh agent is running)

[2017-02-07 18:53] #735 closed

[2017-02-07 21:25] #712 closed

[2017-02-07 23:35] kontsevoy opened #756 "SSH for in-cluster automation"
Some users want to SSH from their laptops into host `A` and then from `A` to `B`. Currently the only way to do this is to run `ssh-agent` on the laptop and on `A` with SSH agent forwarding configured. This effectively means you're running Teleport + bits of OpenSSH and have to mess with OpenSSH configuration to [get this to work](https://developer.github.com/guides/using-ssh-agent-forwarding/).

I

[2017-02-08 02:33] kontsevoy opened #757 "Authentication configuration 2.0"
## Overview

Teleport 2.0 and the future versions will be gaining more and more ways to authenticate users. The current configuration format in `teleport.yaml` is not scalable to future additions. This ticket is about refactoring auth configuration and making it compatible with dynamic configuration as employed by `telekube`.

There are two components to this ticket:

* YAML configuration format c

[2017-02-08 02:50] kontsevoy opened #758 "CLI login should ask for server's version and auth info"
## Description

Teleport can be configured with various authentication back-ends (LDAP, local DB, OAuth2, etc). In addition to that, the 2nd factor can be on, off or via u2f.

Currently the CLI client has no idea how to authenticate a user and it requires a CLI flag to select a method of authentication. This makes it cumbersome to use (why ask user for the auth method if the server already knows?)

[2017-02-08 02:51] kontsevoy commented on #665
duplicate of #758

[2017-02-08 02:51] #665 closed

[2017-02-08 12:16] noriuky opened #759 "NO TLS Keys provided"
Hi, this is my /etc/teleport folder contain:
[code]

this is teleport.yaml:

[code]

this is my /etc/systemd/system/teleportd.service:

[code]

this is the result of system teleportd status:
[code]
WHY dont load my SSL key and crt files?
tnx

[2017-02-08 12:18] noriuky commented on #759
sry i cant damn understand why write bold and big, rewrited 2 times still!!! sry

[2017-02-09 01:54] kontsevoy commented on #759
@noriuky because you put the certificate in the wrong section of the config file (under `teleport`). they should be under `proxy_service` as shown in [the documentation](https://gravitational.com/teleport/docs/admin-guide/#configuration)

[2017-02-09 01:54] #759 closed

[2017-02-09 16:46] bcg62 commented on #514
Has there been a PR in to homebrew yet?

[2017-02-09 23:48] stephencheng opened #764 "is this a feature that my current username has to be used to match the destination username"
I am puzzled with this test case:

Let's say I have below user and login users configured
[root@authproxy ~]# tctl users ls
User              Allowed to login as
----              -------------------
cm                stephencheng
root              root
super           jack,root

[jason@client ~]$tsh --proxy=authproxy --insecure --user=cm ssh node1

I am intending to login as stephencheng to node1

[2017-02-10 02:41] russjones commented on #579
With https://github.com/gravitational/teleport/pull/730, https://github.com/gravitational/teleport/pull/762, and https://github.com/gravitational/teleport/pull/762 merged these issues should be resolved (on master).

I followed the instructions in our documentation myself and was able to connect to Teleport nodes using OpenSSH with the Teleport agent as well as the system SSH agent.

[2017-02-10 02:53] russjones commented on #611
@leif-ohlin We've made some changes to Teleport to support OpenSSH interoperability. What you want to do (use OpenSSH clients to connect to Teleport nodes) now works on master.

In addition, you don't have to pass `--cluster` to `tsh` when launching the agent. Also, if you don't want to use the Teleport agent at all, we also now load your keys into the running system SSH agent as well.

So this sh

[2017-02-10 03:01] stephencheng commented on #764
sorry, I found out the answer to this.

you will have to use tsh --login=targetuser to make it work

[2017-02-10 03:01] #764 closed

[2017-02-10 04:46] stephencheng opened #765 "ssh client to login to teleport node does not work"
tried to test this in two different scenarios:

1. from a redhat7 box to ssh to node06 via authproxy2
2. from mac to node06 via authproxy2

I tried the approach detailed here: https://github.com/gravitational/teleport/blob/master/docs/admin-guide.md#using-openssh-client

both failed with similar message,

-------------error for case1--------------
[stephencheng@client root]$ ssh -v stephencheng@no

[2017-02-10 17:51] adilsond commented on #579
I still got the same message after rebuilding teleport with the latest changes:

adilsond@fett:~/.ssh$ ssh adilson@target.prox01.someproxy.net -v
OpenSSH_7.3p1 Ubuntu-1, OpenSSL 1.0.2g  1 Mar 2016
debug1: Reading configuration data /home/adilsond/.ssh/config
debug1: /home/adilsond/.ssh/config line 10: Applying options for *.prox01.someproxy.net
debug1: Reading configuration data /etc/ssh/ssh_confi

[2017-02-10 19:02] bcg62 commented on #756
@kontsevoy are there any details on how to accomplish this today? Im trying to do the above but cant seem to figure out a way to get them working together

[2017-02-10 19:08] russjones commented on #579
@adilsond To help debug this, can you do the following:

1. In the same shell you are going to run `ssh` from, show us the output of `ssh-add -l`. This will verify that you have an SSH agent running, you can communicate with it, and the keys are correctly loaded in the agent.
1. Run the following command `ssh -vvv -p 3023 adilson@prox01.someproxy.net`. This increases the logging level and only con

[2017-02-10 19:39] kontsevoy commented on #756
@bcg62 to use this today, you can build the master branch of Teleport, so the `version` will report:

[code]

And then follow the tutorial linked above. Teleport is now fully compliant with `ssh-agent` (tested for both OSX and Linux)

[2017-02-10 19:39] kontsevoy commented on #756
This ticket is about supporting this natively, i.e. without having to run `ssh-agent` on all machines.

[2017-02-10 19:43] kontsevoy commented on #765
`ssh` connects to port 22 by default. Teleport uses `3022`, can you try `ssh -p 3022` instead?

[2017-02-10 20:50] klizhentas commented on #756
I would like to discuss this more before we are going to implement it. ssh-agent forwarding are a big security risk

https://heipei.github.io/2015/02/26/SSH-Agent-Forwarding-considered-harmful/

The alternative and more secure way of achieving the same goal is to do turn teleport proxy on every node and use `ProxyCommand` setting.

[2017-02-10 21:21] ajvb commented on #423
I've gotten started on an implementation: https://github.com/gravitational/teleport/compare/master...ajvb:ajvb/consul

Hopefully will have a PR by end of day.

[2017-02-10 21:22] kontsevoy commented on #756
Agreed: agent forwarding as implemented in OpenSSH is not something we should replicate. Moreover, there's no need for that - people can use Teleport + OpenSSH `ssh-agent`. We need to see how we can solve "authoriztion propagation" problem better.

[2017-02-10 22:55] russjones commented on #755
Fixed in https://github.com/gravitational/teleport/pull/766.

[2017-02-10 22:55] #755 closed

[2017-02-11 05:29] russjones commented on #756
One advantage of not allowing this is that we raise the bar for an attacker.

Let's say you exploit a web service that is running on a node within a Teleport cluster. If we allow agent forwarding you can (potentially) jump to another node. However if we don't the attacker is forced to find and exploit some service on the next node they want to jump to.

That being said, we could mitigate the risks

[2017-02-11 18:51] klizhentas opened #768 "Client fails when can not connect to gnome-keyring"
Steps to reproduce:

```make test```

Got this result on master

[code]

[2017-02-11 18:53] klizhentas commented on #768
Reproduces 100% of the cases on my linux laptop

[2017-02-11 19:28] russjones commented on #768
@klizhentas Do you have a ssh-agent running on your machine? What is the output of `ssh-add -l`?

[2017-02-11 19:32] klizhentas commented on #768
yes, here's the output

[code]

[2017-02-12 04:37] klizhentas commented on #768
I think that tests should never rely on host's SSH agent, as it is quite unexpected behavior really

[2017-02-12 04:38] klizhentas opened #770 "Use utils.Deduplicate when building list of host principals"
## Descriptoin

When building host principals, make sure to use `utils.Deduplicate`, otherwise you will end up with duplicate principals in case if HostUUID and NodeName are the same thing

[code]

[2017-02-12 04:42] klizhentas commented on #768
as we've just discovered we get that error not only during tests, but with new tsh that fails to talk to gnome-keyring on my laptop.

[2017-02-12 06:05] russjones commented on #768
I've narrowed down the problem, it's either in the Go SSH agent or the `gnome-keyring`. The problem occurs when you try and add a certificate (keys are added fine without a problem).

Code to reproduce the issue:

[code]

[2017-02-12 06:13] russjones commented on #768
To fix this issue, I'll make the following changes to Teleport.

* Create a debug agent in Teleport tests that can be plugged in as the external agent. This way Teleport tests succeeding don't depend on the agent running on the system.
* Instead of failing/crashing when communicating with an agent, log the error and continue on.

[2017-02-12 06:34] russjones commented on #768
The below code will generate and key and a certificate and write them to disk. Trying to add the key and certificate to `gnome-keyring` with the OpenSSH `ssh-add` fails when it gets to the certificate. More evidence pointing in the direction that `gnome-keyring` is the culprit.

[code]

[code]

[2017-02-12 18:26] russjones commented on #768
With the below we can eliminate any issues with certificate generation in our Go code being the culprit because `gnome-keyring` fails even with a certificate generated using OpenSSH tools.

[code]

[2017-02-13 00:14] kontsevoy commented on #756
@russjones we've done some brainstorming with @klizhentas on this earlier. There are ways to make "within-cluster" authentication easier without implementing a full-spec agent forwarding (I even removed "agent forwarding" from the title). We'll revisit this for 2.1

[2017-02-13 00:17] kontsevoy commented on #768
@russjones so `tsh` won't be compatible with gnome keyring? This sucks since it's the default ssh agent on enterprise RHEL/CentOS laptops.

[2017-02-13 05:10] russjones commented on #768
@kontsevoy Yes, unfortunately it looks like we won't be able to load certificates into `gnome-keyring` from `tsh`.

[2017-02-13 07:12] kontsevoy opened #771 "2.0 regressions"
Another round of testing for 2.0 revealed fresh regressions:

### scp UX

When `scp` prints the names of files it copies, it repeates the file name twice,:

[code]

### scp -r

Recursive `scp -r remote:/path/to/dir/* local/dir` does not work (i.e. download from a globbed path). Looks like Teleport's `scp` does not support wildcards.

### scp-into-existing-dir

OpenSSH implementation of `scp` uses

[2017-02-13 07:15] #765 closed

[2017-02-13 07:16] kontsevoy commented on #611
@russjones is this fixed? Shall we close this?

[2017-02-13 19:32] russjones commented on #611
@kontsevoy I think we can close this.

@leif-ohlin if you are still running into issues feel free to re-open/comment and I can dig in further.

[2017-02-13 19:32] #611 closed

[2017-02-13 23:26] russjones commented on #770
Fixed in #772.

[2017-02-13 23:26] #770 closed

[2017-02-14 00:08] stephencheng commented on #765
Sorry, this still does not work for me, I am suspecting that it's issue with older version of openssh talking to teleport:

If you check my reported error above, you can see key word: allocate memory.

configure I used:
[root@client .ssh]# cat config
Host *
    ProxyCommand ssh -p 3023 %r@proxy1 -s proxy:%h:3022

Similar here as below:

---------------------log-----------------------
[root@client

[2017-02-14 06:47] #768 closed

[2017-02-16 02:18] russjones commented on #758
After talking with @alex-kovoy, we were thinking about returning the following from the proxy? `/ping` would be used by `tsh` and `/web/config.js` would be used by the web client. Essentially the proxy would merge the `ClusterAuthPreference` resource with a safe subset of connector resources like `OIDCConnector` which it would retrieve from the `AuthServer` (where the full unsafe resources can be

[2017-02-16 02:57] stephencheng opened #777 "HA etcd config question"
For a HA configuration using etcd, I am just wondering what's the architecture of etcd setup? the doco didn't say much about it.

1. Is it a etcd cluster? like a few etcd instances running, then in the teleport config file we put a elb entry for it?

2. the doco shows below config:
        peers:
        - https://172.17.0.1:4001

I am wondering what's expected to be in there? is it a list of http

[2017-02-16 03:34] klizhentas commented on #758
looks good to me

[2017-02-16 03:37] klizhentas commented on #777
Check out etcd clustering guide:

https://coreos.com/etcd/docs/latest/op-guide/clustering.html

In clusered setup etcd is not a SPOF as it can tolerate node failures. In the list of peers you can supply the list of ETCD peers.

When supplying etcd backend the config will be managed by etcd and not locally, yes.

You could put etcd behind LB but then make sure that your LB is not a SPOF.

[2017-02-16 10:54] stephencheng commented on #777
great, I will try it out.

Thanks

[2017-02-16 10:54] #777 closed

[2017-02-16 18:29] adilsond commented on #579
On the client machine the result of running 'ssh-add -l' is 'Error connecting to agent: No such file or directory'. So I tried to run the system ssh-agent first. Then the resut changes to 'The agent has no identities.' The result is the same running tsh agent from the teleport server.

Running 'ssh -vvv -p 3023 adilson@prox01.someproxy.net' gives me the same result. The server ask for connecting w

[2017-02-16 23:04] eiginn commented on #742
One use case we have for using pam is assigning an "auid" that is processes inherited via pam_loginuid.so and we capture this is auditd logs. Allows users to sudo to root while maintaining a tail.

[2017-02-17 01:11] russjones commented on #579
@adilsond It looks like the issue is you are not setting up your agent correctly. Try the following:

1. Open a Terminal window, type in `tsh --proxy=work.example.com agent`.
1. Open another Terminal window, copy the output from Step 1 into the new terminal window. What are you doing here is setting the `SSH_AUTH_SOCK` environment variable so Teleport and OpenSSH can find the agent.
1. If you have

[2017-02-17 12:49] adilsond commented on #579
The error message changed for this before disconnecting.

proxy doesn't support request type 'pty-req'debug2: channel 0: written 44 to efd 7
debug3: receive packet: type 100
debug2: channel_input_status_confirm: type 100 id 0
PTY allocation request failed on channel 0

Trying to connect to another server show this message:

debug1: Local version string SSH-2.0-OpenSSH_7.2p2 Ubuntu-4ubuntu2.1
subsy

[2017-02-17 17:52] russjones commented on #579
@adilsond That's good, `proxy doesn't support request type 'pty-req'debug2: channel 0: written 44 to efd 7`. That means you were able to connect to the proxy and the proxy is telling you it doesn't support PTY requests. This is what you want to see because the Teleport proxy is configured to not support PTY requests for security reasons.

For Teleport and OpenSSH to interoperate, you'll need at le

[2017-02-17 18:23] klizhentas opened #778 "Terminal resize calls are failing for remote cluster"
## Description

When accessing remote cluster via UI, resize calls do not work.

Steps to reproduce:

* Create cluster A and B
* Access cluster B via proxy on cluster A
* Resize window.
* Resize call fails

The reason for this is that resize call goes to local proxy session, instead of using remote client session.

[2017-02-18 02:39] #691 closed

[2017-02-20 03:01] stephencheng opened #781 "feature question: does one instance of teleport support multiple clusters"
I understand that in auth configuration section, you could configure one cluster for one running instance of teleport auth or proxy.

My question is whether one running instance supports multiple clusters?

A use case is that if I have multiple teams running different application A,B and C, I'd like one centralised teleport auth server to support multiple teams' logins. In this case, I will setup

[2017-02-20 06:30] kontsevoy commented on #781
@stephencheng sure.

What you're describing is what we have at work. To set this up, you:

1. Create, say, 3 clusters A, B, C.
2. Cluster "A" is the "master" and holds identities of all users.
3. Clusters B and C do not have any users, but they're configured to trust cluster A (i.e. all users from A are automatically propagated to B and C).

This is called "trusted clusters".
Docs:
https://gravita

[2017-02-20 06:30] #781 closed

[2017-02-20 06:34] kontsevoy opened #782 "Teleport settings UI"
## Teleport settings

"Settings" in Teleport should only be visible to users in a built-in "admin" group. @klizhentas knows more about this. Admin group members can always login with a password+2nd factor token. Below is the list of settings screens.

Teleport settings will have 4 screens as shown below:

#### Password change

This changes the local DB password for the user:
https://app.moqups.com

[2017-02-20 11:39] stephencheng commented on #781
Thanks.

Yes, I understand the concept of trusted cluster and I have already made it work.

Here my real problem is that I don't want to create physical cluster A, B and C, in this case I will need to run 3 teleport services with 1-1 mapping:

cluster A: 1 teleport instance running (1 yaml config) <-> 1 cluster A <->  1 auth service <-> multiple teleport nodes
cluster B: 1 teleport instance runnin

[2017-02-20 11:44] stephencheng commented on #781
@kontsevoy I am not sure how to reopen this issue but hoping you could see my update and need your advice on it.

Thank you

[2017-02-20 18:09] #782 closed

[2017-02-20 18:14] kontsevoy commented on #781
@stephencheng yeah, closed issues are still good to discuss features. what you're describing is what we internally call "infrastructure partitioning" and creating separate clusters for that is an overkill. my guess is that you want to partition your nodes based by who can access them.

For that Teleport supports RBAC, see #620. This falls into enterprise teleport 2.0 feature set (to be released th

[2017-02-20 23:48] stephencheng commented on #781
@kontsevoy thanks very much, I guess the feature I am looking for is the namespace mentioned in there.

Do you have a set date of the release of 2.0? will it be also in open source version?

Btw, I couldn't seems find detailed docs of features in enterprise version compared to open source version. Is there a link for it?

We are now looking for above fine grained access control plus AD integration

[2017-02-21 02:02] russjones commented on #579
@adilsond noriuky mebezac I'm going to close this issue for now. If any of you are still running into issues feel free to re-open/comment and I can dig in further but I think the issues here are resolved.

[2017-02-21 02:02] #579 closed

[2017-02-22 19:52] #757 closed

[2017-02-23 05:09] kontsevoy opened #784 "Broken backwards compatibility"
I just rebuilt the last master and Teleport stopped working on the existing dataset.
Start log:

[code]

Also attaching the data + confing file (as a tarball).
[docker-env.tar.gz](https://github.com/gravitational/teleport/files/795593/docker-env.tar.gz)

Unzip the tarball into teleport/docker (it will create `data` directory with the database) and then `cd docker` and `make shell`. Once inside you

[2017-02-23 05:12] kontsevoy commented on #784
Actually it looks like it's config-file issue. See `docker/one.yaml` - this file makes the latest master puke.

[2017-02-23 05:21] kontsevoy commented on #784
Even simpler way to reproduce (from Teleport repo dir):

[code]

[2017-02-23 16:22] ekristen opened #786 "Will there be an upgrade path from 1.x to 2.x?"
Just curious if we start using 1.x today, will there be a simple way to upgrade to 2.x or will it have to be a completely new reinstall?

[2017-02-23 16:31] klizhentas commented on #786
yes, 2.x does automatic migration of the data when started after 1.x and has backwards-compatible API support that we are testing

[2017-02-23 16:31] #786 closed

[2017-02-23 16:35] ekristen commented on #786
Awesome thanks @klizhentas

[2017-02-23 17:42] bcg62 commented on #784
I am also seeing this, I've tried to set the auth values and still cant seem to get it to start with my config file

[2017-02-23 19:17] russjones commented on #784
@kontsevoy @bcg62 Yes, looks like my last PR broke master. These issues are fixed on `rjones/authentication-selection`, I'll try and get that merged ASAP.

[2017-02-23 22:39] klizhentas commented on #746
this should be fixed by #752

[2017-02-24 00:04] #758 closed

[2017-02-24 00:04] #784 closed

[2017-02-24 02:04] russjones commented on #705
It seems like this is normal behavior. This is is what is happening:

1. We try and fetch all users by calling [s.backend.GetKeys](https://github.com/gravitational/teleport/blob/master/lib/services/local/users.go#L57-L59
) and asking for all buckets under `[]string{"web", "users"}`. Right now my system only has a single user `rjones` so `keys` ends up being `[]string{"rjones"}`.

       // GetUser

[2017-02-24 02:04] #705 closed

[2017-02-24 02:36] russjones opened #789 "Configuration File Regressions"
**Description**

The new authentication configuration changes has caused a variety of regressions issues. These need to all be run down so we can be sure that old and new configuration files both work.

We need to test the following configurations work as expected.

_Teleport 1.3.2:_

- [x] legacy-empty-teleport.yaml
- [x] legacy-oidc-teleport.yaml
- [x] legacy-u2f-teleport.yaml
- [x] new-empty-te

[2017-02-24 05:41] #771 closed

[2017-02-24 22:50] russjones opened #792 "OIDC Regression"
Found a OIDC login regression, this occurs when trying to create a new user.

![](https://cloud.githubusercontent.com/assets/5017502/23324042/6a64689a-faa0-11e6-9360-4c42b025083b.png)

[2017-02-25 00:24] #789 closed

[2017-02-25 00:53] russjones commented on #792
This issue is not a regression bug, but rather a UX issue. Two issues:

1. `tctl` allows you to add a user without passing in the `identity`. Like `tsh` it should know what kinds of authentication the auth server supports and return an error if `identity` is not passed in.

       $ ./tctl users add rjones
       Signup token has been created and is valid for 3600 seconds. Share this URL with the

[2017-02-25 01:53] klizhentas commented on #792
Here's my proposal on how to fix the confusing behavior:

* deprecate `tctl user add --auth=` as we are not going to support this combined local/OIDC mode in the future, so `tctl user add` will always add local users, never `hybrid` users.

* UI `newuser` methuod should always add local user and ignore auth preference, so there is no "signup" for OIDC mode.

[2017-02-25 06:23] kontsevoy opened #795 "dynamic_config setting"
### Introduction

Teleport requires a lot of configuration. Some of it is by definition static and cannot change during the runtime, for example `cluster_name` cannot change because this would render issued certificates invalid.

Meanwhile, other values are expected to change while Teleport is running, for example "remote clusters". Lots of Teleport users want to add/remove trusted clusters at run

[2017-02-25 06:24] kontsevoy commented on #746
Dupe. See #795

[2017-02-25 06:24] #746 closed

[2017-02-25 06:24] kontsevoy commented on #752
Dupe. See #795

[2017-02-25 06:24] #752 closed

[2017-02-25 09:04] kontsevoy commented on #640
@klizhentas what are we doing with this one?

[2017-02-25 18:40] #778 closed

[2017-02-25 19:01] klizhentas commented on #640
@kontsevoy Ideally @alex-kovoy will handle the error on the UI and show something like:

[code]

[2017-02-25 19:01] klizhentas commented on #640
and then we can close this.

[2017-02-26 13:28] tidalf opened #797 "SAML support"
SAML support would be great for infrastructure with existing IDP (Microsoft ADFS for example) that doesn't support oidc.
https://github.com/crewjam/saml works better with my tests than this one https://github.com/RobotsAndPencils/go-saml.

The easiest way to integrate with teleport would be to duplicate a part of the current oidc code since the auth flow and most things are similar but perhaps tha

[2017-02-26 17:30] dadicool commented on #797
There was an issue already about fixing the oidc integration to support Azure AD. Look here #621

[2017-02-26 22:36] tidalf commented on #797
SAML and OIDC are two different things (and ADFS and Azure too).

[2017-02-26 22:42] dadicool commented on #797
I read adfs as azure ad. My bad. In deed, saml support is needed for adfs. +1 on that feature :)

[2017-02-27 04:22] stephencheng opened #798 "does it have adfs oauth support?"
I understand teleport now support oauth (OIDC)

Can you confirm if it supports adfs backend oauth authentication?

[2017-02-27 05:03] klizhentas commented on #798
We haven't tested it with adfs. If it supports OIDC protocol we support it too.

[2017-02-27 05:03] #798 closed

[2017-02-27 19:32] bcg62 commented on #756
I see now if i try to forward my agent i get rejected with

[code]

Is this expected?

[2017-02-27 20:05] bcg62 commented on #756
Essentially my usecase is using teleport to reach a bastion host as the only point of access as a jump host to reach the rest of my cluster.

Currently we use hardware ssh keys (yubikeys/etokens) with agent forward to accomplish this so the credentials as passed no matter how many hosts you've jumped through.

I've managed to set up teleport to reach my bastion hosts, which is all working as expec

[2017-02-27 23:26] kontsevoy commented on #756
@bcg62 yes, it is expected. the bastion currently will not propagate/forward your keys. `2.1` is when we'll seriously address this use case. current Teleport user use `tctl auth sign` command with a large TTL to generate never-expiring session keys and store them on the bastion, so you can `tsh ssh` again from it.

[2017-02-28 05:27] stephencheng commented on #798
@klizhentas

What are the expected response is from the OIDC to teleport? Is there any where I can have this kind of service contract?

[2017-02-28 05:36] klizhentas commented on #798
it is literally OIDC, nothing special, if you are looking for examples, we will soon publish docs/tutorials on the subject

[2017-02-28 09:05] liyuankui opened #799 "Can we increase the teleport-proxy timeout?"
A console will disconnect if idle for about one minute, can we increase it?

[2017-02-28 15:07] bcg62 opened #800 "unable to resize terminal"
Im connecting via openssh client using iterm2 3.0.14 on osx to a teleport node and anytime i resize my window i get disconnected with the following error:

$ ssh: unmarshal error for field Modes of type WinChangeReqParamsConnection to xxxx closed.
Killed by signal 1.

[2017-02-28 23:50] zbuttram opened #803 "Reverse tunnels for individual nodes?"
Are there any plans for support of individual nodes creating reverse tunnels to a proxy server without creating a new cluster? We have a case where we would like to have a single node setup at multiple different sites, but currently it looks like we would need to configure a cluster for each site just for a single node to use a reverse tunnel.

[2017-03-01 02:01] #792 closed

[2017-03-01 05:38] klizhentas commented on #799
Yes 2.0 has adjustable session timeouts

Sent from my iPhone

[2017-03-01 05:50] klizhentas commented on #799
sorry, as a follow up - 2.0 is coming really soon and we have adjustable session timeouts based on RBAC both for web and SSH sessions.

[2017-03-01 05:51] klizhentas commented on #799
I'm going to close this issue for now, meanwhile watch for news on our email list or on twitter for updates

[2017-03-01 05:51] #799 closed

[2017-03-01 05:54] klizhentas commented on #803
@zbuttram I think it's an interesting idea, I will defer to @kontsevoy to brainstorm this

[2017-03-01 22:18] klizhentas commented on #625
if anyone is interested, I made Okta work with some tweaks here:

https://github.com/gravitational/teleport/compare/sasha/okta?expand=1

but I'm not getting `groups` claim back yet. Working with Okta to figure out why.

After that I'm going to send PR to go-oidc library and then we'll have Okta support working

[2017-03-01 22:57] sasso commented on #625
@klizhentas that's amazing! Hope your PR gets merged to go-oidc soon

[2017-03-01 22:59] klizhentas commented on #625
I haven't sent it yet, but yeah, let's hope we will sort this out with Okta and we'll have it all working

[2017-03-02 01:25] #795 closed

[2017-03-02 05:28] klizhentas opened #807 "Trusted Cluster Resource"
## Description

It is currently very hard to connect clusters together because users have to do manual confusing key exchange and manipulate 3 different objects - ReverseTunnel, User and Host CA.

To solve this issue we are introducing new high level resources `TrustedCluster`

### TrustedCluster Resource

[code]

Two flows exist for adding new clusters: static tokens and short-lived tokens.

1. S

[2017-03-02 05:28] klizhentas commented on #807
@kontsevoy please review

[2017-03-03 19:43] brumfb opened #809 "With OIDC and role mapping, MaxSessionTTL check cannot be passed from web session."
I believe this commit: https://github.com/gravitational/teleport/commit/d6ff6f62048b9abfa1b3a377435c92b843c6d5ca#diff-e84082ce87963ba1d7d85b48fe926693 introduced a bug where the ttl check cannot be passed as the ttl value is set to the role's MaxSessionTTL.  This prevents the user from logging into a web session.  You can see the MaxSessionTTL is adjusted here (https://github.com/gravitational/tel

[2017-03-03 19:55] klizhentas commented on #809
@brumfb good catch, looking into it now, although I'm trying to figure out why I can't reproduce :/

[2017-03-03 19:56] brumfb commented on #809
It only occurs through a web session, I think, so if you are trying via tsh behavior might be different.

[2017-03-03 20:00] klizhentas commented on #809
@brumfb I'm trying to trigger it via web session, but can't for some reason

[2017-03-03 20:01] klizhentas commented on #809
I know I should as the code flow you outlined should not work, properly, digging

[2017-03-03 21:28] #809 closed

[2017-03-03 21:28] klizhentas commented on #809
@brumfb can you confirm with latest master that your issue is fixed?

[2017-03-04 04:40] brumfb commented on #809
Yes, I'm sure that will fix it.  That is the fix I applied in my local version to initially get around the issue.  Thanks for the quick turnaround.

[2017-03-05 23:08] kontsevoy commented on #807
[code]

[2017-03-05 23:29] klizhentas commented on #807
@russjones let's adjust TrustedCluster resource based on @kontsevoy's notes tomorrow.

[2017-03-07 23:39] stephencheng opened #814 "Is it possible to auto run a script after login?"
openssh supports execution of a script after user login, is it possible in teleport and how?

Thanks,

Stephen

[2017-03-08 16:33] alex-kovoy opened #816 "the very first session recording has a strange print event with negative time"
Repro steps:

1. start a fresh new docker container with teleport in it
2. open a terminal, type something, and then do 'exit'
3. go to sessions and try to replay recorded session
4. player will show just initial login message due to the following event:

![image](https://cloud.githubusercontent.com/assets/7816406/23713103/dadf8a9a-03f2-11e7-85fe-6a4aea7f0a68.png)

[2017-03-09 21:52] #807 closed

[2017-03-11 03:30] #756 closed

[2017-03-13 21:20] russjones commented on #668
* Authentication changes.
* OIDC configuration changes.
* `TrustedClusters` resources.

[2017-03-14 08:57] noriuky opened #833 "Select actual line text and Paste not working."
Hi, i've read older post and still not working.
I try to copy text from the actual cursor row but it's impossible, the selection vanish togheter with cursor blinking.

right click of mouse never show Paste,
CTRA+a  work but not following CTRL+v

still not working plz add also SHIFT+ins (paste) and CTRL+ins (copy)

[2017-03-14 13:52] bcg62 commented on #514
Accepted into homebrew https://github.com/Homebrew/homebrew-core/pull/10854

[2017-03-14 14:30] alex-kovoy commented on #833
Could you tell more about your environment?
- What browser/OS do you have on your client?
- What OS is running on your server (node)?

[2017-03-14 15:08] klizhentas commented on #514
@bcg62 👏 thanks!!!

[2017-03-15 13:05] noriuky commented on #833
Sure sry i forgot.
My server run Centos7
i use firefox on win10

[2017-03-15 13:57] chrisRidgers opened #838 "tsh ls fails with handshake error"
Currently attempting to debug this behaviour:

Running `tsh --insecure --proxy=<auth.domain.name> ssh root@<auth.domain.name>` successfully get's me a shell on my server running an auth server, a proxy, and a node.

However:  running `tsh -d --insecure --proxy=<auth.domain.nam>e ls` get's me this output:

[code]

From the server, which is also running verbosely:

[code]

The setup in question it p

[2017-03-16 02:51] klizhentas commented on #838
@chrisRidgers try setting username to the one listed in your principal:

`tsh --login=root -d --insecure --proxy=<auth.domain.nam>e ls`

[2017-03-16 02:53] klizhentas commented on #814
if you mean executing .bashrc this is controlled by your shell, not openssh or SSH server. Can you clarify?

[2017-03-16 03:00] klizhentas commented on #625
At the end I was able to work on this, but got blocked by the combination of factors:

* Expires header returned by OIDC endpoint is not RFC compliant
* Okta OIDC does not support groups in auth code flow, only in implicit flow
* The claims returned by polling user endpoint are not signed

* There was a small bug on the client library side that we have fixed in go-oidc code.

So all this makes it

[2017-03-16 04:59] stephencheng commented on #814
here is what I mean:

Match User foo
    ForceCommand /path/to/script.sh

see link: http://stackoverflow.com/questions/33713680/ssh-force-command-execution-on-login-even-without-shell

[2017-03-16 05:07] klizhentas commented on #814
we don't support this, what is your use-case?

[2017-03-16 10:47] stephencheng commented on #814
I'd like to have a login user to:
1. only to login and automatically run one application automatically
2. not to even to give user interactive shell access
3. the app is kind of CLI or curses program with basic GUI
4. if user quit or kill the app, the session will be terminated or the user will be kicked out of login ssh connection

Not sure if this is even possible, the standard sshd server does

[2017-03-16 10:59] chrisRidgers commented on #838
That: worked.

Thanks.

I think I've misunderstood part of the process then:

I thought that tsh would login to teleport using my username (not root), and be validated because there is a similarly named user.

So my local username matches a username in teleport which has mappings to the root user on my nodes: this makes sense because when I ssh in using `root@` syntax this is successful.

But the

[2017-03-16 11:19] chrisRidgers commented on #838
As part of another test I granted someone else access to the cluster with a mapping to a user that doesn't exist on my nodes and sure enough he couldn't `tsh ls` even with the `--user` set to the user in my principal.  He could however login to the web proxy using is credentials and see the nodes listed there.

So it appears I can't `tsh ls` unless I have access to my auth/proxy (they're both curr

[2017-03-16 14:03] dignati opened #840 "OpenBSD release build"
I would like to use teleport on an OpenBSD server. It would be nice to have an official build on every release.

[2017-03-16 17:31] jeremyd commented on #625
Ouch, sorry to hear that. Thanks for the investigation I will try to bring
these points up with okta.

On Wed, Mar 15, 2017, 8:00 PM Alexander Klizhentas <notifications@github.com>
wrote:

[2017-03-16 18:00] klizhentas commented on #838
This limitation comes from the fact that SSH expects your login to match one of the issued principals for your SSH cert, that's why we get this somewhat strange behavior.

[2017-03-16 18:02] klizhentas commented on #814
I think this is something you should do outside of Teleport - e.g. create a user with shell limited to launching only this command and using linux groups permissions to restrict access. So closing this for now

[2017-03-16 18:02] #814 closed

[2017-03-16 18:25] klizhentas opened #842 "U2F login is broken"
## Description

U2F login is not working on latest beta

[2017-03-16 18:27] klizhentas opened #843 "tsh agent should clean up open SSH agent certs"
## Description

When tsh agent cleans up tsh certs, it should also try removing them from the agent.

[2017-03-16 18:51] #800 closed

[2017-03-16 21:59] #842 closed

[2017-03-17 08:37] wcc526 commented on #481
https://github.com/jumpserver/jumpserver
https://github.com/jumpserver/jumpserver/blob/master/init.sh

I think can run teleport on linux server,PC can connect to the linux server by ssh,it will run teleport when login.

[2017-03-17 10:21] dignati commented on #840
I assumed this would be trivial since go supports OpenBSD but I run into issues compiling termios. I will try to make this work but I don't have any experience with go so any help is appreciated

[2017-03-17 20:23] tidalf commented on #833
this pr for term.js seems to fix the copy + paste for me : https://github.com/chjj/term.js/pull/97

[2017-03-17 22:12] #843 closed

[2017-03-18 00:01] kontsevoy commented on #677
Closed:
https://github.com/gravitational/teleport.docs/commit/d6185cbc8744e10b47ad11b28c854170f57c3086

[2017-03-18 00:01] #677 closed

[2017-03-18 12:50] tidalf commented on #798
adfs 2012 does not support full oidc (just oauth).
adfs 2016 support oidc, it almost works with teleport, if you hack the go-oidc to accept upn instead of email.
however I haven't found a way to make it works so it sends groups or email instead of upn.

[2017-03-21 18:58] kontsevoy opened #848 "Turning off 2nd factor is not possible"
Teleport 2.0 supports "off" setting in YAML for the 2nd factor right now:

[code]

However, it's not really implemented. The UI seems to be reacting to "off" value, but the login still requires a token.

### Proposed Fix

This needs to start working :-)

[2017-03-21 19:00] kontsevoy opened #849 "SSH exec parsing issues"
Ansible usage exposed issues in how Teleport parses bash commands. It does not support quotes properly.

@russjones you have the full context.

[2017-03-21 19:13] klizhentas commented on #848
@kontsevoy I actually need this for telekube, so we have to support second factor off

[2017-03-21 19:14] kontsevoy commented on #848
@klizhentas updated ticket body

[2017-03-21 21:43] russjones commented on #849
To reproduce:

[code]

[2017-03-21 23:52] #849 closed

[2017-03-22 00:30] noriuky commented on #833
Ok can you explain how to install this and where? i'm not expert of this.
it should be on server or on client side?
did this fix also the (cursor key UP) not working on teleport too.
is useful to call prev commands.

[2017-03-22 00:38] noriuky opened #855 "Command history not working."
Did someone had same problem?
i press up but it doesnt behave like ssh terminal.
any solution?
i really need it is very useful.
I also wonder how to move backward / forward along the actual command line.
left and right arrows keys not working too.
this force me to keep open a notepad and elaborate my command string there then copy paste into the shell. This is so frustrating and slow down the work

[2017-03-22 04:23] alex-kovoy commented on #855
Could you tell more about your environment? What OS/Browser do you use on the client? What OS do you use on the node/server?

[2017-03-22 04:29] alex-kovoy commented on #855
In issue #833 you mentioned that this behavior was observed in Firefox. While we are looking into this issue, could you tell if it works fine in Chrome or other browser for the same environment?

[2017-03-22 05:12] kontsevoy opened #857 ""upserted" should be removed from the UI / UX"
This command:

[code]
Keeps printing:

Also, "upsert" behavior is causing issues elsewhere for us. Lets remove "upsert" semantics from everywhere _reasonable_ (i.e. where real world users can see it) and use a proper "create" and "update".

There is `tctl update`, BTW.

[2017-03-22 05:15] kontsevoy opened #858 "Proper resoruce CRUD using tctl"
tctl should allow users to explore what exists in a Teleport cluster.
For example we should be able to list roles, trusted clusters, etc.

**Note** Need to come back and provide more detail for this issue.

Proposal `tctl ls` command. By default it would just dump a list of object types that are available, like

[code]

Then, if you do `tctl ls users` it should dump a YAML array of user resources.

[2017-03-22 05:17] kontsevoy opened #859 "Document "allowed resources""
Teleport Roles have `allowed_resources` thing. We need to document possible "resources".

[2017-03-22 13:04] chrisRidgers commented on #838
And via the web interface/ proxy?

How's it sourcing the list of nodes for me to ssh into?  (The web login doesn't ask me for a username to check with my principals).

[2017-03-22 16:52] kontsevoy commented on #840
@dignati we've had users who've built Teleport on FreeBSD, is it too different from OpenBSD?

[2017-03-22 16:54] kontsevoy opened #860 "Teleport should respect proxy environment variables"
Teleport daemon should respect `http_proxy` and `https_proxy` environment variables.
This feature request comes from commercial Teleport users.

Related: #443
Related: https://github.com/gravitational/teleconsole/issues/25

[2017-03-22 22:27] #848 closed

[2017-03-22 22:51] klizhentas opened #863 "TSH successful login says whoops in window UI titlle"
![whoops](https://cloud.githubusercontent.com/assets/13717/24224249/67137a60-0f17-11e7-8508-81d08b2a5220.png)

[2017-03-23 21:27] lucazz opened #866 "Issues starting Teleport w/ it's config file"

[2017-03-23 21:38] lucazz opened #867 "BoltDB backend: 'path' is not set, initializing teleport with config file."
Hey guys,

First of, great job on building this toolkit!

I'm running (or at least trying to) Teleport v2.0.0-rc.1 fetching the binaries from the GH's releases section.

I've been able to make teleport work w/ the ad-hoc commands described at the docs.
But I've been getting a few strange errors while trying to start the teleport service using a config file (production-like deployment).

I tried to

[2017-03-23 22:20] klizhentas commented on #866
@lucazz can you elaborate with more details?

[2017-03-23 22:32] klizhentas commented on #866
I saw you created another issue. Closing this one

[2017-03-23 22:32] #866 closed

[2017-03-23 22:37] klizhentas commented on #867
this will work if you add `path:` property to your config. This is a regression we are going to fix.

[2017-03-24 02:18] lucazz commented on #867
@klizhentas where do I plase this config?
I've tried to put it on the same level as `data_dir`, and it complains about it:

[2017-03-24 04:59] klizhentas commented on #867
For now, should look like this:

[code]

[2017-03-24 09:03] galenzhao opened #868 "missing session cookie"
`
INFO[0038] [SSH:auth] closed connection                  file=sshutils/server.go:257 func=sshutils.(*Server).handleConnection.func1

WARN[0038] http: named cookie not present                file=web/apiserver.go:1620 func=web.(*Handler).AuthenticateRequest request=GET /web

WARN[0039] http: named cookie not present                file=web/apiserver.go:1620 func=web.(*Handler).AuthenticateRequest

[2017-03-24 09:07] galenzhao commented on #868
not the same as #557,
I'm sure enabled cookie in browser,
and the server time as same as my client ,

[2017-03-24 16:08] klizhentas opened #869 "Trusted clusters config is not accepting keys in old export format"
## Steps to reproduce

* Upgrade binary
* Copy the new master.ca from the Teleport server and restart teleport.
* Teleport is unable to start and I'm getting this error in the logs:

/opt/teleport/master.ca:L0. invalid file format. expected '@cert-authority` marker

## Expected results

* System should work properly and accept trusted cluster

[2017-03-24 17:03] kontsevoy opened #870 "Web UI does not like non-default ports"
When SSH server is running on a non-default port the Web UI will not be able to open a session there.

[2017-03-24 18:26] beaudryj opened #872 "WINRM Support?"
Probably a pretty crazy request, but have you thought about implementation of this using WinRM?  This would be amazing for windows environments/Azure

Also would be really nice for heavily mixed environments

[2017-03-24 18:33] lucazz commented on #867
yep, that did the trick:
<img width="679" alt="screen shot 2017-03-24 at 15 31 50" src="https://cloud.githubusercontent.com/assets/6126301/24308579/466f129c-10a7-11e7-82db-5a1446e66783.png">

[2017-03-26 19:25] kontsevoy commented on #870
This was incorrectly reported. The issue was that time was out of sync between machines that the certificate was always expired. User error.

[2017-03-26 19:25] #870 closed

[2017-03-26 19:26] kontsevoy opened #875 "Every log message under systemd is logged twice"
When teleport is running under system, every message it logs into its own log appears twice

[2017-03-26 19:28] kontsevoy commented on #875
Also, `output` directive in `log` section of the configuration is ignored. It should accept `stderr` and `syslog` values and respect them.

[2017-03-28 08:38] kontsevoy opened #877 "tsh scp does not report errors on the client side"
Try: `tsh scp non-existent-file server:remote-file` and it will not print an error message to stderr, will just silently fail.

[2017-03-28 20:48] alex-kovoy opened #880 "Cannot build web assets on Mac with latest nodejs"

[2017-03-29 05:35] alex-kovoy commented on #868
Did you have any other browser tab open with the teleport? In case of terminated teleport web session (due to sever restart, for example), a web-client would keep pinging the server for a little while until it finds out about ended session. When that happens, a web-client should stop querying the server and show a login page.

[2017-03-29 09:48] ilovezfs opened #881 "2.0.0 tarball is missing"
On March 22, I updated the teleport formula on Homebrew to 2.0.0:
[code]

[code]

It seems that at some point since then the tarball has gone MIA, and now returns 404: Not Found.

[2017-03-30 00:12] #877 closed

[2017-03-30 22:23] #867 closed

[2017-03-30 22:23] #875 closed

[2017-03-30 22:27] klizhentas commented on #881
@ilovezfs sorry, we have published 2.0 by mistake, and had to pull it from the repo. 2.0.1 will be coming shortly.

[2017-03-30 22:27] #881 closed

[2017-03-31 00:50] klizhentas commented on #869
Here is my proposal:

* Deprecate the `key_file` section in static config for `trusted_cluster` (remove from docs, but still support the code)
* Instead, accept new `yaml` strucrture for `trusted cluster`
* Introduce `tctl auth export --compat=1.0` flag that exports the keys in the old format to preserve backwards compatibility for existing installs

[2017-03-31 09:35] analbeard opened #886 "Cluster bootstrapping fails with static tokens"
I'm attempting to bootstrap a test cluster using Ansible and I cannot get a new node to authenticate against my initial auth server. One thing I can't see in the docs is how the roles are applied - in this instance my proxy is both proxy and node (obviously), so the static auth token is configured for 'proxy,node' - would this be correct?

I've created a gist with the config and errors for both en

[2017-03-31 13:48] bcg62 commented on #886
the docs suggest using pwgen for tokens, you should wind up with something like this which seems different than your configuration.

[code]

[2017-03-31 16:07] ekristen opened #887 "advertise_ip defaulting to loopback in Teleport 2.0.0 RC2"
I just installed RC2 and all the new nodes I've registered have defaulted to 127.0.0.1 for its advertise_ip.

[2017-03-31 16:19] ekristen commented on #887
Actually I pulled all the code out and ran just the discovery code manually on my server and it detects the correct IP, but when run in the context of teleport it is selecting 127.0.0.1. It is unclear as to why.

[2017-03-31 16:43] analbeard commented on #886
It turns out that this was user error. In my config file I had my list of auth tokens as follows:

[code]

however that should have just been just 'tokens:' instead of 'auth_token:'.

[2017-03-31 16:43] #886 closed

[2017-03-31 19:17] olivierpilotte commented on #869
Is there a workaround to this problem? I'm testing rc2 / rc3 at the moment and wanted to give the trusted clusters a try, but got impeded by this bug.

[2017-03-31 19:18] klizhentas commented on #869
you can just stick to 1.3.2 and it will work

[2017-03-31 19:26] ekristen opened #888 "UI is broken in RC2"
It seems that the UI will not load in RC2.

[code]

[2017-03-31 19:41] ekristen commented on #888
Seems this has to do with oidc stuff not being configured properly? Perhaps the documentation is out of date?

[2017-03-31 21:05] alex-kovoy commented on #888
Could you share the config which causes this behavior or a full exception stack from browser console?

Thank you!

[2017-03-31 21:55] #880 closed

[2017-03-31 21:55] #888 closed

[2017-03-31 23:32] klizhentas opened #890 "Bring back `seed_config` but warn that it is deprecated"
## Description

To avoid breaking all Telekube installs, we have to keep `seed_config`, when it is used, simply set it to `dynamic_config` value, but warn that it is deprecated.

[2017-03-31 23:41] russjones opened #891 "Dynamic Roles"
**Description**

At the moment using OIDC with individual system logins means you have to either create a role for every user or keep updating a shared role with logins whenever someone new joins the team.

To improve the user experience of OIDC and Teleport, we should have an option to allow creation of roles dynamically based off the claims received from an identity provider.

**Implementation D

[2017-04-01 01:15] #890 closed

[2017-04-01 05:31] genexp opened #893 "Official Docker Image?"
Hey Team - Wondered if you had plans to release an official Docker image?  I noticed there are many poorly maintained ones out there.

  https://hub.docker.com/

[2017-04-03 14:24] ekristen commented on #888
I was using `oidc_connectors` instead of `oidc` .. I believe since the publishing of v2.0.0 and then the retraction, there was some mixup in docs too, at one point it talked about oidc_connectors but I'm unable to find it now.

[2017-04-04 03:01] ekristen opened #894 "Unable to connect to cluster host using tsh, but web works"
I am unable to connect to a remote cluster behind a FW using tsh, but using the web interface on the main proxy works just fine.
[code]

[2017-04-04 15:02] ekristen opened #895 "Access Controls on Sessions?"
Shouldn't session playback be restricted to the user that created it or an admin user?

[2017-04-04 16:55] klizhentas commented on #895
pre-RBAC teleport users were all admins of sorts, post-RBAC users you can manage it by tweaking users roles

[2017-04-04 17:03] ekristen commented on #894
Oddly it seems to work just fine this morning, so maybe some sort of networking issue?

[2017-04-04 17:33] klizhentas commented on #894
could happen if node could not reach out to the auth server

[2017-04-04 17:37] ekristen opened #896 "Error joining node to cluster when it has joined another trusted cluster"
`can not join: certificate generation error: remote-cluster has no signing keys`

`tctl auth ls` shows a CA Type for both user and host.

[2017-04-04 17:38] ekristen commented on #894
I'll close for now, I'll re-open if it happens again.

[2017-04-04 17:38] #894 closed

[2017-04-04 17:41] ekristen commented on #895
Thank you for the information.

[2017-04-04 17:41] klizhentas commented on #894
@ekristen can you collect the logs from the node and auth server when this happen again, I will inspect those.

[2017-04-04 17:42] klizhentas commented on #895
we should all more docs on this

[2017-04-04 17:44] ekristen commented on #895
That would be much appreciated. Thanks for all the awesome work on this project.  So far you've been moving fast on iterations, but I'm keeping my eye out on ways to contribute.

[2017-04-04 17:46] ekristen commented on #894
Yes, I adjusted my logging a bit better and so I should have those for the next time this happens.

[2017-04-05 09:08] wohlben opened #898 "Webfrontend Session Replay not working ... sometimes"
There seems to be a *really* strange bug in the Webfrontend

My first impression was the teleport.log.severity setting, but that that didn't really hold up on further testing. Affected sessions are however permanently tainted and cant be played on the web frontend. The error only affects the webfrontend, as the tsh play $SID works fine for everything.

The access URL (node id and session id) seem

[2017-04-05 18:18] #891 closed

[2017-04-05 19:24] alex-kovoy opened #899 "Update U2F documentation section"
But apparently it does not work if app_id and facets settings are missing.

[2017-04-05 19:38] russjones opened #900 "Invalid URL when running teleport status"
**Description**

When running `teleport status` Teleport returns an invalid URL to the Web UI.

**Implementation Details**

Return the correct URL to the Web UI?

[2017-04-05 19:41] russjones opened #901 "Add support for requesting an acr claim and validating acr values"
**Description**

Add support for requesting an acr claim and validating acr values.

[2017-04-05 20:36] alex-kovoy commented on #898
Can be related #816

[2017-04-05 23:12] #640 closed

[2017-04-05 23:12] #898 closed

[2017-04-05 23:28] russjones commented on #899
We also need to document the changes to OIDC connectors and new features like Dynamic Roles: https://github.com/gravitational/teleport/pull/897

I'll take care of this.

[2017-04-06 19:02] federicoboerr commented on #625
@jeremyd were you able to raise this issues with OKTA? I was also looking federate the authentication with them.

[2017-04-06 19:16] #869 closed

[2017-04-06 19:44] ekristen commented on #896
It seems as though once I join a cluster as a trusted cluster to another one, I cannot add anymore nodes to the cluster without getting the error above.

[2017-04-07 15:12] ritesh opened #907 "Trying to run teleport in auth role"
I'm trying to bootstrap a teleport cluster. If I run
`teleport start --roles=auth`, I expect this to start an auth server. Instead it returns `BoltDB backend: 'path' is not set, initializing teleport` and quits. This is on a brand new host, with an empty /var/lib/teleport directory. If I run teleport without specifying roles, it works as described in the quickstart and I get an auth service, proxy

[2017-04-07 16:36] klizhentas commented on #907
@ritesh this is fixed in master

[2017-04-07 16:40] ritesh commented on #907
Nice, thanks! FYI, the binary release works as you'd expect with `--roles=auth` if you use the DynamoDB backend.

[2017-04-07 17:23] #900 closed

[2017-04-07 17:59] russjones opened #910 "OIDC Timeout and Web UI"
**Issue**

At the moment when you start the OIDC login process you have 60 seconds to complete it:

https://github.com/gravitational/teleport/blob/master/lib/auth/auth.go#L756-L759
https://github.com/gravitational/teleport/blob/master/lib/defaults/defaults.go#L114-L115

If you are not able able authenticate within 60 seconds (as in the callback is not received within 60 seconds), the request (and

[2017-04-07 22:14] #910 closed

[2017-04-08 01:20] russjones commented on #899
Fixed in https://github.com/gravitational/teleport/pull/909.

[2017-04-08 01:20] #899 closed

[2017-04-08 05:25] russjones opened #912 "Role Templates should have defaults"
**Problem**

At the moment, role templates don't have defaults. That means you have to explicitly define resources, namespaces, node labels and the session TTL in the template. This creates a bad UX and potentially security issues because it leads to thing like:

[code]

**Potential Solution**

Role templates should use default values like local users do: https://github.com/gravitational/teleport/

[2017-04-10 16:28] ekristen commented on #896
@russjones or @kontsevoy have you seen this?

[2017-04-10 16:29] klizhentas commented on #896
@ekristen I haven't seen this, but we can try to reproduce on our side if you provide us with step-by step guide and tell us what version are you using

[2017-04-10 17:25] ekristen commented on #896
**Version:** RC2 (mainly because all the releases since have not had any builds associated with them)

I am using dynamic tokens only to register hosts.

1. Get your first cluster up and running (I'm using dynamodb as a backend)
2. Then get your second cluster up and running, using local storage only (no HA just a single auth server)
3. Join the second cluster to the first cluster using the dynami

[2017-04-10 22:31] russjones opened #918 "Trusted Clusters do not work with Authorized Keys Format"
**Problem**

If you export Trusted Clusters with the new style format of host CA in `known_hosts` format and User CA `authorized_keys` format, both CAs are loaded into the backend correctly and visible from the Web UI, but you are not able to connect to a node within the Trusted Cluster. In the Web UI you will see:

[code]

Within the logs you will see:

[code]

[2017-04-11 17:45] ekristen opened #921 "Consider compiling for ARM architecture"
I've got a lot of ARM devices that would benefit from being able to use teleport to include mobile devices such as iPhones and Androids.

Would you consider adding ARM architectures to your build process?

I've attempted to cross compile the teleport binary for ARM but have run into a few problems with the fact that C is imported in a single location that causes compilation problems.

[2017-04-11 18:45] #895 closed

[2017-04-11 20:21] pmoust commented on #918
Hit that as well #919 should cover it, thanks

[2017-04-11 22:07] russjones commented on #921
Can you paste the errors you are running into?

[2017-04-11 22:23] ekristen commented on #921
First I had to upgrade the boltdb vendor dependency, after doing that this is the error I get.

[code]

It seems to be because there is an import C in the go file, so I modified the compile command to enable CGO but that spits out an entirely different set of errors ...

[code]

[2017-04-12 00:02] #918 closed

[2017-04-12 00:24] russjones opened #923 "Incorrect Shell Parsing"
**Problem**

The following command fails because the quoted command is parsed incorrectly by Teleport.

[code]

[2017-04-12 00:25] #912 closed

[2017-04-12 00:44] russjones opened #924 "Session Viewing"
**Problem**

At the moment, all users can view all other users recorded sessions. We should be able to restrict this by role. For example an admin should be able to view all recorded sessions, a users should (ideally) by only able to view their own recorded sessions or no session at all.

[2017-04-12 02:14] ekristen commented on #896
I just upgraded to v2.0.1 and the problem still exists. I'm doing some more debugging, I might have more information in the morning.

[2017-04-12 03:18] ekristen commented on #896
It seems that if you create a cluster and have it join another cluster as a trusted cluster using the dynamic config option before adding a node to the cluster it will error out with no signing keys.

However if you create your cluster, add at least one node to the cluster first then tell the auth/proxy service to join another cluster as a trusted_cluster using dynamic config everything works corr

[2017-04-12 03:57] ekristen commented on #896
Unfortunately however I am now unable to join nodes to my primary cluster, I get the same error

[code]

[2017-04-12 06:55] stephencheng opened #925 "can I limit number of login session?"
is there a way to limit 5 login sessions for example?

[2017-04-12 15:02] ekristen opened #926 "[tsh] Odd behavior with wrapping long commands"
When using the `tsh` command there is a weird wrapping or lack thereof wrapping behavior happening.

With copy and paste if the command is longer than the terminal, it puts the entire command on the second line, well sort of, it really has it on the first line with the prompt, but you cannot see the text unless you scroll back with your cursor.

If you type a command that is larger than your termi

[2017-04-12 21:45] tidalf commented on #924
ideally the sessions from the group (role) he belongs.

[2017-04-12 21:47] klizhentas commented on #924
@tidalf sessions are not associated with roles at the moment, only with a namespace, so we need to think about the proper design for this feature. Originally I came up with namespaces to solve this particular problem, need to think how to extend/reuse namespaces for this purpose.

[2017-04-13 09:35] wohlben opened #928 "Session Replay Improvements"
I see several ways in which you could seriously improve the replay feature on the web-frontend

+ Search  should (imo) grep through the executed commands / "bash history" of the cluster, maybe with a toggle like "cmd: echo"

+ Sessions should be tag-able and this tag should also be searchable - i.e. search "tag: db-update". This tag should be append-able after the session ended.

+ Only select peo

[2017-04-13 18:58] #901 closed

[2017-04-13 20:41] kontsevoy opened #929 "Better Ansible compatibility"
Currently, if you want to use Ansible with Teleport, you have to configure OpenSSH client `ssh` to use Teleport auth via an agent. This is not hard, but introduces extra moving parts.

A much cooler way to do this would be to have `tsh` behave _exactly_ like `ssh`. So imagine you have a symlink:

[code]

Now, when you execute `/usr/bin/ssh` you're actually executing `tsh` and `tsh` by looking at i

[2017-04-13 20:45] kontsevoy commented on #896
@ekristen this happens because `/var/lib/teleport` (AKA "data dir") contains host certificates issued by another node (my guess). I would recommend wiping out /var/lib/teleport if a node changes cluster membership. LMK if that helps.

[2017-04-13 20:48] kontsevoy commented on #896
@ekristen do you mind sending us YAML configs (feel free to strip/replace sensitive info in them) for the following:

* Auth server of cluster-a
* Auth sever of cluster-b
* Node of cluster-b which fails to join

Thanks!

[2017-04-13 20:50] kontsevoy commented on #925
you mean simultaneous users? or simultaneous sessions per user?

[2017-04-13 20:50] kontsevoy commented on #925
also, what the use case would be, thanks!

[2017-04-13 20:51] kontsevoy commented on #921
@ekristen currently some teleport dependencies cannot be compiled for ARM64. have you tried 32-bit arm?

[2017-04-13 20:53] kontsevoy commented on #893
we never thought a single-file executable needed to be put in a docker container :) besides, `teleport` needs to run as `root` to impersonate user logins. but I guess this could be used for testing?

[2017-04-13 20:53] kontsevoy commented on #859
this has been done by @russjones

[2017-04-13 20:53] #859 closed

[2017-04-13 20:55] kontsevoy commented on #872
@beaudryj thanks for your suggestion! cool ideas are always appreciated. however, with Teleport, since it's a security tool, we have made a decision (a while ago) to never implement other protocols because we believe in specialized tools to do one job, in this case SSH access. We've had requests for RDP and VNC as well. Sorry! :)

[2017-04-13 20:55] #872 closed

[2017-04-13 20:57] kontsevoy commented on #855
tested on all supported browsers and could not reproduce. @noriuky we're going to close this for now but feel free to send a better instructions for how to reproduce this. Thanks!

[2017-04-13 20:57] #855 closed

[2017-04-13 20:59] ekristen commented on #896
@kontsevoy most definitely. Just to be clear, I know have cluster b working , but cluster a has stopped working. I'm not sure if that's because of the upgrade to 2.0.1 or if it is because of of getting cluster b working properly.

## Original Problem
1. I setup cluster-A, joined nodes to it, everything worked create
2. Setup cluster-B, joined it to cluster-A as trusted cluster
3. Attempted to add

[2017-04-13 21:00] ekristen commented on #896
I was about to blow away the dynamodb table and all my cluster-A `/var/lib/teleport` directories on all servers and start over, but if you'd like me to hold off to try and gather more information please let me know.

[2017-04-13 21:00] genexp commented on #893
Yeah you're right. I'm not sure what I was thinking here.

On Thu, Apr 13, 2017 at 4:53 PM Ev Kontsevoy <notifications@github.com>
wrote:

[2017-04-13 21:09] kontsevoy commented on #893
hehe, cool. we'll save ourselves a bit of time by not starting to maintain this _for now_ and instead invest in other areas, like maintaining BSD or/and ARM binaries! :) we may revisit this later!

[2017-04-13 21:09] #893 closed

[2017-04-13 21:11] kontsevoy commented on #896
@ekristen I realize you've done some editing, but this jumped out anyway: `auth_token` (on the node) and `tokens` on the auth do not match. Is that as a result of editing?

[2017-04-13 21:11] ekristen commented on #921
That gets me a little closer, I can try and dig in some more, but this is the error now

[code]

[2017-04-13 21:13] ekristen commented on #896
Result of editing, my apologies.  I'm using saltstack and I've writing custom modules that actually use salt stack to generate a 3m ttl token with the appropriate roles and have it populate the auth_token field of the new node, and then start the service up.

The only hard coded token I have is for the auth servers and the reason for this is before the auth server are online there is no auth servi

[2017-04-13 21:14] ekristen commented on #896
I've definitely seen the error if the token is no longer valid, and that is an entirely different error message than what I'm seeing. I can provide more logs if you'd like.

[2017-04-13 21:16] ekristen commented on #896
@kontsevoy if you've got a slack server, irc room, or discord server that you idle in, I'd be more than willing to join so when you have time we can talk real-time, should that be more beneficial to you.

[2017-04-13 21:17] kontsevoy commented on #921
`darmin/arm`? are you cross-compiling? if you are, we've never tried that. for ARM builds we've used Raspberry PIs and then moved to renting Linux ARM servers on https://www.scaleway.com

Here's the latest master build for you to try:
http://s3.gravitational.io/ev/teleport-v2.1.0-alpha.2-linux-arm-bin.tar.gz

[2017-04-13 21:19] ekristen commented on #921
I am cross compiling. Thanks for the link, this will let me PoC! Thanks.

[2017-04-13 21:24] kontsevoy commented on #896
@ekristen lets do this first. can you try to reproduce this from scratch using "dir" backend? I.e. on all machines use this back-end config:

[code]

Then, if the problem can be reproduced, you can just zipup `/var/lib/teleport` on both auth servers and send it to us securely. Thanks!

[2017-04-13 21:26] ekristen commented on #921
FWIW, my target platforms are iOS ARM and Android ARM.

[2017-04-13 21:28] ekristen commented on #896
I can do that. Are you sure that backend config is correct though? Seems to be referencing dynamodb still?

[2017-04-13 23:13] kontsevoy opened #931 "SSH node cache errors"
This is NOT from the production branch(s). This is new stuff going into 2.1.
When I run a stress-test (having many _concurrent_ clients executing the command below) I see them fail sometimes with the error.

Client looping this:

[code]

## Error One

Server spits this into the logs:

[code]

or

[code]

## Error Two

Another (when this happens a 100% valid user would get "access denied" error):

[2017-04-13 23:14] kontsevoy commented on #931
looks like it's the same error, it's just logged differently from 2 places.

[2017-04-13 23:17] kontsevoy commented on #896
you probably read my previous message via email notification? :) because I have corrected it right away :) should be:

[code]

[2017-04-13 23:52] ekristen commented on #896
Funny enough I was actually on the github page but for some reason your comment didn't get updated.

I'll get this tested ASAP, most likely tomorrow morning and let you know.

Sent from my iPhone

[2017-04-14 00:45] #668 closed

[2017-04-14 09:22] tatsushid commented on #481
I very roughly wrote tsh Windows support code at
https://github.com/tatsushid/teleport/tree/feature/tsh-windows-support

I built a binary with

[code]

and check its `ssh` command worked on my test env (Windows 2012R2) command prompt and PowerShell. I didn't test other commands and it shouldn't work on msys or Cygwin console.

I'm new to Teleport and not familiar with Windows so much but as I know

[2017-04-14 15:56] ekristen commented on #896
So far a fresh install with a single auth service seems to be working, so there might be a bug in the HA code? I'll keep testing and adding new hosts and let you know if anything changes.

[2017-04-14 20:43] ekristen opened #932 "Trusted Cluster Feature Request / Clarification - Support Multiple Roles"
## Current Behavior

When you create a trusted cluster you define the role or roles required to be assigned to a user from the main cluster.

If that role states that the login allowed is `ubuntu` that is the only login that the user from the main cluster can use, even if the user has more roles associated or more allowed logins associated with it on the main cluster.

## Requested Behavior

When

[2017-04-14 21:54] kontsevoy commented on #481
@tatsushid wow, very impressive. The HEAD in the `master` branch in your repo is what we should be looking at?

[2017-04-14 21:58] kontsevoy commented on #896
hm... could be something in the upgrade path. so this works on DynamoDB now as well?

[2017-04-14 22:05] tatsushid commented on #481
@kontsevoy It's in a `feature/tsh-windows-support` branch and the environment variables are needed if you build it on Linux/Mac, any other not Windows machine. Of course, as you mentioned, if you run it on Windows, these aren't needed.

[2017-04-14 23:25] ekristen commented on #896
I have not tried dynamo yet. I've been just going through and testing using dir.

Quick question, it's only the auth servers that have to talk to dynamodb?

Sent from my iPhone

[2017-04-15 00:57] jeremyje opened #933 "Stress testing the ssh output failed."
`ls / -laR | lolcat`

overwhelmed the server. I got a lot of these in the logs and also the web ui froze.

WARN[0537] Audit log cannot keep up. Dropping event ''   file=state/log.go:101 func=state.(*CachingAuditLog).post
WARN[0537] Audit log cannot keep up. Dropping event ''   file=state/log.go:101 func=state.(*CachingAuditLog).post
WARN[0537] Audit log cannot keep up. Dropping event ''   file=sta

[2017-04-15 01:00] klizhentas commented on #933
thanks for your report, we will take a look!

[2017-04-15 01:03] klizhentas commented on #933
@jeremyje can you tell me the teleport version as well?

[2017-04-15 01:04] jeremyje commented on #933
teleport version
Teleport v2.1.0-alpha.2 git:v2.1.0-alpha.2-0-g415dea46

[2017-04-15 01:07] jeremyje commented on #933
Also Chrome SSH extension works fine with that command. I'm also connected to a server over a Gigabit line.

[2017-04-15 01:23] klizhentas commented on #933
I was able to reproduce setting to 2.1 milestone

[2017-04-15 11:59] wksantiago opened #934 "Using U2F does not provide for adding of U2F device"
Using U2F does not provide for adding of U2F device.

Added the following:
*************************************
authentication:
        # type can be local or oidc
        type: local
        # second_factor can be off, otp, or u2f
        second_factor: u2f

        # this section is only used if using u2f
        u2f:
            # app_id should point to the Web UI.
            app_id: https://

[2017-04-15 17:34] klizhentas commented on #934
can you post your full config (without the secrets)

[2017-04-15 22:44] kontsevoy commented on #896
@ekristen correct. DynamoDB is auth server's storage back-end. nodes and proxies are more or less stateless (their state is read-only and is created once upon the initial run).

[2017-04-15 22:47] ekristen commented on #896
Everything seems to be working with storage dir and a single auth server. I'll delete everything and try dynamodb again and let you know what happens.

Sent from my iPhone

[2017-04-16 06:50] jeremyje opened #935 "Prometheus Metrics"
It'd be nice to get Prometheus metrics of this service. By default it gives metrics for the go runtime but login attempts, bandwidth etc could be published.

https://github.com/prometheus/client_golang

[2017-04-17 18:21] eburghar opened #937 "unable to log in a trusted cluster"
Hi,

Congrats for the project which looks very promising.

I have 2 teleport 2.0.1 server running inside alpine containers, each ones with the 3 roles

- `cluster_one` is publicly accessible from outside (with ports forwarded up to the container). The web ui is behind an nginx reverse proxy. The cluster has one user `foo` with the `root` role, and i can successfully log in.

- `cluster_two` is on

[2017-04-18 03:08] nikatjef commented on #929
I know this is really basic code, but this appears to work for me;
[code]

I then created a symlink for ssh and scp;
[code]
Ran a couple of very basic tests.  All of them were successful.

[2017-04-18 08:42] logic855 opened #939 "failing compile on smartos"
Hi,

I am trying to compile teleport on smartos.

[code]
which results in:
[code]

I found that the docker term.go has been updated to also support solaris, but when i replace vendor/github.com/docker/docker/pkg/term with the latest from the docker github I get the following error:
[code]

[code]
Any thoughts on how I can fix this? Would love to run teleport on solaris servers.

[2017-04-18 12:54] eburghar opened #940 "tsh wrongly complaining about self-signed certificate"
I have installed a valid letsencrypt certificate to use with teleport, removed the `/var/lib/teleport/webproxy_*` files (just to be sure), and updated `teleport.yaml` to point to the cert and key location.

When pointing the web browser to port `https://cluster.domain.com:3080`, it's all green and the browser sees the letsencrypt certificate, but when I try to `tsh --proxy=cluster.domain.com login

[2017-04-18 16:38] nikatjef commented on #940
You need to add letsencrypt's root CA to your CA Certificates directory, which varies based on distribution. Your browser is working because it uses a different set of CA certificates. See Issue #692

As for the next part of your issue with the reverse proxy, I suspect that you are connecting with a different "destination" name when you use the reverse proxy. The hostname of cluster.domain.com is

[2017-04-18 18:29] weikinhuang opened #942 "Does not work on vmware ESXi machines"
teleport does not start up on the esxi service console.

**Expected:**
When trying to run `./teleport start --help`, it should print the message.

**Actual:**
I get a `Segmentation fault`.

[2017-04-18 21:19] eburghar commented on #940
Thanks for your answer,

I checked on a browser just to be sure that `teleport` was also using the letsencrypt certificate and not the self-signed one as `tsh` was complaining about.

To summarize:
 - `https://cluster.domain.com:3080` and `https://cluster.domain.com` are both using the letsencrypt certificate
- `tsh https://cluster.domain.com:443 login` works flawlessly (meaning that the letsencry

[2017-04-18 21:27] nikatjef commented on #940
Per the issue I linked previously, the error is basically saying that tsh cannot validate the cert.  It validates by comparing the cert signature to a list of CA's that it knows about.  That list of CA's is different between your web browser and your tsh / teleport / java / etc.

Not sure which distribution you are using, but I got past this issue (on Ubuntu) by following these steps;
'''sh
sudo m

[2017-04-19 03:48] stephencheng commented on #925
I mean the simultaneous session per user.

A use case would be:

1. user a login as usera using web terminal
2. user a also login using a cli command

if I config the limit of the concurrent session count to be 2, then if any one using usera's account to login using another browser or cli command in another tab, then the session will be rejected.

[2017-04-19 08:53] eburghar commented on #940
Thanks for your help,

The letsencrypt X3 CA is correctly installed otherwise

`tsh https://cluster.domain.com:443 login`

would complain about a self-signed certificate too.

To be sure that the same certificate was used,  and instead of using a browser (which is confusing by seeing your answer), I can also do

`curl -v https://cluster.domain.com:3080` and
`curl -v https://cluster.domain.com`

Wh

[2017-04-19 09:15] eburghar commented on #937
As it's a container to container connexion, I think there is an IP conflict somewhere. Both container are on the same IP range. I'll change the `bip` and `subnet` parameters change the network through `docker-compose` config, and I think this will probably resolve my issue.

[2017-04-19 10:27] philhug opened #944 "Built-in letsencrypt support"
It would be great if teleport could install and renew a letsencrypt certificate automatically.
E.g. similar to how caddy does it:
https://github.com/mholt/caddy
or
https://github.com/alash3al/httpsify

[2017-04-19 15:16] wksantiago commented on #934
# By default, this file should be stored in /etc/teleport.yaml                                                             # This section of the configuration file applies to all teleport                                                           # services.                                                                                                                teleport:

[2017-04-19 18:23] ekristen commented on #942
@weikinhuang can you provide more information about the operating system you are using?

[2017-04-19 18:24] weikinhuang commented on #942
@ekristen I'm trying to run teleport on Vmware ESXi 6.5.0

[2017-04-19 18:25] ekristen commented on #942
@weikinhuang oh you mean directly on VMWare ESXi ... gotcha, sorry about that, I read that differently.

[2017-04-19 18:26] weikinhuang commented on #942
Yes directly on esxi

[2017-04-19 19:06] #923 closed

[2017-04-19 20:03] kontsevoy commented on #929
@nikatjef woo! thanks, exactly what I was thinking about. And you tried this under ansible, correct?

[2017-04-19 21:06] nikatjef commented on #929
I don't use ansible, but I did test the commands as basic SSH and SCP commands, including using batch commands to SSH and a single recursive directory copy with SCP.

[2017-04-19 23:50] r0mant opened #945 "Tsh does not respect /etc/environment"
This file should be read upon login and environment variables from it should be set.

[2017-04-19 23:57] kontsevoy opened #946 "Clean up CLI"
Teleport CLI tools (`tctl` and `tsh`) have acquired a lot of "for internal use" flags, hidden, unused and unsupported. Lets clean it up and only leave the documented commands.

## TBD!

[2017-04-20 10:23] Oneiroi commented on #944
I would love this feature, so adding my vote and comment to this issue.

[2017-04-20 10:38] tjlaxs opened #947 "public_address not set for proxy, returning proxyHost"
I'm trying to connect with ssh to a node in a trusted cluster. Running the tsh command from the main cluster results the cluster 2 teleport to crash with:
[code]

Documentation doesn't seem to talk much about what a public_address is and I'm not even sure is it relevant to the panic? c2-node1 is the machine with cluster 2 and node1. Is this a bug or do I have something configured wrong?

Version:

[2017-04-20 11:35] eburghar commented on #937
confirmed that this is working now with 2.0.3

[2017-04-20 11:35] #937 closed

[2017-04-20 14:39] jiangytcn opened #948 "ETCD based HA deployment sessions issue"
### Deployment
1. 3 nodes ETCD cluster
2. 2 nodes teleport cluster
3. Ubuntu 14.04 vm under OpenStack

every teleport node configure auth、proxy、node jobs and followed [guide](http://gravitational.com/teleport/docs/2.0/admin-guide/#high-availability)
and all nodes behind a loadbalancer for the webgui(port 3080)

### Issues

couldn't display the sessions page. **_unable to retrieve list of sessions_

[2017-04-20 19:25] kontsevoy commented on #925
@stephencheng we'll consider it. won't promise anything publicly.. ;-) still curious, why would you want to have a limit like this. wouldn't "session duration" be a better limit? one can even theoretically lock themselves out, by leaving a session open somewhere and then hit the limit from a new location and not being able to fix it.

[2017-04-20 23:44] russjones opened #950 "tctl always dumps a stack trace on error"
Looks like this is a regression, `tctl` is always dumping a stack trace when returning an error. Here is an example:

[code]

[2017-04-20 23:57] russjones commented on #950
Can't reproduce this, closing for now.

[2017-04-20 23:57] #950 closed

[2017-04-21 06:31] jiangytcn commented on #948
@kontsevoy could you help on this :) Thank you

[2017-04-21 06:32] klizhentas commented on #948
@jiangytcn in OSS teleport sessions are stored on disk, so you have to use distributed storage to replicate them

[2017-04-21 06:33] klizhentas commented on #948
you don't need to replicate the whole data dir, only the sessions in the data dir, as the other metadata is stored in etcd and is node local

[2017-04-21 06:43] jiangytcn commented on #948
@klizhentas thank you.
 just as the diagram showed, i setup the cluster mode and make the sessions directory shared across whole proxy nodes. But unfortunately, the sessions api request occasionally response empty sessions. what is weird is that when ssh to one node, it could response the session just launched, but went to empty as i close the ssh connection(over webgui).

PS: using nfs to replica

[2017-04-21 06:48] jiangytcn commented on #948
FYI config settings

  nodename: 192.168.2.6
  data_dir: /var/vcap/store/teleport
  pid_file: /var/vcap/sys/run/teleport_auth/app.pid
  auth_token: cluster-join-token
  advertise_ip: 192.168.2.6
  auth_servers:
  \- 192.168.2.6:3025
  \- 192.168.2.7:3025
connection_limits:
    max_connections: 1000
    max_users: 250
  log:
    output: stderr
    severity: INFO
  storage:
     type: etcd
     peer

[2017-04-21 07:52] TuomasKiviaho commented on #803
The teleport Web UI search for instance becomes useless when there is close to 1:1 relation between clusters and nodes and number of clusters is high. It would be nice at least to have an opinion to group these clusters somehow together so that the dropdown menu becomes more manageable.

[2017-04-21 08:02] tjlaxs commented on #947
I investigated this a bit further. Clicking the login as user button from the webui also crashes the teleport.

The reason seems to be that the length of args **lib/srv/exec.go**  for the if on line 204 is **0**. So... I wonder where my ```ssh user@node``` command has disappeared.

[2017-04-21 08:11] stephencheng commented on #925
This is to not to encourage a group of people to share the same login account hence result in security issue

Thanks

[2017-04-21 08:11] #925 closed

[2017-04-21 08:31] tjlaxs commented on #947
My bad, the user didn't have home set.

[2017-04-21 14:58] jiangytcn commented on #948
As the auth/proxy server are stateless, why still checking the host_id?

Auth/proxy 1:

9eaee59b-d594-4896-be58-6c6cd0bcea5d

log file

---
Auth/proxy 2:

9eaee59b-d594-4896-be58-6c6cd0bcea5d

log file

[2017-04-21 18:30] tidalf commented on #942
usually esxi needs statically linked binaries.

[2017-04-24 01:58] alex-kovoy opened #952 "Web UI Terminal disconnects after short period of time in IE11"
It was observed that terminal web-socket connections break in IE11 .

[2017-04-24 12:35] lcaflc opened #953 "Connect to generic SSH daemon"
I'm testing teleport in order to deploy a _"bastion"_ service to filter access to my platform systems.
My environment is mainly made of network equipment on which I cannot run a teleport daemon directly.

I however found in documentation a way to integrate using the export of certificate authority for users and add it into authorized_keys. It still need to check if ssh implementation of my equipme

[2017-04-27 15:47] jmgomezcrespo opened #957 "Connect 3 or more clusters"
Hi !!
I have 3 Teleport cluster  with version 2.0.4, I been try to define one of them as master with only 1 instance  and the others two as slaves that contain one node (auth-proxy) and some nodes.

I put slaves' keys in master teleport configuration like that
    cluster_name: master
    trusted_clusters:
      - key_file: /var/lib/teleport/client.ca
      - key_file: /var/lib/teleport/client2.ca

[2017-04-27 22:45] fabiokung commented on #768
In case anyone else falls onto this thread because they are having problems with openssh certificates and gnome-keyring:

https://bugzilla.gnome.org/show_bug.cgi?id=697464

[2017-04-28 10:30] tjlaxs opened #958 "Webui SSH doesn't allow writing characters that require alt key"
I don't know if this is just a mac problem. But when I try to write for example the $ sign with alt+4 the prompt changes to ```(arg: 4)``` which is what happens with Escape 4 also. So maybe its thinking its the wrong mod key or something? I have a finnish keyboard layout and a macintosh keyboard so, it might be an issue with these also.

[2017-04-28 14:05] copumpkin opened #959 "Forced "dual/multi-key" sessions?"
I don't mean MFA here, but rather getting two (or possibly more) separate users to share a session before allowing either of them to proceed.

The idea would be similar to those dual-key nuclear launch systems, where it takes two different users with separate keys (cryptographic in our case) to do scary stuff.

I see that teleport already supports session sharing, so this would boil down to "force

[2017-04-28 15:00] nikatjef commented on #958
I believe that is a terminal session issue rather than Teleport.  I say that because I get the same thing at my local console with a basic US qwerty keyboard on my Linux desktop.

But just for sanity sake, I decided to tsh to my home cluster and got the same thing.

[2017-04-30 02:26] wjdavis5 opened #960 "Invalid totp token"
Just got this going again at work running on centos. I created a new user (2 of them actually) and have tried using Google Authenticator and Authy, I get the same message for both : "Invalid totp token"

[code]

[2017-04-30 10:49] tatsushid commented on #481
To study what should be implemented to port tsh to Windows, I wrote a SSH client from scratch.
https://github.com/tatsushid/minssh
I learned many things from it.

- Windows 10 AU or later, Windows has its own ANSI escape sequence helper as console mode flags

  - https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx
  - https://msdn.microsoft.com/en-us/library/windows/des

[2017-05-01 21:38] russjones commented on #945
Upon further investigation, it looks like reading `/etc/environment` is typically done with a PAM module `pam_env.so`. In OpenSSH: https://github.com/openssh/openssh-portable/blob/master/session.c#L1129-L1145

Since we won't be supporting PAM at the moment, I'm gonna close this for now.

[2017-05-01 21:38] #945 closed

[2017-05-01 22:25] russjones opened #963 "Support ServerAliveInterval"
OpenSSH allows setting `ServerAliveInterval` which sends a `keepalive@openssh.com` request at the configured interval:

https://github.com/openssh/openssh-portable/blob/master/clientloop.c#L480-L493

At the moment, Teleport ignores these requests:

https://github.com/gravitational/teleport/blob/master/lib/sshutils/server.go#L268-L276
https://github.com/gravitational/teleport/blob/master/lib/srv/ss

[2017-05-02 16:14] klizhentas commented on #933
@alex-kovoy that is only partially addressed, so I'm keeping this open. Other issues are server based and are related to inefficient transfer of the events via event logs, so I will keep assigned to myself.

[2017-05-02 18:38] #960 closed

[2017-05-02 18:38] wjdavis5 commented on #960
Not sure what happened here but a couple days later and its working fine.

[2017-05-03 03:03] aqiank opened #964 "How to ssh into local machine"
I can ssh to the node at the server itself but when I try to ssh using `tsh ssh --insecure --user jacky --proxy iim.ltd jacky@jacky-pc`, I get `failed connecting to node jacky-pc. dial tcp 121.7.103.158:3022: getsockopt: connection refused`.

I was thinking I could get it to work like normal ssh tunnel but I guess there some things that I don't get quite right. Is there somebody who can point me a

[2017-05-03 13:36] ekristen commented on #932
Thoughts?

[2017-05-04 01:55] Omeryl commented on #514
Still wishing for Debian/Ubuntu/CentOS packages, this would make my life a ton easier. It seems most golang-based projects neglect this part :(.

[2017-05-04 15:33] bcg62 commented on #514
@Omeryl there are chef cookbooks and puppet modules for teleport which may help you.

https://github.com/johnbellone/teleport-cookbook
https://github.com/jaxxstorm/puppet-teleport

also here is a basic spec file for building teleport rpms.

https://gist.github.com/bcg62/d3c4245d39c2ee7342b0b4fd756eb978

I don't have much to offer for  Debian/Ubuntu as I don't use them.

[2017-05-05 20:29] apestel commented on #481
I've just tried tsh under WSL and it works flawlessly (https://msdn.microsoft.com/fr-fr/commandline/wsl/about).
Obviously it works only on Windows 10 but it provides (finally) a decent terminal.

[2017-05-06 01:36] stephens2424 commented on #921
On linux/amd64, I was able to do it with:

[code]

https://askubuntu.com/questions/250696/cross-compile-for-arm was my reference for how to get the cgo part working.

[2017-05-06 10:58] markojak opened #969 "Support for u2f and otp simultaneously"
Hi All,

Would it be possible to support both OTP and U2F as authentication mechanisms? We have some users who have U2F and some who would prefer use an Authenticator application on their phones.

Thoughts?
Happy to do a Fork and try to help with the implementation of this if someone can also point me in the right direction.

[2017-05-06 11:22] marchofreason opened #970 "Removal of SSH Fingerprinting for hardening (SSH-2.0-Teleport 2.0.6)"
Hi All,

Is it possible to remove the fingerprinting of the Teleport binary that is currently running?
I feel that this could be a potential attack vector if the server responds with the fingerprint

**Replication**

`telnet ssh-or-auth.hostname.com 3025`

**Output sample:** SSH-2.0-Teleport 2.0.6

[2017-05-06 12:28] Oneiroi commented on #970
I think you mean banner not fingerprint,
Banner/Version suppression would be a good feature

On 6 May 2017 12:22 pm, "Marko Jakovljevic" <notifications@github.com>
wrote:

[2017-05-06 20:18] kinghrothgar opened #971 "No way to edit users"
As far as I can tell, there is no way to edit users. This means that if user mappings need to be changed, the user must be deleted and re-added requiring them to re-setup their account.

[2017-05-07 18:09] klizhentas commented on #958
ok, closing based on @nikatjef research

[2017-05-07 18:09] #958 closed

[2017-05-07 18:11] klizhentas commented on #942
we don't support these builds right now, feel free to send a PR if you feel like debugging/fixing it

[2017-05-07 18:11] #942 closed

[2017-05-07 18:12] klizhentas commented on #934
got no response, closing for now

[2017-05-07 18:12] #934 closed

[2017-05-07 21:07] suedadam commented on #970
Seems quite simple?
Just modify https://github.com/gravitational/teleport/blob/3ec87b20d1cc0838465f81d9754a93f350fe10ee/lib/sshutils/server.go#L70

[2017-05-08 09:11] marchofreason opened #973 "Teleport trying to connect to old Auth server IP"
Our Auth server was destroyed and we re-deployed a full Teleport Auth Server to a new VM.
Any new servers we add as nodes work 100% but any of our previous servers seem to be still trying to connect to the old IP address

This is regardless if we are using the IP address is the teleport.yaml or if we are using the DNS. We've checked DNS Cache and this is also not an issue as the OS level is seeing

[2017-05-08 10:15] a-palchikov commented on #973
I think you might have these IPs cached in `authservers.json` cache: https://github.com/gravitational/teleport/blob/master/docs/2.0/admin-guide.md#run-multiple-instances-of-teleport-proxy

[2017-05-09 03:03] klizhentas opened #975 "Flaky test"
## Description

This test is flaky

[code]

[2017-05-09 05:11] francislavoie commented on #893
Counterpoint - it would make it easier to update the binary by having it wrapped in a container and pulling it down from dockerhub. Also, it, would make it easier to have a `docker-compose.yml` to just boot up a stack quickly.

[2017-05-09 05:15] francislavoie commented on #969
Definitely +1 for this. For example, Dropbox attempts U2F first by default, with a link to fallback to TOTP if the user chooses. Enforcing one or the other isn't the best scheme - U2F is easier if your device is already plugged in, but OTP can be easier if you don't.

[2017-05-09 12:35] genexp commented on #893
Hey Francis - But when you connected to the daemon, it would grant you
access to the container rather than the host.  Not exactly expected
behavior right?

On Tue, May 9, 2017 at 1:11 AM, Francis Lavoie <notifications@github.com>
wrote:

[2017-05-09 13:08] francislavoie commented on #893
Actually, I would expect that. Unless I misunderstand how Teleport works (I'm just about to set it up in the coming days), I'd rather lock it from having access to the rest of the things running on my host machine. If it wants to run commands like `ssh`, it should do it from inside the container.

[2017-05-09 13:52] francislavoie commented on #893
I guess I'll clarify - I'd run Teleport on one of our internal machines, it would connect to the various machines I want SSH access to via OpenSSH. I don't think I'll be running Teleport on my other machines if I don't need to, rather keep things simple.

[2017-05-09 16:26] klizhentas opened #976 "panic"
## Description

[code]

[2017-05-09 17:01] marchofreason commented on #973
This appears to be it. Thanks so much a-palchikov!

I'm getting an unusual error now though if I remove the authservers.json

May 09 18:59:31 server.hostname.com teleport[42795]: access denied to 'ac54f2d8-447b-4bda-a942.server': bad username or credentials

The auth_token under `teleport:` appears to be fine as other servers are using the same teleport.yaml configuration....

[2017-05-09 17:03] marchofreason commented on #970
@suedadam Thanks for pointing that out. We'll edit this as required. Would be nice to have it specified in the configuration somewhere though

[2017-05-09 18:27] russjones commented on #975
@klizhentas I'm thinking lets remove this test for now since I was not able to reproduce it on metal. We can create a ticket to add a test to add coverage for the situation when you have no local PTY and a remote PTY.

[2017-05-10 00:58] kontsevoy commented on #921
@ekristen did you figure this out? sorry, we've been super busy with other stuff and haven't gotten to iOS ARM (and very unlikely to look into this any time soon).

[2017-05-10 03:07] ekristen commented on #921
Currently I'm stuck on the following error, if anyone has experience with cross compiling, clang, etc and can offer hints or suggestions as to how to fix this I would greatly appreciate it.

[code]

I cannot seem to figure out how to get it to ignore unused arguments unfortunately just to see if I can get it passed this point.

[2017-05-10 17:43] #976 closed

[2017-05-10 22:48] a-palchikov commented on #973
This error seems to be caused by the renewed CA certificate but I'm not sure about your particular setup so you could elaborate a bit.
On the other side, I'm not a primary teleport developer and I delegated your question so you can get a more authoritative answer.

[2017-05-11 06:34] marchofreason commented on #973
@a-palchikov I think you might be right - Basically what we did was terminate the old server, re-initiate a new server and re-do the certificate. Since then any previous nodes that connected no longer work.

Do you have any advice about completely "wiping" teleport from the node so that we can start from scratch?

[2017-05-11 06:36] marchofreason commented on #973
App

[2017-05-11 06:36] #973 closed

[2017-05-12 03:10] aqiank commented on #964
I was over-configuring the .yaml files. Just follow the steps at http://gravitational.com/teleport/docs/2.0/admin-guide/#trusted-clusters exactly without additional configurations worked.

[2017-05-12 03:10] #964 closed

[2017-05-12 06:11] iJebus opened #979 "Capture backspace in browser-based console session"
I've been giving Teleport a bit of a test-run and just noticed that hitting the backspace key (or delete key) in a browser-based console session is getting captured by my browser and going back in history rather than deleting the previous character.

More exactly, the first press of backspace deletes the previous character, pressing backspace again then goes back to the previous page. I'm using Vi

[2017-05-13 01:17] russjones opened #981 "Ctrl-C not respected"
### Issue

If you log into a node, connect to a socket, then Ctrl-C no longer works.

### Steps to Reproduce

1. Connect to a Teleport node.
1. `nc -l localhost 1234`
1. Type Ctrl-C you will see `^C^C^C^C^C^C^C^C^C^C`.

Can be reproduced with `ssh (Client) -> Teleport (Server)` or `tsh (Client) -> Teleport (Server)`.

[2017-05-13 01:24] russjones opened #982 "Force connections to go through the proxy"
### Issue

At the moment, if you have a valid SSH certificate, you can connect to a node directly and bypass the proxy. It would be nice if Teleport nodes would only accept connections from the proxy always forcing you to connect via the proxy.

This feature could potentially break OpenSSH interoperability (unless we implement this via TCP wrappers as OpenSSH does).

[2017-05-13 21:45] klizhentas opened #983 "Cluster Role Mapping"
## Description

In Teleport every organization is represented by the "Trusted Cluster".
Imagine the situation when we have the following clusters set up:

* Acme cluster this is a main cluster that manages local users of Acme corp
* Hooli cluster - this is a cluster that manages users of Hooli corp

* Alice is a user local to Acme cluster, and we need to map Alice's roles to Hooli cluster roles dy

[2017-05-16 03:14] kontsevoy commented on #983
looks good, I would remname `map_remote_roles` to `role_map` because you need a noun, not a verb, also it's shorter

[2017-05-16 14:54] k4kfh opened #988 "Default config file in docs is not actually the default?"
I am trying to set up a new Teleport server, and I followed the quick start guide. I installed everything and ran Teleport, and it works (I can access the web UI login page). When I create the ``/etc/teleport.yaml`` file with [the contents here](http://gravitational.com/teleport/docs/2.0/admin-guide/#configuration-file) and point the Teleport server to it on startup, it gives a bunch of certificat

[2017-05-16 18:08] brumfb commented on #983
Overall, makes sense and should satisfy what we are trying to accomplish.  A couple questions:
* Is this `This means that cluster Hooli allows to map Acme's 'Devs' roles received in certificate metadata to local roles Devs and Remotes` supposed to read `This means that cluster Hooli allows to map Acme's 'Devs' roles received in certificate metadata to local role HooliDevs`?
* Do roles and roles_ma

[2017-05-16 18:14] klizhentas commented on #983
@brumfb

Sorry, there was a typo there, we will be mapping remote role `Devs` to local roles `HooliDevs` and `Remotes`

I just want to keep only one property, vs multiple properties. Also triggering by metadata could be a security risk, as it will be pushed by remote cluster, not local cluster - local cluster still to have control.  We will support `roles` for a while, but will ask to switch when

[2017-05-16 20:41] russjones opened #991 "Test Coverage for No Local PTY and Remote PTY"
**Issue**

Teleport needs test coverage of how the server should behave when you have no local PTY but have a remote PTY.

We essentially want to test something like this:

[code]

Where the expected output is `1\r\n2\r\n\n` but the test for this was flakey either because of a bug in the PTY library we are using or elsewhere. We need to hunt this down and re-add a test for this.

[2017-05-17 03:43] ekristen commented on #983
This is a huge +1, makes trusted clusters much more friendly and usable.

[2017-05-17 09:27] shaharmor opened #994 "Can't use Web Terminal from mobile"
Hi,
When trying to connect using the Web Terminal on Chrome browser on iPhone 7+ I get disconnected all the time.

On desktop its working.

[2017-05-17 09:28] shaharmor commented on #971
Is this in the making?

[2017-05-17 09:32] shaharmor commented on #994
On the server I see: `http: TLS handshake error from x.x.x.x:yyyyy: EOF`

[2017-05-17 11:36] shaharmor opened #995 "Feature request - Give recorded sessions description"
It would be good to have a description field for sessions that a user can describe what he did in that session (and why).

[2017-05-17 11:37] shaharmor opened #996 "Feature request - Create time specific links to recorded sessions"
Some times you want to show someone just a part of the recorded sessions (Especially if is a long-running one).

It would be great if once you drag the time bar to the correct place you will be able to click a button or something that will create a link to that specific point in time of the session

[2017-05-17 13:38] nikatjef commented on #994
One of the guys in my office had this issue with his Mac.  We figured out that the problem was cause by our SSL key.  Once we changed that to a recognized CA signed certificate he was able to connect to the web terminal.

[2017-05-17 15:59] nikatjef commented on #970
Have been running with @suedadam's modification for the last 10 days, at home, without issue.  And yesterday my company's security team asked that I apply the same changes to our Proof-Of-Concept testing at work.

[2017-05-17 16:03] klizhentas opened #997 "Backport SAML"
## Description

* Backport SAML from master to 2.0
* Release 2.1 + Enterprise with just SAML

(Note that I have moved 2.1 to 2.2 on purpose)

[2017-05-17 18:29] bcg62 opened #999 "Feature request - 'view only' session sharing"
when using IDM for user authentication with role templates where each user has their own login, the current shared login concepts no longer seem correct.

Following #924 each user should only be able to see their own recorded sessions. They do not have permission to login as other users and as such should not be able to see their recorded content, sensitive information could be exposed leading to

[2017-05-17 21:11] bcg62 opened #1000 "web UI/tsh agent forwarding"
currently agent forwarding works with openssh client if `forward_agent: true` is specified in a role configuration.

As far as i can tell there's no way to configure tsh ssh to forward agents to destination nodes like you can with ssh_config

Also the web UI does not give the user an agent and or provide a way to access their current certs, effectively making it not possible to jump hosts.

[2017-05-17 21:22] alex-kovoy opened #1001 "A node should be removed from presence service when it gets disconnected"
Right now when a node gets disconnected, it takes ~30sec for teleport to reflect the change. We should decrease that time interval for a better user experience if possible.

[2017-05-18 10:25] shaharmor commented on #514
What about init.d scripts? Anyone has one?

[2017-05-18 13:37] bcg62 commented on #514
the puppet module has a template you could use

https://github.com/jaxxstorm/puppet-teleport/blob/master/templates/teleport.init.erb

[2017-05-18 17:16] kinghrothgar opened #1002 "panic in GetSessions"
[code]

Using the web UI I believe causes this.  It is causing teleport to be unsuable.  I have an HA setup with an etcd backend and 3 auth nodes.

[2017-05-19 00:10] russjones commented on #988
@k4kfh My guess is this section of the configuration file is giving you problems.

[code]

You'll need both of those to point to valid certificate and key files. You can either buy a certificate from a commercial vendor or use Let's Encrypt to obtain a free certificate.

If you just want to experiment with Teleport and don't wish to buy certificates, remove those two lines from the config file and

[2017-05-19 00:10] #988 closed

[2017-05-19 00:16] russjones commented on #973
@marchofreason `rm -fr /var/lib/teleport` works. :)

You may have bumped into an issue with dynamic configuration. If you specify a backend (like etcd, dynamodb, dir) we only read the configuration file the first time Teleport starts and from then on the source of truth is the backend.

For situations like these I recommend you set `dynamic_config: false` to force Teleport to read configuration fr

[2017-05-19 00:24] russjones commented on #957
@jmgomezcrespo Yes, you can have a single master and multiple Trusted Clusters attached to it. Suppose you have three clusters `one`, `two`, and `three`. Suppose `one` is the master and `two` and `three` are the Trusted Clusters. Your config files should look something like this:

`one`
[code]

`two`
[code]

`three`
[code]

Keep in mind after you export your certificates you will have to restart a

[2017-05-19 00:24] #957 closed

[2017-05-19 17:43] #935 closed

[2017-05-21 22:48] klizhentas opened #1006 "Teleport RBAC UI improvements"
[EDIT] ekontsevoy: this issue needs to be updated to reflect changes made in #1200

## Description
There are a couple of improvements we should to to improve the UX for RBAC

### Hide Sessions Tab

When Teleport User can not view the sessions in teleport, UI should not display processing error, simply hide the sessions tab.

### Display logins according to cluster local roles

Currently list of us

[2017-05-22 21:48] dbabb-charter opened #1007 "Invalid SSH packlet length with ELB"
We've got teleport deployed in AWS sitting behind an application load balancer vs a classic. The ELB is listening on https 443, 3080, and 3023 all secured with a cert that's installed on the teleport auth and proxy instances.

In case it matters, it's a wildcard *.domain.com cert.

When I issue a tsh directly to the proxy server I get in with zero problems. As soon as I use the DNS name with route

[2017-05-23 20:09] pmoust opened #1009 "DynamoDb backend + AssumeRole / STS support?"
Is there support for STS creds with DynamoDb backend?

Teleport auth service seems to hang on AWS when ran in EC2 with a properly configured AWS IAM Instance Profile to allow all dynamodb operations in a given dynamodb table ARN.

I confirmed that the I can access/describe the table from said EC2 instance

`teleport start -d` hangs on:
[code]

I can confirm from CloudTrail that there is no call to

[2017-05-23 20:10] pmoust commented on #1009
[code]

[2017-05-24 16:17] #997 closed

[2017-05-24 17:48] #981 closed

[2017-05-24 19:26] kinghrothgar commented on #971
I just realized this also includes changing user password I believe?

[2017-05-25 00:00] klizhentas opened #1013 "Teleport does not set ~/.tsh/profile with OIDC"
## Description

When using OIDC or SAML auth preference, `~/.tsh/profile` is not set, this leads request to relogin every time user tries to SSH in.

### Steps to reproduce

* version: `2.2.0-alpha.8`
* set auth preference to OIDC
* SSH using `tsh --debug --proxy=localhost ssh localhost`

the `~/.tsh/profile` is not set.

[2017-05-25 00:08] russjones opened #1014 "Support User Environment"
When creating a new session with OpenSSH you inherit only a limited number of environment variables:

[code]

After that, if `PermitUserEnvironment true` is set in `sshd_config`, `sshd` will read in `~/.ssh/environment` and set these in your environment.

At the moment, Teleport supports the first half (getting the predefined set of environment variables), Teleport should also respect and environm

[2017-05-25 00:11] kontsevoy commented on #1014
Teleport should use `.tsh/environment` since we've made the earlier decision to NOT reuse ssh directories.

[2017-05-25 00:15] russjones commented on #1014
It looks like OpenSSH doesn't allow you to configure where the environment file, it's hardcoded in the source:

[code]
https://github.com/openssh/openssh-portable/blob/master/session.c#L1151-L1156

So we should also update our documentation to create a symlink if using OpenSSH clients is needed.

[2017-05-25 17:19] russjones opened #1015 "Documentation"
We're missing documentation for the following issues:

- [x] Role Mapping.
- [x] Security tradeoffs with Trusted Cluster initial exchange.

[2017-05-25 17:41] #860 closed

[2017-05-26 00:04] #1015 closed

[2017-05-26 17:42] russjones opened #1017 "UX Improvements for OIDC/SAML Login"
At the moment, if you use an external identity provider using an OIDC or SAML connector, the UX when you login from the Terminal looks something like the following:

1. `tsh login`
1. Re-direct to login page for your identity provider with your default web browser.
1. Login with identity provider.
1. If successful, you see `Login was successful, you can close this window and continue using tsh.`
1

[2017-05-26 17:48] russjones opened #1018 "UX Improvement for Settings"
[Ev] this issue got superseded by #1233

At the moment, in the Enterprise Web UI if you have `RW` access to the following roles, you are considered an admin and the wrench shows up in the UI which allows you to configure OIDC, roles, and Trusted Clusters.

[code]

However, this does not allow you to create "partial admins" that can for example just enable/disable Trusted Clusters from the Web UI o

[2017-05-26 17:49] russjones commented on #1018
#### @russjones comments

On the backend, we don't have a notion of an admin, we just have roles with names (which could be admin) that have access to certain resources (which could be `RW` or `RO`). I propose we follow this pattern on in the Web UI and show the wrench and allow you to configure resources that you have `RW` access to. For example:

* If you only have `RW` to the OIDC resource, sho

[2017-05-26 17:49] russjones commented on #1018
#### @alex-kovoy comments

My initial impression was to see if we can avoid this change on UI side. It feels that we need to collect more 'inputs' before we dive into UI Role management/ACL changes.

Below is the summary of how UI Roles currently work and the changes needed to accommodate this request.

UI has a concept of Access Control List  and currently it consists of the following _permission

[2017-05-26 19:06] RedPepper opened #1019 "Documentation on sshd part"
I want to integrate already running sshds to teleport. Unfortunately the documentation is not very clear how to register those sshd servers as i do not want to install teleport on them.

[2017-05-26 23:28] russjones commented on #1019
@RedPepper We have a section within our docs that covers OpenSSH integration: http://gravitational.com/teleport/docs/2.0/admin-guide/#using-teleport-with-openssh

Is there a specific issue that is not clear?

[2017-05-27 00:14] #1014 closed

[2017-05-27 01:10] RedPepper commented on #1019
the part that is not clear to me is how a node joins the cluster without sshd (aka how does the proxy node is aware of the sshd)

[2017-05-27 06:41] Microos opened #1021 "Cannot add nodes to a cluster, all auth servers are offline"
I tried to follow the QUICKSTART GUIDE.  I have started the teleport server on a VPS and created a teleport user. Then according to the guide, my next step should be adding a computer to that cluster. So I ran the `sudo tctl nodes add` on the VPS and got an invitation command. When I ran the command on my computer wanted to add it to the cluster, it printed out `all auth servers are offline`.

tel

[2017-05-29 19:47] kontsevoy commented on #931
can we close it? seems to be fixed by #961

[2017-05-29 19:55] klizhentas commented on #931
I still think error three could still be a problem.

[2017-05-29 20:54] kontsevoy commented on #970
Gents, currently Teleport uses the "software" part of the SSH handshake to correctly pass the connecting client IP from a proxy to the end host to correctly record the "remote IP" for audit purposes.

If "Teleport" part is removed, Teleport would have no way of knowing which client initiates the connection and wouldn't be able to attach the true client IP.

One compromise would be to remove the ve

[2017-05-30 15:01] nikatjef commented on #970
@kontsevoy, I am not sure I understand what you are saying.  I have been running with @suedadm's patch for about 20 days now without issue.  Is there some other mode that I should be testing?

Actually, just before I read this comment, I had just upgraded to;
  `Teleport v2.1.0-alpha.8 git:v2.2.0-alpha.8-8-gabe4284-dirty`

I then tested by connecting from a workstation outside of my network, throu

[2017-05-30 15:07] nikatjef commented on #1021
Right off the bat, I would suggest adding '--insecure' to your tctl command line.  The error indicates that it is failing to validate the SSH certificate provided by the Teleport process.

IIRC, I had a similar issue and resolved it by distributing my CA certificate to the individual nodes.

[2017-05-30 18:16] kontsevoy commented on #970
@nikatjef yes it will work, but you're getting wrong "remote IP" recorded in your audit log. Look in `/var/lib/teleport/log` and you'll notice that instead of recording the correct remote IP (i.e. the IP address of a Teleport client/user) it's logging the proxy IP in "addr.remote" field. This happens because the server cannot see the real user IP without this extension.

We've had a discussion abo

[2017-05-30 18:25] #963 closed

[2017-05-30 20:20] russjones opened #1027 "Remove css BOLD font overrides from Web UI terminal control"
When some programs output bold text the control characters show up in the output of the Web UI but not when using `tsh`.

[2017-05-30 21:04] russjones commented on #1027
To reproduce:
[code]

[2017-05-30 23:07] grue commented on #625
I was able to get this working, but there are some code changes required in
coreos/go-oidc/oauth2/oauth2.go (Bug on okta's part)
coreos/go-oidc/http/http.go
gravitational/teleport/lib/auth/oidc.go

I need to package this up into some PRs for discussion and file a bug to okta. I'll follow up later this week with more info

[2017-05-30 23:24] #933 closed

[2017-05-31 00:49] kontsevoy opened #1028 "Golang 1.8.3 issues"
After switching to Go 1.8.3 I _sometimes_ (not always) see the following on Linux (Ubuntu LTS 16.04) when running tests:

### Error 1

[code]

### Error 2

[code]

[2017-05-31 00:57] kontsevoy commented on #1028
@russjones claims that both of these are related to his debug proxy server.

[2017-05-31 01:41] klizhentas opened #1031 "Run 1.8.3 tests on Mac OS as a part of CI/CD hook"
@klizhentas bought us a hosted MacOS instance which must join Jekins as a test runner and execute tests on a mac.

[2017-05-31 04:51] kontsevoy opened #1033 "Identity flag for logging in"
## Problem

Currently `tsh ssh` can only use credentials obtained earlier via `tsh login`. This is not convenient for robo-clients such as cron jobs, that aren't able to perform interactive logins via mechanisms like SAML.

## Solution: TSH side

`tsh ssh` needs to support `-i` flag. It would work in a way compatible with OpenSSH but also support "extended" Teleport-specific syntax, here's how it

[2017-05-31 04:51] russjones commented on #991
Closing this in favor of https://github.com/gravitational/teleport/issues/975

[2017-05-31 04:51] #991 closed

[2017-05-31 13:35] nikatjef commented on #1033
Might I suggest using the '-l' (lower case L) argument instead and use the '-i' to support the identity key location.  This will allow existing scripts to be more easily converted from SSH to TSH.  For example, currently you would type the following for SSH;
  `ssh -l nikatjef -i /home/nikatjef/.ssh/id_rsa <remote host>`

Then to port a script from SSH to TSH, it would become;
  `tsh ssh -l nikatj

[2017-05-31 18:12] klizhentas commented on #1033
this looks good to me. @nikatjef I think what @kontsevoy proposes is exactly what you have just described - `-i` flag will be compatible with SSH behavior:

[code]

will work with Ev's proposal as well.

[2017-06-01 00:39] russjones commented on #1007
@dbabb-charter Can you tell me a little more about your setup? I tried to reproduce and could not.

I have two proxies behind a classic ELB that use TCP forwarding to forward ports `3023` and `3080` to the instances running the proxy. The health check endpoint is a HTTPS check that points to `/webapi/ping`. I have a A record in Route53 that points to the ELB.

[2017-06-01 04:05] klizhentas commented on #983
This is implemented, will need to write docs as a separate activity.

[2017-06-01 04:05] #983 closed

[2017-06-01 17:55] russjones opened #1035 "User Environment Regression"
### Issue

If you use the `--permit-user-env` flag and do not specify a `~/.tsh/environment` file, `tsh` does not allow you to login.

[code]

### Solution

If `~/.tsh/environment` is not found, `tsh` should ignore the file and move on as setting `--permit-user-env` allows you to specify an environment file, it doesn't not require you have one.

[2017-06-02 10:13] manicai opened #1039 "Bootstrapping clusters with shared credentials"
I'm trying to set up Teleport to support multiple distinct server groups (AWS VPCs) that cannot talk to each other but share credentials.

My current attempt is to have server acting as auth and proxy service per group using DynamoDB as a backend. However if I do this and launch two groups, even with different cluster names, all the servers from both groups appear in WebUI on both proxies (though

[2017-06-02 14:28] klizhentas commented on #1039
You can add the second cluster as a trusted cluster to your first one, so you will see both clusters in the UI and will be able to access them directly or via first cluster's proxy.

[2017-06-02 14:56] manicai commented on #1039
Maybe I phrased my explanation badly but don't think that does I what I'm looking for. What I'm trying to set up is that the user should be able to use the same username, password and OTP token in each cluster but each cluster should be completely independent (they shouldn't know about any of the others, they're all equivalent and mostly fairly short lived - e.g. one per pull request for CI testin

[2017-06-02 18:39] russjones commented on #1028
These should be resolved in https://github.com/gravitational/teleport/pull/1037, closing.

[2017-06-02 18:39] #1028 closed

[2017-06-02 18:40] russjones commented on #975
This should be resolved by https://github.com/gravitational/teleport/pull/1037, closing.

[2017-06-02 18:40] #975 closed

[2017-06-02 20:31] klizhentas opened #1040 "Data race"
[code]

[2017-06-02 20:33] klizhentas commented on #931
I could not reproduce the locks so far - did a series of tests, and did not encountered the locks. I saw the slowness though due to load on the server, but the sessions were completing.

[2017-06-02 23:54] russjones commented on #1027
I think we can close this. Upon further investigation this seems like an issue of how various terminals interpret control characters. Out Web UI just happens to be very strict compared to other terminals.

[2017-06-02 23:54] #1027 closed

[2017-06-03 00:15] kontsevoy commented on #931
@klizhentas claims the last issue is not happening anymore under our brand new stress testing framework.

[2017-06-03 00:15] #931 closed

[2017-06-03 01:02] kontsevoy opened #1046 "Support ENV_SUPATH from login.defs"
Inspired by PR #1004 The suggested implementation wasn't correct and the author is not responding. Consider re-implementing his patch properly.

[2017-06-05 17:30] #1035 closed

[2017-06-05 18:41] kontsevoy commented on #1033
@nikatjef correct, the proposed behavior is 100% compatible with OpenSSH and existing scripts. `-l` means "login" and `-i` means "identity" and tsh will support both.

[2017-06-05 20:01] russjones commented on #1013
Closing this because as covered in https://github.com/gravitational/teleport/issues/1044 the current behavior is correct.

[2017-06-05 20:01] #1013 closed

[2017-06-05 21:53] ekristen commented on #896
Well I upgraded to alpha8 and now I cannot add anymore nodes. Getting the cluster has no signing keys.

[2017-06-05 21:53] ekristen commented on #896
There seems to be something with upgrading to a new version using dynamodb that breaks everything.

[2017-06-05 22:08] ekristen commented on #896
```level=warning msg="[AUTH] Node \"server-001\" [11fbfa42-17b9-4cfe-a863-65e791663838] can not join: certificate generation error: my-cluster has no signing keys" file="auth/auth.go:464" func="auth.(*AuthServer).GenerateServerKeys"```

[2017-06-06 23:06] russjones opened #1047 "tsh does not respect user field in profile"
**Problem**

`tsh` does not respect the `user` field in `~/.tsh/profile`.

**Reproduction**

1. Configure Teleport to use OIDC or SAML.
1. `tsh --proxy=localhost login`
1. `tsh --proxy=localhost ssh localhost`

During Step 3 you will be redirected to your identity provider to login again because `tsh` only reads profiles if no proxy is set: https://github.com/gravitational/teleport/blob/master/too

[2017-06-07 16:49] kontsevoy opened #1048 "scp with OpenSSH client"
To reproduce:
[code]

Happens when:

[code]

This works as expected:
[code]
adding `-r` flag does not help

[2017-06-07 18:42] #1047 closed

[2017-06-07 21:21] kontsevoy commented on #896
@ekristen looking into it. Can you give us the output of `teleport version` on the auth server before and after upgrade to the alpha? Thanks.

[2017-06-07 21:25] ekristen commented on #896
I cannot since I've already upgraded. However I was on 2.0.6 and now I am on `Teleport v2.2.0-alpha.8 git:v2.1.0-alpha.6-43-g14cf169d-dirty`

I can tell you that I've now seen this happen multiple times across multiple versions. I am using dynamodb as a backend.  I attempted to replicate it using `dir` mode only and a single auth server and was unable to.

After that I went back to using dynamodb

[2017-06-07 21:30] kontsevoy commented on #896
on it

[2017-06-07 21:33] kontsevoy opened #1050 "2.0.6 to 2.2 alpha upgrade issue with DynamoDB backend"
Originally reported by @ekristen in #896 (in comments at the bottom):

Well I upgraded to alpha8 and now I cannot add anymore nodes. Getting the cluster has no signing keys. There seems to be something with upgrading to a new version using dynamodb that breaks everything.

Logs:

[code]

I cannot since I've already upgraded. However I was on 2.0.6 and now I am on Teleport v2.2.0-alpha.8 git:v2.1.0

[2017-06-07 21:33] kontsevoy commented on #896
closing and  moving to #1050

[2017-06-07 21:33] #896 closed

[2017-06-07 21:35] ekristen commented on #1050
Awesome thanks. If there is anything I can do to further help troubleshoot, please let me know. I can downgrade, upgrade, clear out databases as necessary.  I've been a little stuck as to the best way to troubleshoot as I haven't had a clear way to reproduce.

[2017-06-07 21:49] kontsevoy commented on #1050
@ekristen thanks for the help! we're about to push 2.2 out the door, so this issue is our highest priority right now.

[2017-06-07 22:07] ekristen commented on #1050
I'll try and dupe this tonight then, see if I can't gather any additional info.

Sent from my iPhone

[2017-06-08 00:20] russjones commented on #1050
@ekristen I tried reproducing this issue but could not. I created a cluster that had two Auth Servers pointing to the same DynamoDB table running Teleport 2.0.6. I then upgraded the first Auth Server to Teleport 2.2.0-beta.1 and added a Node running Teleport 2.2.0-beta.1 successfully. I then upgraded the second Auth Server to Teleport 2.2.0-beta.1 and added a Node running Teleport 2.2.0-beta.1 suc

[2017-06-08 03:30] folderman opened #1051 "How can I remove the node to join the cluster which has been joined before?"
Hi All,

With tctl, I can remove user, I can remove token, however, if I have a previously joined node, how can I disallow the node from connecting to the cluster again?

Do I need to manually remove the cert from the node? Or anything I can do in auth server or proxy server?

Thanks!

Kenneth

[2017-06-08 04:19] kontsevoy opened #1052 "OTP 2nd factor regression in Alpha"
### Summary

`tsh ssh` does not say "access denied" anymore when used against local auth with OTP. Instead it claims that auth servers are offline.

### How to Reproduce

My single-node Teleport cluster is configured with local auth + 2nd factor.
I try to SSH into localhost and provide the invalid OTP token:

[code]

I entered the _correct_ password but _incorrect_ OTP token. As you can see, inste

[2017-06-08 13:46] ekristen commented on #1050
Ugh, once again I cannot dupe it either, but it definitely is happening, I just can't seem to control the conditions in which it does, but at some point I loose the ability to register a new node with the cluster with the error I've provided.

Perhaps some sort of random TTL value is causing keys in dynamodb to expire at some point thus triggering that error.

Question: Is there a good way to dete

[2017-06-08 14:30] ekristen commented on #1050
I started digging around the data, I saw this in dynamodb for my primary cluster `expires 0001-01-01` at path `teleport/authorities/host/primary-cluster`

[code]

However on the auth nodes in the cache I see at path `/var/lib/teleport/cache/node/authorities/host/primary-cluster` I see that it expires tomorrow.

[code]

Does the cache get renewed? Maybe this is part of the problem?

I'm just trying

[2017-06-08 16:28] newjones opened #1053 "Session can't create. "shell command failed: fork/exec : no such file or directory""
Hi, I was trying to test Teleport on a host with public IP. I run all teleport services binded to all interfaces and when I try by web launching the shell doesn't work and the logs throw following message:
[code]
Any idea?

[2017-06-08 18:37] #1052 closed

[2017-06-08 19:19] russjones commented on #1050
@ekristen What you are seeing in DynamoDB for the expires value is a zero value, that the key will not expire.

What you are seeing in `/var/lib/teleport/cache` is a cached value that will be used in-case DynamoDB can not be accessed as part of the new high availability work in 2.2. It should be renewed. You can see implementation details for the new high availability work (as well as how to turn

[2017-06-08 19:20] ekristen commented on #1050
@russjones can you determine what has to be missing for the error `has no signing keys` to be thrown, I think that is the best way to track this down.

[2017-06-08 19:39] russjones commented on #1050
@ekristen It looks like the certificate authority has lost it's private keys. It's strange because Teleport creates it with a TTL of 0 (so it never expires) so that should never happen.

However that TTL only applies to Teleport expiring the key. That's why we asked about DynamoDB settings, do you have any custom settings that would expire keys at the DynamoDB level? Because as far as I know, this

[2017-06-08 19:45] ekristen commented on #1050
Sorry for not including that information the first time, I forgot.

[code]

[2017-06-08 21:47] russjones opened #1055 "Improve role mapping logging"
**Problem**

At the moment, it's not so clear from Teleport logs why you were denied access when using role mapping. Suppose you have the following roles:

[code]
[code]
and the following Trusted Cluster mapping:
[code]

If you try and access a node with the label `two` (in this case a node called `two-node`), you get the following error in the Web UI:

[code]

While Teleport logs report something

[2017-06-08 21:51] russjones opened #1056 "Document ACR values for OIDC"
**Problem**

At the moment we support ACR values for Teleport and custom behavior for different OIDC providers. However the details of this are not documented anywhere.

**Proposed Solution**

Document ACR support for OIDC connectors as well as custom settings we support for different OIDC providers.

[2017-06-08 21:56] russjones opened #1057 "Document high availability cache"
**Problem**

In https://github.com/gravitational/teleport/pull/853, we introduced a cache that can be used to make Teleport more resilient in the face of failures. However, we don't have any documentation on how to enable or disable this and we also don't have any architectural diagrams that explain how this new HA concept works.

**Proposed Solution**

* In the Admin Guide, document how to use th

[2017-06-08 21:59] russjones commented on #1053
Hi @newjones, two questions:

1. Does user you are running Teleport as have the ability to create a shell for another user? For example, are you running Teleport as `root` or are you running Teleport under your normal account and trying to create a shell for some other user?
1. Are you running Teleport within a container?

[2017-06-08 23:30] russjones opened #1058 "Link shortener for external identity providers"
**Problem**

This is a purely cosmetic issue, when using an external identity provider, when you type `tsh login` you will typically get re-directed to a URL where you log in with your identity provider. This works unless you use multiple browsers (and want to open the link with a non-default browser) or don't have a default way to open web links. In that situation you have to copy a long link for

[2017-06-09 11:09] newjones commented on #1053
Hi @russjones, I run teleport with root. Then I create an account and this user session appears on web after login by two factor (google). The problem is when I try to launch the web console when appears the errors.
Not, on baremetal.

[2017-06-09 18:38] #1048 closed

[2017-06-09 18:48] kontsevoy commented on #1053
@newjones looks like the login you're using for the web session does as a shell set to something which can't be found. If you SSH into that box (as the same user you're using in Web UI), and execute these commands:

[code]

Can you please send the output for both?

[2017-06-09 18:56] kontsevoy commented on #1021
@Microos did you build your own teleport from the master? This looks like an error message from one of the alpha versions. I would suggest:

1. Download the stable binary (or git-checkout a stable tag, and build from there)
2. Pay attention to how accurately you specified tokens when starting nodes.

[2017-06-09 19:06] kontsevoy commented on #1021
@Microos also, you're adding a node (running on your laptop it looks like) to a cluster hosted on a VPS. This is not impossible, but not common (and not recommended), i.e. make sure ports `3022`, `3025` and `3023` are all open. The unusual part here is that you need port `3025` to be available, that's the "cluster API" port which nodes use to communicate with the auth server/CA.

[2017-06-09 19:10] kontsevoy commented on #1039
@manicai this kind of goes against 2fa, where you _must_ have a second device present to manipulate a user account. A proper setup in this case is to use SAML/ODIC connector to an external identity, then you can automatically configure clusters to SSO via the same set of credentials.

As explained here:
http://gravitational.com/teleport/docs/2.0/enterprise/#external-identities

[2017-06-09 19:10] #1039 closed

[2017-06-09 19:12] kontsevoy commented on #1019
@RedPepper when using `sshd` you lose cluster introspection (this feature is only available when you're running `teleport` as your SSH node). So when `sshd` is used, Teleport proxy acts as a typical SSH jumphost: it looks up the host IP and tries to make a connection.

[2017-06-09 19:12] #1019 closed

[2017-06-09 19:13] kontsevoy commented on #1009
@pmoust this is how we're using Teleport with dynamo. Happy to look into your environment to help troubleshoot. We're already talking about this via email :) TTY soon!

[2017-06-09 19:13] #1009 closed

[2017-06-09 19:14] kontsevoy commented on #1001
@alex-kovoy won't fix. this is by design.

[2017-06-09 19:14] #1001 closed

[2017-06-09 19:18] kontsevoy commented on #979
@iJebus trying to reproduce here... without success.

Questions:
1. Your OS?
2. Your browser/version?

Thanks.

[2017-06-09 19:21] kontsevoy commented on #1002
@kinghrothgar looks like your `etcd` connection is mis-configured. Meanwhile we'll work on better handling this error. Thanks.

[2017-06-09 19:24] kontsevoy commented on #953
@lcaflc when using `sshd` (OpenSSH ssh daemons) you do not need to "add them to cluster" anymore because you're manually configuring certificates as explained in the docs, see "Integrating with OpenSSH Servers" section [here](http://gravitational.com/teleport/docs/2.0/admin-guide/#using-teleport-with-openssh)

[2017-06-09 19:24] #953 closed

[2017-06-09 19:26] kontsevoy commented on #926
@ekristen we actually see this behavior with long commands in Gnome terminal on ubuntu, not just with `tsh`. In other words this is outside of our control. ;)

[2017-06-09 19:26] #926 closed

[2017-06-09 19:27] alex-kovoy commented on #979
What version of teleport did you use? Recent releases have a new, updated web terminal control.

[2017-06-09 19:27] kontsevoy commented on #797
This has been released as part of [Teleport Enterprise](http://gravitational.com/teleport/docs/2.0/saml/)

[2017-06-09 19:27] #797 closed

[2017-06-09 19:28] kontsevoy commented on #1021
@russjones lets see if we can reproduce this, but the error message needs to be improved anyway (it seems to get lost)

[2017-06-09 19:32] kontsevoy commented on #982
@russjones how would a node know if that's a proxy connecting? proxies (in cloud environments) can come and go, change their IPs, etc. Besides, you can implement L4 rules on your network stack, like in security groups or directly in switches.

[2017-06-09 19:33] kontsevoy commented on #982
@russjones LMK if you had something specific in mind, otherwise I suggest we close this.

[2017-06-09 19:34] kontsevoy commented on #259
Closing this, as it's not compatible with SAML/OIDC and overall system design (even with local auth a user can be deleted using etcd CLI).

[2017-06-09 19:34] #259 closed

[2017-06-09 23:38] russjones opened #1062 "Configurable Cipher, KEX, and MAC."
### Problem

At the moment, Teleport does not allow you to select the ciphers, key exchange algorithms, or MAC algorithms that the client and/or server support.

This is typically not an problem, as the Go SSH library supports sensible defaults and most users would not benefit from changing the defaults. However, in certain situations it would be clearly advantageous to control this:

* If a secur

[2017-06-10 04:26] #1021 closed

[2017-06-10 04:33] #1002 closed

[2017-06-10 04:55] #929 closed

[2017-06-10 04:57] #857 closed

[2017-06-10 04:59] kontsevoy commented on #1050
@ekristen @russjones I am removing P0 label and removing this from the upcoming 2.2 milestone, but keeping it open in case you find a way to reproduce this.

[2017-06-10 17:28] newjones commented on #1053
Hi @kontsevoy :
#$ ps -Fp $$
UID        PID  PPID  C    SZ   RSS PSR STIME TTY          TIME CMD
<username>    27001 26999  0  6567  4524   3 19:20 pts/1    00:00:00 -sh

#$ env
LC_PAPER=es_ES.UTF-8
XDG_SESSION_ID=17042
LC_ADDRESS=es_ES.UTF-8
LC_MONETARY=es_ES.UTF-8
TERM=xterm-256color
SHELL=/bin/sh
SSH_CLIENT=<IP_ADDRESS>
LC_NUMERIC=es_ES.UTF-8
SSH_TTY=/dev/pts/1
LC_ALL=es_ES.UTF-8
USER=<username

[2017-06-10 19:15] kontsevoy commented on #1053
@newjones ok, that didn't help, but I have a better idea now. I have prepared a special build of `teleport` and uploaded a 64-bit Linux binary for you to try. Do you mind replacing `teleport` executable with it and producing this error? It will output more debugging info:

[code]

It will dump something that starts with `----->>>> &exec.Cmd` into the log, would you please try and post it back here

[2017-06-11 23:55] kontsevoy opened #1066 "Proposal: get rid of 'known_hosts'"
[EDIT]invalid

[2017-06-12 01:06] #1066 closed

[2017-06-12 02:27] #1062 closed

[2017-06-12 09:51] newjones commented on #1053
Hi @kontsevoy

ERRO[0111] ----->>>> &exec.Cmd{Path:"", Args:[]string{"-."}, Env:[]string{"LANG=en_US.UTF-8", "PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games", "HOME=/home/<username>", "USER=<username>", "SHELL=", "SSH_TELEPORT_USER=<username>", "SSH_SESSION_WEBPROXY_ADDR=host.domain.com:3080", "SSH_TELEPORT_HOST_UUID=0ffb1f8d-90e9-47b1-a004-64dbc1f8c2dd", "SSH_TELEPORT_CLUSTER_NAME=

[2017-06-12 11:51] darshandzend commented on #940
@eburghar I recently ran into this. The solution was to put `fullchain.pem` instead of `cert.pem` for `https_cert_file` in proxy configuration yaml.

    https_cert_file: /etc/letsencrypt/live/ci.hotelsoft.com/fullchain.pem

[2017-06-12 19:44] pmoust commented on #1009
@kontsevoy it turns out it was a combination of low read/write capacity and wrong name for `HashKey`

The terraform HCL below does the trick (we keep things under VCS / IaC control so we didn't want to let teleport create the actual dynamodb table on its own).

[code]

[2017-06-12 20:03] kontsevoy commented on #1053
so, based on `&exec.Cmd{Path:"", Args:[]string{"-."}` the shell seems to be set to an empty string for the OS user you're logging in as (you can probably look in your `/etc/passwd` to confirm). It is unclear how is this possible... are you doing something funky like SSH into a container or something? we should probably respond with "shell is not set for user xxxx" or something.

[2017-06-12 21:00] kontsevoy commented on #1033
Done.

[2017-06-12 21:00] #1033 closed

[2017-06-12 21:21] russjones commented on #982
@kontsevoy We briefly discussed this yesterday, but it's a request from a commercial customer. Let's discuss this offline?

[2017-06-12 22:07] russjones opened #1068 "Certificate Export Format"
Change the certificate export naming convention to match OpenSSH for greater interoperability. Fixed in https://github.com/gravitational/teleport/pull/1023

[2017-06-12 22:07] russjones commented on #1068
Fixed in #1023

[2017-06-12 22:07] #1068 closed

[2017-06-12 22:10] russjones opened #1070 "SAML 2.0 Support"
Add SAML 2.0 support to Teleport.

[2017-06-12 22:11] russjones commented on #1070
Fixed in the following:

* https://github.com/gravitational/teleport/commit/f8641681f6a888fe05c02d262093f1156e7df36d
* https://github.com/gravitational/teleport/commit/417ad1de05de192d1cd0c3aca2b974f1656020c9
* https://github.com/gravitational/teleport/commit/9af07be7a9102a4feb0b269733482f6f9fd00e9a
* https://github.com/gravitational/teleport/commit/b3af2d30100d40a8252e2a0786a52939175c369f
* https

[2017-06-12 22:11] #1070 closed

[2017-06-12 22:14] russjones opened #1071 "Improve Teleport availability and resiliency"
At the moment we have the following problems with Teleport.

* there was in-memory cache that was only invalidated on server restart.
* in case if all auth servers are down, no new SSH sessions could be created

We should improve it in the following ways:

* teleport provides explicit control over cache TTL for Proxy and Node
* cache is persistent and on-disk
* in case if all auth servers are down

[2017-06-12 22:14] russjones commented on #1071
Fixed in https://github.com/gravitational/teleport/pull/853

[2017-06-12 22:14] #1071 closed

[2017-06-12 22:35] kontsevoy commented on #1007
marking as invlid for now, hoping @dbabb-charter will come back with more info.

[2017-06-12 22:55] kontsevoy commented on #994
@shaharmor we have confirmed, @nikatjef is correct: this is an issue of how self-signed certificates are handled on the mobile. The browser is refusing to use the self-signed cert. Once you connect to a proper HTTPS proxy (with a purchased SSL cert) the web-based terminal will work (although it's not very enjoyable, but we'll work on that!)

[2017-06-12 22:55] #994 closed

[2017-06-12 22:59] kontsevoy commented on #959
@copumpkin thanks for the suggestion. there's been very loud headscratching here in Gravitational HQ :)

we do not see how would you make it work in the SSH world. Teleport is not a closed system, it is 100% compatible with OpenSSH, which means you may be hitting an OpenSSH server (running `sshd`) or a user may join using OpenSSH `ssh` client. The way session sharing is done today is via a simple

[2017-06-12 22:59] #959 closed

[2017-06-12 23:14] kontsevoy commented on #948
@jiangytcn the current HA configuration does not automatically replicate the stored sessions, this is something you'd need to do yourself (i.e. make sure that /var/lib/teleport/log is syncronized across all nodes). We'll update the docs to reflect that.

[2017-06-12 23:14] #948 closed

[2017-06-12 23:15] kontsevoy commented on #979
marking as invalid unless @iJebus comes back.

[2017-06-12 23:16] kontsevoy commented on #947
:) thanks.

[2017-06-12 23:16] #947 closed

[2017-06-12 23:19] #907 closed

[2017-06-12 23:20] kontsevoy commented on #887
@ekristen actually the  reason `advertise_ip` is available to tweak is precisely because it is impossible for any process to guess which IP address you want to use for accessing this node in a multi-homed environment.

[2017-06-12 23:20] #887 closed

[2017-06-12 23:22] kontsevoy commented on #939
@logic855 unfortunately we do not have the resources to support anything other than Linux/OSX/BSD at the moment. The issue (seems to be) is that one of the OSS Golang libraries we're using in Teleport does not support Solaris.

If someone with a SmartOS box can suggest a patch, we'll happily take it. Thanks.

[2017-06-12 23:23] kontsevoy commented on #868
@galenzhao I'll close it for now unless you come back.

[2017-06-12 23:23] #868 closed

[2017-06-12 23:24] kontsevoy commented on #625
Okta is fully functional in 2.2 Enterprise.

[2017-06-12 23:24] #625 closed

[2017-06-12 23:28] kontsevoy commented on #921
@ekristen we do not cross-compile Teleport. Our ARM builds are tested on Raspberry Pi 3 and on scaleway ARM servers. Get the latest Golang 1.8.3, get the repo and simply run `make`.

[2017-06-12 23:28] #921 closed

[2017-06-12 23:28] kontsevoy commented on #921
clarification: cross-compiling CGO targets is a mess, because you get into managing gcc toolchain.

[2017-06-13 01:52] iJebus commented on #979
Hey @kontsevoy @alex-kovoy , sorry for the delay. I could have sworn that I had tested it in both Chrome and Vivaldi at the time; I just did it again and Chrome doesn't display the issue while Vivaldi does. Given that, I'd say it's pretty safe to leave as invalid/'not your problem' and close.

For your curiosity:
OSX 10.12.5
Vivaldi 1.9.818.50
Chrome 58.0.3029.110
Teleport v2.0.6 git:v2.0.5-2-g0b0

[2017-06-13 01:52] #979 closed

[2017-06-13 04:40] kontsevoy commented on #979
@iJebus thanks for getting back to us. As much as we want to keep everyone happy, we do not have the resources to support/test for non-common configurations such as Vivaldi browser. Our focus is OSX/Windows/Linux (on the platform dimension) and Firefox+Chrome on the browser side.

[2017-06-13 04:41] kontsevoy commented on #1009
@pmoust glad to hear. LMK If there's anything else we can help with. Can I close this then?

[2017-06-13 04:41] kontsevoy commented on #1009
ah, it's already close, nevermind.

[2017-06-13 04:50] kontsevoy commented on #838
@chrisRidgers the web UI runs fully authenticated via HTTPS -> Teleport internal auth API. Certificates are not used in that case. I am closing this for now unless there are objections.

[2017-06-13 04:50] #838 closed

[2017-06-13 04:55] kontsevoy commented on #1051
not sure I'm following. well... just remove Teleport daemon from that node (or stop it from running). but if you are wondering how to permanently exclude the "rogue node" from a cluster, the answer is: you cannot, until cluster certificate rotation is implemented, which is needed, but never requested feature. Our CTO can't wait to get this done, see #350

[2017-06-13 04:55] #1051 closed

[2017-06-13 05:04] kontsevoy commented on #840
@dignati closing due to inactivity.

[2017-06-13 05:04] #840 closed

[2017-06-13 05:05] kontsevoy commented on #952
Tested today, this does not happen anymore. This could be due to @russjones implementing keep-alive messaging and the new web UI now uses the same client `tsh` does.

[2017-06-13 05:05] #952 closed

[2017-06-13 05:05] kontsevoy commented on #952
BTW, Edge also works great. All 4 major browsers on Windows work really well: IE11, Edge, Firefox and Chrome.

[2017-06-13 07:34] newjones commented on #1053
Hi @kontsevoy yeahhh!! We use salt to deploy the skeleton of OS and seems the receipe generates on /etc/passwd empty last field (shell) although we never got problems on local and remote login shell sessions.
Many thanks!!

[2017-06-13 07:34] #1053 closed

[2017-06-13 14:22] dbabb-charter commented on #1007
Sorry for not updating, here's a more detailed explanation of the environment...it's been a little crazy lately.

We split the services up. Relevant config details are below the hosts

Host 1 - Proxy/SSH
[code]
Host 2 - Auth
[code]
This is all pointing to Amazon dynamodb.

The Auth service is configured with and local/otp for authentication. I think the problem lives in the load balancer however.

[2017-06-13 17:11] russjones commented on #1007
@dbabb-charter I believe that AWS Application Load Balancer (ALB) only supports HTTP and HTTPS. Teleport traffic on `3023`, `3024`, and `3025` is SSH (a different protocol). I suggest using a Classic ELB to do Layer 4 load balancing for Teleport.

[2017-06-13 23:33] gclawes commented on #969
+1 for this, as well as being able to change U2F/OTP tokens from the web UI after account creation.

[2017-06-14 00:14] kontsevoy commented on #1053
hehe, software is hard, glad you were able to sort this out.

[2017-06-14 03:53] vielmetti commented on #679
Just tried this on the Packet Type 2A server (ARMv8, 96 core Cavium, 64-bit only) and got the same set of results.

I'll look upstream at the pty and bolt maintainers.

[2017-06-14 04:09] vielmetti commented on #679
The vendored versions of pty and bolt included in this package both are old enough that they predate the arm64 support that has been added to both of them in the last year or so. Adding in files from the current versions of both make the build go smoothly.

Alas, the test does not go smoothly, with this one error:
[code]

[2017-06-14 05:16] kontsevoy commented on #679
@vielmetti what are you compiling with?

[2017-06-14 05:34] #1055 closed

[2017-06-14 05:44] kontsevoy opened #1075 "Role UX cleanup part 1: resources"
## Problem

Teleport roles currently do not have a nice UX. Lets start with the documentation:
http://gravitational.com/teleport/docs/2.0/enterprise/#rbac

The "Roles" chapter quickly explains what a role is and then switches to "resources", where a bunch of unknown things are dumped on the reader. Then (not implemented yet) namespaces are mentioned. Then we show a role example which actually does

[2017-06-14 11:30] sergeygolubev opened #1076 "F1-F5 hotkeys not working"
Hi all!

We have problem in our Teleport installation for some unknown reason
keys F1 F2 F3 F4 F5 not working

in some cases in console key F1 prints symbol "P" , F3 prints symbol "R"

Thanks

[2017-06-14 13:50] alex-kovoy commented on #1076
Could you provide more detail? Is it web terminal? What is your OS/Browser version?

[2017-06-14 17:15] kontsevoy commented on #1076
yes, which terminal app too. there is a huge matrix of possibilities of what "console" may mean. marking as "invalid" for now.

[2017-06-14 17:17] kontsevoy commented on #1007
@russjones shall we close this?

[2017-06-14 17:18] kontsevoy commented on #940
@darshandzend and @nikatjef are correct, thanks for answering guys.

[2017-06-14 17:18] #940 closed

[2017-06-14 17:20] kontsevoy commented on #833
@noriuky this is now incorporated into Teleport 2.2

[2017-06-14 17:20] #833 closed

[2017-06-14 17:23] kontsevoy commented on #803
Gents, this indeed would be pretty awesome, but it's a heavy change to how Teleport is currently designed. We definitely see the need for this and will keep this in mind.

[2017-06-14 17:25] #1007 closed

[2017-06-14 18:14] #1076 closed

[2017-06-14 22:31] russjones commented on #1075
@kontsevoy Some initial thoughts:

## Enterprise

Replace `resources` with `permissions` that operate on Teleport level concepts. Internally, `permissions` will simply wrap one or more `resources`. Initially we support the following permissions:

* `trusted_cluster`: This allows a user to configure settings for a Trusted Cluster at runtime. For example, a user with the `trusted_cluster` permission

[2017-06-15 04:02] #1046 closed

[2017-06-15 16:09] ekristen commented on #921
I've made more progress.

[code]

[2017-06-15 16:47] russjones commented on #921
@ekristen Just a heads up, with Teleport 2.2 we've announced we will be releasing ARM binaries with our releases: http://gravitational.com/blog/teleport-release-2-2/

You can download the ARM binary for Teleport 2.2 from here: https://github.com/gravitational/teleport/releases/tag/v2.2.0

[2017-06-15 16:49] ekristen commented on #921
+1 glad to see that, that'll be nice for a lot of different platforms. Thanks for all the work you've been doing.

Unfortunately AFAIK not all ARMs are the same, and I really need it for android and ios devices, hence my attempt to cross compile for darwin/arm(32).

[2017-06-15 17:24] zegnitz opened #1077 "Cant delete user"
I created a user that can log in as multiple users and when I try to delete the user... "user 'joe2,' is not found." With a tctl users ls command it still says 'joe2,' is there. However, 'joe2,' cannot be logged into anymore so the user is "gone" but not 'forgotten" i guess you could say.

[2017-06-15 17:25] #1077 closed

[2017-06-15 17:42] russjones commented on #1040
I tried reproducing this running `make test` in a loop as well as `go test -race` a loop in `lib/srv` on `metal` and my MacBook and was not able to reproduce it.

We've made enough changes to `lib/srv` recently that we may have inadvertently fixed this?

Going to close for now, if it occurs again I'll hunt it down.

[2017-06-15 17:42] #1040 closed

[2017-06-15 19:43] #1056 closed

[2017-06-16 03:55] kontsevoy opened #1079 "Master Ticket for 2.3"
This is the umbrella ticket for 2.3 milestone. The goal of this milestone is to clean up Teleport UX, particularly the CLI and configuration.

## Namespaces

They are not launched yet. Namespaces should be removed from every user-facing component of Teleport, primarily from the docs. #1089

## Role Format

`resources` clearly do not work for describing Teleport permission system. This comes from t

[2017-06-16 04:06] kontsevoy commented on #921
@ekristen AFAIK Golang only supports ARMv6 [1] so regardless of the compilation method, you're getting the same binary unless you tell me what I do not know. ;) Please do.

[1] https://golang.org/dl/

[2017-06-16 14:55] chrisRidgers commented on #838
@kontsevoy ah right cheers.

Yeh no objections: just trying to understand what's happening where.

[2017-06-16 19:59] alex-kovoy commented on #1075
Since we also have a concept of 'permissions' in Telekube (only on UI level) it seems that our work here should be align with what we have in Telekube (or other way around). Please take a look at what we have in Telekube in regards to [mapping between low-level resources and UI permissions]( https://github.com/gravitational/gravity/blob/master/lib/webapi/ui/README.md).

And [this talks about inten

[2017-06-16 20:19] russjones opened #1080 "Role Templates with SAML do not work"
Role templates with SAML do not work at the moment for two reasons:

1. The assertion names are not being matched against the correct field. Names are being matched against values.
1. When executing a template, `tmpl.Execute` expects a `map` and we are passing it a `saml2.AssertionInfo` object.

In addition, logging is poor and doesn't surface why we are unable to use dynamic roles.

[2017-06-16 20:21] alex-kovoy commented on #1075
As for data structure, here is what we use in Enterprise and Telekube WEB UI. Do you think we can do something for a better code reuse?

[code]

I possible, I would avoid fields like 'meta' or 'version' and try to keep it simple.

[2017-06-16 21:12] kontsevoy commented on #1075
@alex-kovoy I looked at the links you have provided... Will discuss later.
Also, this ticket has moved to #1079

[2017-06-16 21:12] #1075 closed

[2017-06-19 13:10] hsluoyz opened #1082 "Support Casbin as the authorization backend"
Hi, [Casbin](https://github.com/casbin/casbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, Casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin's language) can be pers

[2017-06-19 15:34] bcg62 opened #1083 "openssh server certificate critical option "teleport-roles" is not supported"
As of 2.2.0, certificates are being issued with an additional extension `teleport-roles`

[code]

This breaks OpenSSH_6.6.1p1 server:

`sshd[9640]: error: Certificate critical option "teleport-roles" is not supported`

NOTES: the certificate in question is placed into a local `ssh-agent` after executing `tsh login`

[2017-06-19 16:07] bcg62 commented on #1083
http://lists.mindrot.org/pipermail/openssh-bugs/2015-April/014531.html

[2017-06-19 16:27] gravitational-jenkins commented on #1083
True. We need an ability to turn this off via perhaps adding compatibility mode flag. This feature is only used in trusted clusters.

Sent from my iPhone

[2017-06-19 21:48] russjones opened #1085 "More granular RBAC rules"
[EDIT] this is an umbrella ticket (not actionable).

Specific rules are discussed in:

* Access to sessions: #1124
* Access to clusters: #1125

## Problem

At the moment, we have no way to disable access to various parts of a teleport cluster. For example, the following endpoints on the Web UI largely serve different purposes and can possibly be restricted to specific user roles:

1. `/ping` - Che

[2017-06-20 01:25] kontsevoy commented on #1082
@hsluoyz you have a cool project, congrats. we do not really see any advantages of using it though. Teleport (and SSH in general) RBAC requirements are fairly modest, compared to more complex systems. It feels like learning and auditing Casbin is not worth the time savings we'd get by DIY.

Besides, Casbin's data formats are not compatible with Teleport system, which is closely aligned with Kubern

[2017-06-20 01:25] #1082 closed

[2017-06-20 09:54] hsluoyz commented on #1082
Hi @kontsevoy ,

Thanks for the reply!

If you are worried about the dev effort about Casbin, I can make the PR to do the integration. If the learning is about the the user learns to use Casbin policy, I think it's fairly not too much difference with a DIY policy.

Casbin uses adapters to adapt to different data formats, so it can support JSON if you like. And what do you mean by standardized "sig

[2017-06-20 15:03] Vish0007 opened #1086 "Allowing user access per group of nodes"
Is there a way to allow user access to a group of nodes in the teleport cluster?
For example, there is a teleport cluster with 100 nodes(with 10 storage nodes) and there is user 'A' .
user 'A' is storage admin and should be allowed access only those 10 storage nodes.
Also, as an admin i want to expire the user 'A' within for example 5hrs.
How can we do this in Teleport?

[2017-06-20 15:54] alex-kovoy commented on #1085
Is it in addition to user permissions which also should disable certain parts of UI?

[2017-06-20 16:51] russjones opened #1087 "Teleport does not wrap long lines correctly upon first login."
**Problem**

On initially connecting to a Teleport node, long lines of text don't wrap correctly until terminal is resized.

**Reproduction**

1. Start Teleport.
1. Open `Terminal.app` and resize to 80x24.
1. Use `tsh` or `ssh` to connect to a Teleport node.
1. Paste `aaaaaaaaaabbbbbbbbbbccccccccccddddddddddeeeeeeeeeeffffffffffgggggggggghhhhhhhhhhiiiiiiiiiijjjjjjjjjjkkkkkkkkkkllllllllllmmmmmmmmmmn

[2017-06-20 23:38] kontsevoy commented on #1086
This is a part of role-based access control (RBAC) and is done via Roles and node labels, only available in [enterprise teleport](http://gravitational.com/teleport/docs/2.0/enterprise/#rbac)

[2017-06-20 23:38] #1086 closed

[2017-06-21 00:06] #1083 closed

[2017-06-21 05:54] kontsevoy opened #1089 "Clean up namespaces"
Namespaces are not officially launched. They should be removed from user-facing facing Teleport components, this includes:

- Documentation
- Examples (role definitions, etc)
- UI (CLI and Web)

[2017-06-21 05:59] kontsevoy commented on #1057
I am removing it from 2.3 milestone. IMO such documentation does not belong to _product_ docs, because it does not affect how Teleport should be _used_. This is probably good for "contributor documentation" or maybe for a "Teleport under the hood" blog post.

Leaving it open though, this is good stuff we should be documenting, if not for users but for devs/contributors.

[2017-06-21 06:11] kontsevoy opened #1090 "Make local login always available"
## Problem

For SAML/OIDC scenario we have the following problems:
* If you just set, say, OIDC auth in config, you cannot get to the admin UI to configure OIDC. What's the point of even having OIDC configuration UI then if you can only use CLI to set everything up?
* Once your OIDC/SAML cluster is happily running, but SAML endpoint goes down (for reasons that have nothing to do with Teleport) you

[2017-06-21 06:16] kontsevoy opened #1091 "Clarify the role behavior of node labels"
[RBAC documentation](http://gravitational.com/teleport/docs/2.0/enterprise/#rbac) is not clear regarding behavior of Teleport roles when multiple labels are given.

The desired behavior should be to treat the list of labels as `or` operation. This needs to be confirmed in the code and clarified in the docs, i.e. it should clearly state _"access will be granted if one of the labels defined in the r

[2017-06-21 06:27] kontsevoy commented on #1082
@hsluoyz "signatures" means that every structure starts with a standardized header with certain fields that are guaranteed to be present, like all Kubernetes resources, here's an example:

[code]

[2017-06-21 16:06] Vish0007 commented on #1086
@kontsevoy thanks for sharing this.
On the link,
1. its mentioned about session TTL. Does the user gets deactivated/deleted after TLL timeout? and needs to be re-provisioned again?
2. how we can add labels to nodes? Can you please point me the API to list nodes and  its attributes (including labels)

Is there a slack channel to discuss certain features, developers doubts  code base

[2017-06-21 17:01] kontsevoy opened #1092 "Expanded Role format"
## Role 3.0 Spec

[code]

Notes:

* Role checker must look into "deny" section first. First match of any "deny" rule immediately leads to "access denied" without even looking at "allow" section.
* RBAC documentation must clearly reflect how this works.

## Implementation Notes

* Resources in RoleV2 are called SystemResources in RoleV3.
* Deny rules are checked before allow rules. A single deny ru

[2017-06-21 17:03] kontsevoy opened #1093 "[REFACTORING] Different data structures for services and rules"
## Problem

Teleport code is hard to reason about because it uses word "role" in  two completely different contexts.

1. "Service roles": these are roles for built-in Teleport services such as "Proxy", "Web", "Node", as defined in `/roles.go`. These are used for creating certificates used by Teleport services to interact with each other. The same roles are used in iconic places like `/lib/auth/aut

[2017-06-21 17:50] russjones commented on #1057
I was thinking it might be a good fit here: https://github.com/gravitational/teleport/blob/master/docs/2.0/architecture.md

[2017-06-21 19:43] kontsevoy commented on #1086
@Vish0007

1. When the certificate expires (TTL) it becomes invalid, i.e. a user will remain in the system but won't be able to log in.
2. Nodes are labeled as shown in the [docs](http://gravitational.com/teleport/docs/2.0/admin-guide/#labeling-nodes)

Yes, do we provide a Slack channel and a ticket-based support for enterprise customers

[2017-06-21 21:34] #1080 closed

[2017-06-21 22:11] #1091 closed

[2017-06-21 23:57] kontsevoy opened #1098 "Cluster Configuration"
## Problem

We have two different concerns when it comes to configuration: machine configuration and cluster configuration and we have been struggling with how to solve this problem. Thus far we have been mixing and matching two different approaches to solve the problem.

1. The `teleport.yaml` configuration file. This approach is easy to understand and manage, but it is a pain to configure comple

[2017-06-22 00:06] kontsevoy opened #1099 "TCTL commands for manipulating resources"
## The Problem

We have adopted the concept of using resource-like (based on [Kubernetes terminology](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resources.md)) to allow Teleport administrators to dynamically modify cluster state.

There are two problems with it:
* We have abused this approach (not everything is a resource. configuration, for example, is not).

[2017-06-22 20:50] russjones opened #1102 "Unable to run "tsh ls""
**Problem**

`tsh ls` returns the following error when trying to get a list of nodes from a Trusted Cluster.
[code]

The logs show a line that looks like the following:
[code]

This only occurs when `remote-{username}-{cluster name}` is longer than 32 characters.

[2017-06-22 21:12] Vish0007 commented on #1086
@kontsevoy can you please point me to the command/flow on how set the TTL for a user?
Is the TTL for user information maintained by the auth server? what happens to sessions which are ongoing but TTL is expired?

[2017-06-22 21:42] #1102 closed

[2017-06-23 04:31] dbabb-charter opened #1105 "502's from the web UI"
I'm running teleport in AWS. Following the HA guide I have auth on it's own server, ssh and proxy services on a different setup. Everything is talking to Dynamo and I have a classic ELB in front of everything.

I can run tsh and connect to any of the nodes, but I can't do anything from the web. I get 502's.

Here's the ELB config
I have a port 3080 open using https
I then have 4 additional listene

[2017-06-23 16:50] russjones opened #1106 "Friendly U2F error messages"
**Problem**

U2F error messages are unfriendly.

[code]

**Proposed Solution**

Wrap or mask error messages with a friendly message. For example, a friendlier version of the above would look like:

[code]

In addition, prompting you multiple times before exiting is a possibility.

[2017-06-23 21:30] #1105 closed

[2017-06-23 21:31] dbabb-charter commented on #1105
Split the web to it's own url behind an ALB and left the CLI stuff on the ELB

[2017-06-24 17:25] siepkes opened #1107 "How scalable is teleport proxy?"
As I understand it teleport proxy can be used to create a reverse tunnel to the auth server. Which in turn allows you to connect to SSH servers behind a NAT / firewall. My question is how well does this scale? I'm looking at a scenario with hundreds of appliances (or IoT devices if you want to give it a fancy name ;-) behind all sorts of NAT's and firewall which I would like to be able to reach. W

[2017-06-24 18:56] kontsevoy commented on #1086
@Vish0007 see the "User role" example in [this chapter](http://gravitational.com/teleport/docs/2.0/enterprise/#rbac), specifically `max_session_ttl` setting. When TTL expires, Teleport does not terminate ongoing sessions, this is now becoming somewhat popular feature request.

[2017-06-26 14:28] nikatjef commented on #1107
Quick, if less than useful, answer yes.  Yes that would work.

Having said that, Teleport's proxy limits are really based on activity levels vs memory (proxy connection information / management) and storage write speed (writing the proxy logs).  If you are using the connections for traditional Ops activity, then you can handle 50 - 75 concurrently on a small Raspberry Pi3 without issue.  If you a

[2017-06-26 16:21] klizhentas commented on #1092
@russjones don't forget to update version of the resource to v3 then

[2017-06-26 19:54] Orad commented on #514
The lack of a package management support stops me from using this. how does one get security updates for something so crucial such as SSH server?
Am I missing something ?

[2017-06-26 19:59] Omeryl commented on #514
@Orad Nope, not missing anything, they still expect us to package everything ourselves.

[2017-06-26 20:31] siepkes commented on #1107
@nikatjef In my scenario (and in the case of hundreds of IoT devices like Rasberry PI's with sensors for example)  there would basically be one proxy per host to connect to. Proxy and SSH server would be running on the same host. Since in that scenario it is just about getting connected with the device itself. Usually you can't connect to such devices directly because the have changing IP's becaus

[2017-06-26 20:41] kontsevoy commented on #1107
@siepkes yes, hundreds of remote "trusted clusters" should work without any issues. IIRC the overhead of a "trusted cluster" is a 3-5 second network ping, so with 1,000 remote tunnels you're looking at ~200 pings per second at your "master auth server" (which everyone else connects to).

[2017-06-26 20:41] #1107 closed

[2017-06-27 19:01] #1050 closed

[2017-06-27 19:08] russjones opened #1109 "SAML export does not work in Enterprise"
**Problem**

`tctl` from Teleport has been vendored into Enterprise. Due to that, Enterprise users can no longer run `tctl saml export`.

**Proposed Solution**

Un-vendor `tctl` in Enterprise.

[2017-06-27 21:05] russjones commented on #1109
Fixed in https://github.com/gravitational/enterprise/releases/tag/v2.2.3-enterprise.

[2017-06-27 21:05] #1109 closed

[2017-06-28 00:04] russjones commented on #1050
@ekristen This issue should be resolved now. If you see it again ping me and I'll investigate further.

[2017-06-29 01:04] patrobinson opened #1111 "Disable Session Recording"
Session Recording looks nice but there are a couple problems:
- Users can view anybody else's session https://github.com/gravitational/teleport/issues/924
- Users can unwittingly expose sensitive information through session recordings
- Sharing a session means any user can impersonate a user https://github.com/gravitational/teleport/issues/999

I think it would be easier if we could completely dis

[2017-06-29 01:19] russjones opened #1112 "Best Practices"
Several commercial customers have asked us for best practices for setting up Teleport. It would be useful to document various common scenarios and what we recommend. This might not be appropriate for a completely new guide maybe it should just be sprinkled into existing documentation, I'm not quite sure yet.

A few examples:

- [ ] When to use different clusters to restrict access. How they do the

[2017-06-29 01:21] russjones opened #1113 "Verbose logging for tsh"
**Problem**

`ssh` supports the `-v` flag which turns on verbose logging which makes debugging issues with the client easier.

`tsh` also supports this with the `-d` flag but it sends logs to syslog. This is nice that it does not pollute `stdout` but we should add another flag (maybe `-dd`) for lazy people like myself that don't want to also tail syslog and don't mind `stdout` to be polluted when

[2017-06-29 04:04] kontsevoy commented on #1111
@patrobinson 120% in agreement. This work is already under way as part of #1085 and #1092. This is by far number one user request right now. I hope you don't mind if I close this one as a duplicate, but feel free to add more comments & thoughts, we're reading all of this. Thanks!

[2017-06-29 04:04] #1111 closed

[2017-06-30 02:28] unreality commented on #971
This seems like a fairly important feature, is it on the roadmap for next release?

[2017-06-30 10:11] enm10k opened #1114 "Can I use teleport with automation tools like fabric?"
I'd like to use teleport with automation tools like [fabric](http://www.fabfile.org/).
Did anyone already try it?

[2017-06-30 13:47] nikatjef commented on #1114
I have not been able to get Fabric to work reliably, but I have gotten it to work with Ansible.

Ansible has the option to override the SSH mechanism (Paramiko by default) to use the system's SSH client.  This works fine with the recent 2.2 patch making the SSH and SCP aliases for Teleport.

Fabric also uses Paramiko, but I have been unable to figure out how to override it to use the system's SSH

[2017-06-30 20:45] kontsevoy commented on #1114
@enm10k as nikatjef said, Fabirc uses its own SSH implementation based on Python's Paramico library, but they make a good effort of playing nice with SSH standards.

I would recommend looking at
1. [Native SSH config](http://docs.fabfile.org/en/1.13/usage/execution.html#ssh-config) first. See `ProxyCommand` section which should cover configuring Paramico to use an SSH proxy instead of connecting t

[2017-06-30 20:45] #1114 closed

[2017-07-02 17:40] klizhentas opened #1116 "TTL: never does not work for cache policy"
Version: 2.2.3

When using `never` get this error:
[code]

[2017-07-02 22:38] klizhentas opened #1118 "Proposal: do not set TTL on heartbeat"
## Description

Our auth servers, proxies, reverse tunnels and nodes all heartbeat back to the presence service (Auth server + backend) and currently get removed from the database when the TTL expires.

This behavior crates problems in real world scenarios, because when heartbeat fails we loose present information about the entry and it disappears from the node list. In case if the node has missed

[2017-07-03 17:34] russjones commented on #1118
"Keep all entries persistent" By this you mean just remove the TTL, not that we are keeping every heartbeat in the database right and that would very quickly fill up the backend.

Also, what are your thoughts about not persisting this information at all? Instead just keeping it in memory and reconstructing it each time Teleport starts?

[2017-07-03 17:38] klizhentas commented on #1118
@russjones Ev has a couple of ideas how to balance it out, he'll post it soon.

[2017-07-03 18:34] kontsevoy commented on #1118
Here are the notes from our discussion earlier (perhaps update the top-level description to reflect them?)

## Code changes

* When a node skips 3 pings (or whatever is the current deault) it needs to go into the "offline state".
* Introduce "node linger TTL". It's a maximum time a node can spend in "offline state" before being automatically removed from the cluster.

## UX changes

* `tsh ls` sho

[2017-07-06 00:14] kontsevoy commented on #1116
what's `cache.ttl` and "cache policy"? if this is something Telekube needs, it shouldn't be exposed to regular users.

[2017-07-06 15:18] papiveron opened #1119 "Teleport logs"
Hi,

Please, I just one to understand teleport logs.

I'm using teleport version 2.2.3, and in my ssh events logs I don't have informations described in the Admin Manual.
As example :

I can see some missing keys in the logs json objects. Why there is no address entry here as described in the documentation?

I'm also looking for where to find  errors logs, for example when a user tries to log in a

[2017-07-06 22:07] nikatjef commented on #1119
Okay, so that is your session log, which shows the individual node login sessions.  The very first line should include both the local and remote addresses as well as the username and login of the user.

Login logs are located in the daily log, usually under teleport/log and they will be called something like 'YYYY-MM-DD-HH.mm:00:00:00.log'.

You can adjust the log level by changing the severity en

[2017-07-06 22:08] klizhentas commented on #1116
@kontsevoy it's all documented here:

https://github.com/gravitational/teleport/pull/853#issue-215907945

[2017-07-07 00:22] kontsevoy commented on #1116
nevermind then

[2017-07-07 23:26] russjones opened #1120 "Role Variables"
## Problem

At the moment, if you use OIDC/SAML with dynamic roles (also called role templates), Teleport creates many roles in the backend. This can be confusing for Teleport users because Teleport does not support roles and for Enterprise users because every time they look at the list of roles it potentially changes.

## Solution

We should have a single role but allow injecting additional data

[2017-07-09 05:39] vancluever commented on #726
Hey @kontsevoy, just going to close this issue now (should serve as an easy reference for people looking for info regarding this topic still). Thanks again for the info and all the awesome work on Teleport!

[2017-07-09 05:39] #726 closed

[2017-07-09 19:18] alex-kovoy opened #1121 "(web) remove jquery: replace jquery datepicker component with react equivalent"
jquery datepicker is used by session filter component

[2017-07-09 19:21] alex-kovoy opened #1122 "(web) remove jquery: replace jquery scrolling component with react equivalent"
This control is used by session player for a nice scrolling behavior.

[2017-07-10 02:27] tatsushid opened #1123 "Cannot stop "tsh agent" by Ctrl-C or SIGTERM"
Hello,

I met an issue that I couldn't stop `tsh agent` command by Ctrl-C or SIGTERM signal after v2.2.0 release. To stop it, at least SIGQUIT has to be sent to the process.

Here is the instruction to reproduce the issue.

1. login to system by `tsh login`
2. build tsh by `make build/tsh`
3. run `./build/tsh agent` to test the built binary
4. type Ctrl-C and see if the process stops or not

Accor

[2017-07-10 02:32] tatsushid commented on #1123
I forgot to mention about my environment. I tested it on macOS El Capitan 10.11.6 with Go 1.8.3

[2017-07-10 05:25] kontsevoy commented on #1123
@tatsushid we are actually thinking about deprecating `tsh agent` because this very same functionality is available using macOS built-in agent (actually when you execute `tsh login` the certificate is automatically fed into MacOS built-in agent).

Thoughts?

[2017-07-10 05:26] kontsevoy commented on #1122
dupe of #1121

[2017-07-10 05:27] kontsevoy commented on #1119
@nikatjef thanks, that is correct.

[2017-07-10 05:27] #1119 closed

[2017-07-10 05:37] kontsevoy opened #1124 "Session Access Rule [RBAC]"
## Proposal

Consider example:

[code]

* `play` means a user can replay someone's session if he has the session ID via `tsh play`
* `join` means a user can join a session if he has the session ID.
* `list` means a user can see the list of sessions.

Notes:
* If a user does not have `list` verb he should not be able to see the list of sessions (active or not) in the UI.
* `play` without `list` is

[2017-07-10 05:45] kontsevoy opened #1125 "Cluster Access Rule [RBAC]"
## Proposal

Consider example:

[code]

@russjones lets discuss monday/10th

[2017-07-10 07:31] tatsushid commented on #1123
Thanks for the response!

I confirmed that the public key is stored in macOS agent (by running SSH client command with `-v` option) and I can use Teleport proxy without running `tsh agent`. It is better if I don't have to run `tsh agent` to use SSH client (in most cases, for Ansible, Serverspec or something automation tools).

I agree with you on deprecating it on macOS.

[2017-07-10 18:00] kontsevoy commented on #1123
phew! awesome. Thanks. :) I'll close this ticket then.