[2021-02-12 00:59] stevenGravy commented on #5521
The google API allows for retrieving the domains in google workspace  https://developers.google.com/admin-sdk/directory/reference/rest/v1/domains/list.  This would require an additional permission given to a service account.

[2021-02-12 02:37] russjones opened #5556 "Use inittrace to profile packages."
Go 1.16 added `GODEBUG=inittrace=1` that can be used to profile packages that are imported. This can help us find regressions when a PR is submitted similar to linter.

[code]

[2021-02-12 05:07] klizhentas opened #5557 "Bot that publishes vercel branches on Teleport docs PRs"
### What

We are using vercel in a creative way. Our repo `next` has multiple submodules to our docs. Once we merge the PR, the vercel build publishes the documents and updates the submodules. This works well, and allows us to have docs in sync with our branches (finally).

However, Vercel has a very cool feature, that is not available to us because of the way we use it. When creating a PR to repo

[2021-02-12 12:02] rduplain opened #5558 "Exit non-zero on `tsh status` for scripting login status."
### What

Exit non-zero on `tsh status` when no valid active profile exists: not logged in, no active profile, active profile expired. Optionally require a command-line flag for "query mode."

### How

[code]

Developed against e235dfa35a1067a0475a28c5a0bcc0a1de776c48.

(The error messaging needs review, as this patch retains "Not logged in." in order to maintain the workaround below, while the No

[2021-02-12 14:34] pankajpandey9 commented on #5518
@awly, Thanks for the info.
Here is what I tried:
So by default, Teleport Helm Chart creates one PVC and mounts only  on the proxy nodes (/var/lib/teleport). So both the proxy’s has same UUID and Auth Pods uses empty dir as storage.

Made changes to the helm chart and used the same PVC for the both Proxy (2 Pods) & Auth (2 Pods)
It seems that the Auth Pod shows that the volume is mounted. However,

[2021-02-12 15:33] webvictim commented on #5557
@russjones is working on a bot to automatically process and comment on Github PRs. Once he's done that, I'll pick up the base logic and build on it to work with Vercel.

[2021-02-12 17:42] webvictim commented on #3248
Huge +1 for this, you should be able to run `teleport start --check-config` or similar and get a yes/no.

[2021-02-12 18:02] klizhentas opened #5559 "Improve teleport configure subcommand"
### What

It should ask you a couple of questions and generate a valid teleport.yaml and write it to the disk.

* What is your cluster name? (For example example.com). Cluster name can not be changed, so pick a unique name. If you choose a name that matches your domain name, configuration will be easier.

* Backend? Dir by default.

* Acme. Should offer acme for auto cert generation

* Should prin

[2021-02-12 18:04] webvictim commented on #5559
Related to https://github.com/gravitational/teleport/issues/3248

[2021-02-12 21:28] Aharic commented on #5047
Another customer is hitting this. What @awly is saying re: caching makes sense. Based on what I'm seeing in my testing it appears that we never update the local kube cert in the .tsh/keys/cluster directory after role elevation. We set it the first time a user executes a kubectl command but never update it after a user goes through the access-workflows process.

Users have to either log out and log

[2021-02-13 02:15] rduplain commented on #5558
The primary question in converting this to a PR: which is preferred?

1. Run with the patch posted in the description of this issue and remove `fmt.Printf("Not logged in.\n")`.
2. Leave `tsh status` as-is add a separate command or CLI flag for this "query mode."

With 6.0 coming up, it's an opportunity change `tsh status` behavior and go with (1).

[2021-02-14 01:55] klizhentas opened #5568 "Log spam"
### Description

[code]

[2021-02-14 07:07] #5443 closed

[2021-02-15 17:35] wangzw opened #5572 "tls: handshake message of length 188425 bytes exceeds maximum of 65536 bytes. service/service.go:1329"
### Description

**What happened**:

I have a four nodes teleport cluster (2 auth nodes and 2 proxy nodes) and many others clusters trust on it.
It works well for a long time. Recently the four nodes teleport cluster has been reboot and proxy nodes cannot connect to auth node again.

I found following error message in proxy node's log.

[code]

And following error message from error message from a

[2021-02-15 18:34] webvictim commented on #5572
I think that this bug may have been fixed in Teleport v4.3.0 - see https://github.com/gravitational/teleport/issues/3870

If you're running Teleport v3.1.8 you should look to upgrade. There have been many improvements to Teleport since that version was released.

[2021-02-15 18:36] webvictim commented on #5558
I think we would err on the side of not adding more flags - it just makes `tsh` usage more complicated. Please feel free to submit a PR with your patch and we'll review it. Thanks!

[2021-02-15 18:36] webvictim commented on #5558
@rduplain I think we would err on the side of not adding more flags - it just makes `tsh` usage more complicated. Please feel free to submit a PR with your patch and we'll review it. Thanks!

[2021-02-15 19:58] #3987 closed

[2021-02-15 20:08] xacrimon commented on #3987
Implemented and merged to master.

[2021-02-16 00:57] dudeisbrendan03 opened #5575 "[Question] New cluster won't function"
So I have 5 leafs connecter to 1 root.

Each leaf is it's own independent infrastructure, with the root there to make maintaining each one easier.
Deploying a later one for some reason I keep getting hit by this same error, I haven't configured it differently as far as I'm aware.
For some reason it works fine in the web app, but not with tsh.

![netdiag1](https://user-images.githubusercontent.com/

[2021-02-16 01:53] wangzw commented on #5572
Thanks for your rapid response.

I was trying to upgrade teleport from v3.1.8 to the latest version but got no luck to make it work. It has a long upgrade path
 and complicated upgrade process for a multiply auth node cluster from the description of the document.

I'm seeking another way of upgrading to the latest version, that is dump all objects out and

[2021-02-16 01:53] #5572 closed

[2021-02-16 02:19] Aharic commented on #2799
A few customers have reported confusion related to this again this week. Though it may be moot w/ 6.0 rolling out RBAC for SSO, it would be nice to roll into past versions for customers running pre-6.0 if we ever get it patched.

[2021-02-16 04:57] klizhentas commented on #5575
@dudeisbrendan03 you can ignore the placeholder name `https://teleport.cluster.local` in the error message. Client always adds this to the connector string to workaround some internal TLS problems. Can you do `tsh ls -d` to get extra logs?

[2021-02-16 09:22] dudeisbrendan03 commented on #5575
Thanks for the response
https://asciinema.org/a/gPaVuKc63FmLqtlzPAJ4HABmq

[2021-02-16 13:08] webvictim commented on #5572
@wangzw What type of storage are you using for Teleport's backend currently?

[2021-02-16 13:22] asterix201 commented on #3329
Hello,

I'm trying to configure teleport with DynamoDB compatible backend.
But could not find it - is it possible to configure it not only for audit events but to keep cluster state in DynamoDB compatible backend?

And I can not find in docs or issues some example of configuration even for audit events.

I'm trying to configure settings in our cloud provider Yandex.Cloud, they have a service Yande

[2021-02-16 14:26] adzimzf opened #5578 "my user login is an email address, which is contains an @ character. how to login using `tsh ssh`"
### What
How to `tsh ssh` with user name contains @ character

I've checked the code, it will split the user & host using @ character

`tool/tsh/tsh.go:555`

## Why
I can't `tsh ssh` using user host like this `myemail@gmail.com@beta127.0.0.1`

### Which platform(s)
- [ ] Teleport Open Source
- [ ] Teleport Cloud
- [x] Teleport Enterprise

### Which component(s)
- [ ] Server Access
- [ ] Kubernetes

[2021-02-16 17:06] pschisa opened #5580 "Combine Applications with the same configuration on Auth Server Web UI"
### What
Currently, if multiple Teleport application service nodes are created to reference the same Teleport application for redundancy/HA, they are listed in the same auth server as separate applications.

Request is to have multiple instances of the same application only show as a single icon in the Web UI to allow for redundant application service nodes to not clutter the application UI.

###

[2021-02-16 17:53] webvictim commented on #3604
I don't think this issue was actually completely resolved by the associated PR, as you still can't change `cluster_name` without needing to rebuild your cluster.

The idea should be that what we currently use for `cluster_name` is changed to an internal UUID which is a constant value, then we should change the `cluster_name` field to be a display-only value which can be changed at will without aff

[2021-02-16 18:21] klizhentas opened #5582 "Helm charts improvements"
### What

* [x] Add tests of helm charts to our CI/CD pipeline to avoid regressions
* [x] Release `teleport-kube-agent` and `teleport-cluster` to be our official charts
* [x] Extend `teleport-cluster` to support custom configuration, GKE and EKS scenarios
* [x] Provide migration guide from `teleport` to `teleport-cluster` and update the docs
* [x] Helm chart version should match Teleport version

[2021-02-16 18:25] awly opened #5583 "Document cluster labels in the admin guide"
## Details

https://goteleport.com/teleport/docs/admin-guide/ has no mention on cluster labels added in 5.0
The only "public docs" are https://github.com/gravitational/teleport/blob/master/CHANGELOG.md#cluster-labels

### Category
- [x] New Feature
- [ ] Improve Existing
- [ ] Remove Outdated

### Which platform(s)
- [ ] Teleport Open Source
- [ ] Teleport Cloud
- [x] Teleport Enterprise
- [ ] Oth

[2021-02-16 18:43] russjones commented on #5531
@Aharic Can you add some examples?

[2021-02-16 18:49] russjones commented on #5543
@jon-can Can you provide some more details and examples for what you want to do here?

[2021-02-16 18:51] klizhentas commented on #5575
@dudeisbrendan03 that is very strange. Any logs on the auth server of the cluster B? Also what happens if you `tctl rm tc/<clsuter A>` from cluster B and reconnect.

[2021-02-16 18:52] klizhentas commented on #5110
@russjones @awly can we bump this one up to 6.1 perhaps? We'd need HA K8s to work well

[2021-02-16 18:53] webvictim commented on #5549
You can set the `TELEPORT_LOGIN` environment variable to specify which Unix user to log in as by default.

[2021-02-16 18:56] #5556 closed

[2021-02-16 19:02] russjones commented on #5575
@dudeisbrendan03 Can you try `tsh logout` and `tsh login` again after you've added all of your clusters and see if this is still happening?

[2021-02-16 19:03] russjones commented on #5578
@adzimzf What OS are you using? Typically Linux does not allow `@` symbol in the username.

[2021-02-16 19:07] webvictim commented on #5578
Does `tsh ssh -l myemail@gmail.com <host>` work?

[2021-02-16 19:14] webvictim commented on #5361
This has been tested now and various other improvements added. It's possible to run the full test suites, plus builds on `push` and release builds on `tag`.

[2021-02-16 19:14] #5361 closed

[2021-02-16 19:24] #4841 closed

[2021-02-16 19:32] jon-can opened #5585 "Allow teleport-kube-agent Helm Chart to use dynamic token"
### What
Currently the teleport-kube-agent Helm Chart must use a static token. We would like to use dynamic tokens with this Chart. https://github.com/gravitational/teleport/tree/master/examples/chart/teleport-kube-agent

### Which platform(s)

- [x] Teleport Enterprise

### Which component(s)
- [x] Kubernetes Access

[2021-02-16 19:39] dudeisbrendan03 commented on #5575
Already tried that with no luck

[2021-02-16 19:39] dudeisbrendan03 commented on #5575
My session has expired since I configured the leaf and I still appear to have the issue, I'll give it ago and edit this message

[2021-02-16 19:43] dudeisbrendan03 commented on #5575
Restarting it seems to of sorted everything out, not quite sure what was going on! Thanks for your help

[2021-02-16 19:43] #5575 closed

[2021-02-16 20:01] klizhentas commented on #5585
To solve this problem we need to keep x509 in Kubernetes. @klizhentas - ping me to elaborate.

[2021-02-16 21:10] quinqu commented on #4523
Can you give a little more info on how to tell if teleport is unable to connect to streams? Should there be an error in the logs? What do they look like if so?

[2021-02-16 21:23] klizhentas commented on #4523
@quinqu one of those calls will fail:

https://github.com/gravitational/teleport/blob/master/lib/backend/dynamo/shards.go#L76

[2021-02-16 22:38] webvictim commented on #5585
You can also just use a PersistentVolumeClaim for /var/lib/teleport as a workaround.

[2021-02-16 22:44] Aharic opened #5592 "allow users to specify non-default browser when logging in via tsh"
### What
customers have requested ability to set a flag defining a non-default browser to use when opening the browser for login.

### How
ideally with a `tsh` flag or a modification of the existing `--browser` flag.

### Why
clients who run dual browsers for personal and company purposes, or who run environments where one browser may be set as org default but users use another browser for all oth

[2021-02-16 22:47] webvictim commented on #4206
This can also be partly covered as part of #5533:
- [ ] look to integrate Drone’s linter directly into our generation code
- [ ] provide a way to automatically rewrite specific steps with a pull_request trigger so that they’re all tested when raising a PR, rather than having to push tags to test specific functionality
  - [ ] one issue here is secret visibility
  - [ ] an alternative method might

[2021-02-16 22:52] webvictim commented on #3310
This needs a throwaway VM for each test run. @russjones has written a script to stand up the VPC/subnet/instance automatically but the best way to make it happen reliably/easily might just be to use Packer and not save the AMI at the end.

To keep costs down we should only run BPF tests on push. It also needs to be quick - ideally we want an answer within ~7 minutes as that’s how long all the push

[2021-02-16 22:53] webvictim commented on #3158
Waiting for the release of Go 1.16 which should have support for packaging the webassets inside the binary.

[2021-02-16 23:10] awly commented on #3158
What a coincidence https://blog.golang.org/go1.16 :)

[2021-02-16 23:12] travelton opened #5594 "Log spam in kube/proxy/portforward.go"
### Description

**What happened**:

Function `monitorStreamPair` is spamming logs. See [/lib/kube/proxy/portforward.go:263-272](https://github.com/gravitational/teleport/blob/master/lib/kube/proxy/portforward.go#L263-L272).

See [gist](https://gist.githubusercontent.com/travelton/7aa5c148f9f25c5b9ae12638ca74146c/raw/ca1def8e8a019e3e7d5a9259467dddb12851d273/gistfile1.txt) for example of log spam.

[2021-02-16 23:17] awly commented on #5585
PVCs seem to be non-portable currently (you need to know exactly what kind of PV to create).
It would be great to use something portable that works out-of-the-box, like storing host identity in a Secret.

[2021-02-16 23:19] klizhentas opened #5595 "Replace custom web assets vendoring with Go's 1.16 Embed"
### What

Use  https://golang.org/pkg/embed/ to embed JS assets

[2021-02-16 23:26] awly commented on #5594
@travelton since you know exactly how to fix this, mind submitting a PR?

[2021-02-17 00:24] #1929 closed

[2021-02-17 01:17] adzimzf commented on #5578
both my local and remote are Ubuntu.
but it works when accessing from teleport webui.

[2021-02-17 01:18] adzimzf commented on #5578
I'll try it first

[2021-02-17 01:41] adzimzf commented on #5578
Hi, it works, thanks anyway

[2021-02-17 01:41] #5578 closed

[2021-02-17 02:12] #5568 closed

[2021-02-17 15:47] webvictim opened #5601 "Publish example Ansible playbook for installing Teleport"
There is some example code for [using Ansible to install Teleport](https://github.com/gravitational/ops/blob/fspmarshall/monster/loadtest/etcd/install-teleport.yaml) but it's on a random branch and not published. It's also 3+ years old and there have been a number of improvements which could be made, for example:
- using `teleport start --bootstrap` to provision connectors/users/roles
- installing

[2021-02-17 15:55] programmerq opened #5602 "AAP should work with X-Forwarded-For / X-Real-IP in terms of logging"
### What

If X-Forwarded-For or X-Real-IP is set, those should be logged by teleport for a more complete picture as far as an audit perspective. This request was prompted by the implementation of AAP, but could apply to other parts of teleport too.

The idea is to

### How

Create a configuration entry for custom logging similar to nginx's custom_log feature. This would allow custom formatting of

[2021-02-17 17:21] programmerq opened #5604 "Allow differentiated labels for a single kubernetes_service configuration"
### What

Currently in 5.1.2, a `kubernetes_service` config block can take a single `kubernetes_config` file, and a single label configuration. These labels will apply uniformly to all clusters defined in that one `kubernetes_config` file.

It should be possible to specify different labels for different clusters.

### How

A few possibilities come to mind. Based on https://github.com/gravitational

[2021-02-17 18:52] webvictim opened #5606 "Update Teleport to use Go 1.16"
Go 1.16 was [released yesterday](https://blog.golang.org/go1.16), we should update Teleport to use it.

Issues/PRs which are waiting on this:
- #3437
- #3158
- #5496
- #5595

@russjones and I agreed that because the Go 1.16 release is so close to our 6.0 cut-off, we should hold off and do this as part of Teleport 6.1.

[2021-02-17 18:54] webvictim commented on #5595
Related to #3158 and #3437

[2021-02-17 20:34] ausmith commented on #5543
In short:
We have internal proxies that only allow a single port to subdomain pair. If we were to put Teleport behind this internal proxy, we wouldn't be able to leverage Teleport's feature set without doing a separate subdomain + port pair per Teleport capability.

[2021-02-17 21:30] Aharic commented on #5451
Got some more feedback from the customer who requested the feature. Customer architecture is set up such that there are a number of hosts, each running a copy of a container (or multiple), with the containers running a copy of the application. Only one container is ever active at a time. The hosts may be in the same environment or spread across multiple environments, so LBs are not necessarily an

[2021-02-17 22:01] Aharic commented on #5001
Will this fix apply only to tsh client and be supported across releases (so for example, a client running tsh client 4.2 w/ 5.1.2 root cluster)?

[2021-02-17 22:07] #5486 closed

[2021-02-17 22:20] programmerq opened #5609 "Session Recordings should be stored with a user-definable TTL"
### What

Session recordings should have a user-tunable TTL that gets passed along to whatever backend is utilized for audit_events_uri and audit_sessions_uri

### How

An optional TTL setting should allow a user to designate how long the recorded session should be retained.

### Why

There is a legal compliance requirement for this type of data.

### Workaround

some backends have default TTL val

[2021-02-17 22:57] awly commented on #5110
PR is out for review.

To reiterate, you can still use
[code]
like pre-5.0, so HA should work.

`kube_listen_addr` just made it confusing that you can use the old format.

[2021-02-17 23:00] klizhentas opened #5612 "Server labeling"
### What

If we allow users to create `Server` entries with unique host UUIDs, whenever the server heartbeats, if the entry is persistent and has a label managed by API, the server heartbeat should not overwrite it.

So users can create `tctl create -f server.yaml`. Then users when joining nodes make sure that identity of the host matches with the server. If that happens, the server will not overw

[2021-02-17 23:18] webvictim commented on #5609
This is particularly relevant for companies which need to comply with EU data protection laws and are therefore obliged to delete user data within a fixed time period.

[2021-02-17 23:27] awly commented on #5001
Yes, the fix will apply to `tsh` only.
It will work for any client version we support (at this point, probably 4.3/5/6) and server versions as old as 4.2 if not older.

[2021-02-17 23:28] awly commented on #5001
Users should not be using 4.2 clients against 5.1 servers. See https://goteleport.com/teleport/docs/admin-guide/#component-compatibility

[2021-02-18 00:07] klizhentas commented on #5557
@webvictim @russjones I feel like most of the bot PR logic is here:

https://github.com/gravitational/force/tree/master/pkg/github

Let me know what kind of help you need

[2021-02-18 02:20] russjones commented on #5612
@klizhentas Might get cumbersome for large deployments. For example, a 5,000 server inventory would mean you have to maintain those 5,000 resources in source control and and update the labels inside 5,000 of them to make changes and then also re-upsert them when you make changes.

What do you think about a mapping scheme that allows you to append additional labels? Something roughly like "If the s

[2021-02-18 03:26] wangzw commented on #5572
using ETCD

[2021-02-18 08:32] pankajpandey9 commented on #5518
@awly, Please help me with the answers to above questions.

[2021-02-18 14:24] webvictim commented on #5612
Similar to https://github.com/gravitational/teleport/issues/5499

[2021-02-18 14:31] webvictim opened #5619 "Architecture documentation should list ports and communication flows"
## Details
We need to improve https://goteleport.com/teleport/docs/architecture/overview/

1) The page has diagrams of Teleport's architecture, but makes no mention at all of nodes/agents which join via the proxy (which is now very relevant with `app_service`, `kube_service` and the upcoming `db_service`)

2) The diagrams do not show any default port numbers or even categorisation of different tra

[2021-02-18 14:49] webvictim commented on #5572
You could potentially use `tctl get all --with-secrets > backup.yaml` to dump everything out of your cluster backend to a YAML file, then spin up a new Teleport cluster on 5.x and use `teleport start --bootstrap backup.yaml` to import all that data.

One issue is that due to https://github.com/gravitational/teleport/issues/3642, the bootstrap flag does not currently support adding trusted clusters

[2021-02-18 15:04] quinqu commented on #5088
@robertogiordani I am waiting for approval to merge and then will back port. Hopefully by early next week it will be available in 4.4.7.

[2021-02-18 17:07] anurag-tesla opened #5622 "You can mark a request as denied after it was marked approved"
### Description

**What happened**:
I marked a role request as approved and was able to download the associated keys.I  was then able to mark the same request as denied .
**What you expected to happen**:
An approved request shouldn't be marked as denied as the associated keys have already been issued.
we can see the change in the audit log but I don't see any point in marking an approved request a

[2021-02-18 19:31] jon-can opened #5624 "Upload kubectl exec sessions sooner than grace period if a pod dies"
### Description

**What happened**:
When I do kubectl exec the session is recorded as long as I close the session by typing exit or ctrl+D, but if the pod unexpectedly dies (which is by design in k8s) there is no recording until after the 12 hour grace period.

**What you expected to happen**:
Teleport should be able to detect this and upload the recorded session sooner.

### Reproduction Steps
As

[2021-02-18 22:32] awly opened #5626 "Support etcd for audit event storage"
### What

etcd should be able to store audit events.

### Why

DynamoDB and Firestore can store both cluster state and audit events.
etcd is only implemented as cluster state storage today, but there's no reason it can't store audit events.
It should be consistent with other HA backends.

### Workaround

n/a

### Which platform(s)
- [x] Teleport Open Source
- [ ] Teleport Cloud
- [ ] Teleport Ente

[2021-02-18 22:33] awly commented on #5518
@pankajpandey9 sorry for the delay.

What should be the right path to mount the PVC?

Reusing the same PVC for separate teleport processes running in parallel sounds problematic.
As you pointed out, they end up reusing the same UUID. There's probably various file access races possible too.
@webvictim is using the same PVC intended?
I'd assume that each standalone teleport pod (proxy or auth) would

[2021-02-18 22:33] #5110 closed

[2021-02-18 22:37] klizhentas commented on #5626
@awly I don't think it's a great medium for events tbh, on a large scale system, etcd will be overwhelmed. I think systems like ElasticSearch and Splunk are better designed to store structured events.

[2021-02-18 22:50] #2799 closed

[2021-02-18 22:55] webvictim commented on #5518
No, it's not. We also can't support the use of NFS (even via PVC) as an audit log backend for Teleport because it leads to exactly the issues you mentioned before - file locking and contention. The only currently supported highly available audit log backends for Teleport are DynamoDB and Google Firestore.

Yes, that's correct. Even then, it won't be possible to have a shared audit log between both

[2021-02-18 23:07] awly commented on #5626
@klizhentas what are our QPS targets for events, considering the largest supported clusters?
Per https://etcd.io/docs/v3.4.0/op-guide/performance/ a 3-node etcd can take ~500 QPS from 1 client and this can be scaled by adding more clients (more auth servers).

I agree that specialized log aggregation products would work better, and etcd data model doesn't fit well for append-only logs. But maybe f

[2021-02-18 23:44] klizhentas opened #5628 "Obsolete grafana dashboard"
### Description

Customers report obsolete grafana dashboard in our samples, shows no panels. Time to migrate to prometheus, reconfigure and update it. Also place it in examples instead of `assets`

[2021-02-19 05:58] klizhentas commented on #5626
The problem is not QPS, but with large amounts of time-series data stored in etcd. It is not designed to handle time series data and it's performance will degrade over time, as the data set grows.

[2021-02-19 14:56] wangzw commented on #5572
@webvictim Thanks for you answer. Re-adding trusted cluster is not an issue to me, we can do that batch and automatically.

But for teleport v3.1.8 , `tctl get all` does not work, `--with-secrets` neither.

[2021-02-19 15:09] wangzw commented on #5572
I guess that I can rebuild the teleport cluster logically. Dump objects without `--with-secrets` flags and import into the latest version cluster. Maybe users have to re-register but we do not have many users. I do not know if it works but it is worth a try.

[2021-02-19 15:57] stevenGravy opened #5631 "Provide error that no interactions are occurring with Proxy server on node join attempts"
### What
In some cases a proxy address is reachable but there is no traffic occurring to the proxy server. A load balancer or another network issue may cause the problem.   In those cases a message should be given that no interactivity is possible, not just that registration failed.

**Possible scenario:**
Kube agent is attempting to connect to a proxy address.  The proxy address could be a load b

[2021-02-19 16:44] pierrebeaucamp opened #5632 "DynamoDB autoscaling setup is incomplete"
### Description

**What happened**:

Since 5.0 we support enabling DynamoDB autoscaling through Teleport:

[code]

While this works as expected for the main table, the policy for the "events" table is somewhat incomplete. The events table uses a global secondary index (called "timesearch") which needs its own scaling policy, separate from the table scaling policy. From the [AWS docs](https://docs.

[2021-02-19 16:59] stevenGravy commented on #5626
MongoDB, Couchbase seem like good options for the config and events

[2021-02-19 17:23] webvictim commented on #5572
Yes, that would work. If you dump users with `tctl get users --with-secrets` then the passwords should be kept too.

You can concatenate all the exported YAML files together into one with `---` as a separator and then `teleport start --bootstrap concat.yaml` to import everything at once.

`tctl get cas --with-secrets` will also be useful if you want to keep your user/host CAs.

[2021-02-19 20:07] awly commented on #5626
@klizhentas makes sense.
https://github.com/gravitational/teleport/pull/5634 to explain this out in the docs.

@stevenGravy mongodb is notoriously lossy, I would be very hesitant to entrust cluster data to it.

[2021-02-19 20:07] #5626 closed

[2021-02-19 20:59] #5493 closed

[2021-02-19 21:38] russjones opened #5637 "Implement RFD 19: Cluster Routing"
https://github.com/gravitational/teleport/pull/5566

[2021-02-19 22:11] benarent commented on #3557
+1. I ran into this today. On my test cluster, it's correctly reporting the IP for server sessions but not for Kubernetes sessions. cc @awly

[2021-02-20 01:29] #5088 closed

[2021-02-20 02:24] #5594 closed

[2021-02-20 04:15] #5507 closed

[2021-02-22 00:11] klizhentas opened #5647 "Filter and sort servers and applications by labels"
### What

Come up with a more scalable UI that supports filtering and sorting servers and apps by labels.

[2021-02-22 07:26] gururajrkatti opened #5648 "apiserver_test fails with "Proxy didn't register within 5s after startup""
### Description

I was trying to run the unit tests on ppc64le. I found one of the tests failing. Then I tried it on intel(amd64), there also it fails with same error.
apiserver_test fails as

"--- FAIL: TestU2FLogin/second_factor_u2f (7.54s)
        apiserver_test.go:2321: Proxy didn't register within 5s after startup."

**What you expected to happen**:
Test should pass as "ok"

### Reproduction

[2021-02-22 10:21] pankajpandey9 commented on #5518
Thanks @awly , @webvictim  for the detailed explanation.
Want to know what is the future plan for using MongoDB,  Couchbase for config / audit events.
In case, if it is being used already please point me to the document. Thanks

[2021-02-22 16:45] klizhentas opened #5652 "Add GRPC method to client that returns version and modules.Features"
### What

Add GRPC /discovery method that returns:

* Teleport version
* Teleport lib.modules.Features to clients to review
* Public address of web proxy

Port Features struct to protobuf

[2021-02-22 16:47] marshall-lee commented on #5652
There's also `Ping` method that returns server version, I just expect to get `features` from the response as well.

[2021-02-22 17:58] russjones opened #5654 "6.0 Test Plan"
## Manual Testing Plan

Below are the items that should be manually tested with each release of Teleport.
These tests should be run on both a fresh install of the version to be released
as well as an upgrade of the previous version of Teleport.

- [x] Adding nodes to a cluster @russjones
  - [x] Adding Nodes via Valid Static Token
  - [x] Adding Nodes via Valid Short-lived Tokens
  - [x] Adding No

[2021-02-22 18:10] jon-can opened #5655 "Add "kubernetes_users" example to RBAC documentation"
## Details
In the RBAC documentation section there is no mention of "kubernetes_users". We should add this field to the example admin role included on the page. https://goteleport.com/teleport/docs/enterprise/ssh-rbac/
### Category
- [ ] New Feature
- [x] Improve Existing
- [ ] Remove Outdated

### Which platform(s)
- [ ] Teleport Open Source
- [x] Teleport Cloud
- [x] Teleport Enterprise
- [ ] Ot

[2021-02-22 18:14] awly opened #5656 "ci: test that proto stubs are up-to-date"
### What

Re-run `make grpc` during tests and make sure the diff is empty.

### Why

Devs can forget to re-generate proto stubs after a minor change.
Provide a safety net.

[2021-02-22 18:15] awly opened #5657 "ci: verify that vendored deps are up-to-date"
### What

Re-run `make update-vendor` during tests and make sure the diff is empty.

### Why

Devs can forget to re-vendor dependencies after a `go.mod` change.
Provide a safety net.

[2021-02-22 19:54] awly commented on #5518
MongoDB and Chouchbase are not currently supported and it's not on the roadmap.
Here are the existing feature requests that you can upvote: [CouchDB](https://github.com/gravitational/teleport/issues/5506), [MongoDB](https://github.com/gravitational/teleport/issues/3395), [DynamoDB-compatible backends](https://github.com/gravitational/teleport/issues/3329).

I do think that we could use an HA stora

[2021-02-22 22:18] webvictim commented on #5518
Yes, the current lack of a self-hostable and provider-agnostic audit event backend is definitely a gap.

[2021-02-22 23:49] russjones commented on #3235
@a-palchikov @sfc-gh-vakimov  Can we close this issue?

[2021-02-22 23:49] russjones commented on #4368
@a-palchikov Can we close this issue?

[2021-02-23 01:19] klizhentas commented on #5533
@awly @webvictim does Drone have API? May be we can use it's API in Golang instead of generating YAML files. Can we also compile Drone pipelines in Go using go modules?

[2021-02-23 01:41] sfc-gh-vakimov commented on #3235
yes, I can confirm that this problem can be fixed by updating Teleport to
4.4.6

On Mon, Feb 22, 2021 at 3:49 PM Russell Jones <notifications@github.com>
wrote:

--
Vlad

[2021-02-23 01:41] sfc-gh-vakimov commented on #4368
yes

On Mon, Feb 22, 2021 at 3:50 PM Russell Jones <notifications@github.com>
wrote:

--
Vlad

[2021-02-23 01:48] #4368 closed

[2021-02-23 01:48] #3235 closed

[2021-02-23 02:01] Aharic opened #5668 "access worfklows not generating role request for leaf clusters when already logged in"
### Description

**What happened**:

Users w/ Kubernetes clusters connected to Teleport leaf clusters cannot elevate roles through the leaf cluster as expected once already logged in. The approval request is never generated and the cert never updated. If the same command is run after issuing `tsh logout`, role request gets generated and permissions update as expected.

**What you expected to happe

[2021-02-23 02:53] deusxanima opened #5669 "Ability to set port range for application URI address"
### What
What would you like Teleport to do differently?

Would be useful to be able to set a port range along with the application URI for applications that may run on ephemeral ports (such as jupyter notebook apps).

### How
How would you implement this?

Modify the `uri: "https://localhost:8001"` field in app_service config to allow for a port list like follows: ` uri: https://localhost:[30000-

[2021-02-23 04:40] awly opened #5670 "Host certificates don't set expiry"
### Description

**What happened**:

Host SSH certs on all services (nodes, proxies, auth) have no `ValidBefore` timestamp set.
The code explicitly allows this: https://github.com/gravitational/teleport/blob/master/lib/auth/native/native.go#L211-L215

**What you expected to happen**:

Host SSH certs should expire and periodically rotate.

### Reproduction Steps
As minimally and precisely as possib

[2021-02-23 14:36] pankajpandey9 commented on #5518
@awly Also, need to run the pod as a non-root user and couldn't find much documentation regarding the same.. Request you to point me to some documentation. Thanks
This is what I found #2909

[2021-02-23 15:11] wreed4 commented on #3089
For what it's worth I found a work around here for easily switching between two teleport instances:
[code]
Obviously replace the url with the real one.

[2021-02-23 16:18] jon-can commented on #5624
Even after the 12 hour grace period the pod recordings are not being uploaded.

[2021-02-23 16:26] klizhentas opened #5674 "UI should request MFA key for critical admin actions"
### What

With new MFA on, UI should request MFA validation when:

* Adding or removing a user, role or connector
* Reseting password
* Approving or denying access workflows request

[2021-02-23 16:35] sghenimi opened #5675 "Reverse tunnel using openssh"
### What
I need to have ssh access to devices that are behind firewall. The installation of teleport client ARMv7 version didn't succeed on the devices (due to the lib.so.6 librarie). I decided to use openssh to interact with my teleport server. My question is the following: is there any way to do reverse tunnel using openssh.

The configuration will be the following:
- devices with openssh client

[2021-02-23 18:45] webvictim commented on #5054
Similar to https://github.com/gravitational/teleport/issues/5499

[2021-02-23 19:02] awly commented on #5624
@jon-can which pod is getting killed?
The teleport pod (auth/proxy/other?) or a different target pod unrelated to teleport?

[2021-02-23 19:06] webvictim commented on #4572
Same thing as https://github.com/gravitational/teleport/issues/5628

[2021-02-23 19:06] webvictim commented on #5628
Closing in favour of the more detailed issue https://github.com/gravitational/teleport/issues/4572

[2021-02-23 19:06] #5628 closed

[2021-02-23 19:06] jon-can commented on #5624
A target pod unrelated to Teleport.

[2021-02-23 19:19] awly commented on #5533
@klizhentas Drone has [an API](https://docs.drone.io/api/overview/) but it's not for sending dynamic build/test steps.

I don't understand what this means.

[2021-02-23 20:15] stevenGravy commented on #5675
@sghenimi please post these questions in our discussion section.  https://github.com/gravitational/teleport/discussions

[2021-02-23 20:22] stevenGravy opened #5679 "Missing kube role for teleport start --roles"
### Description

**What happened**:
No `kube` role is available for usage in `teleport start --roles=kube`.  `kube` is also not listed in the roles list in help.

If you do a `tctl tokens add --type=kube` you will receive this output

[code]

If you try to run with `--roles=kube` you get an error.

Also, both `kube` and `db/database` are missing from the list of roles in the help output:

[code]

[2021-02-23 22:02] bradrydzewski commented on #5533
similar to jsonnet and starlark, you could create a conversion extension [1][2] that supports using the Go language to generate the configuration on the fly.  There is a Go interpreter [3] that claims to full compatibility with Go syntax and the Go standard library.

[1] https://docs.drone.io/extensions/conversion/
[2] https://github.com/drone/drone-convert-starlark/tree/v1.0.0
[3] https://github.

[2021-02-23 22:25] stevenGravy opened #5683 "Matermost working with custom approval conditions"
### What
Extend Matermost plugin to work with Custom approval conditions.

### How
Matermost plugin extended to enable approval with RFD 14 - Custom approval conditions.

### Why
Why do you need this?

### Workaround
If a workaround exists, please include it.

### Which platform(s)
- [ ] Teleport Open Source
- [ ] Teleport Cloud
- [x] Teleport Enterprise
- [ ] Other

### Which component(s)
- [x] S

[2021-02-23 23:39] Joerger commented on #5652
@klizhentas IIUC this request will be made to the web proxy,  so should this be "Public address of the proxy tunnel"?

[2021-02-24 00:29] webvictim commented on #3089
We merged this recently: #5395 - it basically allows you to 'pin' a terminal to a given cluster by running `eval $(tsh env)` after logging in.

[2021-02-24 01:42] awly commented on #5518
@pankajpandey9 I don't have much to add to https://github.com/gravitational/teleport/issues/2909 at this time.

Any teleport instance can run as non-root (except when using `ssh_service`), whether it's in a pod or not.
The only permissions it needs are:
- read access to `teleport.yaml`
- read/write access to `/var/lib/teleport` and any other files specified in `teleport.yaml` (like `kubeconfig_fil

[2021-02-24 01:42] #5518 closed

[2021-02-24 02:17] awly opened #5685 "Trim Go dependencies"
## problems

We're sitting on >500 Go module dependencies right now, with >500k lines of code.

Large dependency trees have problems:
- binary size increase (`teleport` is 67MB)
- risk of vulns (due to outdated dep versions or malicious dep takeover)
- startup time penalty (`teleport --help` takes 15ms on average, and frequently up to 50ms on my machine), which affects our SSH login timing
- a lot

[2021-02-24 04:39] #5675 closed

[2021-02-24 04:40] sghenimi commented on #5675
questions posted in discussion section https://github.com/gravitational/teleport/discussions/5687#discussion-3237456

[2021-02-24 16:12] a-palchikov opened #5688 "`tsh logout` leaves state behind which might break the next `tsh login`"
### Description

**What happened**:
After logging out with `tsh logout`, a profile file is left behind with web/ssh addresses that can confuse the next attempt to `tsh login`.

Given a `~/.tsh/profile` with the following contents:
[code]

An attempt to `tsh login` via a proxy running on `3080` fails and the following warning is displayed:
[code]

**What you expected to happen**:
`tsh logout` clear

[2021-02-24 17:45] awly opened #5690 "Support running the official quay.io images as non-root"
### What

It should be possible to run as non-root if you're not using `ssh_service`.

### How

Either create image versions that can run as non-root out of the box (e.g. update `/var/lib/teleport` permissions) or document how to change/extend the official image to do this.

### Why

Running processes in containers as root is an anti-pattern, lots of security scanners will flag that.
Our current `

[2021-02-24 18:57] a-palchikov opened #5691 "panic in proto merge when deep-copying server value"
### Description

**What happened**:
Very often, local integrations tests fail with:
[code]
The changes I made to mitigate another server test race by patching gogo implementation of [proto.Clone](https://github.com/gravitational/teleport/pull/4790) does not seem to have the necessary effect.
The issue at hand is described [here](https://github.com/gogo/protobuf/issues/519).

I'm going to rewrite t

[2021-02-24 19:49] andrejtokarcik commented on #5654
Minor issue with [`etcd` support](https://goteleport.com/teleport/docs/admin-guide/#using-etcd): The inadvisable option `insecure` doesn't seem to work at all. My understanding is that it should cause the `tls_ca_file`-related checks to be skipped. However the [`tls_ca_file` is still attempted to be parsed](https://github.com/gravitational/teleport/blob/5470bb9125b4aeeedd5e345da738d620190071f3/lib

[2021-02-24 20:26] webvictim commented on #5690
Related:
- https://github.com/gravitational/teleport/issues/2759
- https://github.com/gravitational/teleport/issues/2909

FYI we're already doing this for Cloud (using k8s security policies to run our Teleport Docker images as a non-root user) so we have some decent examples we could share.

[2021-02-24 21:14] benarent opened #5694 "Kubernetes Log Spam"
### Description

**What happened**:

Testing Teleport 6.0 and I'm seeing a stack trace error when no kuberentes clusters are registered.

[code]

[2021-02-24 21:41] webvictim opened #5695 "scp regression on 6.0.0-rc.1"
### Description

**What happened**:

[code]

Not sure why the `home/gus/tmp` is missing the preceding `/` in the error.

Teleport logs from hades:
[code]

Also note weird line break in the error message.

**What you expected to happen**: scp to hades should work just as it does to zeus.

### Reproduction Steps
See above.

Here's my `~/.ssh/config` if it helps:

[code]

(there are more details abou

[2021-02-24 22:08] benarent opened #5698 "Sessions bugs when 'off' and missing address when using 'proxy'"
### Description

**What happened**:
While testing Teleport 6.0 https://github.com/gravitational/teleport/issues/5654 . I noticed two strange UX issues.

1. When `session_recording=off` we show the session in the list but it won't play as we don't record it.
2. When `session_recording=proxy` we are missing the hostname.
![Image 2021-02-24 at 2 01 04 PM](https://user-images.githubusercontent.com/559

[2021-02-24 22:17] webvictim commented on #5654
Found a regression in `scp`: https://github.com/gravitational/teleport/issues/5695

[2021-02-24 22:17] r0mant opened #5699 "Intermittent (got it once) panic during startup"
### Description

**What happened**:

Started a cluster which failed with a panic somewhere in the uploader. Weirdly, without any actions on my part it started on the second attempt just fine.

[code]

**What you expected to happen**:

Panic not to happen.

### Reproduction Steps

No idea TBH, like mentioned above it started fine on the 2nd try.

Maybe something is nil / not getting initialized pro

[2021-02-24 23:16] awly commented on #5648
@gururajrkatti what do you get with:
[code]
The test passes consistently for me on amd64, I don't have a ppc64le box to try.
It's likely that your system is resource constrained and the test just hits an internal timeout.

If we confirm the above, I can bump the timeout to be more generous.

[2021-02-24 23:19] Joerger opened #5702 "tsh join/play fails in proxy record mode on 6.0.0-rc.1"
### Description
`tsh join` and `tsh play` fail both in terminal and on the web proxy while in proxy record mode. The only exception is `tsh play` on a local node.

If this is intended behavior in proxy recording mode, we should fix the "Interact with a cluster using tsh" section in the [Testplan](https://github.com/gravitational/teleport/issues/5654).

**What happened**:
- `tsh join` gives an erro

[2021-02-24 23:23] klizhentas commented on #5213
@r0mant would be cool if we could support HTTP and HTTP/2.0 as well for GRPC

[2021-02-24 23:24] Joerger commented on #5654
`tsh join` and `tsh play` don't work in proxy recording mode - #5702
I found some messages in slack saying this may be intended, and this issue from an old test cycle #3913. Looks like the Testplan needs to updated, unless this is an intended right of passage...

[2021-02-24 23:59] awly commented on #5648
NVM, there was a big in proxy startup check: https://github.com/gravitational/teleport/pull/5703

[2021-02-25 01:03] r0mant commented on #5654
Re: `tsh play` use-case for application access: replaying local archive with `tsh play --format=json /path/to/tar` works, `tsh play <chunk-id>` does not but seems like there's an open issue (https://github.com/gravitational/teleport/issues/4943) about this so it looks like it just wasn't implemented.

[2021-02-25 02:27] #5694 closed

[2021-02-25 02:57] klizhentas commented on #5654
[code]

@r0mant I have OSS trusted clusters, that's what I see after root cluster upgrade (but not leaf)

[2021-02-25 03:01] klizhentas opened #5708 "OSS users loose connection to leaf clusters after upgrade"
### Description

OSS users loose connection to leaf clusters after upgrade of the root cluster (but not leaf clusters).
Teleport 6.0 switches users to `ossuser` role, this breaks implicit cluster mapping of `admin` to `admin` users.

The only way fix this is to modify `admin` role to be less privileged.

[2021-02-25 03:35] r0mant commented on #5654
@klizhentas Good catch, I think this is because the version check that determines the "old proxy" and sets up caches needs to be updated to account for the new version. Submitted a PR: https://github.com/gravitational/teleport/pull/5709. cc @russjones

[2021-02-25 04:51] benarent opened #5711 "teleport configure script missing public_addr"
### Description

**What happened**:

While trying a new configure script,  I was unable to start as the script is missing `public_addr` that should be set alongside `cluster-name`.

[code]

[code]

[code]

Teleport 6.0

[2021-02-25 06:43] gururajrkatti commented on #5648
@awly thanks for the response. This test also fails for me .. below is tail of output

[code]

[2021-02-25 11:13] xacrimon commented on #5654
Submitted #5693 which fixes
- utmp/wtmp support not working on systems where `_PATH_UTMP` from `"types.h"` is a symlink.
- The wrong hostname being written to the utmp entry.
- The utmp entry not appearing properly cleared on some distros (had to spin up some vms to reprodude) since interpretation of the file varies somewhat between different tools.

[2021-02-25 14:05] webvictim commented on #5702
As per the previous issue (https://github.com/gravitational/teleport/issues/3913) I think this is by design. The docs have a warning in that the functionality is not supported.

Leaving this issue open to track updating the test plan.

[2021-02-25 14:07] webvictim commented on #5699
It looks like there was an incomplete upload present in the local storage directory from a previous run and it crashed when trying to upload it.

[2021-02-25 16:42] fraenkel opened #5720 "teleport-kube-agent doesn't re-register after proxy is recreated"
### Description

**What happened**:

We have an automated deploy of the teleport server behind an ASG. When we make some configuration change, a new instance is spun up.
We noticed that when we do a `tsh kube ls` we do not see any previously deployed teleport-kube-agent. Only newly deployed kube-agents appear as their pod is started.

**What you expected to happen**:
I would expect that eventually

[2021-02-25 18:25] a-palchikov opened #5723 "Log spam in session heartbeat code"
### Description

**What happened**:
Session heartbeating code spams logs with:
[code]
if the session expires without the heartbeat loop noticing it (e.g. when a node is suspended).

**What you expected to happen**:
Heartbeat loop can detect when the session has expired and exit properly.

[2021-02-25 18:34] stevenGravy opened #5725 "teleport configuration location not set in docker"
### Description

**What happened**:

The 6.0.0-rc.1 docker container does not set the env variable `TELEPORT_CONFIG_FILE` to the `/etc/teleport/teleport.yaml` path so `tctl` throws an error .
[code]
**What you expected to happen**:
`tctl` on the auth service would work as previously it did in a docker container without specifying the config location.

### Reproduction Steps
As minimally and precis

[2021-02-25 18:41] stevenGravy opened #5727 "Add license expired to metrics"
### What
Provide a metric on the license expiration so monitors can watch if a license has expired.

### How
Add to the Prometheus metrics.

### Why
A license may have expired or a incorrect license was installed.  There is not a way to query that externally.

### Workaround
If a workaround exists, please include it.

### Which platform(s)
- [ ] Teleport Open Source
- [ ] Teleport Cloud
- [x] Tele

[2021-02-25 18:51] benarent opened #5728 "Update GPG key to use info@goteleport.com"
### Description

**What happened**:
As we've moved from Gravitational -> GoTeleport. We should update other email addresses we show to customers.

![image](https://user-images.githubusercontent.com/559288/109201966-4cd7c000-7757-11eb-84f1-0a4cf41c3580.png)

[2021-02-25 19:28] #5708 closed

[2021-02-25 20:30] webvictim commented on #5720
Is your proxy connected to the same Teleport auth server as before? If so, the kube agents should re-register themselves and appear once they realise that their connection to the proxy has dropped.

If the auth server changes, the kube agents will still be trying to connect with cached certificates for the old auth server - this requires manual intervention to fix (i.e. deleting `/var/lib/teleport

[2021-02-25 20:56] webvictim commented on #5559
[code]

[2021-02-25 21:08] webvictim opened #5736 "Improve error message when tsh tries to connect to an offline proxy"
### What
When using `tsh` to connect to a Teleport proxy that isn't yet online (behind an HTTP load balancer or similar) you get a confusing error message:

[code]

This is similar to https://github.com/gravitational/teleport/issues/4663

### How
Make the error and the reason for it a little more obvious - i.e. point out that there's no proxy listening or that the connection couldn't be completed.

[2021-02-25 21:09] #5648 closed

[2021-02-25 21:25] fraenkel commented on #5720
Its an all in one so its a new auth server as well.
I do have a static kube token that I use as the authToken for the teleport-kube-agent.
Are you saying I need more static tokens? I see references in the docs, but none of them are specified in the Teleport Kubernetes Access.

The docs mention tokens for nodes and proxy, and then a separate one for auth. But there is no clear explanation of how th

[2021-02-25 21:36] webvictim commented on #5720
When you use a static token to join an agent to a Teleport cluster, the cluster's certificate authority generates a key and signs a certificate which the agent then caches on disk and uses for any future authentication with the cluster (via mutual TLS).

If you start a new Teleport auth server it generates a fresh certificate authority, so all old certificates are invalidated. Therefore, even if y

[2021-02-25 21:47] #5711 closed

[2021-02-25 21:53] fraenkel commented on #5720
Its a bit of a chicken and egg problem. We need teleport to access the k8s cluster. But this says I have to have inbound access to all my networks and furthermore have a kubeconfig so I can bounce the pods.

[2021-02-25 21:59] webvictim commented on #5720
I can see what you're saying. The recommendation here would definitely be that your central Teleport cluster (which the agents connect to) should be a lot more static/persistent/highly available than the agents themselves so that you can maintain access.

[2021-02-25 23:14] fraenkel commented on #5720
I see I either use dynamodb, etcd or magically make ebs work with ASGs to enable a stateless auth instance.

[2021-02-25 23:14] #5720 closed

[2021-02-26 01:57] thetuber opened #5745 "Unable To Copy File Using PEM File for Automated tsh Scripts"
### Description

I'm using a nightly script that copies a file from an IoT node using a PEM certificate file that has a large TTL.

**What happened**:

Copy fails with an error.

**What you expected to happen**:

The remote file should be copied over.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Create an SSH certificate wit

[2021-02-26 02:00] #5725 closed

[2021-02-26 12:14] dregin commented on #5670
Hi, is there an ETA on a fix for this?

Thanks

[2021-02-26 15:19] stevenGravy opened #5752 "Provide CLI parameter for data dir"
### What
Provide the ability to set data dir via one of the `teleport start` parameters.

### How
Add a parameter `datadir` so this can be set when `teleport` is started.

[code]

### Why
Allows specifying data directory without populating into a teleport config file. Many other parameters are available via CLI parameters (roles, labels, debug,...).  In the case of wanting to run a sep teleport ag

[2021-02-26 17:54] awly commented on #5670
@dregin this is not scheduled yet.
Is this issue urgent for you?

[2021-02-26 19:12] klizhentas commented on #4136
Implemented, closing

[2021-02-26 19:12] #4136 closed

[2021-02-26 19:13] klizhentas commented on #5654
@russjones tested upgrades from 5.1.2 to 6.0 both for OSS and enterprise with and without trusted clusters. I will write migration guide.

[2021-02-26 19:51] aelkugia commented on #5582
From customer (`c-fg`) they would like to see the functionality from #5680 in the upcoming Helm chart improvements. Summarized here:

- allow the spec of both initContainer and sidecar containers in the chart values.yaml when deployed
- allow sidecar containers to be provisioned alongside the auth container, watching a configMap for new/updated yaml configs and triggering `tctl create -f <filename

[2021-02-26 21:02] klizhentas commented on #5752
@stevenGravy why not use config file for this? Would like to avoid having too many flags.

[2021-02-26 21:03] klizhentas opened #5765 "Teleport API client should rotate its CA"
### What

Implement Golang client credential updater that watches for CA updates and re-issues it's own certificates.

Otherwise most clients will be broken on `tctl rotate`

### When

This is not urgent, but important to have in 6.1 perhaps?

[2021-02-26 21:55] xacrimon commented on #5654
https://github.com/gravitational/teleport/pull/5766 Needs to be reviewed & approved, merged and backported.

[2021-02-27 00:51] klizhentas opened #5769 "tsh client tools for linux and macos"
### What

* [ ] Did not find tsh client tool macos package for enterprise, only for OSS
* [ ] Would be cool to have `./install-client` script in our teleport distro for Linux clients

[2021-02-27 01:03] r0mant opened #5771 "ACME TLS-ALPN-01 challenge requires port 443"
### Description

**What happened**:

Generate Teleport config using:

[code]

Start it as usual:

[code]

Open https://teleport.example.com:3080 in browser and observe it fail to fetch certificate from Let's Encrypt:

[code]

Teleport uses [TLS-ALPN-01](https://letsencrypt.org/docs/challenge-types/#tls-alpn-01) challenge which it seems like can only be done on port 443:

After editing `/tmp/telepo

[2021-02-27 02:12] webvictim commented on #5769
@klizhentas `tsh` binaries for OSS and Enterprise are identical; did you mean `tctl`?

[2021-02-27 04:05] kontsevoy opened #5774 "Error logging in and logging out"
### Description

`tsh login` showed me an error I have never seen before. I tried to clean up my state by typing `tsh logout` but got the same error:

[code]

**What you expected to happen**:

The first error is weird. I never touched `~/.tsh` manually, so if `tsh` doesn't like what's inside - its our fault. Also, `tsh logout` should have been able to recover just by nuking bad content.

Just in c

[2021-02-27 04:09] kontsevoy commented on #5774
## Update

I deleted `~/.tsh`
Then I tried:

[code]

When I give it the `proxy` flag, it works. So it definitely was confused by something in my old `.tsh`.

[2021-02-27 17:26] klizhentas commented on #5774
@kontsevoy the cloud is version 5.1.2 that does not yet supports database service.

[2021-02-27 17:29] klizhentas commented on #5774
@kontsevoy I tried to reproduce the first error, but could not. Can you reproduce? Did you have a leftover directories from other tsh versions by any chance?

[2021-02-27 17:52] klizhentas opened #5776 "Improve error message when DB or app services are not implemented"
### Description

**What happened**:
Try tsh 6.0 with Teleport 5.1:

[code]

**What you expected to happen**:

If the server returns `trace.NotImpelemented` or grpc method not found, improve the error message:

[code]

[2021-02-27 17:55] klizhentas opened #5777 "RFD and plan for switching to mTLS with SNI for all protocols"
### What

Create RFD, issues and migration plan for switching teleport to one port design with TLS and SNI as they key building blocks.

## Related

* #4843 Merge SSH tunnel ports
* #4447 Use GRPC for reverse tunnels
* #3211 Find a way to reduce number of ports
* [Multiplex k8s traffix over tls](https://community.gravitational.com/t/kubernetes-api-proxy-through-tunnel/415)
* [Kevins' design doc](h

[2021-02-27 17:55] kontsevoy commented on #5774
Yes. I attached the tarball to the original ticket above.

[2021-02-27 18:06] klizhentas commented on #5774
@russjones the error happens because there is an unexpected folder in the `keys` directory for `teleport-moon.asteroid.sh`. I suggest we ignore directories when load keys. However it's interesting how this folder showed up there in the first place. Ev says it may be generated by previous version of tsh. Either way, easy enough to improve the behavior and QOL for users.

[2021-02-27 18:08] kontsevoy commented on #5774
Also, why didn't `tsh logout` work? Would be nice if that command could just wipe out everything (when used without arguments) to be a safe fallback to "bad state" situations in the future.

[2021-02-27 18:36] klizhentas opened #5778 "RFD: Certificate authority"
### What

RFD for certificate authority at Teleport improvements according to phases outlined by @awly

### Related:

* AWS HSM https://github.com/gravitational/teleport/issues/3576
* Hardware HSM https://github.com/gravitational/teleport/issues/4225
* [Making secrets obsolete](https://gravitational.slab.com/posts/teleport-pki-o95off2m)
*

[2021-02-27 19:59] klizhentas commented on #3731
I have been working on role tracer:

https://github.com/gravitational/teleport/pull/4991

And would like to add query API oracle that can answer these questions:

* What hosts Alice can access?
* Who can access this resource as root?
* Can Alice access this host as root?

And others.

[2021-02-27 20:10] klizhentas opened #5779 "RFD: Review and merge bot"
### What

It will be hard to scale the team with the current rebase and review merge strategy. We need a bot:

*  that assigns reviewers most efficiently
* auto cherry-picks (applies patch?) to branches
* backports?
* detects broken builds

[2021-02-27 20:20] klizhentas commented on #5217
Let's improve error handling by adding extra information to audit events

[2021-02-27 20:23] klizhentas opened #5780 "Add support for google cloud PostgreSQL IAM"
### What
What would you like Teleport to do differently?

### How
How would you implement this?

### Why
Why do you need this?

### Workaround
If a workaround exists, please include it.

[2021-02-27 20:24] klizhentas commented on #5476
Let's add support for per-session certs here as well.

[2021-02-27 20:36] #3055 closed

[2021-02-27 20:36] klizhentas commented on #3055
Likely not going to happen.

[2021-02-27 22:10] webvictim commented on #5745
This is a legit bug; I remember having noticed the same thing myself in the past.

[2021-02-27 22:23] webvictim commented on #5779
Drone already checks for broken builds when commits are pushed to `master` or `branch/v6` so hopefully this part is already covered.

@russjones is already working on a bot which assigns reviewers. I wrote a rough bash script that does backports:

[code]

It'd be nice to build this sort of logic into the bot so you can comment on a PR when it's ready to be merged and it'll go into a queue to be au

[2021-02-28 14:55] wxiaoguang opened #5783 "utmp/wtmp support breaks macOS ssh node's web terminal"
### Description

**What happened**:

https://github.com/gravitational/teleport/commit/324ccda21f68c35eafc00d48551974cf81351995#diff-76045a1d6e2c8f7d42000a7065c3c58579e87c33c0efd6f813701a28d970fefdR161

`reexec.go:161`:  `ttyName, err = os.Readlink(tty.Name())`

It always fails in macOS. Web terminal reports: `Failed to launch: failed to resolve tty soft link: readlink /proc/self/fd/6: no such file

[2021-02-28 17:43] klizhentas commented on #5783
@xacrimon @russjones could be a regression in 6.0-rc.1 on MacOS, can you folks take a look

[2021-02-28 18:23] xacrimon commented on #5783
Will submit a patch tomorrow. I know why this happens.

[2021-02-28 19:09] xacrimon commented on #5783
In light of this I think MacOS CI may be worth looking into so that we can automatically catch these annoying cross-platform differences in our pipelines. What do you think? @webvictim

[2021-02-28 19:14] xacrimon commented on #5783
Submitted a patch for this issue.

[2021-02-28 19:47] webvictim commented on #5783
@xacrimon Possibly; an issue with this is that some of our tests don't run natively on Mac, hence why we run them all in Docker. Some developers also don't have Macs and you can't run MacOS in Docker, so some people don't have an easy way to run anything locally. We also don't currently have enough spare Mac build infrastructure to run tests natively on every commit. We can put fixing all these th

[2021-02-28 19:50] webvictim commented on #5783
Interestingly, `sudo make integration-root` also passes on Mac...

[2021-02-28 19:50] xacrimon commented on #5783
Huh, that's uhm, interesting. It executes the exact code described in this issue.

[2021-03-01 05:24] NickJLange commented on #1650
On OSX (Big Sur) on rc 6.0.1 - I'm still seeing the hanging behabiour. Resolved by logging in...

[2021-03-01 17:18] fspmarshall commented on #5654
## ETCD (non-iot)
#### 1k

![1k-etcd](https://user-images.githubusercontent.com/30576607/109532406-f2e43c80-7a6d-11eb-8fba-320383c2a0a7.png)

#### 10K

![10k-etcd](https://user-images.githubusercontent.com/30576607/109532461-00012b80-7a6e-11eb-846e-297990f6212c.png)

#### Soak

[code]

[code]

#### Notes

- Response times for soak test may represent a regression.  Requires some additional investig

[2021-03-01 20:54] webvictim commented on #5783
[code]

[2021-03-01 21:01] Aharic opened #5796 "proxyjump functionality for remote clusters breaks after user has previously logged out of cluster or certs expired"
### Description

**What happened**:

If a user logs into a cluster and either manually logs out or allows certs expire, and then logs back in, it becomes impossible to run tsh proxy jump commands against a remote cluster (non-root cluster) until ~.tsh directory is removed. Setting the environment contexts and variables in 5.2 does not resolve the issue. Appears to be regression issue as the functi

[2021-03-01 21:17] r0mant opened #5799 "Database access session recording and viewing"
### What

Record database sessions and allow to replay them similar to SSH.

[2021-03-01 21:41] #5783 closed

[2021-03-01 23:00] awly opened #5803 "mfa: user can delete the last MFA device when "second_factor: on""
### Description

**What happened**:

`auth_service` has `second_factor: on` set.
User can remove the only registered MFA device with `tsh mfa rm`.

**What you expected to happen**:

Per https://github.com/gravitational/teleport/blob/master/rfd/0015-2fa-management.md, user should not be able to remove the last device when MFA is required.
Without a device, user will get locked out once their sessio

[2021-03-01 23:11] awly opened #5804 "mfa: failed registering multiple OTP devices"
### Description

**What happened**:

Registering a new OTP device when a user already has one OTP and one U2F device fails:
[code]

**What you expected to happen**:

Adding a 2nd OTP device succeeds.

### Details

This happens because the **first** prompt for the OTP code is never canceled (when user taps a U2F token instead). Entering the OTP code for the new device then forwards that input to th

[2021-03-01 23:13] stevenGravy commented on #5752
@klizhentas if you wanted to quickly run a ssh service but already have a teleport dir in place you have to make a file just for that one setting.

[2021-03-02 00:42] Aharic commented on #5796
Verified that this issue does not appear with tsh client 4.1, even if cluster is on higher version.

[2021-03-02 01:05] r0mant opened #5806 "Additional database access audit events"
### What

The following audit events would be helpful to add for database access:

* When a new database server registers with the cluster.
* When a database server disconnects from the cluster.
* Number of rows returned by a SQL query.

First two potentially are useful for app access as well.

[2021-03-02 01:09] r0mant opened #5807 "Refactor app access into separate AppServer type"
### Description

Applications are currently represented as fields on the `types.Server` which was supposed to represent only SSH nodes.

We should refactor application access storage to have each application be represented as a separate `types.AppServer` type, similar to `types.DatabaseServer`.

Think about migrations/backwards-compatibility implications also.

[2021-03-02 01:21] r0mant opened #5808 "Better handle HA database access scenario"
### What

Currently, if there are multiple database servers with the same name pointing to the same database, we just always return the first matching one so if it fails for some reason, the connection will not succeed:

https://github.com/gravitational/teleport/blob/v6.0.0-rc.2/lib/srv/db/proxyserver.go#L322-L328

Instead, we should try them all and return the one that can connect successfully.

[2021-03-02 01:25] r0mant opened #5809 "Investigate database access support with AWS RDS Proxy / Cloud SQL Proxy"
### What

Some prospects mention that they use RDS proxy or Cloud SQL proxy to connect to their databases.

We need to figure out whether this setup works with Database Access and how to make it work if it doesn't and/or update documentation with some instructions.

https://aws.amazon.com/rds/proxy/
https://cloud.google.com/sql/docs/mysql/sql-proxy (same for Postgres)

[2021-03-02 02:26] #5185 closed

[2021-03-02 02:28] russjones commented on #3169
@xacrimon https://github.com/gravitational/teleport/blob/master/rfd/0018-agent-loading.md

[2021-03-02 02:29] russjones commented on #4863
@xacrimon Can you implement [RFD #18](https://github.com/gravitational/teleport/blob/master/rfd/0018-agent-loading.md) to resolve this issue?

[2021-03-02 02:33] russjones commented on #4876
@tcsc Can you try and reproduce this issue to see if it still occurs. If it does fix it?

[2021-03-02 03:01] webvictim commented on #5796
Does using a 4.1 `tsh` client function as a workaround?

[2021-03-02 03:12] webvictim commented on #4997
Closing this in favour of #3042

[2021-03-02 03:12] #4997 closed

[2021-03-02 03:12] webvictim commented on #3042
From #4997:

Copied from [community](https://community.goteleport.com/t/add-the-ability-to-use-includes-in-teleport-yaml/892)

With the upcoming release of 5.0 and Applications, teleport.yaml could become very unwieldy if dozens, or even hundreds of web apps are added to the config.

It would be useful to have individual includes in teleport.yaml, or a /etc/teleport.d include directory rather than

[2021-03-02 03:34] webvictim commented on #5056
Should be done at the same time as #3248

[2021-03-02 03:41] webvictim commented on #5288
@russjones Did this get implemented already in #5395?

[2021-03-02 11:01] gzigzigzeo opened #5811 "Validate GRPC API resources"
### What

I tried to create user via API using completely random values. I set version to v5, kind and subkind to some weird strings, just to see what happens. It creates user successfully, but when I try to remove it via `tctl users rm`, Teleport reports that “user resource version v5 is not supported”. So, my teleport instance is completely unusable now.

Here are the logs and terraform definiti

[2021-03-02 12:27] xacrimon commented on #4863
on it

[2021-03-02 14:12] robertogiordani commented on #5088
Hi Jane Quin,
does the 4.4.8 version include this fix?

Regards,
    Roberto.
________________________________________________________________________________

Roberto Giordani
Infrastructure Technical Security Lead
IBM Rome Software Lab
IBM Public Cloud
phone +39.348.4327340
E-mail roberto.giordani@it.ibm.com
WebMeeting https://ibm.webex.com/join/roberto.giordani
IBM Italia S.p.A. Via Luigi Stipa

[2021-03-02 15:53] fraenkel opened #5815 "tsh status shows the wrong Kubernetes cluster"
### Description

**What happened**:

`tsh status` shows a Kubernetes cluster that I did not login into.

**What you expected to happen**:

`tsh status` shows the correct Kubernetes cluster I am logged into.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. rm -rf ~/.tsh
2. tsh --proxy MY_PROXY kube ls
  - I login
  - I see the li

[2021-03-02 16:04] quinqu commented on #5654
### Scaling up and down with 1K IOT nodes with DynamoDB

![Screenshot from 2021-03-02 07-58-52](https://user-images.githubusercontent.com/42625018/109676025-2934c100-7b2d-11eb-91e2-2d58ea059970.png)

**Notes**

- Each time I would scale up, the auth server "held onto" previously added nodes that could be why goorutines, heap, and open file descriptors kept slightly increasing
- Memory didn't go do

[2021-03-02 16:22] stevenGravy opened #5816 "kube_service silently ignores clusters with invalid names"
### Description

**What happened**:
If a `kube_service` `kubeconfig_file` file has a invalid name the Teleport logs do not mention it on INFO level.  The cluster is just ignored. This can happen if the admin ran the tool to generate a kubeconfig file on AWS and the cluster name is written with invalid chars, ex:`arn:aws:eks:us-east-1:005223150550:cluster/mycluster`.

![image](https://user-images.g

[2021-03-02 17:31] webvictim commented on #3734
Similar to #4989

[2021-03-02 18:37] russjones commented on #5156
@jkendzorra Is this something that consistently occur or is it an intermittent issue?

[2021-03-02 18:39] klizhentas commented on #4317
@andrejtokarcik we got a customer who just reproduced it

[2021-03-02 19:11] Joerger commented on #5811
@russjones I know we've talked about this a bit before, is there a reason for us to let the client set `Version`, `Kind`, and other similar values freely? or should a `UserV2` always have `Version="v2"` and `Kind='user'`? If so we should add these checks to `Check() | CheckAndSetDefaults()`.

Otherwise I made this [PR](https://github.com/gravitational/teleport/pull/5768) which handles invalid vers

[2021-03-02 19:14] andrejtokarcik commented on #4317
What Teleport version do they use? It's also possible the reproduction steps above are oversimplified.

[2021-03-02 21:34] webvictim commented on #5582
It's unlikely that I'll be adding native support for initContainers or sidecars to our supported Teleport Helm chart as we're trying to keep everything as simple as possible.

The likelihood is that Teleport itself will be improved in upcoming releases to better support reading roles/connectors from ConfigMaps/Secrets. We may provide an example of how to configure a sidecar container.

[2021-03-02 23:46] r0mant opened #5822 "App access should support IdP app catalogs"
### What

[2021-03-02 23:58] robcoward commented on #5582
@webvictim we're not asking you to support sidecars, just to add 9 lines to the helm chart templates (and 2 variables in the values.yml) - as already proposed in #5680 - to allow users the option to specifying their own customised deployment via their helm value.yml overides, while still benefitting from the main opinionated supported helm chart for Teleport. This is not an uncommon pattern, used

[2021-03-03 08:19] jkendzorra commented on #5156
@russjones this has been happening intermittently.

[2021-03-03 10:48] sergeysedoy97 opened #5824 "chart/teleport/templates/ingress.yaml: There is no way to set ingress wildcard host"
### Description

**What happened**:
[code]

**What you expected to happen**:
[code]

[2021-03-03 14:57] webvictim commented on #5582
I understand, however acquiescing to every request is what allowed the current Helm chart to get into its rather convoluted state. We will rightly be expected to support any options that we add to the Helm chart, so the idea going forward is that we're going to keep the chart as simple as possible to provide an easier experience for everyone. People are very welcome to fork it and add their own cu

[2021-03-03 15:14] quinqu commented on #5654
# soak

`tsh bench --duration 4h root@host ls
`
[code]
`tsh bench  --interactive --duration 4h root@host ps uax
`
[code]

[2021-03-03 16:56] fspmarshall commented on #5654
## ETCD (500 Trusted Clusters)

![500-tc-etcd](https://user-images.githubusercontent.com/30576607/109837769-5dc27e80-7bfa-11eb-977c-2bea89ed7efa.png)

Note the initial drop in resource consumption around the 21:48 mark.  That is the point at which the 500 trusted clusters were taken offline.  As you can see, the proxies failed to clean up ~25% of the related goroutines and ~60% of the related heap

[2021-03-03 17:14] #5028 closed

[2021-03-03 21:12] klizhentas commented on #5582
https://github.com/gravitational/teleport/issues/5354

[2021-03-03 22:10] webvictim commented on #5533
https://github.com/gravitational/teleport/pull/5644 is a proof of concept.

[2021-03-04 01:49] #5695 closed

[2021-03-04 13:40] stevenGravy opened #5844 "Provide additional query options for Audit Log"
### What
Currently users are limited to seeing the first 9999 events and can only search very limited strings. More then 9999 events can occur if there is a upgrade event, frequent k8s activity or enhanced logging is enabled very easily.

Allow users to query by
 - time period of day
 - specific event types
 - user names
 - resource names

### How
Extend the Audit Log screen to have multiple searc

[2021-03-04 14:29] Valien opened #5845 "Cloud Documenation - Getting Started & other cloud docs needs improvement"
## Details
With 6.0 on the cusp of release the **Getting Started** documentation needs some improvements.

We were chatting in the SE team and here are a few document suggestions from @stevenGravy & the others:

- Provide a very brief definition of what is the cloud offering
- Needs to show the cloud pages
- Show adding other users and roles
- Show adding multiple resources (ssh, k8s, db, web app)

[2021-03-04 15:00] webvictim opened #5846 "Make error more obvious when trying to join with a token that does not have the full set of enabled roles"
### What
As in https://github.com/gravitational/teleport/discussions/5660, if you set:

[code]

then try to join a node with`teleport start --roles=node --auth-servers=1.2.3.4:3025 --token=4321`, the error just says `certificate signed by unknown authority` and doesn't give any details of why the join failed. This is pretty much the same error as you see when you have invalid certs cached and need

[2021-03-04 20:22] travelton commented on #3751
Note: This seems to have been merged into 6.0. Though, this ticket was not part of that milestone. Notified customers waiting on this.

[2021-03-04 20:27] benarent opened #5856 "Cluster name isn't populated for all events."
### Description

**What happened**:

While reviewing .. I noticed that "Session Data", "SSO Login" and "User Updated" are missing `cluster_name`

[code]

**What you expected to happen**:
Cluster name should be shown

### Reproduction Steps
This was tested with `6.0.0-rc.1`

[2021-03-04 20:28] benarent commented on #3751
@travelton I was just testing this and most of it made it's way but I found a couple of bugs. https://github.com/gravitational/teleport/issues/5856

[2021-03-04 20:28] benarent commented on #5856
cc @a-palchikov

[2021-03-04 21:02] klizhentas opened #5857 "Providing a way for customers to partially configure the cluster"
### What

For cloud customers who would wish to use sync recording mode, there should be a configuration resource that allows them to set this parameter.

Currently we only have auth preference as the resource. We have to be careful not to allow to change all parameters for cluster configuration (like cluster name, etc), so making this resource visible should go with caution.

[2021-03-04 21:45] sskousen opened #5858 "Support postgres or other RDBMS for HA cluster state"
### What
What would you like Teleport to do differently?

Support RDBMS's like postgres or mysql for cluster state, and potentially audit logs.

### How
(Making a lot of assumptions here). Since teleport auth nodes already support sqlite on local storage as a backend, I would expect the majority of the SQL logic to already be built out.

1. Port SQLite logic to postgres driver, or abstract it into

[2021-03-04 21:59] quinqu commented on #5654
## Soak test with teleport 5.0 and new bench changes
[code]

[code]

It seems like 6.0 mostly improved in the 99th percentile: [6.0 soak test results](https://github.com/gravitational/teleport/issues/5654#issuecomment-789787198)

[2021-03-04 23:07] klizhentas opened #5859 "Consider MySQL backend for events"
### What

Consider MySQL backend for events. Related to problems expressed in #5435 and #5858

MySQL drivers for backend will allow us to try [AWS Aurora](https://aws.amazon.com/blogs/aws/highly-scalable-mysql-compat-rds-db-engine/) or PingCAP TiDB multicloud version

[2021-03-04 23:07] klizhentas commented on #5859
cc @russjones @knisbet @xacrimon

[2021-03-05 02:00] russjones commented on #5413
Closing because we've been unable to reproduce.

[2021-03-05 02:00] #5413 closed

[2021-03-05 03:35] klizhentas opened #5860 "Update Go API documentation with examples"
## Details

We have released 6.0 documentation, and we need to update our docs

[2021-03-05 03:36] klizhentas opened #5861 "Update RBAC documentation"
## Details

RBAC is now in OSS, but some parameters are not. We have added lots of options like `request_reason` and need to show with examples how to use those too, including generating RBAC using API and integrating roles and access worfklows.

document:

* claims_to_roles
* future work: Forrest's thresholds

### Category

- New Feature
- Improve Existing
- Remove Outdated

[2021-03-05 03:38] klizhentas opened #5862 "Document attack vector tree diagram and what to do with hosts and users during compromise"
## Details

[2021-03-05 03:48] klizhentas opened #5863 "API package should be godoc friendly"
### What

Take a look at the example of the `autocert` package docs:

https://pkg.go.dev/golang.org/x/crypto/acme/autocert#pkg-overview

And compare to Teleport's API

https://pkg.go.dev/github.com/gravitational/teleport/api@v0.0.0-20210304221830-6d8f77815793/client

Add a couple of inline examples, and improve comments to make pkg.go.dev documentation more friendly to beginners.

[2021-03-05 03:49] klizhentas commented on #5863
cc @Joerger

[2021-03-05 03:49] klizhentas commented on #5863
cc @russjones

[2021-03-05 04:26] webvictim commented on #4117
@klizhentas Was this covered as part of https://github.com/gravitational/teleport/pull/5178? We now have some ACME support, but I'm not sure whether it handles wildcard/multiple SNIs for `app_service`.

[2021-03-05 18:03] awly commented on #4117
This still needs docs

[2021-03-05 18:41] awly opened #5878 "MFA management polish"
Remaining work to support multiple MFA devices per user:

- [x] web UI login page with multi-MFA support
![image](https://user-images.githubusercontent.com/1146263/110159280-59839600-7d9f-11eb-895a-0847bbd130f7.png)
![image(1)](https://user-images.githubusercontent.com/1146263/110159285-5be5f000-7d9f-11eb-9fcf-e87f66372bfc.png)
- [x] unhide CLI commands
- [x] docs
- [x] U2F attestation cert valida

[2021-03-05 18:43] awly commented on #3878
Remaining tasks:

- [ ] cluster-level config option
- [ ] docs
- [ ] database and application access integration
- [ ] MFA check during web SSH

[2021-03-05 20:21] webvictim commented on #5415
Related to #4989

[2021-03-05 20:27] Valien commented on #2058
As an example of this, look at AWX (Ansible Tower OSS project) or Ansible Tower enterprise. They allow users to upload a custom logo.

[2021-03-06 03:48] #5771 closed

[2021-03-06 04:24] alex-kovoy opened #5889 "Teleport Web UI logs me out if left in inactive tab longer than ~10 min"
Teleport Web UI logs me out if left in inactive tab longer than ~10 min. This started happening in Chrome and it might be because Chrome changed the throttling behavior of timeouts(intervals) of inactive tabs which are used to handle token renewals. Or it might be because of something else. If this is chrome doing, we need to replace our session renewal mechanism with a webworker.

Repro steps:

1

[2021-03-06 11:27] martinscholz83 commented on #5776
I have an idea how to implement it but I need to know if all `unimplemented` errors coming back from server should have this detailed error message or just this particular call? Is it possible to make a contribution?

[2021-03-06 19:20] alex-kovoy commented on #4192
@russjones run into the same thing myself. Took some time to figure out because I did not have access to the server to check the server time. Had to use audit events to find the server time and compare with mine :)

[2021-03-06 19:23] alex-kovoy commented on #5889
@kimlisa for a quick fix, lets change the token refresh interval to 4.30min. This should fix it the issue in Chrome and Safari.

[2021-03-07 04:04] #4715 closed

[2021-03-07 04:05] klizhentas commented on #4715
Implemented

[2021-03-07 04:05] klizhentas commented on #4631
Implemented

[2021-03-07 04:05] #4631 closed

[2021-03-07 04:11] klizhentas commented on #5776
@martinscholz83 it's pretty safe to provide this error message for all methods returning `unimplemented`, yes, feel free to send a PR and tag me and @r0mant to review.

[2021-03-08 05:54] knisbet commented on #5859
Note: we also might want to consider an API/plugin based approach if we want to use a shared database in the cloud. IE, bootstrap an API infront of the underlying DB that is based on mTLS and does all enforcement and audit of a tenant is only able to reach their own data via a limited set of API calls (gRPC/mTLS for example) that bridges to the SQL database and does all enforcement of data.

IIRC,

[2021-03-08 16:58] klizhentas opened #5897 "Run linter on docs PRs"
### What

To run a new linter we have to:

[code]

[2021-03-08 20:21] webvictim commented on #5068
ARM64 FIPS Enterprise build tarballs for Teleport versions `6.0.0-rc.1` and higher are now available for download via the Teleport dashboard.

[2021-03-08 22:45] russjones opened #5902 "Propagate Claims to PAM Modules"
At the moment, Teleport propagates the Teleport username, logins, and roles to PAM modules through environment variables. Customers have asked for way to claims to PAM modules.

[2021-03-08 23:18] pschisa opened #5903 "Selecting MySQL database is not reflected in the audit logs"
### Description
I access into Amazon RDS MySQL without specifying a DB using Teleport.  I then selected the DB in MySQL.  In the Teleport audit logs, the database still shows as [] even after selecting a database in MySQL.

I would expect the DB name to be updated once a DB is selected and whenever a DB is changed in the audit logs.

### Reproduction Steps
As minimally and precisely as possible, d

[2021-03-08 23:19] pschisa opened #5905 "Help text from tsh db login does not match tsh db ls for MySQL"
The help text output from `tsh db login` for mysql servers does not match the connection information presented for the same connection after login by `tsh db ls`.  It is missing the --user=<user> --database=<database> text.

[2021-03-08 23:46] awly opened #5906 "Rename "master" branch to "main""
This will take some planning and coordination, but it would be good to eventually rename the branch and switch everyone over.

[2021-03-08 23:57] russjones commented on #5902
Application Access is doing something similar by updating file configuration to specify which headers should be propagated. https://github.com/gravitational/teleport/issues/4762

[2021-03-09 00:54] russjones commented on #5902
@r0mant What do you think?

[2021-03-09 01:29] r0mant commented on #5902
@russjones Do you mean something like

[code]

?

[2021-03-09 04:02] webvictim commented on #5906
I don't personally think the juice is worth the squeeze, but I'm happy to be outvoted on this one.

[2021-03-09 15:58] colinedwardwood opened #5909 "tsh login message does not show "databases enabled" like "kubernetes enabled""
### What
What would you like Teleport to do differently?
I'd like to see that my user has databases enabled and a list.

### How
How would you implement this?
In the same way we show "kubernetes enabled" and the clusters. e.g.
Kubernetes:         enabled
Kubernetes cluster: "eks-west-2"
Kubernetes groups:  system:masters

### Why
Why do you need this?
for a consistent user experience

### Workarou

[2021-03-09 16:11] Aharic commented on #5796
@webvictim It does work as a workaround for now.

[2021-03-09 18:31] r0mant opened #5911 "Add postgres_public_addr and mysql_public_addr to proxy config"
### Description

Currently, database clients (`psql`, `mysql`) connect to the web proxy public address.

For example, given the following proxy configuration the database clients will be configured to connect to `teleport.example.com` after `tsh db login`:

[code]

This presents an issue when ALB is used in front of web proxy (for example, when also using ACM in AWS). Since it's a L7 load balancer

[2021-03-09 18:32] r0mant commented on #5911
@klizhentas @russjones What do you folks think ^

[2021-03-09 19:21] pschisa opened #5913 "Active Session still lingering in Web UI after session ends"
Was running automation using Teleport to access an SSH node using OpenSSH clients in AWS when backend DynamoDB limits were hit.  After this run completed and the DynamoDB limits were adjusted, the Web GUI still reported > 100 active sessions open.  However, the automation was complete and the SSH node showed no open SSH or Teleport connection processes.  After a restart of the Teleport Auth and Pr

[2021-03-09 21:23] kgtw commented on #5913
A bit more context around this.

Our security team is scanning all of our hosts with Nessus. What we are seeing during and after the scan is that "zombie" active sessions are lingering around, in the UI and on the auth/proxy instances where they are continually trying to send keepalives to closed connections.

Originally reported via our slack channel with support, we thought this may have been an

[2021-03-09 21:28] benarent opened #5917 "Can't access SSH node after setting up with`teleport configure`"
### Description

**What happened**:
While recording a video for Teleport 6.0.1, and after running `teleport configure` I'm able to get a running instance but my ssh_service isn't connecting?

[code]

![image](https://user-images.githubusercontent.com/559288/110539267-e00ae100-80d9-11eb-9a35-fa14dd2060f6.png)

**What you expected to happen**:
The SSH service is aviaible

### Reproduction Steps

1.

[2021-03-09 21:37] robcoward commented on #5917
Check the definition of the automatically created admin role. I have just come across this and found that the 'admin' role was not actually an 'all-powerful' admin, and didnt even have permissions to see the ssh server.

[2021-03-09 21:41] benarent commented on #5917
Thanks @robcoward , I was just about to put the same thing myself.

The default role for `admin.yaml` as below.

[code]

[2021-03-09 22:11] klizhentas commented on #5917
if we follow the strategy don't make me think + least privilege I should send a patch
that creates ossuser role with least amount of privileges to use SSH and update tctl users add command with missing roles to use it.
I will do it this week.

[2021-03-10 01:48] #5654 closed

[2021-03-10 04:25] benarent opened #5921 "Document auto-approval workflow for PagerDuty Plugin."
## Details
Requested via a customer by the way of @colinedwardwood . We have the ability to auto-approve based on who's on call, but it looks like it's missing from docs. https://goteleport.com/teleport/docs/enterprise/workflow/ssh-approval-pagerduty/

I discuss it here https://youtu.be/onyoT8BCSe0?t=1118 but it's missing.

[code]

### Category
- Improve Existing

[2021-03-10 15:27] Valien commented on #3217
Also, if using Teleport Cloud the `3080` will probably need to be removed/changed since the Teleport Cloud runs off `443` vs `3080`.

[2021-03-10 16:36] klizhentas commented on #2676
I originally proposed the format:

[code]

for two reasons:

1. Users can control the format output with additional lines to match their existing format
2. Users can use text/template and we could export some functions to allow them control the timestamp in the future:
   `format: "{{Format(timestamp, 'custom-format-here')}}`
I was assuming that `text/template` should help implementing this logic:

[2021-03-10 18:01] #5897 closed

[2021-03-10 18:02] a-palchikov commented on #2676
Ok, I understand and initially thought about using text/template. The problem with it is that the format needs to be slightly modified to make it compatible with the text/template package because as written, the fields will appear as function calls to the package's parser. E.g. prefixing them with a `dot` at least:
[code]
I agree we can provide rich formatting facilities but it also leaves some qu

[2021-03-10 18:19] fspmarshall commented on #5654
## ETCD (iot)

#### 1k
![1k-etcd-iot](https://user-images.githubusercontent.com/30576607/110676938-66323080-8189-11eb-8ee6-517334f57e7f.png)

#### 10k
![10k-etcd-iot](https://user-images.githubusercontent.com/30576607/110676966-721df280-8189-11eb-9739-87089585b286.png)

#### Soak

[code]

[code]

#### Notes

- Response times for soak test differ from numbers seen previously, but re-running with ol

[2021-03-10 20:36] klizhentas opened #5934 "Consider mTLS support for app access"
### What

We could support many more cases if we supported mTLS pass through to the target. For example RDP proxying.
Consider this scenario.

[2021-03-10 21:24] quinqu commented on #2676
For now should implementation be parsing an input such as originally proposed:
[code]
Then the next feature/step can be allowing users to control timestamp format? I think the main issue here that needs to be addressed immediately is that there is no option to enable timestamp in the logs at all.

[2021-03-10 23:09] klizhentas opened #5940 "Refactor Application Access documentation"
## Details
Follow the same strategy:

* Introduction
* Application Access
  * Getting Started
  * Guides
  * etc.
  *
### Category

- New Feature
- Improve Existing
- Remove Outdated

[2021-03-11 00:10] tcsc commented on #5774
By "everything" do you mean the entire contents of the `.tsh/keys` directory? Or is there a subset that should be preserved?

[2021-03-11 00:17] kontsevoy commented on #5774
By "everything" I meant the data created by `tsh login`. The client config files in `~/.tsh` are harmless AFAIK.

[2021-03-11 00:28] webvictim commented on #3169
Related to #5487

[2021-03-11 02:15] #5652 closed

[2021-03-11 02:20] tcsc commented on #5774
Interestingly, that is what the current code actually does. But it unfortunately attempts to initialize the local keystore  _before_ wiping the `keys` dir, and so never got far enough to actually do the wipe.

[2021-03-11 02:37] klizhentas commented on #2676
@quinqu you are right, let's not make it more complex than needed in the MVP.

Actually, the way you implemented it as-is:

https://github.com/gravitational/teleport/pull/5898/files

is good to go, we can introduce new formats later.

[2021-03-11 16:43] pcallewaert opened #5949 "Session recordings are missing (ssh and kube)"
### Description

**What happened**:

When a SSH session is closed, the recording should be available on the WebUI to replay. The entry can be found, but when you try to play the recording you get a: `Recording for this session is not available.`

**What you expected to happen**:
The recording should be played

### Reproduction Steps
Currently unknown

### Server Details
- Teleport version (run `te

[2021-03-11 17:06] benarent commented on #5352
+1, I was helping @Valien with this issue and we are unable to complete Database setup due to this.

[code]

[2021-03-11 17:13] webvictim commented on #5352
This shouldn't be in a patch release, it should be in a minor. Patch releases are only for hotfixes.

[2021-03-11 17:49] klizhentas commented on #5861
Explain request reason and how to use it programmatically

[2021-03-11 18:36] #5949 closed

[2021-03-11 18:40] pcallewaert commented on #5949
Okay, this was a stupid mistake. Reviewing the logs I noticed this :

[code]

I think in the migration to RBAC in 6.0, the new roles don't have default session read access. Adding this fixed it:
[code]

[2021-03-11 18:42] jon-can opened #5956 "Add support for Azure storage"
### What
We have integrations with AWS and GCP infrastructure. We should extend this to Azure as well. I.e. Azure object storage for session recordings and Azure NoSQL databases for audit logs/state store.

[2021-03-11 19:46] Nuru commented on #2676
@quinqu @a-palchikov Please do not forget about #4407 JSON log format. Any "leading system" (as they say in commercials) that is going to store and index logs is going to prefer to receive them in JSON format.

[2021-03-11 20:11] a-palchikov commented on #2676
@Nuru this will be resolved separately.

[2021-03-11 20:50] xacrimon commented on #5902
Yeah, also wondering about this. Also what claims have to be supported? Looking at the application access issue there's some discussion around things like `Impersonate-User` do we need to support such things?

[2021-03-11 20:51] xacrimon commented on #5902
@russjones

[2021-03-11 22:12] #3953 closed

[2021-03-12 00:39] alex-kovoy opened #5961 "Unable to use k8s access on the current master"
Unable to use k8s access on the current master build while connecting to `6.0.0` auth/proxy services.

[code]

[2021-03-12 00:45] #2676 closed

[2021-03-12 01:05] #5691 closed

[2021-03-12 01:06] tcsc commented on #4876
Reproduced in 6.0, via @travelton:

[2021-03-12 01:32] webvictim commented on #4863
@travelton raised an excellent point that we should also expose an RBAC setting to enforce that certificates can only be stored in an SSH agent and must not be written to disk.

[2021-03-12 01:55] webvictim commented on #4673
Also https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.DownloadingAndRunning.html

[2021-03-12 03:00] fspmarshall opened #5966 "Dangling TunnelConnection resources cause bad proxy state"
If a dangling `TunnelConnection` resource exists, it breaks the cluster label auth checks, causing the cluster to be effectively "bricked" since those checks are mandatory for a lot of operations (including SSH access).  It also causes unnecessary per-tunnel allocations in proxies (an error that likely existed well-before we introduced cluster labels).

Related: #5243

#### How it happens

I track

[2021-03-12 04:23] #5917 closed

[2021-03-12 04:24] russjones commented on #5902
@xacrimon No need to support `Impersonate-User`. Implementation will be similar to what we have for variables within roles right now, you might even be able to re-use a lot of the code. But instead let's make it a resource instead so PAM configuration can be applied cluster wide.

Sent you a calendar invite, let's sync about it tomorrow.

[2021-03-12 08:40] xacrimon commented on #4863
Should we do this in a different PR and open a new issue for it?

[2021-03-12 12:38] webvictim commented on #4863
@xacrimon Yes, let's not delay the current implementation.

[2021-03-12 13:50] a-palchikov opened #5970 "Data race in AuditLog/GRPC server"
<details><summary><code>Logs</code></summary>

[code]
</details>

Caught in https://drone.gravitational.io/gravitational/teleport/7719/1/6.

[2021-03-12 14:37] pschisa opened #5971 "Add the ability to restrict access to roles based on source ip address / CIDR range"
### What
Add an option to role configurations allowing users to restrict access via that role to a specific source IP address or CIDR range

### How
Add an addition option to the roles configuration.  A user matching the allowed source IPs is allowed to log in, other users will be denied.  Default value should be allow any source IP.  Users with multiple roles must match the approved source IPs fr

[2021-03-12 14:53] xacrimon opened #5972 "Expose an RBAC setting to enforce tsh to not store credentials on disk"
### What

Related to #4863, @travelton made the excellent point that an RBAC option should be exposed that forces tsh to run in system agent only mode which means it only stores certificates and keys in the system SSH agent instead on disk as is the default. When #5825 is merged, this mode can be used by providing ash with the `--add-keys-to-agent=only` flag but there is no way for Teleport deploy

[2021-03-12 14:58] gpr opened #5973 "Add the possibility to use variable in role *_labels"
I want to restrict some devices to only one people, the owner, without having to create a role per user (it would be painful with a lot of users) it would be very convenient to use the variables "{{external.trait_name}}" and "{{internal.logins}}" in node_labels in order to create that generic role:

[code]

[2021-03-12 15:25] webvictim commented on #3758
Also, running `tsh status` on Windows when not logged in currently generates no output:

[code]

[2021-03-12 15:35] alex-kovoy opened #5975 "Add the ability to remove connected servers from Web UI"
Moved from the cloud repo

![image](https://user-images.githubusercontent.com/7816406/110961981-6879c380-831e-11eb-994f-858099ca0566.png)

[2021-03-12 15:39] webvictim opened #5976 "tsh client error formatting glitches on Windows"
### Description

**What happened**:

[code]

The intention here is to use escape codes to display the `ERROR` message in red when using a compatible terminal. Unfortunately, default Windows terminals (I tried both `cmd.exe` and PowerShell) don't support colour escape codes, so the message looks malformed and is harder to read.

This is technically a regression as older `tsh` client versions which

[2021-03-12 15:51] webvictim opened #5977 "tsh behaves differently on Windows when trying to run `tsh ssh` with a login"
### Description

**What happened**:

When trying to run `tsh ssh` on Windows to a cluster where my username is not a supported login, I get an error (this is expected):
[code]

I try to use `tsh ssh gus@athena` to try and log in as `gus` instead:

[code]

tsh makes me reauthenticate with the cluster for some reason, even though I'm already logged in. The same happens if I use `-l gus`:

[code]

Th

[2021-03-12 15:52] webvictim commented on #5977
Should be fixed at the same time as #5415

[2021-03-12 15:52] webvictim commented on #5976
This should ideally be fixed in 6.0.2 or 6.0.3 as it's a regression.

[2021-03-12 15:55] martinscholz83 commented on #5934
Having RDP as supported protocol will be a big plus I think. For RDP you not necessarily need mTLS except your'e using a RDP Gateway or some kind windows smart card authentication. So it should be fine to just tunnel it and open the default RDP client on your client (mstsc,...) pointing to teleport gateway and then do the authentication there.

[2021-03-12 16:06] #4220 closed

[2021-03-12 16:42] klizhentas opened #5978 "Stop recommending long lived creds"
## Details

https://goteleport.com/teleport/docs/user-manual/#ssh-certificates-for-automation

Replace with short lived and explainer how to publish to SSM and GCP secrets manager

[2021-03-12 19:06] #5523 closed

[2021-03-12 20:35] klizhentas commented on #5972
seems less like something you would enforce in role, but more of a user/cluster configuration preference?

[2021-03-12 20:43] xacrimon commented on #5972
Maybe something to put in the authprefs resource?

[2021-03-12 23:18] #5921 closed

[2021-03-12 23:41] jon-can opened #5986 "Custom Approvals/Dual Authorization - kubectl exec"
### What
Teams require a second person on their same team to allow kubectl exec into a pod. For example: There is a developer on Team A who needs to kubectl exec into a pod. They submit a request for access. A second developer on Team A approves their access request. The first developer kubectl execs into the pod.
If a workaround exists, please include it.

[2021-03-15 13:35] andrejtokarcik commented on #5857
At this time, the only needed field is apparently `session_recording`. This is not the only restriction however: the set of `session_recording` values available for dynamic configuration also has to be restricted, the only allowed values should be `off`, `node` and `node-sync` (setting `proxy` or `proxy-sync` in this way shouldn't be possible).

My proposal is therefore simple:
1. Create a new res

[2021-03-15 14:30] pschisa opened #5992 "Unable to remove remote clusters on Teleport cloud"
### Description
Running the command `tctl rm rc/<cluster-name>` via the proxy for Teleport cloud is not deleting the named cluster but returning an error with no message:

tctl rm rc/cluster-name
ERROR: not found

Expectation is this would remove the remote cluster from the list presented by `tctl get rc`

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to

[2021-03-15 16:41] stevenGravy opened #5994 "App Access allows access after teleport web session ended"
### Description

**What happened**:

A user still has access to a web application through teleport even though they've directly logged out.  In this case the user no longer has a active login session with Teleport web but they're still able to navigate the elastic app through the proxy as if they do.

![image](https://user-images.githubusercontent.com/60704961/111188473-76804c00-858b-11eb-9724-9d8

[2021-03-15 17:06] andrejtokarcik commented on #5857
If it's overly cumbersome to add a new resource because of all the backend/caching plumbing needed, it should be sufficient work on the fly with a thin "user-facing" resource that would actually translate to a `ClusterConfig` resource labelled with `patched: SessionRecordingAtNode` or some such.

[2021-03-15 18:35] awly commented on #5857
I'm 90% sure we'll end up exposing other `ClusterConfig` fields in the future (even though we prefer not to).
An API resource per field (with CRUD endpoints, caching and authz logic, etc) would get noisy quickly.

I'd recommend either a new `ClusterConfigOverride` resource, which is a subset of `ClusterConfig`.
Or just adding allowlist-based validation on `UpdateClusterConfig` RPC, but that may be

[2021-03-15 19:18] stevenGravy commented on #5994
confirmed using `/teleport-logout` in the app logs the user out and they have to reauthenticate.

[2021-03-15 19:18] #5994 closed

[2021-03-15 19:34] klizhentas opened #5996 "Document encrypted SAML assertions"
PR: https://github.com/gravitational/teleport/pull/5598

getting-started:
1. generate a PEM encoded certificate and private key pair for encryption,
2. edit the connector resource and add the keypair just like the already existing SigningKeyPair field but named EncryptionKeyPair
3. upload a .crt file with the PEM encoded certificate to azure AD for the application and enable token encryption as pe

[2021-03-15 20:36] mdeboer commented on #5878
Looking at for example Github, they use a two-stage process. First the user enters his credentials, once they validated a user is presented a screen which defaults to U2F (if configured), otherwise OTP. If the user has no access to their U2F token, the user can cancel the U2F request and click on the option to use OTP instead (or any other supported method).

To me this seems a little more secure

[2021-03-15 21:55] jon-can opened #6000 "Add ability to tag/annotate session recordings in case of sensitive data"
### What
It would be helpful if there was a way to tag or annotate session recordings that contain sensitive data. This would allow someone to easily search for and delete or sanitize that particular session.

[2021-03-15 22:41] kazimierzbudzyk opened #6001 "Add support of SendEnv OpenSSH option to teleport client (tsh)"
### What
What would you like Teleport to do differently?

We would like `tsh` to support `SendEnv` OpenSSH option.

### How
How would you implement this?

Relevant changes need to be made in https://github.com/gravitational/teleport/blob/master/tool/tsh/options.go, but I don't have full understanding of what exactly is needed to make `tsh` support it.

### Why
Why do you need this?

We are using `

[2021-03-15 23:15] awly commented on #5878
@mdeboer thanks for the suggestion.
We might restructure our API to work that way (separate user/pass and 2FA steps) in the future.

Right now we need some simple UI updates to fit with the current API (combined user/pass/2FA validation in one request) to release Teleport 6.1 in a few weeks.

[2021-03-15 23:29] awly commented on #5986
This can be achieved with a combination of Teleport and k8s RBAC.

## k8s

First, create a k8s role to allow exec access into appropriate pods, something like:

[code]

Next, bind this role to a k8s group:

[code]

## teleport

On Teleport side, create a role to represent the k8s group:

[code]

And finally, use the regular dual authorization to request role `pod-execer` https://goteleport.com/tel

[2021-03-16 04:39] alex-kovoy opened #6011 "Update certificates used for unit-testing"
One of the certificates that we use for testing is expired causing build to fail in all our branches. We need to update the certificate and fix broken builds in all branches.

It was temporary disabled by this PR #6010

[2021-03-16 13:09] gzigzigzeo opened #6013 "Introduce standard linting rules"
In the Teleport main repo, we have the following linter setup:

[code]

In teleport-plugins repo the setup is slightly different:

[code]

Problems:

1. Setup is different, so, our codebase follows slightly different standards.
2. `--exclude-use-default` flag excludes the important rule which must be checked:

[code]

Proposition:

1. Create unified rule definitions file (`.golangci.yml`) for all

[2021-03-16 13:17] Valien opened #6014 "Broken doc link for `passwords` in search."
## Details
When searching for `passwords` in the docs using the search bar the following shows up (see image).

![Screen Shot 2021-03-16 at 9 07 21 AM](https://user-images.githubusercontent.com/1424442/111314667-ffed5800-8637-11eb-811a-064b0b0a1b38.png)

But when you click the link it takes you to this link: https://goteleport.com/teleport/docs/cloud/#how-do-you-store-passwords Which has nothing t

[2021-03-16 14:29] webvictim commented on #6014
Should be redirected to https://goteleport.com/teleport/docs/cloud/faq/#how-do-you-store-passwords

[2021-03-16 15:54] Aharic opened #6016 "Not Able to Map Connector Claims with Spaces/Dashes"
### Description

**What happened**:

Customer has Okta groups that have spaces and dashes in the name. He is unable to properly map these to Teleport roles using a SAML connector.

**What you expected to happen**:

Customers should be able to use dashes in connector claim values and map those to teleport roles without issue.

### Reproduction Steps
As minimally and precisely as possible, describe

[2021-03-16 16:34] at6432 opened #6017 "Track viewing history of session recordings"
### Feature Request
There should be an audit log entry when a user views a session recording. Currently users with sufficient privileges can access and view session recordings anonymously.

### Motivation
Some compliance/regulatory standards, such as HIPAA, require organizations to retain logs of all activity where sensitive data (PII/PHI) may be exposed to internal personnel.

### Who is it for?

[2021-03-16 17:17] #5427 closed

[2021-03-16 17:52] webvictim commented on #5992
Try adding this rule to a role that the user has:

[code]

[2021-03-16 17:57] awly commented on #5973
We should do this for all labels: node_labels, cluster_labels, kubernetes_labels, app_labels, database_labels.

[2021-03-16 18:07] awly commented on #6011
Fixed in https://github.com/gravitational/teleport/pull/6015

[2021-03-16 18:07] #6011 closed

[2021-03-16 18:27] awly commented on #6013
Agree, we should update `teleport-plugins` to use the same linter settings.
I don't think moving them to a config file makes much of a difference, just a layer of indirection.

As for `--exclude-use-default`, here are the specific checks it filters out:

[code]

The only ones that may be worth enabling are: EXC0004, EXC0005.

EXC0002 and EXC0011 i'm unsure about. It's generally nice, but there are

[2021-03-16 18:39] pschisa commented on #5992
Adding the rule to the role resolved the issue.  I am now able to run `tctl rm rc/<cluster-name>` successfully.

[2021-03-16 19:17] dudeisbrendan03 opened #6024 "Changing nodename on cluster root causes failed auth"
After changing the nodename on our cluster root, all leafs and users can no longer connect to the cluster. The web interface works but that's about it.

We renamed it from "001.xyz.eu" to "001.lndn.eu" and it no longer appears to function.

We've restarted the service, attempted to re-authenticate and restarted leaves, nothing.

`error: failed to authenticate with proxy teleport.abc.xyz:3023: ssh:

[2021-03-16 19:49] stevenGravy opened #6026 "Two deny configurations in initial role YAML in web admin"
### Description

**What happened**:

If you start a role in the web two `deny` entries are in.  The second one is used.

![image](https://user-images.githubusercontent.com/60704961/111370750-fcc18e80-866e-11eb-8e1f-c5c04c5e1239.png)

[code]

**What you expected to happen**:

Only 1 `deny` in example.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to repro

[2021-03-16 20:06] dudeisbrendan03 commented on #6024
public_addr was commented out and I didn't notice, my bad

[2021-03-16 20:06] #6024 closed

[2021-03-16 21:06] webvictim commented on #5992
I believe that the root cause of this issue is still the same as #5352 - `tctl` behaves differently when run locally on the same host as the auth server to the way it does when run remotely with certfiicates from `tsh login`. We should probably leave this issue open for tracking a fix to that, as it will affect other cloud customers.

[2021-03-16 21:45] webvictim commented on #5966
I just hit this bug on Cloud. I can't log in, so I can't add a new `remote_cluster` resource...

[2021-03-16 22:00] awly commented on #5986
As for Dual Authorization, it's tracked separately in https://github.com/gravitational/teleport/issues/5007
Closing this, as `kubectl exec` privilege escalation is working as described above, and will work with dual authorization when it's implemented.

[2021-03-16 22:00] #5986 closed

[2021-03-17 00:51] r0mant opened #6029 "Investigate Redshift support for database access"
### What

Amazon Redshift doesn't support IAM authentication in the same way as RDS or Aurora instances so it doesn't work with Teleport out of the box.

It does have its own way to generate short-lived IAM credentials though:

https://docs.aws.amazon.com/redshift/latest/mgmt/generating-user-credentials.html
https://docs.aws.amazon.com/redshift/latest/APIReference/API_GetClusterCredentials.html
ht

[2021-03-17 00:56] russjones opened #6030 "Document CA Rotation Phases"
Improve CA rotation documentation explaining the phases of rotation, grace period, what happens during each phase, and any manual steps that the user will have to take for certificates issued with `tctl auth sign` during the rotation process.

[2021-03-17 00:58] russjones opened #6031 "Improve "tctl auth sign" behavior during CA rotation."
At the moment, certificates issues by `tctl auth sign` during the first third of CA rotation are signed by the old CA which become invalid at the end of CA rotation.

The user has no way to issue certificates with the new CA during this time period.

[2021-03-17 01:00] russjones opened #6032 "Improve "tctl status" display of CA pins."
At the moment `tctl status` shows the old CA pin during two thirds of CA rotation and only the new CA pin for the last third. This makes joining a cluster with a CA pin during rotation extremely difficult.

[2021-03-17 02:06] awly commented on #5183
This happens due to a shortcut in implementation https://github.com/gravitational/teleport/blob/a079a9546f394829db038e6fdd0088a1883f5720/lib/kube/proxy/forwarder.go#L1404-L1408

We need to iterate over all agents and pick one that's reachable.
Alternatively, proxy should track failure rates and backoff from agents that have been failing recently.

[2021-03-17 02:57] webvictim opened #6033 "Add a way to convert `teleport start` commands to /etc/teleport.yaml syntax"
### What
Both Teleport's CLI help and our docs currently contain many examples which document the use of commands like `teleport start --roles=app --token=blah --auth-server=teleport.example.com:3080 --app-name test-app --app-uri https://localhost` to run Teleport. Indeed, we use the fact that Teleport is "just one binary" as a marketing tool to promote its ease of use. This is great when people a

[2021-03-17 02:57] webvictim commented on #4214
Maybe this needs documentation now that we have more modes Teleport can run in.

[2021-03-17 02:58] webvictim opened #6034 "Teleport YAML config reference is missing db_service"
## Details
[Teleport config reference](https://goteleport.com/teleport/docs/config-reference/) is missing `db_service`.

### Category
- New Feature
- Improve Existing

[2021-03-17 03:22] tcsc commented on #4876
So - after getting some strange behaviour caused by poor configuration on my part, I went back to basics and tried to reproduce this again from scratch with v6.0.0., and I'm now reasonably convinced that this is fixed in v6.0.

I _do_ see the `leaf` node in the `root` UI after it is removed with `tctl rm rc/leaf`, but _only until the next page refresh_. Once the Clusters page is refreshed it is go

[2021-03-17 03:24] webvictim opened #6035 "Fixes for next docs linter"
- Backport `test-docs` to at least `branch/v6` so that docs PRs to that branch are linted.
  - Maybe `branch/5.0` as well if we're planning to make any changes to those docs as a matter of course
  - Maybe it even needs to be backported to all older branches which run Drone as they're all using the new docs engine now.
- Figure out why warnings don't cause Drone to exit the pipeline with errors (h

[2021-03-17 14:34] travelton commented on #4876
@tcsc There were a few improvements in [these](https://github.com/gravitational/teleport/commits/92ed2db38ac78fdb48eba312cb4f3d0b85b4bced/lib/reversetunnel/peer.go) parts, I wonder if it was inadvertently fixed.

Perhaps [this](https://github.com/gravitational/teleport/commit/6b53312bed9fdc94ade2739e2ba087464420a032#diff-99a6f7d1a7716833822e65219c77dc5f49f85a3b74d241453e501c75a5cd9bf7) commit fixe

[2021-03-17 19:01] alex-kovoy commented on #2025
We fixed it on the cloud side by not allowing the `+` emails

[2021-03-17 19:39] webvictim commented on #6013
One benefit of using a `.golangci.yml` file would be that many editors can automatically read it and determine which settings to enable/disable.

[2021-03-17 20:16] gzigzigzeo commented on #6013
I think, yaml file has several benefits:

1. It allows to fine-tune `golangci-lint` settings. For example, specific linter options could be passed from the file only, there's no way to pass them from command-line.
2. I totally agree, it allows to share the same setup with an editor.
3. It provides convention: everyone would know where to look for linting rules.

[2021-03-17 20:28] russjones commented on #6001
@kazimierzbudzyk Would something like `PermitUserEnvironment` work for you? Once you enable it, Teleport will read in `~/.tsh/environment` and apply all environment variables before launching a shell. https://github.com/gravitational/teleport/pull/1020

We can investigate implementing support for `SendEnv`, but if I recall correctly at least with OpenSSH you have to define what variables are allow

[2021-03-17 20:29] russjones commented on #6031
@awly You're working on refactoring CA logic, how do you feel `tctl auth sign` should behave during rotation?

[2021-03-17 20:32] gzigzigzeo commented on #6013
I also agree that EX0002 is very questionable and does not provide any useful info most of the time, but EX0011 is rather useful than not.

[2021-03-17 20:51] webvictim commented on #6013
I think if we were to enable EXC0011 on `teleport` currently there would be many fixes required; unfortunately we don't have time at the moment. We can probably enable it for `teleport-plugins` though, as the codebase is much smaller.

[2021-03-17 20:57] awly commented on #6013
[code]

They're the same thing coming from two different liners, right?

[2021-03-17 21:02] gzigzigzeo commented on #6013
Yes, my mistake, I read 0002 as the requirement of having the comment for a package definition. They are the same thing from different linters. We could start with teleport-plugins and migrate to main codebase later, that's a good proposition.

[2021-03-17 21:07] awly commented on #6031
Rotation should happen like so:
- phase 1
  - new trusted CA is introduced
  - new CA propagates to clients and servers
  - all host/user certs still signed by old CA (because not everyone is aware of the new CA yet)
- phase 2
  - all host certs get re-signed with new CA
  - all _new_ user certs get signed with new CA (including `tctl auth sign`)
- phase 3
  - old CA is removed
  - hosts stop trus

[2021-03-17 21:31] xacrimon commented on #4863
Solved by #5825

[2021-03-17 21:31] #4863 closed

[2021-03-17 21:44] webvictim opened #6043 "Application access log spam: 'not a valid Unix login'"
### Description

**What happened**: Using application access causes lots of log spam at `DEBUG` level. The same message is repeated many times a second in some cases.

[code]

This isn't a login I added, I think it's done automatically by the code.

**What you expected to happen**: There should not be log spam for using a feature as intended.

### Reproduction Steps
Configure application access, s

[2021-03-17 23:31] travelton opened #6045 "tsh login should not change kubectl context"
### Description

**What happened**:
The kubectl context changes after logging in to Teleport.

[code]

**What you expected to happen**:
Do not modify the kubectl context on `tsh login`. This is extremely dangerous and has caused a customer to delete a production resource on accident due to Teleport switching the context without warning.

### Reproduction Steps
See above.

### Server Details
- Tele

[2021-03-17 23:33] travelton commented on #6045
The issue starts to occur [here](https://github.com/gravitational/teleport/blob/master/tool/tsh/tsh.go#L606-L653), and ends up setting the context [here](https://github.com/gravitational/teleport/blob/5135f00ae24e39a371d444ad098f75100fb9df8f/lib/kube/kubeconfig/kubeconfig.go#L115).

[2021-03-18 00:09] alex-kovoy opened #6046 "Teleport should emit "Audit Events" on SSO login errors"
Currently it's impossible to troubleshoot SSO errors (SAML, OIDC, Github) without having access to Teleport logs (or restarting Teleport to enable a debug mode)

Instead, Teleport Proxy should emit audit "Failed Login" events with the error description. This way people can troubleshoot the issue from web UI.

[2021-03-18 00:11] klizhentas commented on #6046
I think it's partially already true - we do emit descriptions on SSO errors, but may be not all errors? What error cases are not covered?

[2021-03-18 00:17] webvictim commented on #6045
`tsh` honours the `KUBECONFIG` environment variable, so the easiest way to suppress this behaviour is to add something like `alias tsh='KUBECONFIG=/dev/null tsh'` to a file that your terminal sources when starting up (like `~/.bash_profile` or `~/.zshrc`). It seems like it'd be smart for us to add some kind of flag to suppress this behaviour in a future version of `tsh` too.

I think that the defa

[2021-03-18 00:30] alex-kovoy commented on #6046
@klizhentas there are several critical places where it's missing on the auth service around `CreateXXXAuthRequest`/`ValidateXXXRequest`

https://github.com/gravitational/teleport/blob/master/lib/auth/saml.go#L304
https://github.com/gravitational/teleport/blob/master/lib/auth/oidc.go#L192
https://github.com/gravitational/teleport/blob/master/lib/auth/github.go#L40

Why cannot we emit them on the au

[2021-03-18 00:52] travelton commented on #6045
@webvictim Thanks for the tip. Just to be clear, setting this environment variable will disable Teleport integration with kubectl.

IMO: Given the improvements to support multiple k8s clusters and `tsh kube login`, we should consider improving the UX here.

If you have multiple k8s clusters, how would you define which cluster should be selected when performing `tsh login`? I would argue most custo

[2021-03-18 01:22] r0mant opened #6047 "Database access should support graceful shutdown"
### What

In the current database access implementation, an active database session (e.g. `psql` or `mysql`) will lose connection if a Teleport process restarts for example.

Depending on the client implementation, it may reconnect after the service comes back up but a better solution would be to have Teleport wait for the active db sessions to terminate (possibly with some grace period) during ho

[2021-03-18 01:30] webvictim commented on #6045
Yes, using the alias as I described would disable tsh's `kubectl` integration completely. You can run `\tsh` or `/usr/local/bin/tsh` directly to get the non-alias behaviour. This would mean you could use `\tsh kube login...` when you did explicitly want your `kubectl` context to change.

Here's two examples to give a better idea:

1) `kubectl` integration disabled completely by default:

[code]

2

[2021-03-18 01:50] tcsc commented on #4876
I went back and was able to replicate with 4.4.1, so I am happy to say that this has been fixed in 6.0

[2021-03-18 01:54] #4876 closed

[2021-03-18 02:57] noizwaves opened #6048 "kubectl attach without permission terminates silently"
### Description

**What happened**:
When attaching to a pod without permission, `kubectl attach` silently terminates.

**What you expected to happen**:
Before terminating, it should explain why, like other permissions related failures do. For example:
[code]

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Deploy a pod named `<p

[2021-03-18 03:05] awly commented on #6045
FWIW you can do `tsh login --kube-cluster=foo`.

Overall, I'm slightly leaning towards changing the default behavior. But only if we can do it safely and very obviously, in a major release.
It's definitely tricky, with new customers having intuitive expectation of one behavior and old customers that were conditioned to expect the exact opposite behavior.

[2021-03-18 03:08] #5961 closed

[2021-03-18 12:19] knisbet commented on #2025
I don't believe preventing valid emails on the cloud side fixes the issue in teleport @alex-kovoy ?

[2021-03-18 13:24] travelton commented on #6045
100%. Not to beat a dead horse, but as new users consider Teleport, the user experience should not be riddled with booby traps. This stalls adoption.

We have a list of all k8s customers, so we can communicate this change far and wide if need be.

[2021-03-18 13:33] webvictim commented on #6045
From a customer perspective I do understand the frustration - I definitely don't think that a CLI tool quietly changing my `kubectl` context with no warning is a good thing. I'm just trying to avoid a situation where people who are familiar with the behaviour are alienated. Changing old behaviour is tough, and breaking changes cause people to be reluctant to upgrade as it creates work for them. It

[2021-03-18 13:44] programmerq commented on #6034
This was fixed in #6040

[2021-03-18 13:44] #6034 closed

[2021-03-18 16:05] klizhentas opened #6050 "Port Teleport CRD"
### What

Take Teleport cloud's Kubernetes controller, simplify it and open source it.

* [ ] Upgrades and rollbacks
* [ ] Add configuration resources via API

### How
How would you implement this?

### Why
Why do you need this?

### Workaround
If a workaround exists, please include it.

[2021-03-18 16:32] r0mant opened #6051 "Postgres prepared statements aren't captured in audit log"
Current database access protocol integration captures simple `pgproto3.Query` messages but doesn't take into account prepared statements so those slip the audit log.

Example logs when using DataGrip that executes prepared statements:

[code]

We need to capture `pgproto3.Parse` messages as well.

[2021-03-18 18:21] programmerq opened #6054 "tsh ssh CLI --help should mention label selectors"
## Details

Per [this doc](https://goteleport.com/docs/user-manual/#resolving-node-names), `tsh ssh`, `tsh scp`, and `tsh bench` can take several items to determine what host to connect to in the `tsh ssh [user@]host` argument: ip/dns, teleport node name, label selector. The label selector is absent from the `--help` output of all three of those tsh subcommands, and the behavior of a label selecto

[2021-03-18 19:43] alex-kovoy opened #6059 "Allow Configuring Auth Preferences from Web UI"
There needs to be a way to configure/change auth preferences from Teleport Web UI.

For this feature we need:

- [ ]  UI Designs.
- [ ]  Auth Service API.
- [ ]  Implement UI for the Auth Preferences.

@klizhentas it seems that Auth API will be ready soon, could you provide us the designs for UI?

[2021-03-18 20:07] Valien opened #6061 "Teleport Cloud login defaults to port 3080 instead of 443."
### Description

**What happened**: When you run a `tsh login --user=<name> --proxy=<cloud_subdomain>.teleport.sh` it will timeout and fail with an error like this:

`Get "https://<cloud_subdomain>.teleport.sh:3080/v1/webapi/ping": dial tcp 54.186.71.177:3080: i/o timeout`

But if you add the `443` at the end like this:

`tsh login --user=<name> --proxy=<cloud_subdomain>.teleport.sh:443`

then it

[2021-03-18 20:16] travelton opened #6062 "Teleport uses incorrect principal during proxy SSH authentication"
### Description

**What happened**:

Via RBAC, a Teleport user can be permitted to authenticate with more than one principal. The following role defines three principals (aka logins).

[code]

After authenticating with `tsh`. The following is displayed:
[code]

This means, a user with the `admin` role can perform the following:

[code]
OR
[code]
Upon issuing any of the above commands, Teleport wil

[2021-03-18 21:33] awly commented on #5624
The problem seems to be that we abort the exec handler when `executor.Stream` returns an error (when the remote pod dies for example): https://github.com/gravitational/teleport/blob/91dab1dcf343a38f26c5d1a3765f09812c1af754/lib/kube/proxy/forwarder.go#L837-L955

We should emit audit events when an error is returned at any point in the handler.
We should also review other k8s handler code for simila

[2021-03-18 22:25] benarent commented on #6061
Duplicate of https://github.com/gravitational/teleport/issues/4924

[2021-03-18 22:32] benarent opened #6066 "Upgrade `ha-autoscale-cluster` Terraform to uses 3.x AWS Provider"
### Description

**What happened**:
While running other Terraform script, I was limited to use 2.x AWS Provider, which was last updated 8 months ago. This blocked myself from upgrading as the terraform script was blocked on this example.

We should update https://github.com/gravitational/teleport/tree/master/examples/aws/terraform/ha-autoscale-cluster to use the latest Terraform version, and updat

[2021-03-19 12:49] Valien commented on #6061
Thanks for finding the duplicate @benarent ! I searched but didn't find anything (I need to up my game on github search fu).

[2021-03-19 21:59] klizhentas commented on #5861
add access controls section

  * RBAC
  * Guides
  * Reference

Add impersonate

[2021-03-19 23:19] alex-kovoy opened #6074 "Provide a better user message on connection timeout errors when querying events API"
![image](https://user-images.githubusercontent.com/7816406/111850655-43212280-88e7-11eb-87f3-34959d18934c.png)

The above could be improve with a better more human readable error messages like `Unable to complete the request due to timeout issues, try again later in a few minutes`

[2021-03-20 00:41] r0mant opened #6075 "Impersonation breaks tsh app/db/kube login for SSO users"
### Description

**What happened**:

With the impersonation changes merged in, `tsh db login` and `tsh app login` (and possibly `tsh kube login`) no longer work:

[code]

[code]

The following error appears in the log:

[code]

I'm using an SSO user (with Github auth).

Note: `tsh app login` isn't merged yet so I was trying it on my PR branches (`roman/curl` and `roman/v6/curl`).

[2021-03-20 02:16] #6075 closed

[2021-03-20 12:45] hoenirvili commented on #5081
My hunch is that AWS modifies the naming scheme in `/proc/sys/kernel/osrelease` totally different than what we are expecting. That's why maybe it fails to `compare` the versions correctly even if we explicitly require no kernel less than `4.18.0`.

Can you run this command inside the instance where `teleport` runs?

[code]

Or if you can't do this, I would happily spin an aws instance myself (If I

[2021-03-20 13:09] hoenirvili commented on #5081
Normally the `cat /proc/sys/kernel/osrelease` should return something like `5.4.74-36.135.amzn2.x86_64` which indeed the
```if version.LessThan(*minKernel)``` ([here](https://github.com/gravitational/teleport/blob/master/lib/bpf/common.go#L154)) will be always false but maybe is something inconsistent.

It would really help to also include in [this](https://github.com/gravitational/teleport/blob/m

[2021-03-20 19:17] kumashiro opened #6079 "Empty error message when trying to add a trusted cluster"
### Description

I'm trying to add a trusted cluster by following instructions from https://goteleport.com/docs/trustedclusters/ and I'm getting an empty error message. On the leaf cluster, with log severity set to `INFO`, the result of the command looks like this:

[code]

Server logs only one line:

[code]

Nothing is logged on the root cluster.

With severity set to `DEBUG` on the leaf cluster

[2021-03-20 19:53] klizhentas commented on #6079
Looking at the error line it seems that root cluster's method:

`/webapi/trustedclusters/validate` returns this error. Let me try on 6.0.2 and get back to you. You can also join our slack https://goteleport.com/slack and ping us there for faster responses.

[2021-03-20 20:17] klizhentas commented on #6079
Just tried it with OSS and 6.0.2 and it seems to be working fine. It's not a token (I got access denied) or missing role (got an error about missing role). So it must be something else. If you join slack channel sometime this or next week and ping me there as @sasha and I will try to help

[2021-03-20 20:23] klizhentas opened #6080 "Need a better error when missing public_address in auth server"
### Description

https://github.com/gravitational/teleport/discussions/6025

When auth server is missing public_addr and nodes try to reach it by unsupported name, users see:

[code]

Improve error message to say that it's likely caused by missing public_addr in the auth server. Also replace teleport.cluster.local in all error messages because they keep confusing users.

[2021-03-20 21:20] klizhentas commented on #6079
It turned out to be HTTP reverse proxy requiring TLS client cert and rejecting the connection. To make this easier to debug @kumashiro suggested to add HTTP status code response to the debug output, which I agree with.

[2021-03-21 02:56] klizhentas opened #6082 "RFD request: location aware tsh routing"
### What

@awly mentioned that @andrejtokarcik had an idea about tsh location aware routing. This is a very important for cloud and large scale deployment. Let's start with RFD.

[2021-03-22 02:40] matschaffer opened #6085 "Support persistent `--user` configuration"
### What
What would you like Teleport to do differently?

We have teleport set up for our org so everyone comes in as `ubuntu`

[code]

It'd be great to not have to include `ubuntu@` every time. But instead just use:

[code]

If I do that today it tries to use my laptop's `$USER` which isn't supported by our instances.

### How
How would you implement this?

A couple of ideas come to mind:
- Suppo

[2021-03-22 14:31] Aharic opened #6088 "Not able to delete remote clusters that contain "....." in the name"
### Description

**What happened**:

When customer runs `tctl get rc`, they notice there are entries like `cl2-............-c3c2fb` Running `tctl rm rc/cl2-............-c3c2fb` results in error message:

```error: invalid path, path can only be composed of characters, hyphens, slashes, and dots```

**What you expected to happen**:

Customer should be able to delete nodes/clusters....etc., with tra

[2021-03-22 16:32] webvictim commented on #6085
There's actually already an environment variable that does this - `TELEPORT_LOGIN`

[2021-03-22 17:13] russjones opened #6091 "Custom message for idle timeout."
At the moment Teleport supports an idle timeout for compliance purposes (for FedRAMP and others). However, the error message is standard. Make the idle timeout message configurable.

[2021-03-22 17:15] russjones opened #6092 "Web UI Idle Timeout"
Right now Teleport supports idle timeouts for SSH sessions, however the Web UI does not. If you leave your browser open, the browser will continue to extend your Web UI session. For compliance purposes, we should idle timeout your Web UI session as well.

[2021-03-22 17:46] alex-kovoy opened #6093 "Move "lib/services/license.go" to "/api/types.go""
### Description

Need to move `lib/services/license.go` under the ` /api/types.go` so when Cloud revendors this files, it does not pick up everything from the services (including some k8s dependencies).

This change is about moving files from 1 location to another.

[2021-03-22 19:35] lamhoangtung commented on #4176
@webvictim Can you give a small example of how to use VSCode Remote - SSH with an SSH server running Teleport ? I typically use `.ssh/config` for a typical SSH server, but for Teleport I don't know how to write a proper config or are there any other way ?

[2021-03-22 20:26] benarent opened #6094 "Session Upload issue. Failed to complete upload. error"
### Description

**What happened**:

While testing Teleport Database Access, I noticed a few issues with sessions being uploaded. This was on a db host 6.0.2

[code]

Teleport Version 6.0.2, setup using as Database Service

[2021-03-22 20:29] benarent opened #6095 "Database Access Stack trace in log"
### Description

**What happened**:
**Access to Database Denied.**
_Fixed by adding correct RBAC setting on Root._
[code]
**Connection Refused.**
_fixed by using the correct IP/Port_
[code]
**What you expected to happen**:

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1.
2.
3.

### Server Details
- Teleport version (run `telepor

[2021-03-22 20:43] programmerq opened #6096 "unexpected maxlogins behavior"
### Description

**What happened**:

When setting `hard maxlogins 3` in /etc/security/limits.d/99-custom.conf, teleport treats it as `maxlogins 2` and rejects the third connection:

[code]

This behavior is a departure from the behavior of openssh and introduces an extra complication in an environment that runs both teleport and openssh-server alongside eachother.

**What you expected to happen**:

[2021-03-22 21:24] kazimierzbudzyk commented on #6096
STARTUP LOG
[code]

PAM_LIMITS CONNECTION REJECTED
[code]

TSH DEBUG LOG
[code]

[2021-03-22 21:26] pschisa opened #6097 "AWS HA Terraform Example not configuring Grafana"
### Description

**What happened**:
I've been working with the Terraform example located at /teleport/examples/aws/terraform/ha-autoscale-cluster.  When I deploy the script, the Grafana dashboards are not deployed and my Grafana instance is not configured (it still has the default password).  It has come to my attention that others have noticed this same issue with Grafana dashboards not deployed

[2021-03-22 21:27] webvictim commented on #4176
@lamhoangtung See my post here on[ how to set up Teleport with an SSH config file](https://github.com/gravitational/teleport/discussions/5530)! Please comment there if you have any questions.

[2021-03-22 22:07] alex-kovoy commented on #6092
@russjones Is it about Web SSH (websockets) or browser sessions? Does `tsh` has a timeout interval?

[2021-03-22 22:19] Aharic commented on #5243
@benarent Did you find a workaround to this issue or a way to clear the problem?

[2021-03-22 22:42] matta10x commented on #3121
Ideally for Debian users, there'd be a Teleport repo so that users can download/install new versions when they run apt update.

[2021-03-22 23:29] tcsc commented on #5156
The working theory about what is happening looks like this:

- A node is running teleport as an ssh service. Let's call this Process A.
- A user establishes an ssh session onto the node via Process A
- Process A gets told to reload via a `SIGHUP`, which triggers a graceful shutdown. This causes
  - Process A to spin up a replacement process, which we'll call Process B.
  - Process B to start accep

[2021-03-22 23:35] tcsc commented on #5156
In v6, this looks like it shouldn't be an issue for reverse-tunnelled connections as they appear to be closed as part of the node shutdown.

[2021-03-23 01:04] matschaffer commented on #6085
Oh, woah. That's fantastic.

I don't see that mentioned anywhere on https://goteleport.com/docs/cli-docs/#tsh-ssh - so maybe just a doc update is in order.

[2021-03-23 02:27] webvictim commented on #5533
Solved in https://github.com/gravitational/teleport/pull/6071 for now.

[2021-03-23 03:21] russjones commented on #6092
Browser session.

[2021-03-23 03:24] russjones opened #6107 "Clear web terminal after session idle timeout."
Right now, session idle timeout will terminate the session but not clear the web terminal. This has been requested for FedRAMP compliance.

[2021-03-23 03:46] russjones commented on #5156
@tcsc You were able to reproduce with 4.3.9 then not anymore on `branch/v6`?

[2021-03-23 07:22] tcsc commented on #5156
@russjones Yeah. I made it happen once with 4.3.9, not at all with 6.0 in various configurations. Do we know how intermittently this happens on site?

I was also thinking that either...
 1. manually killing the ssh connections, or
 2. reconfiguring the systemd unit to non-gracefully kill the teleport daemon and manage starting the replacement process itself

...could be potential workarounds, depe

[2021-03-23 09:13] lamhoangtung commented on #4176
Hi @webvictim. I had tried your post and the SSH seems to work, but I notice this error before every login:
[code]
Also VSCode remote are not working. I'm not sure if it due to the warning message above. But I want to resolve it first before moving on to VSCode. Are there anything that I might be doing wrong here ?

[2021-03-23 10:25] #5624 closed

[2021-03-23 16:54] r0mant opened #6116 "Some GUI database clients require DER private key"
### What

[DBeaver](https://dbeaver.io/) does not understand the private key in PEM format and produces the following error when trying to configure it with Teleport secrets:

[code]

The following issue explains the reason and shows a workaround:

https://github.com/dbeaver/dbeaver/issues/2859

DBeaver expects the private key to be in a DER format. Converting Teleport's PEM key to DER format fixe

[2021-03-23 17:44] Joerger commented on #6093
What does Cloud need from `lib/services/license.go`? The only thing in there is json marshaling logic which can be replaced with basic json marshaling. Perhaps an old version of the file is vendored?

[2021-03-23 17:50] russjones commented on #6061
Closing in preference of #4924.

[2021-03-23 17:50] #6061 closed

[2021-03-23 17:50] webvictim commented on #6054
We may want to fix https://github.com/gravitational/teleport/issues/3709 before we make this functionality more obvious.

[2021-03-23 17:56] a-palchikov commented on #6016
Current configurations have a letter case discrepancy between `attributes_to_roles` block and the `groups` attribute in the SAML response. E.g. for example:
[code]
and SAML assertion `groups` value with `Democorp - SRE` (note the difference in `DemoCorp` spelling.

The question is whether the matching should be relaxed or should a misspelling be made more visible to the user (e.g. by running a lev

[2021-03-23 18:01] russjones commented on #6094
@benarent Can you consistently reproduce this?

[2021-03-23 19:14] ToniRib commented on #4383
Just bumping this and wondering if this is a feature that's going to get worked on anytime soon. Even if you can't join the k8s session, it would be nice to still be able to see what's going on live.

[2021-03-23 20:38] yjperez opened #6117 "CosmosDB as a backend for Teleport"
### What
Deploying Teleport on Azure and would like the ability to use Azure's NoSQL DB, CosmosDB, as a backend for Teleport.

### How
Add support to use as a backend database

### Why
AWS and GCP have similar integrations in their platforms. Azure is the second-largest cloud provider and we can anticipate more customers looking for this in the future

### Workaround
Use a self-managed DB like ETC

[2021-03-23 21:06] awly commented on #6082
The idea is briefly described in https://github.com/gravitational/teleport/blob/7a07532b2b9aca77b823989c3b98af6e7c6e3229/rfd/0019-cluster-routing.md#future-work

[2021-03-23 21:14] alex-kovoy commented on #6093
We have been using these marshalers to marshal/unmarshal the license. I replaced them with the basic JSON marshaling as it does not look that we need those.

[2021-03-23 21:14] #6093 closed

[2021-03-23 23:20] #5288 closed

[2021-03-23 23:49] jon-can opened #6120 "Teleport 6.0.2 - Approving access request within Slack fails to approve role within Teleport"
### Description

**What happened**:
Approving an access request within Slack fails to approve the request within Teleport
**What you expected to happen**:
Approving an access request in Slack should approve the request as expected

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Request a role within Teleport
2. Click "Approve"

[2021-03-23 23:55] webvictim commented on #4176
@lamhoangtung As this issue is closed, I replied to you here: https://github.com/gravitational/teleport/discussions/5530#discussioncomment-520589

We can continue to talk there.

[2021-03-24 00:26] webvictim opened #6121 "Allow Teleport to assume an AWS IAM role"
### What
Teleport should have a way to assume an IAM role before running AWS operations. I'm mainly thinking of this in the context of database access, but it may also be useful for DynamoDB backend/event storage and S3 session recording.

### How
Provide a way to specify a role ARN in Teleport's config, then internally tell the AWS SDK to assume this role for all calls to AWS APIs.

### Why
Grant

[2021-03-24 06:35] alex-kovoy commented on #4765
I guess it's too late for the change. Close it.

[2021-03-24 06:35] #4765 closed

[2021-03-24 06:46] alex-kovoy commented on #2856
this issue is obsolete now

[2021-03-24 06:46] #2856 closed

[2021-03-24 13:31] stevenGravy commented on #6117
If we do this, best to have an example of storing the sessions in a S3 compatible mechanism.

[2021-03-24 15:18] r0mant commented on #5780
Closed in https://github.com/gravitational/teleport/pull/6090 (6.1) and https://github.com/gravitational/teleport/pull/5941 (7.0).

[2021-03-24 15:18] #5780 closed

[2021-03-24 15:20] #5213 closed

[2021-03-24 15:21] r0mant commented on #5170
Same as https://github.com/gravitational/teleport/issues/5213 which was implemented.

[2021-03-24 15:21] #5170 closed

[2021-03-24 15:32] webvictim commented on #6121
I implemented a workaround for this. If you set a `[default]` profile in `~/.aws/config` for the user that Teleport is running as, it will use this config for access.

`~/.aws/config`:
[code]

`teleport-db-agent-connect` AWS IAM role:
[code]

Your instance will also need a profile which allows it to assume this role:
[code]

and a trust relationship allowing EC2 to do this:
[code]

[2021-03-24 15:34] jon-can opened #6125 "Teleport fails to upload session recording to UI when Teleport service is restarted during tsh session"
### Description

**What happened**:
A session recording does not get uploaded to the web UI when the Teleport service is restarted in the middle of a tsh ssh
**What you expected to happen**:
Session recordings should eventually appear in the web UI

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. tsh ssh into a node
2. Enter: `e

[2021-03-24 15:35] russjones commented on #6125
@jon-can Can you share your systemd unit file?

[2021-03-24 15:37] jon-can commented on #6125
systemd unit file:
[code]

[2021-03-24 17:55] pschisa commented on #6097
Turns out the issue was with having both of the following lines in the Makefile:
export TF_VAR_grafana_pass="CHANGE_THIS_VALUE"
TF_VAR_grafana_pass ?=Teleport123!

Removing the line 'export TF_VAR_grafana_pass="CHANGE_THIS_VALUE"' caused the Grafana app to be deployed with my expected password and the required dashboards

[2021-03-24 18:17] awly commented on #5533
Not all pipelines have been migrated yet:
[code]

[2021-03-24 18:20] webvictim commented on #5533
Good point!

[2021-03-24 18:29] klizhentas opened #6127 "Improve output of tctl get roles"
### What

Default YAML and Text outputs are almost impossible to read:

[code]

### How
I would make text output a default, with max column width capped to terminal size

### Why
Why do you need this?

### Workaround
If a workaround exists, please include it.

[2021-03-24 20:01] Aharic commented on #6016
Implementing this feature request would help avoid these types of issues in the future: https://github.com/gravitational/teleport/issues/5267

[2021-03-24 23:12] russjones commented on #5156
@tcsc I suspect that 6.0 also has the data race, to reproduce, in `agent.go` bump the following ticker to tick faster on the first process and leave the speed slow on the second process and you should be able to reproduce the behavior.

[code]

[2021-03-24 23:19] r0mant opened #6138 "Further app/db access docs updates"
Need to add the following information to the docs regarding app/db access:

- [x] Database access Cloud SQL guide.
- [x] Database access audit events.
- [x] Database access more GUI client guides.
- [x] Database access different AWS accounts.
- [x] App access RBAC.
- [ ] App access audit events.
- [x] App access architecture (similar to database access).

[2021-03-24 23:21] kimlisa opened #6139 "no u2f prompting in chrome browser with require_session_mfa on"
### Description
With the `require_session_mfa` setting on, connecting to a node from the UI does not generate prompt to `tap u2f key` and times out.

Related to this PR: https://github.com/gravitational/webapps/pull/248

**What happened**:
Connecting to the node gives a blank terminal:
![image](https://user-images.githubusercontent.com/43280172/112396041-ba2a3280-8cbc-11eb-9f9a-2d41348ae1fc.png)

[2021-03-25 00:11] yjperez opened #6140 "Improve error logging around DynamoDB exceeding provisioned capacity"
### What
Currently, when a Teleport cluster is throttling due to DynamoDB the Auth server does not specifically notify.
### How
Improve lines of code for exceptions like `ProvisionedThroughputExceededException` to be displayed in STDERR

Appears this is swallowing the DynamoDB exception [dynamodbbk.go #L862](https://github.com/gravitational/teleport/blob/59d2379b94ec2f8f1cee3a48e03239f440da799d/li

[2021-03-25 00:18] benarent opened #6141 "http: panic: invalid memory address"
### Description

**What happened**:
While helping a customer I noticed Teleport panicking. I think it's a latest version of Teleport but can't be 100% sure.

![image](https://user-images.githubusercontent.com/559288/112400092-d5993b80-8cc4-11eb-8e27-e5035644a9b3.png)

[2021-03-25 00:31] russjones commented on #6125
Closing as I suspect you are using `node-async` mode (the default). If you want the session to be streamed as it occurs and not buffered to disk and streamed at the end, use `node-sync` mode. https://goteleport.com/docs/changelog/#440

[2021-03-25 14:49] Aharic opened #6144 "SSH connection issues on 6.0+"
### Description

**What happened**:

Customers have reported that they're unable to log into certain nodes at all after upgrading to 6.0+ So far customers who've reported the issue have reported it with Ubuntu 14.04 and Ubuntu 18.04 nodes. Neither ssh w/ port 3022, nor tsh, nor WebUI login work for affected nodes. The connections appear to establish (authentication looks fine on the auth server an

[2021-03-25 15:34] xacrimon commented on #6144
Couple notes from anecdotal issues with `/dev/ptmx´ which may be relevant for the one fixing this.
1. `/dev/ptmx` does not exist on all systems, on some distros it's `/dev/pts/ptmx`
2.  Some container systems don't invoke `udev` in a way that creates `/dev/ptmx`
3. `CONFIG_LEGACY_PTYS` needs to be enable in the kernel for `/dev/ptmx` to exist.
4. According to https://github.com/torvalds/linux/blob

[2021-03-25 16:35] awly opened #6149 "Reduce buildbox image size"
The current buildbox image is >1GB.
This hits our CI performance and cost.

We should trim the amount of data in the image and/or use multi-stage builds.

[2021-03-25 17:22] jon-can opened #6151 "telegraf logs warn to use a newer version"
### Description

**What happened**:
telegraf logs contain a message to update the metric_version:
[code]

[2021-03-25 17:24] webvictim commented on #6149
I'm working on https://github.com/gravitational/teleport/pull/6145 as a quick resolution to Docker-related slowdowns as well.

I've also just realised that Drone's sqlite database is 4GB in size and located on a `standard` GKE PV which uses spinning disks rather than SSDs.

[2021-03-25 17:36] #6046 closed

[2021-03-25 18:30] webvictim opened #6153 "`make lint` doesn't lint `api` directory"
[code]

It seems that because `api` isn't technically part of the `teleport` package any more, `golangci-lint` won't lint it:

[code]

We should probably add a separate `lint-api` make target which lints the `api` package separately using the same rules, and run that as part of `make lint`.

[2021-03-25 18:49] webvictim opened #6155 "Data race in tests"
This seems to happen more when CI is under load.

[code]

[2021-03-25 19:00] kimlisa opened #6156 "Can't change password in UI with mfa on"
### Description
Auth type mfa wasn't taken into account for password change forms

**What happened**:
Unable to change password

![image](https://user-images.githubusercontent.com/43280172/112527743-9b7d7780-8d60-11eb-91b2-b5acdb5dda88.png)

**What you expected to happen**:
Be able to change password with 2fa. (for auth type `on` and `optional` default to using `otp` similar to invites)

### Repro

[2021-03-25 19:27] travelton commented on #6140
Related: https://github.com/gravitational/cloud/issues/461

[2021-03-25 20:03] #1580 closed

[2021-03-25 20:03] #4931 closed

[2021-03-25 20:27] webvictim commented on #6151
Related: https://github.com/gravitational/teleport/issues/2734

[2021-03-25 20:31] webvictim commented on #6155
Duplicate of #5970

[2021-03-25 20:31] #6155 closed

[2021-03-25 20:33] webvictim commented on #5970
At a guess, I'd say this flake is responsible for the majority of our test failures at the moment.

[2021-03-25 21:14] webvictim opened #6159 "Investigate using aptly for DEB repo"
reprepro is complicated to use and hard to test locally - it needs a lot of mounts in specific places, plus the filesystem structure is very finicky and you have to be careful not to mount anything in the wrong location etc.

[Aptly](https://github.com/aptly-dev/aptly) looks like it'd be a lot easier to use and would also allow us to have multiple package versions in the same repo, which people ha

[2021-03-25 22:15] klizhentas opened #6160 "Export audit events to S3 in parquet format"
If we support S3 audit events in Parquet format, this will make us compatible with a range of analytics and SIEM tools out of the box - from Snowflake to Panther.

gz#4058

[2021-03-25 22:16] awly opened #6161 "client.ReissueUserCerts doesn't set the TLS cert usage field"
When k8s/db/app access reissues a user TLS cert for a specific k8s cluster or database, it needs to pass along the correct `Usage` in `UserCertRequest` too: https://github.com/gravitational/teleport/blob/c891bae327f75b315a54a51ca068af1de690502e/lib/client/client.go#L247

This will prevent the same cert from being reused for other purposes, enforced by the proxy.

Note that the `client.Keystore/Key

[2021-03-26 01:52] Joerger commented on #5970
This seems to have become less flaky and more serious, as today it has been failing every one of my tests. It also seems to reproduce locally with `make -C build.assets test` on master, for at least the last 3 commits. Going to try plain old `go test ./... -race` and see what happens.

[2021-03-26 03:20] klizhentas opened #6167 "UX glitches in roles"
### Description

`tctl get roles` needs more work - formatting, overflows terminal, etc

* try to create github connector when you don't have permissions
[code]
The error needs more work

[2021-03-26 17:11] r0mant opened #6172 "App/database access should support per-session MFA"
### What

6.1 release introduced per-session MFA with which Teleport can prompt users to tap their registered key for each established SSH session or each executed K8s command:

https://www.youtube.com/watch?v=74g0V2XwbE4

With `tsh ssh` we can do that because we control the client, however with app/db access clients such as `psql` or `curl` we don't control them and they don't know to prompt the

[2021-03-26 19:28] webvictim opened #6173 "slice out of bounds panic when using `tsh ssh` on MacOS to connect to a Teleport node running Linux"
**What happened**:

Reported by @NajiObeid, please ask him for more details if required.

Running `tsh ssh -d host` on a MacOS machine to connect a Linux Teleport node can cause the node to crash with an error in `uacc`.

Client logs:
[code]

Node logs:
[code]

**What you expected to happen**: Connection should complete and node should not crash.

### Reproduction Steps
Run `tsh ssh` on MacOS to c

[2021-03-26 20:52] pierrebeaucamp opened #6177 "Verify correct DynamoDB autoscaling setup on startup"
### What
When using DynamoDB as the Teleport backend & enabling autoscaling through the Teleport configuration, Teleport should make sure that the actual setup reflects the desired state in the config file.

### How
Teleport already posts the correct autoscaling policy to AWS on each startup (see `lib/backend/dynamo/configure.go`). However, by virtue of the specific AWS API behaviour, this doesn't

[2021-03-26 21:18] programmerq opened #6181 "Teleport exits with generic message when auth times out reaching etcd"
### Description

**What happened**:

When attempting to deploy teleport configured with etcd as a backend, teleport simply output `error: initialization failed` as the entirety of the stdout/stderr before exiting.

Debug mode was turned, on and that gave a much bigger hint:

[code]

On closer inspection, the message only appears several seconds after teleport starts, and "context deadline exceeded

[2021-03-26 22:20] #6139 closed

[2021-03-26 22:20] #6156 closed

[2021-03-27 00:37] #3158 closed

[2021-03-27 00:37] #5595 closed

[2021-03-27 00:54] russjones opened #6187 "6.1 Test Plan"
## Manual Testing Plan

Below are the items that should be manually tested with each release of Teleport.
These tests should be run on both a fresh install of the version to be released
as well as an upgrade of the previous version of Teleport.

### Teleport Sanity Test - @russjones

* [ ] Perform trusted clusters, Web and SSH sanity check with all teleport components deployed in FIPS mode.
* [ ]

[2021-03-27 06:54] RihanArfan opened #6189 "Error adding U2F device from tsh"
### Description

**What happened**:
I am trying to add a U2F MFA device from `tsh`.

**What you expected to happen**:
I expect the key to be added without errors.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. tsh mfa add
2. Choose "U2F"
3. Enter a name for the device
4. Enter OTP code
5. Tap key
6. See error

### Server Detai

[2021-03-28 23:40] klizhentas commented on #5435
@russjones @xacrimon ping me about this when you'll start hacking on this. https://github.com/gravitational/teleport/issues/6160

[2021-03-29 03:57] lamhoangtung commented on #4176
I replied with some other issue over there. Thanks @webvictim

[2021-03-29 09:35] a-palchikov opened #6193 "Data race with SetTestTimeouts"
### Description

**What happened**:
Data race in [SetTestTimeouts](https://github.com/gravitational/teleport/blob/a48e7828bfb3280c121cc07b139481a600da290e/integration/helpers.go#L72-L79) as the defaults are used concurrently

<details><summary><code>Logs</code></summary>

[code]

</details>

Found in a48e7828bfb3280c121cc07b139481a600da290e but is not specific to branch/commit.

**What you expecte

[2021-03-29 09:37] a-palchikov opened #6194 "Data race in node session handling"
### Description
Data race in terminal session handling.

**What happened**:
Test sporadically fails due to data race:

<details><summary><code>Logs</code></summary>

[code]

</details>

Found in a48e7828bfb3280c121cc07b139481a600da290e but is not specific to branch/commit.

**What you expected to happen**:
Tests pass

### Reproduction Steps
As minimally and precisely as possible, describe step-by-

[2021-03-29 14:41] Valien opened #6196 "CLI node filtering using tctl"
### What
Currently you can leverage `tsh ls <key>=<value>` to return filtered results in the CLI but you cannot do this with `tctl nodes ls <key>=<value>`.

It would be nice to be able to filter nodes in the CLI using TCTL if you're an admin user.

### How
Add ability to allow certain users based on RBAC to leverage `tctl` to filter and display nodes based on key/value pairs/labels.

### Why
CLI i

[2021-03-29 15:01] #6173 closed

[2021-03-29 16:33] jon-can commented on #6125
Tried using node-sync mode and I still do not see the session recording.

[2021-03-29 16:39] pschisa opened #6201 "Errors after switching between "On-Demand" and "Provisioned" DynamoDB Capacity"
### Description

**What happened**:
After switching between `on-demand` and `provisioned` mode on the dynamo db cluster state table, the following errors begin showing up periodically in both auth servers:

[code]

No noted functionality issues with the cluster except the error logging.

**What you expected to happen**:
Switching between capacity modes in DynamoDB backend for cluster state will no

[2021-03-29 17:35] #5632 closed

[2021-03-29 21:14] #5637 closed

[2021-03-30 02:16] tcsc commented on #4924
Useful debugging tip: drop packets to 3080 on the loopback:
[code]

[2021-03-30 02:45] tcsc commented on #4924
Does this fallback behaviour still exist in teleport >= 6? When I run the current master it looks to time out on `3080` and then bail without trying anything else:
[code]

[2021-03-30 04:28] sfc-gh-acardaniuc commented on #1571
Would be real nice to have this work instead of doing:
ssh -A -J teleport-proxy:3023 -p 3022 node

[2021-03-30 05:36] dove-young commented on #4038
I also found this kind of msg in my teleport running in Kubernetes

[2021-03-30 09:59] #4786 closed

[2021-03-30 10:31] eigokor commented on #6120
Here is a workaround to fix this, until official release:

https://github.com/slack-go/slack/issues/816#issuecomment-704200440

[2021-03-30 12:24] gzigzigzeo opened #6225 "GRPC API error handling is wrong"
- [ ] (nit) When I try to delete role belongs to a user via tctl, I get:

  "ERROR: failed to delete role that still in use by a user. Check system server logs for more details."

  It does not specify which user or users are involved, and, in the same time, logs are empty (most likely, -d will tell me something, but I do not usually start Terraform with -d)

- [ ] (important) If keys are expired,

[2021-03-30 12:45] stevenGravy opened #6226 "kube service automatically registering in k8s deployment with Teleport cluster name"
### Description

**What happened**:

When Teleport `proxy_service` is deployed to K8s it always adds a `kube_service` entry with the same name as the Teleport cluster.  That causes a problem if you dont' want a k8s service available or you want to specify a specific name with labels.  If `kube_listen_addr` is set on the proxy then a `kube_service` will automatically show up.  That same does not oc

[2021-03-30 13:15] scardracs opened #6227 "Teleport fails to build on both master branch and release 6.0.2"
### Description

**What happened**:
The make full command fails to work

**What you expected to happen**:
Compile the full code

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
Reproduction: always
1. Clone the teleport git
2. Run make full inside teleport directory
3. Teleport fails to build

Build log: actually "e" and "webassets

[2021-03-30 13:18] scardracs commented on #6227
I have also noticed that e doesn't exist at all https://github.com/gravitational/teleport.e/tree/db06d98a9f921585c9ebee988d4448c520afe5cf

[2021-03-30 16:33] xacrimon commented on #5902
Fixed by #6158

[2021-03-30 16:33] #5902 closed

[2021-03-30 16:45] awly commented on #6226
This behavior is intentional, to preserve backwards-compatibility with pre-5.0 deployments that used `proxy_service` to talk directly to k8s API, without `kubernetes_service`.
The only safe way I can see to disable it is by adding a new flag under `proxy_service`.

While it is annoying, does this actually cause issues in practice @stevenGravy ?

[2021-03-30 17:20] webvictim commented on #6227
`e` is an Enterprise-only submodule and is not expected to be populated unless you have access to that repo.

#6231 will fix the `make full` issue. Thanks for reporting.

[2021-03-30 17:46] awly commented on #5796
@andrejtokarcik looks related to the cluster routing work you're doing.
can you double-check and close this if it will be fixed in 6.1?

[2021-03-30 17:49] Joerger opened #6233 "tsh Profile read/write consolidation and tests"
`tsh` Profile read/write logic is currently disjointed. When `tsh` Profile paths are updated, there are multiple places in the code that need to be updated, and errors can potentially slip through without any tests alerting it. For example - #6214

Profile read/write logic should use the same helper functions and ideally be in the same package/file, which will assist in writing tests.

[2021-03-30 18:17] scardracs commented on #6227
Thanks, I will wait for it :)

[2021-03-30 18:22] awly commented on #6189
Looks like a cgo bug in https://github.com/flynn/hid/blob/master/hid_windows.go
I'll try to repro this on a Windows box.

@LeCodeCo how did you run the tsh binary? Under the Linux subsystem or MinGW?

[2021-03-30 18:55] Joerger commented on #6225
All of these issues seem to be related to the way the Teleport library performs authorization and is not specific to gRPC. Most of these are intentional and are not easily changed, so it would be best to work around them when possible.

1) This is intentional, the debug logs does log more info: `log.Warnf("Failed to delete role: role %v is used by user %v.", name, u.GetName())`

2) Unfortunately t

[2021-03-30 20:37] stevenGravy opened #6238 "Additional Prometheus Monitoring"
### What

Counter for failed tsh/ssh login attempts at the proxy level
Count of various failures for tsh/ssh attempt
  For example
     - Node not accessible/reachable
     - Cert mismatch
     - Cluster name not found
Time till  License expiry
Count of various rate limiters that were hit for
  - User sessions
  - Proxy sessions

Heartbeat connections received and missed by auth server
Count of us

[2021-03-30 23:22] awly commented on #6189
Cool, I'm able to reproduce it in powershell.
At first, the MFA prompt just hangs, not responding to u2f taps.
When I cancel it and try again, it hangs for a bit but then unblocks with the above panic.

Since the problem is in a dependency, I don't have a quick way to fix it right now.
Need to make a minimal repro snippet and submit a report to the dependency maintainers.

[2021-03-31 00:02] #6153 closed

[2021-03-31 09:56] mpitt opened #6244 "Display Teleport version in Web UI"
### What
I would like to see the running Teleport version in the Web UI.

### How
Display the version somewhere in small text (e.g. at the bottom of the sidebar?)

### Why
To verify what version of Teleport is currently running on my proxy.

[2021-03-31 12:55] stevenGravy commented on #6244
@mpitt you can see the version by selecting the user name in the upper right, then help and support

![image](https://user-images.githubusercontent.com/60704961/113147403-bcc9e200-91fe-11eb-865b-0347f54e946a.png)

![image](https://user-images.githubusercontent.com/60704961/113147458-ca7f6780-91fe-11eb-81cd-42b1170c3aff.png)

[2021-03-31 13:00] mpitt commented on #6244
Right, it is there, thanks @stevenGravy !

I remain of the opinion that cluster info should be more visible/discoverable, though. But feel free to close this, I have what I need.

[2021-03-31 14:56] aiwaniuk opened #6245 "Some processes in some setup not killed after disconnect"
### Description

**What happened**:
after running some commands while connected via tsh and closing terminal tab or browser tab some processes persist forever

**What you expected to happen**:
These processes should be killed like in using regular ssh

### Reproduction Steps

starting using ssh: ssh -> "sudo su -" -> vi qwe

ps auxf
[code]

after closing termianl tab with ssh, all processes from t

[2021-03-31 15:11] #6244 closed

[2021-03-31 15:35] jon-can opened #6249 "node-sync mode creates tons of audit logs when using Application Access"
### Description

**What happened**:
If node-sync mode is enabled and Application Access is used there will be tons of logs in the Teleport UI audit logs. These logs seem to be capturing every single file the web page is loading.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Enable node-sync mode
2. Access an application withi

[2021-03-31 16:37] andrejtokarcik commented on #5796
Yes, this should work with the changes to be introduced in 6.1, cf. #6212. Please re-open if it turns out not to be the case, since I'm unclear on why you had to use `--cluster=cluster2` which may indicate some additional issues are involved.

[2021-03-31 16:37] #5796 closed

[2021-03-31 17:53] awly commented on #3878
https://github.com/gravitational/teleport/issues/6172 for app/db access integration.
Only docs remaining for this one.

[2021-03-31 17:54] awly commented on #5878
Remaining items are nice-to-have but don't block 6.1

[2021-03-31 18:03] andrejtokarcik opened #6254 "`session_recording: off` still creates "not available" session recordings"
### Description

Discovered during #6187.

**What happened**:

With `session_recording: off` in `teleport.yaml`, new items are still created in the "Session Recordings" list in the Web UI.

When clicking on the Play button for such a session recording, the opened Session Player shows:
[code]

The Audit Log also reports "Recorded session has been uploaded".

**What you expected to happen**:

The "S

[2021-03-31 18:11] webvictim opened #6255 "Large numbers of nodes cannot rejoin successfully after connectivity is interrupted"
### Description

**What happened**:

1) When a large number of nodes (10k) are disconnected from the Teleport auth server, there is no random backoff or jitter introduced for reconnection attempts. This means that they all try to rejoin the auth server on the same ticker. You will see 10 seconds of no activity, then suddenly the connection will be flooded by all the nodes trying to join at once. T

[2021-03-31 18:59] awly commented on #6187
RBAC: reproduced two known issues around agent/port forwarding https://github.com/gravitational/teleport/issues/4881 and https://github.com/gravitational/teleport/issues/3222
Not a 6.1 regression.

[2021-03-31 19:29] andrejtokarcik commented on #6187
Session recording cannot be properly disabled: #6254.

[2021-03-31 20:11] #6227 closed

[2021-03-31 21:23] awly commented on #6255
That 1s timeout should also be bumped, it's way to aggressive.

[2021-04-01 00:00] Joerger opened #6268 "tsh login to another cluster fails after relogin"
### Description
`tsh login` refreshes the public key and the ssh certificate of the profile's current cluster, but not the ssh certificate of other clusters. This leads to an error: `public key in profile does not match the public key in SSH certificate` due to the public keys for the certificate and the login being unequal.

Error location: https://github.com/gravitational/teleport/blob/master/li

[2021-04-01 00:02] Joerger commented on #6187
Relogging in to tsh has the potential to fail, due new ssh certs change along with some recent bug fixes: #6268.
Should be an easy fix. @awly

[2021-04-01 00:04] awly commented on #6268
@Joerger can you try with https://github.com/gravitational/teleport/pull/6251 ?

[2021-04-01 00:04] Joerger commented on #6268
Yes Just saw that PR.

[2021-04-01 00:08] Joerger commented on #6268
Fixed by #6251

[2021-04-01 00:08] #6268 closed

[2021-04-01 01:55] #5996 closed

[2021-04-01 02:48] cnelson opened #6270 "Error communicating with kubernetes cluster after switching between different teleport instances"
### Description
We have two teleport instances "A" and "B".  Each of these instances is a root cluster, and has several leaf-clusters attached.  Each instance has at least one kubernetes cluster connected to it.

When switching between clusters we frequently receive the error from `kubectl`
[code]

**What happened**:

Log into cluster A, everything works
Log into cluster B, everything works
Switch

[2021-04-01 03:18] knisbet opened #6271 "Reduce high cardinality in metrics endpoint"
### Description

**What happened**:
Using prometheus to scrape a large number of clusters for monitoring data, the metrics endpoint currently produces what appears to be a lot of high cardinality but low value data. Stuff like backends that are not in use are still initialized and present empty metrics, which takes up storage in the metrics system.

**What you expected to happen**:
Basically to do

[2021-04-01 03:31] knisbet opened #6272 "Teleport Node Agent dialing `teleport.cluster.local`"
### Description

**What happened**:
When setting up and testing SNI based routing and load balancing, logs show deployed node agents in tunnel mode (this is a teleport cloud deployment) are dialing the teleport cloud proxies on the 443/external port using `teleport.cluster.local` SNI domains. Talking with @klizhentas this isn't expected behavior.

Primary functionality seems to work despite this s

[2021-04-01 15:21] marshall-lee opened #6276 "Support GRPC connect/call options in teleport/api"
### What

In `teleport/api` package need to support `WaitForReady(true)` call option and `grpc.ConnectParams{Backoff: ...}` dial option.

### How

Don't have a strong opinion on API design but perhaps:

- Connect params: move to client config.
- Call options: allow to optionally pass grpc call options per method like it does the `grpc` library itself.

### Why

In https://github.com/gravitational/

[2021-04-01 15:53] Roiki11 opened #6277 "Teleport AMI for AWS region eu-north-1"
### What
Please publish your amis in the Stockholm region. They're currently not available and copying returns a permission error.

### Why
I run my aws infra(both personal and work) mainly on eu-north-1 and it would be nice to have the official amis available for use in the same region.

[2021-04-01 16:30] benarent opened #6278 "YubiKey 4 not working with new mfa feature."
### Description

**What happened**:

While testing, I was able to add both YubiKey 4 and a YubiKey 5 NFC, but I can't login with Yubikey 4.

[code]
![image](https://user-images.githubusercontent.com/559288/113325073-c15ccc00-92cc-11eb-8ce3-954fa18843f1.png)

[2021-04-01 16:54] awly opened #6279 "u2f: derive app_id and facets from proxy's public_addr"
### What

The `u2f` section of the `auth_service` config generated automatically based on the `public_addr` of the proxy.

### How

There are 2 fields: `app_id` and `facets`.
`app_id` can be some canonical form of the `proxy_service.public_addr` - always using `https://` prefix and port suffix.
`facets` can contain various permutations of the `public_addr`, like with/without `https://` prefix, wit

[2021-04-01 17:16] Joerger commented on #6276
I believe this is one of the main things I'll be working on for 7.0, Moving the access plugin code to `teleport/api/cllient/workflows` and using the new api client - #5465. I'll definitely keep this in mind and make sure to keep this functionality in place.

Is there a reason that the new API client needs to be used in teleport-plugins right now rather than the custom gRPC client used now?  https:

[2021-04-01 17:16] #4403 closed

[2021-04-01 17:17] awly commented on #6278
The issue here was that `app_id` changed in the `auth_service` U2F config.
Changing the `app_id` effectively un-registers all the keys.

I'll include a warning in the docs as a short-term solution.

[2021-04-01 17:17] #6278 closed

[2021-04-01 17:18] #5464 closed

[2021-04-01 17:20] Joerger commented on #6120
@fspmarshall You mentioned that this should no longer be an issue, can you confirm that and close this if so?

[2021-04-01 18:12] awly commented on #3784
I just encountered a similar bug with port forwarding using openssh client:
[code]
(`$` is local shell prompt, `%` is remote shell prompt, `#` is my commentary)

Curiously, this does not happen if no connections are made over the forwarded port. So, something about the connection lingers and prevents SSH from closing.
It also does exit on its own after a few minutes.

Server logs:
[code]

[2021-04-01 18:13] awly commented on #6187
Small problem with port forwarding using openssh client: https://github.com/gravitational/teleport/issues/3784#issuecomment-812082730
Not a release blocker.

[2021-04-01 19:01] r0mant opened #6284 "Postgres clients can send GSSEncRequest as a startup message instead of SSLRequest"
### Description

**What happened**:

Under some circumstances, which are still unclear, Postgres clients (psql or pgAdmin for example), send a different initial handshake message than we expect. We expect the first message to be `SSLRequest` which indicates the start of TLS connection, but sometimes the first message is `GSSENCRequest`. This manifests into the error similar to this on the client s

[2021-04-01 20:39] pschisa opened #6290 "Remote tctl commands not working when Teleport Cluster is changed"
### Description

**What happened**:
If the current Teleport Cluster is different than the proxy, tctl commands will error out with a strange "Is the Auth server running on cluster?" error.  Changing the current cluster back to the same as the proxy works as expected.

**What you expected to happen**:
I would expect either the tctl command to continue functioning, or at a minimum the error message

[2021-04-01 22:22] awly commented on #6187
MFA management: https://github.com/gravitational/teleport/issues/5803 hasn't been fixed yet.
Not a release blocker.

[2021-04-01 22:55] r0mant opened #6291 ""remote error: tls: bad certificate" when connecting service through tunnel"
### Description

**What happened**:

While going through the test plan, I was working on the scenario with connecting an application server to the cluster, and noticed the following error in the proxy logs printed over and over as soon as app server comes online:

[code]

The same error appears in proxy logs when connecting SSH node in IoT mode (over reverse tunnel) as well, and I presume that wou

[2021-04-02 01:22] dmitry-mightydevops opened #6292 "Unable to access teleport https api with helm installation - "acme can't get a cert for domain""
### Description

**What happened**:

Followed instructions here
https://goteleport.com/docs/kubernetes-access/getting-started/

Kubernetes 1.19 running in AWS EKS with latest cert-manager and latest nginx-ingress controller.

After deploying with helm, I see the service created

[code]

**dns** records added:

[code]

[code]

**What you expected to happen**:

Teleport accessible via curl at least.

[2021-04-02 01:50] Joerger commented on #6291
@r0mant The bug occurs whether or not the gRPC connection is dialed in the background so that doesn't seem to be related.

Interestingly, if you add `defer func() { c.grpc() }()` to the top of `NewTLSClient` in `v5.0`, the same error gets logged, so it must be caused by the grpc connection. The only relevant difference here between 5.0 and 6.0 here is that 6.0+ doesn't lazily dial grp, so every cl

[2021-04-02 03:50] r0mant commented on #6291
@Joerger Yeah, that's what I basically meant. I dumped the TLS connection state on the proxy side and it showed ServerName set to something like `664928.teleport.cluster.local` which is the result of `EncodeClusterName()` which we put into ServerName everywhere in the TLS configs, but the actual host we're connecting to in reverse tunnel mode is the proxy web address (i.e. `root.gravitational.io:3

[2021-04-02 04:38] kimlisa commented on #5699
I ran into exact same problem running `v6` (not 6.1.0-beta.1), except i had to retry like 10 times. I had same errors on failure to start, but on success, these were the logs:

[code]

[2021-04-02 14:38] programmerq commented on #6245
I was able to reproduce this behavior as soon as I added `use_pty` to sudoers per your instructions on an ubuntu 20.04 aws instance. I joined this node to an existing cluster with commands specified in the systemd unit rather than a config file: `ExecStart=teleport start --roles=node --nodename=g6245.example.com --token=token --ca-pin=sha256:... --auth-server=auth.example.com:3025`.

[2021-04-02 15:48] marshall-lee commented on #6276
@Joerger

Hmm I believe all the things that `access` package can do are already present in `teleport/api/client`.

There're all necessary operations for `AccessRequest` resource https://github.com/gravitational/teleport/blob/854da4899049f754b81a23eb9272ba635533e1e8/api/client/client.go#L591-L604 and there's an event watcher https://github.com/gravitational/teleport/blob/740d184d1cfc69ae2e96c50ee73

[2021-04-02 15:56] klizhentas commented on #6276
@Joerger @marshall-lee I would like all plugins to switch to new client before the 6.1 release or shortly after the release. Can you please add missing parameter so @marshall-lee can switch the usage?

[2021-04-02 18:00] #5774 closed

[2021-04-02 18:29] klizhentas opened #6296 "With access requests how to grant variable time approval?"
lets say we want to grant user A role admin for 1hour and user b the same role for one day

[2021-04-02 21:04] #6291 closed

[2021-04-02 21:08] stevenGravy commented on #6296
Just had a similar ask for this today @klizhentas !

[2021-04-02 22:20] dmitry-mightydevops commented on #6292
Ok the issue was with the values of the helm chart

[code]

So I thought that cluster name is the one we use in AWS EKS, turns out that should be a FQDN, i.e. teleport.team.com.

I would find the name of the variable confusing and would recommend using something like "clusterUrl" or "clusterDomain", as it's used [here](https://github.com/gravitational/teleport/blob/master/examples/chart/teleport-c

[2021-04-03 00:23] dmitry-mightydevops opened #6302 "ERROR: failed to authenticate with proxy: ssh: handshake failed: ssh: principal not in the set of valid principals for given certificate"
### Description

I'm running aws eks 1.19 with teleport 6.0.2 using this tutorial
https://goteleport.com/docs/kubernetes-access/getting-started/

**What happened**:

[code]

**/var/lib/teleport/log/events.log**:

[code]

**kubectl exec -i ${POD?} -- tctl get kube_service**:

[code]

**What you expected to happen**:

to be able to use CLI after successful login.

### Server Details
- Teleport versi

[2021-04-03 04:11] klizhentas opened #6305 "UI does not allow to approve requests"
User `alice` has a permission to review access requests and I can approve from the CLI, but UI does not show the button:

<img width="1009" alt="Screen Shot 2021-04-02 at 9 10 49 PM" src="https://user-images.githubusercontent.com/13717/113467455-eef26400-93f7-11eb-9fae-52bf319b3694.png">

[code]

This works:

[code]

[2021-04-03 17:59] cnelson opened #6306 "Roles changed on root cluster not immediately reflected on leaf cluster for kubernetes service"
### Description

If I update a user's roles on the root cluster, changes take a while to propagate to leaf cluster.

Logging out and back in does not fix this.

Seems similar to #4990

**What happened**:

User logs in to root cluster and is granted role A, switches to leaf cluster and and has access to resources granted by role A as expected
User is granted another role on root closer (now has acc

[2021-04-05 15:27] ThisGuyCodes opened #6308 "6.1.0 dialing teleport.cluster.local, works anyway"
### Description

**What happened**:
Logs have a TLS error about teleport.cluster.local

**What you expected to happen**:
No TLS errors about teleport.cluster.local

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Install 6.1.0-beta1
2. use the below config yaml
3. run with `teleport start --config=config.yaml`

### Server Detail

[2021-04-05 16:33] programmerq opened #6309 "segfault on teleport running db and kube service"
### Description

**What happened**:

The teleport node stops responding. Upon looking at the logs, there's a SIGSEGV with accompanying stacktrace related to the file uploader. Restarting the service via `systemctl restart` fixes the issue.

**What you expected to happen**:

SIGSEGV shouldn't happen.

### Reproduction Steps

There's not currently a solid set of repro steps, but we wanted to call at

[2021-04-05 16:51] stevenGravy opened #6311 "Provide encryption option for Sessions"
### What
Encrypt sessions via  a local method such as kms or other encryption techniques specified in auth server.

### How
Provide a method of specifying encryption so sessions could be encrypted and decrypted within Teleport.

### Why
Sessions may contain sensitive information and some clients do not want to rely on S3 or directory encryption alone.

[2021-04-05 17:37] Aharic commented on #5243
Circling back to note workarounds discussed w/ Ben and Forrest.

There are two ways to resolve the issue in the short term:

1. You can simply let the dangling tunnelconnection resources expire, which they will do on their own, and clear this issue;
2. Adding a remote_cluster resource with the same name as the one that was previously removed suppresses the error, allowing tsh ssh/tsh ls to functio

[2021-04-05 17:37] Joerger commented on #6276
@klizhentas Understood, everything should be fixed (merged by EOD). Do we still plan on [moving workflows](https://github.com/gravitational/teleport/blob/33b5c33ea2b593b2bba0e5b66e08d607d582f964/rfd/0010-api.md#move-access-requests-code-into-client) to `api/client/workflows`?

[2021-04-05 17:50] klizhentas commented on #5863
it seems as simple as fixing the comments in the docs, any way we can expedite this?

[2021-04-05 17:51] Aharic commented on #5269
Closing this one as upgrades were completed as requested. Going forward, however, the new [teleport-cluster](https://github.com/gravitational/teleport/tree/master/examples/chart/teleport-cluster) chart should be used as old charts (w/ exception of kube-agent charts) are being deprecated.

[2021-04-05 17:52] #5269 closed

[2021-04-05 18:12] quinqu commented on #6187
###
Dynamo (IOT) -- scaled to 500 -> 0 -> 500 -> 0 -> 1000 -> 0 -> 1000 -> 0 -> 500

[2021-04-05 18:39] lord-kyron commented on #5269
@Aharic as far as I understand this will deprecate the "teleport" cluater chart also but it seems to me, that it ia the one providing the possibility to have more than one proxy and more than one auth server. If the only chart left is the single cluster one, how will we be able to achieve this setup?

[2021-04-05 19:16] anurag-tesla opened #6319 "The Node Service should have option to print currently configured settings"
### What
Hosts running teleport node service should be able to print the information about which cluster, ca-pin and auth-servers is the host currently configured with.

### How
How would you implement this?

teleport print cluster-name
teleport print cluster-capin
teleport print auth-server

### Why
Why do you need this?

For ease of automation,   I need to be able to decide if i need to cleanup

[2021-04-05 19:24] stevenGravy opened #6320 "tctl nodes add output issues"
### Description

**What happened**:

The output of `tctl nodes add` gives instructions to run on a node that will not result in the expected connection for the node.

ex output of `tctl nodes add`:
[code]

Specifically:
  - gives the auth server as a machine ip that is often not directly available to a node.  Would expect the public address specified or a method of using the proxy address: port.

[2021-04-05 22:15] quinqu commented on #6187
### Dynamo (IOT)

#### 500 trusted clusters
![Screenshot from 2021-04-05 11-09-30](https://user-images.githubusercontent.com/42625018/113633257-77a01880-9621-11eb-8b38-2f5588dd645c.png)

#### 10k nodes
![Screenshot from 2021-04-05 12-52-39](https://user-images.githubusercontent.com/42625018/113633306-90103300-9621-11eb-8d6f-655e81934393.png)

#### Soak
[code]

[code]

[2021-04-05 23:45] #6305 closed

[2021-04-06 06:08] murmrs commented on #2889
I don't want to fill this closed issue - but @sjackman, I can't seem to get this to work. scp works for me, but rsync dies on a known good folder with the below error after validating host. I am on an M1, so that could be a contributing factor. But just as a heads up, in case others stumble across this.

`
ERROR REPORT:
Original Error: *ssh.ExitError Process exited with status 12
Stack Trace:
	/pr

[2021-04-06 08:52] xacrimon commented on #6144
Fixed in master with #6256 and in v6 with #6313

[2021-04-06 08:52] #6144 closed

[2021-04-06 10:24] xacrimon commented on #6309
Submitted a PR for a possible fix. Reproduction is a bit tricky but I managed to reproduce it once.
This issue seems to trigger when an upload exceeds the grace period and gets completed in post by `events.UploadCompleter`.

[2021-04-06 17:49] russjones commented on #6270
@andrejtokarcik This might be fixed in 6.1, can you try and reproduce?

[2021-04-06 17:57] russjones commented on #6302
@andrejtokarcik Can you take a look if your changes in 6.1 resolve this issue?

[2021-04-06 18:27] jon-can opened #6329 ""Failed to Fetch" error when creating OpenIAM SAML connector"
### Description

**What happened**:
Trying to create an OpenIAM SAML connector. When I click "Save Changes" in the UI I see an error that says "Failed to Fetch".
**What you expected to happen**:
I expect my SAML connector to be saved.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.
1. Go into the UI
2. Create a new SAML connector

[2021-04-06 18:36] jon-can commented on #6329
Trying to use tctl results in this:
[code]

[2021-04-06 18:37] xacrimon commented on #6141
After some source digging and going off the line counts in the stacktrace this seems to be a v5 issue as the code in the stacktrace has been moved and rewritten in v6.

[2021-04-06 19:08] Aharic opened #6333 "Add real username/id of user who performed the action instead of host UUID to teleport audit logs"
### What
What would you like Teleport to do differently?

Customer would like to be able to parse session commands from audit log by user (teleport username). Some events, such as session.start contain a "user" field with this information. Others, like user.create, user.delete, reset_password_token.create...etc. pass the host UUID in place of the actual user's info in the "user" field.

### How
Ho

[2021-04-06 19:21] xacrimon commented on #6329
Did some investigation and recorded some debug notes
- The error occurs because the `IDPSSO` descriptor is missing from the SAML metadata. The validation code naively assumed it to be there and does not perform a nil check. Relevant code is `lib/services/saml.go:71` and `IDPSSODescriptor` field of `metadata` is `nil`.
- The malformed connector created by tctl somehow skips validation and gets save

[2021-04-07 09:57] #6309 closed

[2021-04-07 14:32] stevenGravy opened #6340 "Allow Oauth authentication to customer site GitHubs"
### What
Provide support for company github sites in authenticating in addition to github.com.

### How
Provide an additional option in the GitHub configuration that points to the location of Github.  Currently it assumes the organizations are hosted at github.com.  A company might have github.mycompany.com.  There is not option to specify to use that instead of the default github.com

### Why
Cus

[2021-04-07 15:36] benarent commented on #6340
Also relevant https://github.com/gravitational/teleport/issues/3160

[2021-04-07 20:48] webvictim opened #6342 "Weird state when adding a user to Teleport OSS with `--roles` specified"
### Description

**What happened**:

Adding a user to a Teleport OSS cluster with the new Enterprise-like `tctl users add gus --roles=admin` syntax puts the user in a weird state where they don't have any logins associated with them.

Using the old `tctl users add gus root` syntax prints a deprecation warning, but works as expected.

**What you expected to happen**:

Both formats should work the s

[2021-04-07 21:23] #6276 closed

[2021-04-07 21:30] awly commented on #6342
+1, you also can no longer set `--k8s-users` or `--k8s-groups` when creating a local user.
I had to manually edit the user object via `tctl`.

[2021-04-07 22:23] quinqu commented on #6187
### Dynamo (non-IOT)

#### 10k nodes
![Screenshot from 2021-04-07 13-48-36](https://user-images.githubusercontent.com/42625018/113942025-0abd8780-97b5-11eb-8349-553a0fd929e8.png)

#### Soak

[code]

[code]

[2021-04-08 01:14] russjones opened #6351 "`session.data` is under reported."
Customer has reported that `session.data` is under reported by about 4% on their install in the Audit Log. `session.start` and `session.end` match perfectly, but `session.data` count is lower. When this happens, the machine that does not emit `session.data` often says the following:

[code]

Version: Teleport 4.4.6.

[2021-04-08 04:07] russjones opened #6352 "Failed to flush close the stream"
Seeing the following on `6.1.0-rc.1` when I use `tsh ssh`.

[code]

[2021-04-08 04:28] r0mant opened #6353 ""SSH cert not available" when running commands against leaf"
### Description

**What happened**:

Any command against leaf cluster on 6.1.0-rc.1 produces the following error:

[code]

[code]

[code]

### Client Details
- Tsh version (`tsh version`): 6.1.0-rc.1

[2021-04-08 05:34] r0mant commented on #6352
This looks like a race between `ProtoStream.Complete()`:

https://github.com/gravitational/teleport/blob/v6.1.0-rc.1/lib/events/stream.go#L392-L404

and `ProtoStream.Close()`:

https://github.com/gravitational/teleport/blob/v6.1.0-rc.1/lib/events/stream.go#L414-L426

which are called from `GRPCServer.CreateAuditStream()`:

https://github.com/gravitational/teleport/blob/v6.1.0-rc.1/lib/auth/grpcser

[2021-04-08 08:51] robertogiordani commented on #6333
When will be included in the new 4.4.x version?

[2021-04-08 13:15] webvictim commented on #6342
The admin role created is also very unprivileged:

[code]

This means that the initial user created can't see users, roles or auth connectors in the web UI, which seems different to the default Enterprise `admin` role.

[2021-04-08 13:21] webvictim opened #6354 "Investigate spurious package download errors when running in CI"
I'm seeing a lot of Go module downloads being attempted when running lint/test targets in CI. I'm pretty sure this shouldn't be happening on the main Teleport codebase as all dependencies should be vendored. Investigate why this is happening and fix it.

This may be related to the `api` directory (as I think we intend that dependencies should be downloaded for that package specifically) and if so,

[2021-04-08 14:02] nitinpatil1992 opened #6355 "cluster_name duplicates in kubeconfig with tsh"
### Description
I have teleport 6 in kubernetes environment and configured with `auth_service` as follows

[code]
I can successfully login with github integration.
But when I checkout my `~/.kube/config`, it has duplicated context name and user

[code]

**What happened**:

**What you expected to happen**:
It shouldn't duplicate the cluster_name

### Reproduction Steps
As minimally and precisely as

[2021-04-08 14:28] webvictim opened #6356 "Teleport can exit on startup while DynamoDB tables are being created"
### Description

**What happened**: When Teleport is configured to use DynamoDB for storage and creates the tables itself, it can exit with an error while this process is happening:

[code]

**What you expected to happen**: The process should wait for the table to be created before attempting any operations on it. If there is an error, it should not cause the Teleport process to exit.

### Reprodu

[2021-04-08 14:42] ilpianista opened #6357 "Yubikey login doesn't work with Firefox (Linux and Mac)"
### Description

I did more tests since I opened this issue and the result is that:

I cannot login to the Web portal anymore by either using Firefox or Chromium with the Yubikey (either USB A or C). The login with Chrome 89.0.4389.114 is fine. Firefox doesn't work on Mac either.

Chromium:
![chromium](https://user-images.githubusercontent.com/529436/114046731-61949100-9889-11eb-9c73-2d61db21f98b.

[2021-04-08 17:07] awly commented on #6357
@ilpianista this is likely because of the `app_id` value in your `teleport.yaml`.
Can you try changing the `u2f` section of the config to:
[code]

I have some docs updates in flight to make this finicky configuration easier: https://github.com/gravitational/teleport/blob/db60bedc12f74a81ef12b82549efd8988b88521b/docs/pages/access-controls/guides/u2f.mdx#enable-u2f-support

[2021-04-08 17:11] awly commented on #6357
Also, if this issue only happens when logging in (and not when registering), try adding your existing `app_id` to the `facets` instead.

[2021-04-08 17:13] benarent opened #6362 "OpenSSH ~ Recording for this session is not available."
### Description

**What happened**:

While recording a video about https://goteleport.com/blog/how-to-record-ssh-sessions/ & https://goteleport.com/docs/openssh-teleport/ .  I'm unable to play back the recorded session, When I click on the error, I get "need auth".

![image](https://user-images.githubusercontent.com/559288/114067795-0eebb280-9852-11eb-82dc-a44e71dc8ead.png)
![image](https://user-i

[2021-04-08 17:22] fspmarshall commented on #6187
### ETCD (IoT)

#### 10k nodes

![10k-etcd-iot](https://user-images.githubusercontent.com/30576607/114069291-b0273880-9853-11eb-8f51-96cc1a5a7ffa.png)

#### Soak

[code]

[code]

[2021-04-08 17:24] fspmarshall commented on #6187
### ETCD (non-IoT)

#### 10k nodes

![10k-etcd](https://user-images.githubusercontent.com/30576607/114069966-6723b400-9854-11eb-96b7-24ce1eb6e659.png)

### Soak

[code]

[code]

[2021-04-08 17:35] benarent commented on #6362
The problem was limited RBAC Rules, I needed the `auditor` role.
[code]
[code]

[2021-04-08 17:35] #6362 closed

[2021-04-08 18:24] #3878 closed

[2021-04-08 23:01] awly commented on #6357
Hmm, I don't think our code actively fetches the AppID JSON, so it must be Chrome doing something clever (or not validating `app_id` against the URL the same way).
We did switch the U2F library on the backend, but it's unlikely to cause this.

Just to clarify - you moved the domain before upgrading to 6.0, right? As in, this scheme worked on chromium/firefox on 5.0?

And if you create a new local

[2021-04-08 23:38] r0mant opened #6368 "Update teleport configure to support generating db (and other) service configs"
### What

Exact UX is TBD but it would be nice if `teleport configure` command could produce configuration for a database service, or e.g. application service. For example, it could support additional flags and see if database-specific flags are provided, add section for database service.

[code]

### Why

This would improve our guides/quickstarts experience.

### Workaround

N/A

[2021-04-09 01:01] awly commented on #5816
Should be logged at warning level, but otherwise same as https://github.com/gravitational/teleport/issues/4995